@import "mixin-fun";

@charset "utf-8";
html,body{color:#000;background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;box-sizing: border-box}
body{font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;}
img{border:none;}
em,strong{font-style:normal;font-weight:normal;}
li{list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4, h5, h6{font-size:100%;}
q:before,q:after{content:'';}
button,input,select,textarea{font-size:100%;border:none;background:white}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
address,cite,dfn,em,var{font-style:normal;}
.header_bg{
  height: rem(10);
  background: #ededed;
}
@mixin  file{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1000;
}
@mixin title {
  height: rem(44);
  //margin-left: rem(20);
  padding-left: rem(20);
  padding-right: rem(10);
  line-height: rem(44);
  @include font(15);
  color: #888;
}
.header_title{
  background: #fff;
  @include title;
  position:relative;
  .header_title_l{
    position: absolute;
    left: rem(20);
  }
  .header_title_r{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    float: right;
    outline: none;
    color:#888;
    background: none;
    //margin-left: rem(10);
    line-height: rem(18);
    padding-top: rem(13);
    padding-bottom: rem(13);
    height: rem(44);
    //padding-right: rem(10);
    text-align: right;
  }
}
.action{
  height: rem(50);
  background: #fff;
  padding-left: rem(20);
  line-height:rem(50);
  @include font(15);
  color: #888;
  @mixin action_btn {
    @include font(15);
  　height: rem(34);
    width: rem(70);
    color:#fff;
    line-height: rem(34);
    text-align: center;
    border-radius: rem(5);
    float: right;
    margin-top: rem(8);
    margin-right:rem(10);
    div{
      display: inline-block;
      width: rem(14);
      margin-right: rem(5);
      height: rem(14);
    }
  }
  .action_picture{
    @include action_btn;
    background: #8fbae2;
    position: relative;
    .file{
     @include file;
    }
  }
  .action_product{
    @include action_btn;
    background: #81c7cd;
  }
}
.container_picture{
  background: #fff;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  padding:rem(5) rem(5) rem(5) rem(12);
  overflow: hidden;
  @mixin container_picture_li {
    position: relative;
    float: left;
    height:rem(74);
    width:rem(74);
    background: #f3f3f3;
    margin-right:rem(5) ;
    margin-bottom: rem(5);
    border:rem(1) solid #dfdfdf;
  }
  .picture{
    @include container_picture_li;
    overflow: hidden;
    text-align: center;
    line-height: rem(74);
    position: relative;
    .picture_btn{
      width: rem(30);
      height: rem(30);
      border-radius: 50%;
      position: absolute;
      top: rem(1);
      right: rem(1);
      background: url('../image/btn_img_del@2x_67.png') no-repeat top right;
      background-size:rem(20) rem(20);
    }
    img{
      //max-height: 100%;
      //max-width: 100%;
      position:absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform:  translate(-50%,-50%);
      -moz-transform:  translate(-50%,-50%);
      -ms-transform:  translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
    }
  }
  .picture_add{
    @include container_picture_li;
    .picture_add_new{
      width: rem(20);
      height: rem(20);
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      -webkit-transform:  translate(-50%,-50%);
      -moz-transform:  translate(-50%,-50%);
      -ms-transform:  translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
    }
      .file{
        @include file;
      }
  }
}
.line{
  margin-left: rem(20);
  border-bottom:1px solid #ededed;
}
.introduction{
  background: #fff;
  @include title;
}
.describe_box{
  background: #fff;
  padding-left:rem(20) ;
  padding-top: rem(5);
}
#describe{
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  resize: none;
  width: 100%;
  outline: none;
  height: rem(90);
  @include font(13);
  color:#888;
}
#describe::-webkit-input-placeholder{ @include font(15);color:#bbb}
#describe:-moz-placeholder{@include font(15);color:#bbb}
#describe::-moz-placeholder{@include font(15);color:#bbb}
#describe:-ms-input-placeholder{@include font(15);color:#bbb}
.header_title_r::-webkit-input-placeholder{@include font(15);color:#bbb;text-align: right}
.header_title_r:-moz-placeholder{@include font(15);color:#bbb;text-align: right}
.header_title_r::-moz-placeholder{@include font(15);color:#bbb;text-align: right}
.header_title_r:-ms-input-placeholder{@include font(15);color:#bbb;text-align: right}
.product_list{
  display:none;
  position: absolute;
  z-index: 1000;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
}
.fab_header{
  height: rem(54);
}
.brand_list{
  width: 100%;
  position: fixed;
  height: rem(40);
  padding-left: rem(10);
  padding-right: rem(10);
  top: rem(55);
  background-color: #fff;
  z-index: 2;
  .brselect{
     line-height: rem(40);
     @include font(13);
     color: #888;
     border-bottom: 1px solid #ededed;
     background-color: #fff;
     text-align: center;
     & em{
       display: inline-block;
       max-width: 90%;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       text-align: center;
       vertical-align: middle;
     }
  }
  & span{
    display: inline-block;
    width: rem(16);
    height: rem(16);
    top: rem(9);
    right: rem(10);
    background: url("../image/icon_arrow_dow.png") no-repeat center center;
    background-size: rem(10) rem(6);
    vertical-align: middle;
  }
}
.search_box{
  padding:rem(10);
  padding-right: rem(80);
  height: rem(54);
  position: fixed;
  background: #fff;
  top: rem(55);
  left: 0;
  right: 0;
  z-index: 3;
  input{
    width: 100%;
    text-indent:rem(5);
    -webkit-appearance: none;
    border-radius: rem(5);
    outline: none;
    //padding-left: rem(5);
    color:#888;
    line-height: rem(14);
    @include font(14);
    height:rem(14);
    box-sizing: content-box;
    padding-top: rem(10);
    padding-bottom: rem(10);
    border:1px solid #dedede;
  }
  .search{
    position: absolute;
    @include font(14);
    color:#acacac;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    .icon{
      display: inline-block;
      position: relative;
      top:rem(-2);
      vertical-align:middle;
      width: rem(15);
      height: rem(15);
      margin-right: rem(5);
    }
  }

}
.list_box,.list_box2{
  margin-top: rem(55);
  margin-bottom: rem(64);
  -webkit-tap-highlight-color:rgba(255,255,255,0);
}
.list{
  padding: rem(10) rem(0) rem(0) rem(10);
  //margin-left: rem(10);
  overflow: hidden;
  //border-bottom:1px solid #ddd;
  .list_picture{
    width: rem(85);
    height: rem(85);
    //background: #eedeed;
    float: left;
    text-align: center;
    line-height: rem(85);
    margin-right: rem(10);
    position: relative;
    img{
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform:  translate(-50%,-50%);
      -moz-transform:  translate(-50%,-50%);
      -ms-transform:  translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
    }
  }
  .list_describe{
    margin-left: rem(95);
    margin-right: rem(10);
    p{
      @include font(15);
      color:#888;
    }
    p:nth-child(2){margin-bottom: rem(10)}
    .list_name{
      width: 100%;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      margin-bottom: rem(10);
    }
    .list_price{
      color:#dd6c5e;
    }
  }
  .list_line{
    margin-top: rem(10);
    border-bottom: 1px solid #ddd;
  }
}
.changeBcColor{
  background-color: #bae4e8;
}
.complete_box{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: rem(54);
  background: #fff;
  box-shadow: rem(0) rem(30) rem(60) #000 ;
  //border-top: rem(1) solid #ededed;
  .btn_box{
    padding:rem(10);
    overflow: hidden;
    line-height: rem(34);
    .count{
      @include font(14);
      color:#888;
    }
    .complete_btn{
      float: right;
      width: rem(80);
      height: rem(34);
      border-radius: rem(5);
      background: #8fbae2;
      color:#fff;
      line-height: rem(34);
      text-align: center;
      @include font(15);
    }
  }
}
.tips{
  display: none;
  z-index: 10000;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform:  translate(-50%,-50%);
  -moz-transform:  translate(-50%,-50%);
  -ms-transform:  translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  width: rem(250);
  height: rem(100);
  background:rgba(59,59,59,1);
  color: #fff;
  border-radius: rem(5);
  .tip_box{
    text-align: center;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
  }
  .icon_err{
    display: inline-block;
    width: rem(25);
    height: rem(25);
  }
  .err_txt{
    margin-top: rem(5);
    @include font(13);
  }
}
#picture_box{
  .picture{
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.search_null{
  display: none;
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform:  translate(-50%,-50%);
  -moz-transform:  translate(-50%,-50%);
  -ms-transform:  translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  width: rem(250);
  height: rem(250);
  background:url('../image/img_kong.png') no-repeat center ;
  background-size: cover;
}
/*表头*/
.product_header{
  z-index: 999;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  height: rem(55);
  line-height: rem(55);
  padding-top: rem(5);
  background: #ededed;
  color:#888;
  @include font(15);
  text-align: center;
  .div_l{
    float: left;
    width: 50%;
    height:rem(50);
    text-align: center;
    line-height: rem(50);
  }
  .div_r{
    float: left;
    width: 50%;
    height:rem(50);
    text-align: center;
    line-height: rem(50);
  }
  .header_active{
    color: #6dc1c8;
    background: #fff;
  }
}
#loading{
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  .tip{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width: rem(250);
    height: rem(100);
    background:rgba(59,59,59,0.7);
    color: #fff;
    border-radius: rem(5);
    .tip_box{
      text-align: center;
      position:absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform:  translate(-50%,-50%);
      -moz-transform:  translate(-50%,-50%);
      -ms-transform:  translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
    }
    .icon_err{
      display: inline-block;
      width: rem(25);
      height: rem(25);
    }
    .loading_txt{
      margin-top: rem(5);
      @include font(13);
    }
  }
}
.product_hide {
  display: none;
  overflow: hidden;
  position: relative;
  min-height: rem(400);
}

.product_action {
  display: block; }
.filtrate_box{
  padding-left: rem(10);
  float:left;
  width: rem(70);
  position: absolute;
  right: rem(10);
}
.filtrate{
  height: rem(34);
  background: #6dc1c8;
  color:#fff;
  border-radius: rem(5);
  text-align: center;
  line-height: rem(34);
  @include font(15);
}
//选择类型
.chooseType{
  position: absolute;
  right: rem(27);
  @include font(15);color:#bbb
}
.icon_arrow_r{
  position: absolute;
  width: rem(10);
  height: rem(15);
  top:50%;
  margin-right: rem(-5);
  right:rem(10);
  transform: translate(-50%,-50%);
  -webkit-transform:  translate(-50%,-50%);
  -moz-transform:  translate(-50%,-50%);
  -ms-transform:  translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.type_box{
  padding-left: rem(20);
  padding-right: rem(10);
  padding-bottom: rem(10);
  border-bottom: 5px solid #ededed;
  ul{
    overflow: hidden;
    li{
      //float:left;
      display: inline-block;
      padding: rem(5) rem(20) rem(5) rem(5);
      background: #6dc1c8;
      position: relative;
      border-radius: rem(5);
      @include font(13);
      color:#fff;
      margin-top: rem(10);
      margin-right: rem(10);
      span{
        position: absolute;
        top:45%;
        right:rem(4);
        width: rem(8);
        height:rem(8);
        line-height: rem(8);
         transform: translate(-50%,-50%);
        -webkit-transform:  translate(-50%,-50%);
        -moz-transform:  translate(-50%,-50%);
        -ms-transform:  translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
      }
    }
  }
}
//add_type
.type_search_box{
  padding: rem(10) rem(10) rem(0) rem(10);
  position: relative;
  .type_search{
    text-align: left;
    padding: rem(13) rem(20) rem(13) rem(10);
    @include font(14);
    color:#8e8e93;
    border: 1px solid #ddd;
    border-radius: rem(10);
    width: 100%;
    outline: none;
    -webkit-appearance: none;
  }
  .type_search_icon{
    width: rem(14);
    height: rem(14);
    padding: rem(10);
    position: absolute;
    top:rem(17);
    right:rem(10);
    img{
      width: rem(14);
      height: rem(14);
    }
  }
  .type_line{
    margin-top: rem(10);
    border-bottom: 1px solid #ededed;
  }
}
.type_choose_box{
  padding: rem(20) rem(10);
  overflow: hidden;
  line-height: rem(30);
  color:#99a5b5;
  div:first-child{display: inline-block}
  .type_choose_num{

  }
  .type_choose_btn{
     float: right;
    height: rem(25);
    width: rem(80);
    line-height: rem(25);
    border: 1px solid #99a5b5;
    border-radius: rem(4);
    //padding-left: rem(10);
    text-align: center;
    div:first-child{
      display: inline-block;
      height: rem(15);
      width: rem(15);
      line-height: rem(15);
      img{
        margin-top: rem(-5);
        height: rem(12);
        width: rem(15);
        vertical-align: middle;
      }
    }
    div:last-child{
      display: inline-block;
      @include font(14);
    }
  }
}
.type_label_box{
  padding: rem(0) rem(10);
  padding-bottom: rem(10);
  overflow: hidden;
  li{
    //float: left;
    display: inline-block;
    margin-right:rem(10);
    margin-top: rem(10);
    color:#6dc1c8;
    padding: rem(3) rem(5);
    border-radius: rem(5);
    border: 1px dashed #6dc1c8;
  }
  .type_active{
    background:#6dc1c8;
    color:#fff;
  }
}
.select{
  position: absolute;
  left: rem(10);
  width: rem(70);
  height: rem(34);
  line-height: rem(34);
  @include font(15);
  color: #888;
  text-align: left;
}
.select ul{
  position: absolute;
  width:rem(80);
  top: rem(44);
  left: rem(-10);
  background-color: #fff;
  z-index: 3;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  display: none;
}
.select ul li{
  padding-right: rem(10);
  text-align: center;
  height: rem(34);
  line-height: rem(34);
}
.select span{
  position: absolute;
  width: rem(16);
  height: rem(16);
  top: rem(9);
  right: rem(10);
  background: url("../image/icon_arrow_dow.png") no-repeat center center;
  background-size: rem(10) rem(6);
  transition: transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
}
.rotateb{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
}

.product_hide:after{
  content: ",";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.brand_pop_parent{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   background-color: rgba(0,0,0,0.6);
   display:none;
   z-index: 1003;
}
.brand_pop{
  width: 75%;
  height: rem(400);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color:#fff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow-y: auto;
  z-index: 1004;
  .search{
      width:100%;
      padding: rem(20) rem(10);
      & input{
        width: 100%;
        height: rem(34);
        border: 1px solid #d2d2d2;
        border-radius: 5px;
        outline: none;
        padding-left: rem(5);
        -webkit-appearance: none;
        @include font(13);
      }
  }
  .brand_pop_list{
    padding: rem(0) rem(10);
    margin-bottom: 44px;
    height:rem(270);
    overflow-y: auto;
    & li{
      text-align: center;
      height: rem(40);
      line-height: rem(40);
      color: #4f4f4f;
      @include font(13);
    }
    .active{
      background-color: #f4f4f4;
      color: #1fd4e4;
    }
  }
  .brand_footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height:rem(44);
    line-height: rem(44);
    text-align: center;
    @include font(17);
    color: #888888;
    border-top: 1px solid #d9d9d9;
  }
}