@import "mixin-fun";
@charset "utf-8";
body{
  background-color: #fff;
}
*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
}
.warp{
  background-color: #fff;
  width: 100%;
  //overflow-x: hidden;
}
.title{
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 3;
  top:54px;
}
.title .top{
  float: left;
  width: 33.3333%;
  height: 44px;
  line-height: 44px;
  font-size:15px;
  text-align: center;
  color: #888888;
  background-color: #ededed;
}
.title div:hover{
  color: #6dc1c8;
  background-color: white;
}
.main{
  clear: both;
  width: 96.7%;
  background-color: white;
  position: relative;
  top: 161px;
  bottom: 0;
  padding-left:3.3%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.main .none{
  width: 50%;
  display: none;
  margin:0 auto;
  margin-top:rem(50);
}
.goods_box{
  float: left;
  margin-bottom: 20px;
  margin-right:3.35%;
  width: 46.5%;
}
.the_img{
  width: 100%;
  text-align: center;
  line-height: rem(192);
  height: rem(192);
  border: 1px solid #cfcfcf;
  position: relative;
}
.the_img img{
   max-width: 100%;
   max-height: 100%;
}
.the_list{
  width: 97%;
  background-color: #e4e4e4;
  height: rem(54);
  padding-top: rem(8);
  padding-bottom: rem(8);
  padding-left: 4%;
  position: relative;
}
.the_list img{
  height: rem(54);
  width: 27%;
  border: 1px solid #cfcfcf;
  background-color: white;
}
.the_list .num{
  background-color: #000000;
  color: white;
  width: 9%;
  height: rem(20);
  line-height: rem(20);
  text-align: center;
  font-size: rem(12);
  opacity: 0.5;
  border-top-left-radius:rem(5);
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.add{
  background-color: white;
  height: rem(30);
  line-height: rem(30);
  font-size: rem(13);
  color: #b2b2b2;
}
.add div{
  float: left;
  width: 33%;
  height: rem(33);
  line-height: rem(33);
  text-align: center;
  color: #b2b2b2;
  font-size: rem(15);
}
.add img{
  width: 25%;
  margin-right: 5%;
  margin-top: rem(5);
}
.out{
  clear: both;
  text-align: center;
  background-color: white;
  color: #8e8c8c;
  font-size: rem(13);
  display: block;
  width: 100%;
  margin-bottom: rem(5);
}
.header_line{
  width: 100%;
  height:54px;
  background-color: #e8e8e8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top:0;
  z-index: 1;
  .search{
    padding-left:10px;
    margin-right:90px;
    background-color: #e8e8e8;
  }
  .screen{
    width: 70px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 10px;
    text-align: center;
    line-height: 30px;
    background-color: #6dc1c8;
    border-radius: 5px;
    letter-spacing: 3px;
    color: #fff;
    font-size:14px;
  }
  & input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border:none;
    outline: none;
    border-radius: 10px;
    color: #8e8e93;
    font-size: 13px;
    margin-top: 12px;
    background-color: #fff;
  }
}
.screen_list{
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  width: 66.6%;
  position:fixed;
  top: 0;
  right:-66.6%;
  background-color:#fff;
  z-index: 5;
  height: 100%;
  overflow:hidden;
  .screen_content{
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 56px;
    width: 100%;
    .parent{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 10px 0 10px;
      & h4{
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        font-weight: normal;
        color: #888;
      }
      .list{
        overflow: hidden;
        margin-left: -2%;
        & li{
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-tap-highlight-color:rgba(255,255,255,0);
          float: left;
          width: 48%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background-color: #eeeeee;
          border-radius: 5px;
          margin-left: 2%;
          margin-bottom: 2%;
          font-size:15px;
          color: #888;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
        }
        .active{
          background-color: #c5e6e9;
        }
      }
      .xian{
        border-bottom:1px solid #ededed;
      }
    }
    .row-last{
      margin-bottom: 56px;
    }
  }
  .screen_footer{
    position:absolute;
    bottom: 0;
    display: block;
    width: 100%;
    .bg_h{
      width:50%;
      height: 56px;
      float: left;
      text-align: center;
      line-height: 56px;
      font-size: 17px;
    }
    #reset{
      background-color: #e7e7e7;
      color: #888;
    }
    #complete{
      background-color: #6dc1c8;
      color: #fff;
    }
  }
}
#cover{width:100%;height:100%;display:none;position:fixed;left:0;top:0;z-index:3;background-color:#000000;opacity:0.5;}
.title .tab_list{
  width: 100%;
  float: left;
  height: 50px;
  border-bottom: 1px solid #ededed;
}
.title .tab_list_left{
  float: left;
  width: 75%;
  height: 30px;
  line-height: 30px;
  margin-top: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #888;
  font-size: 13px;
}
.title .pa{
  padding-left: rem(15);
}
.title .tab_list_right{
  float: left;
  width: 25%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-top: 13px;
  color: #53bac3;
  border-left: 1px solid #ededed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
}
.title .tab_list_right i{
  display: inline-block;
  vertical-align: middle;
  width:13px;
  height: 13px;
  margin-top:-2px;
  margin-right:2px;
  background: url("../image/iocn_screen.png") no-repeat;
  background-size: 12px;
}
.title .tab_list .tab_list_left li{
  width:33.3333%;
  position: relative;
  height:30px;
  line-height: 30px;
  float: left;
  text-align: center;
  color: #888888;
}
.title .tab_list li.active{
  color: #53bac3;
}
.title .tab_list li b{
  width: 8px;
  height: 4px;
  position: absolute;
  top: 14px;
}
.title .tab_list li.active b{
  color: #53bac3;
  background: url("../image/icon_xiao.png") no-repeat;
  background-size: 8px;
  transition: transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
}
.rotateb b{
   transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transition: transform 0.2s;
   -moz-transition: -moz-transform 0.2s;
   -moz-transition: -moz-transform 0.2s;
   -o-transition: -o-transform 0.2s;
   -ms-transition: -ms-transform 0.2s;
}
.xiao_t{
  width: 100%;
  position: absolute;
  bottom: 0;
  height: rem(20)!important;
  line-height: rem(20)!important;
  background-color:rgba(0,0,0,0.6);
  color: #fff;
}
.xiao_t .left{
   float: left;
  padding-left: rem(10);
}
.xiao_t .right{
   float: right;
  padding-right: rem(10);
}
.img_top{
  width: rem(40);
  height: rem(20);
  line-height: rem(20);
  background-color:rgba(50,181,201,0.70);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff!important;
  border-radius: 0 0 5px 0;
  display: none;
}
.shop{
  height: rem(80);
  position: relative;
  padding-left: rem(80);
  margin-right: rem(10);
}
.shop .img{
  width: rem(70);
  height: rem(70);
  position: absolute;
  left: 0;
}
.shop .text{
  position: relative;
  height: rem(70);
}
.shop .text p{
  color: #666666;
}
.shop .text .text_footer{
  position: absolute;
  height: rem(20);
  bottom: rem(20);
}
.shop .text .text_share{
  position: absolute;
  height: rem(22);
  bottom: 0;
}
.shop .text .text_share span{
  color: #aaaaaa;
}
.shop .text .text_footer span{
  color: #aaaaaa;
}
.shop .text .text_select{
  position: absolute;
  width: rem(60);
  height:rem(20);
  line-height:rem(20);
  right: 0;
  bottom: 0;
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #aaaaaa;
  text-align: center;
}
.shop .text .down{
  border: 1px solid #6dc1c8;
  background-color: #6dc1c8;
  color: #fff;
}
.shop .text .text_select div{
  display: inline-block;
  width:rem(10);
  height: rem(10);
  line-height:rem(20);
  vertical-align: middle;
  margin-right: rem(5);
  margin-top: rem(-2);
  background: url("../image/icon_down.png") no-repeat center center;
  background-size: rem(9);
}
.shop .text .down div{
  background: url("../image/icon_up.png") no-repeat center center;
  background-size: rem(9);
}
.shop .img img{
  max-width: 100%;
  max-height: 100%;
}
.share_list .list_content{
  height: rem(100);
  margin-right: rem(10);
  border-top: 1px dashed #d1d1d1;
  display: none;
}
.list_share,.list_look{
  position: relative;
}
.share_content,.look_more{
  position: absolute;
  height:rem(30);
  line-height: rem(30);
  right: 0;
  top:rem(-19);
  padding-right: rem(18);
  background: url("../image/icon_arrow_r.png") no-repeat center right;
  background-size: rem(8) rem(12);
}
.share_list{
  margin-bottom: rem(10);
  border-bottom: 1px solid #ededed;
}
.share_list .list_content div{
  height: rem(20);
  line-height: rem(20);
  margin-top: rem(20);
  color: #aaaaaa;
}
.share_list .list_content div .icon_img{
  display: inline-block;
  width: rem(11);
  height: rem(11);
  margin-top: rem(4.5);
  margin-left: rem(5);
  margin-right:rem(5);
}
.share_list .list_content .list_share .icon_img{
  background: url("../image/icon_share.png") no-repeat center center;
  background-size: rem(10);
}
.share_list .list_content .blue{
  color: #32b5c9;
  margin-left: rem(3);
  margin-right: rem(3);
  font-size: rem(18);
}
.share_list .list_content .red{
  color: #ea5ca2;
  margin-left: rem(3);
  margin-right: rem(3);
  font-size: rem(18);
}
.share_list .list_content .list_look .icon_img{
  background: url("../image/icon_look.png") no-repeat center center;
  background-size: rem(11);
}
.seen_num{
  position: absolute;
  bottom: rem(50);
  min-width: rem(30);
  height: rem(20);
  line-height: rem(20);
  background-color:rgba(50, 181, 201, 0.62);
  border-radius: 0px 3px 3px 0px;
  color: #fff;
  font-size: rem(12);
  padding-left: rem(23);
  padding-right: rem(5);
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  span{
    left: rem(23);
  }
}
.seen_num .seen_bg{
    position: absolute;
    left: rem(5);
    top:rem(4.5);
    width: rem(11);
    height: rem(11);
    background: url("../image/icon_share_b.png") no-repeat;
    background-size: rem(10);
}
.share_num{
  position: absolute;
  bottom: rem(28);
  min-width: rem(20);
  height: rem(20);
  line-height: rem(20);
  background-color:rgba(236, 64, 121, 0.62);
  border-radius: 0px 3px 3px 0px;
  color: #fff;
  font-size: rem(12);
  padding-left: rem(23);
  padding-right: rem(5);
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  span{
    left: rem(23);
  }
}
.share_num .share_bg{
  position: absolute;
  left: rem(5);
  top:rem(6);
  width: rem(12);
  height: rem(8);
  background: url("../image/icon_look_b.png") no-repeat;
  background-size: rem(11);
}
