@import "mixin-fun";
@charset "utf-8";
*{
  margin:0;
  padding:0;
  list-style: none;
}
body{
  background-color: #ededed;
}
.warp{
  overflow-x: hidden;
  overflow-y: auto;
}
.warp::-webkit-scrollbar{width:0px}
.main_img{
  width: 100%;
  background-color: #fff;
  margin-bottom: rem(10);
  position: relative;
}
.main_img img{
  margin: 0 auto;
}
.main_btn{
  position: absolute;
  bottom: 15px;
  right: 0%;
  width: 30%;
  height: rem(50);
}
.main_btn .editor{
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../image/editor_02.png);
  height: rem(50);
  width: 40%;
  float: left;
  border-radius: 300px;
  margin-right: 10%;
}
.main_btn .delete{
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../image/editor_03.png);
  height: rem(50);
  width: 40%;
  float: left;
  border-radius: 300px
}
.main_list{
  max-width: 100%;
  height: rem(100);
  background-color: white;
  margin-bottom: rem(10);
}
.main_list_title{
  width: 96%;
  margin-left: 2%;
  height: rem(29);
  line-height: rem(29);
  border-bottom: 1px solid #ededed;
  text-align: center;
  font-size: rem(13);
  color: #929eae;
}
.main_list_main{
  max-width: 98%;
  height: rem(54);
  padding-top:rem(8);
  padding-bottom: rem(8);
  padding-left: 2%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap;
}
.main_list_main img{
  display:inline-block;
  height: rem(54);
  margin-right: 2%;
}
.main_select{
  width: 100%;
  height: rem(40);
}
.main_select div{
  float: left;
  width: 50%;
  height: rem(40);
  line-height: rem(40);
  text-align: center;
  font-size: rem(15);
  color: #6a7685;
}
.main_content{
  padding-top: rem(10);
  clear: both;
  width: 100%;
  background-color: white;
  color: #929eae;
  margin-bottom: rem(54);
}
//ÆÀÂÛ
.area .box{
  padding-top: rem(3);
  padding-bottom: rem(3);
  width: 92%;
  margin-left: 4%;
}
.box .top{
  width: 100%;
}
.box .top img{
  width: 11%;
  float: left;
}
.box .top .title{
  width: 85%;
  margin-left: 3%;
  float: left;
  height: rem(40);
  line-height: rem(40);
}
.box .msg{
  clear: both;  
  width: 85%;
  margin-left: 14%;
  word-break: break-all;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: rem(6);
}
.bottom{
  position: fixed;
  bottom: 0;
  height: rem(54);
  width: 100%;
  color: #b2b2b2;
  font-size: rem(13);
  background-color: white;
}
.bottom div{
  margin-top: rem(10);
  height: rem(34);
  line-height: rem(34);
  width: 23%;
  border-right: 1px solid #ededed;
  text-align: center;
  float: left;
}
.bottom div img{
  width: 20%;
  margin-right: 4%;
}
.bottom .num{
  height: rem(16);
  line-height: rem(16);
}
.bottom_input{
  position: fixed;
  bottom: 0;
  height: rem(54);
  width: 100%;
  color: #b2b2b2;
  font-size: rem(13);
  background-color: #e8e8e8;
  display: none;
}
.bottom_input input{
  position: absolute;
  bottom: rem(5);
  left: 2%;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding-left: 3%;
  height:rem(44);
  line-height: rem(44);

}
.bottom_input img{
  position: absolute;
  right: 3%;
  bottom: rem(10);
  height: rem(34);
}
