@import "mixin-fun";
*{
	margin:0;
 	padding:0;
 	list-style: none;
 	
}
html{
	// height: 100%;
}
body{
	font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
	// height: 100%;
}
a{
	text-decoration: none;
}
.sift-move{
	height: 100%;
	overflow: hidden;
	position: relative;
}
.header{
	width: 100%;
	padding-bottom:rem(10);
	background-color:#dfdfdf;
	position: relative;
	overflow: hidden;
	.main_image{
		ul{
			width: rem(99999);
			overflow: hidden;
			& li{
				float: left;
			}
		}
	}
	.swiper-wrapper{
		.swiper-slide{
			width: 100%;
			height: 100%;
			text-align:center;
			overflow: hidden;
			.item{
				height:100%;
				display:inline-block;
				vertical-align:middle;
			}
			& img{
				max-width: 100%;
				max-height: 100%;
				vertical-align: middle;
		    	// -webkit-transform: translate3d(-50%,-50%,0);
			}
		}
	}
	.gradex{
		width: 100%;
		height: rem(20);
		line-height: rem(20);
    	position: absolute;
    	bottom: rem(19);
    	right: rem(5);
    	span{
    		float: right;
    		@include font(12);
    		color:#dd6c5e;
    	}
    	.on{
    		float: right;
    		margin-left: rem(10);
    		background: url(../image/icon_star.png) no-repeat;
    		background-size: rem(18) rem(18);
    		width: rem(18);
    		height: rem(18);
    	}
	}
}
.detail{
	margin-left: rem(10);
	@include line-height(37);
	@include font(14);
	color: #8D8D8D;
	position:relative;
	.grade{
		position: absolute;
		top:rem(14);
		right: rem(12);
		cursor: pointer;
		& img{
			width: rem(75);
		    height: rem(32);
		}
	}
	.pice{
	   & span{
	   	color: #dd6c5e;
	   }
	}
	.total{
		width: 100%;
		overflow: hidden;
		& p{
			float: left;
			width: 33.3333%;
			text-align: left;
			white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
		}
	}
	
}
.buy-match{
	width: 100%;
	.caption{
		background-color: #dfdfdf;
		overflow: hidden;
	}
	.caption li{
        @include line-height(44);
        margin-top: rem(11);
		width: 50%;
		float: left;
		text-align: center;
		@include font(18);
        cursor: pointer;
        color: #8D8D8D;
	}
	.caption .buy{
        color: #dd6c5e;
        background-color: #fff;
	}
	.content{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    box-sizing: border-box;
		@include line-height(31);
		color: #8D8D8D;
		margin-top: rem(20);
		padding:0 rem(15) 0 rem(15);
		word-wrap: break-word;
        word-break: break-word;
        overflow: auto;
        height: auto;
        & li{
        	@include font(14);
        }
        & a{
        	text-decoration: underline;
  			color:#6cc1c8;
        }
        & img{
        	max-width: 100%;
        }
	}
	.match-con{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    box-sizing: border-box;
		margin-top: rem(20);
		padding:0 rem(15) 0 rem(15);
		& a{
			text-decoration: none;
		}
		.footer{
			.goods_list_p{
				overflow: hidden;
				.goods_list{
					margin-left: rem(-10);
				}
			}
			.biaoti{
				height:rem(30);
				@include line-height(31);
				@include font(14);
				color: #6E6E6E;
			}
		}
		& li{
			-webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	        -ms-box-sizing: border-box;
	        box-sizing: border-box;
			padding-left:rem(10);
			width: 50%;
			float: left;
			.ti_img{
				border: 1px solid #e5e5e5;
				position: relative;
				background-color: #F7F7F7;
			}
			& p{
				height: rem(20);
				line-height: rem(20);
				text-align: center;
				color: #888888;
				@include font(14);
			}
		}
		& img{
			max-width: 100%;
			max-height: 100%;
			color: #333;
			position: absolute;
		    background-color: #f7f7f7;
		    top: 50%;
		    left: 50%;
		    transform: translate3d(-50%,-50%,0);
			-ms-transform: translate3d(-50%,-50%,0);
			-moz-transform: translate3d(-50%,-50%,0);
			-webkit-transform: translate3d(-50%,-50%,0);
			-o-transform: translate3d(-50%,-50%,0);
		}
	}
}
input-placeholder{
	text-align: center;
}
input::-webkit-input-placeholder{
	text-align: center;
} 
.header_line{
	width: 100%;
	height: 54px;
	background-color: #e8e8e8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: fixed;
	top:0;
	z-index: 1;
	.search{
		padding-left: 10px;
		margin-right: 90px;
		background-color: #e8e8e8;
	}
	.screen{
		width: 70px;
		height: 30px;
		position: absolute;
		top: 12px;
		right: 10px;
		text-align: center;
		line-height: 30px;
		background-color: #6dc1c8;
		border-radius: 5px;
		letter-spacing: 3px;
		color: #fff;
		font-size:15px; 
	}
	& input{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    box-sizing: border-box;
		width: 100%;
		height: 30px;
		padding-left: 5px;
		border:none;
		outline: none;
		border-radius: 5px;
		color: #8e8e93;
		font-size: 18px;
		margin-top: 12px;
		background-color: #fff;
	}
}
	.allShops{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 58px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		.shop{
			width: 100%;
			position: relative;
			padding-left:88px;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		    box-sizing: border-box;
			height: 85px;
			border-bottom:1px solid #ededed;
		}
		.img{
			position: absolute;
			left:0;
			top:1px;
			width:79px;
			height:78px;
			& img{
				width: 78px;
				height: 78px;
			}
		}
		.shop-t{
			margin-top:4px;
			margin-right: 10px;
			line-height: 26px;
			color: #8e8e93;
			& h1{
				color: #8e8e93;
				font-size: 16px;
				overflow:hidden;
	    		white-space:nowrap;
	            text-overflow:ellipsis;
	            font-weight: normal;
			}
			& p{
				text-align: left;
				font-size: 16px;
			}
			.pice span{
				color: #dd6c5e;
				font-size: 13px;
			}
		}
	}
.screen_list{
	width: 66.6%;
	position:fixed;
	top: 0;
	right:-66.6%;
	background-color:#fff;
	z-index: 5;
	height: 100%;
	overflow:hidden;
	.screen_content{
		overflow-y:auto;
		-webkit-overflow-scrolling: touch;
		margin-bottom: 56px;
		width: 100%;
		.parent{
			-webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	        -ms-box-sizing: border-box;
	        box-sizing: border-box;
		    padding: 0 10px 0 10px;
			& h4{
				height: 40px;
				line-height: 40px;
				font-size: 15px;
				font-weight: normal;
				color: #888;
			}
			.list{
				overflow: hidden;
				margin-left: -2%;
				& li{
					-webkit-box-sizing: border-box;
	                -moz-box-sizing: border-box;
	                -ms-box-sizing: border-box;
	                box-sizing: border-box;
					float: left;
					width: 48%;
					height: 40px;
					line-height: 40px;
					text-align: center;
					background-color: #eeeeee;
					border-radius: 5px;
					margin-left: 2%;
					margin-bottom: 2%;
					font-size:15px;
					color: #888;
				}
				.active{
					background-color: #c5e6e9;
				}
			}
			.xian{
				border-bottom:1px solid #ededed; 
			}
		}
		.row-last{
			margin-bottom: 56px;
		}
	}
	.screen_footer{
		position:absolute;
		bottom: 0;
		display: block;
		width: 100%;
		.bg_h{
			width:50%;
			height: 56px;
			float: left;
			text-align: center;
			line-height: 56px;
			font-size: 17px;
		}
		#reset{
			background-color: #e7e7e7;
			color: #888;
		}
		#complete{
			background-color: #6dc1c8;
			color: #fff;
		}
	}
}
#kong_img{
	width: 100%;
	position: absolute;
	top: 120px;
	margin: 0 auto;
	display: none;
	.kong{
		width: 68%;
		margin: 0 auto;
	}
	& img{
		max-width: 100%;
	}
}
.more{display: none;font-size: 15px;text-align: center;color: #8e8e93;height: 30px;line-height: 30px;}
#cover{width:100%;height:100%;display:none;position:fixed;left:0;top:0;z-index:3;background-color:#000000;opacity:0.5;}
