@import "mixin-fun";
@charset "utf-8";
body{
  width: 100%;
  background-color: #f4f4f4;
  font-family: Î¢ÈíÑÅºÚ;
  overflow-x: hidden;
  overflow-y: auto;
}
.title{
  margin-top: rem(50);
  color: #555555;
  font-size: rem(15);
  text-align: center;
  margin-bottom: rem(70);
  font-size: rem(15);
}
.main{
  width: 95%;
  margin-left: 5%;
  background-color: black;
}
.shopper{
  float: left;
  width: 29%;
  margin-bottom: rem(20);
  margin-right:4%;
}
.img{
  width: 100%;
}
.name{
  margin-top: rem(10);
  text-align: center;
  color: #888888;
  font-size: rem(14);
}
