@import "mixin-fun";
@charset "utf-8";
*{
  margin:0;
  padding:0;
  list-style: none;
}
body{
  background-color: #ededed;
}
.warp{
  position: relative;
  top: rem(0);
  background-color: #ededed;
  width: 100%;
  //overflow-x: hidden;
}
.title{
  background-color: white;
  width: 100%;
  position: absolute;
  top: rem(10);
}
.title div{
  float: left;
  width: 50%;
  height: rem(44);
  line-height: rem(44);
  font-size: rem(15);
  text-align: center;
  color: #888888;
  background-color: #ededed;
}
.title div:hover{
  color: #6dc1c8;
  background-color: white;
}
.main{
  clear: both;
  width: 96.7%;
  background-color: white;
  position: relative;
  top: rem(54);
  bottom: rem(0);
  padding-top: rem(10);
  padding-left:3.3%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
//暂无内容
.main .none{
  width: 50%;
  display: none;
  margin:rem(200) auto;
}
//盒子
.goods_box{
  float: left;
  margin-bottom: rem(20);
  margin-right:3.35%;
  width: 46.5%;
}
.the_img{
  width: 100%;
  text-align: center;
  line-height: rem(192);
  height: rem(192);
  border: 1px solid #cfcfcf;
  position: relative;
}
.the_img img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform:  translate(-50%,-50%);
  -moz-transform:  translate(-50%,-50%);
  -ms-transform:  translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  //height:rem(192);
  //margin: 0 auto;
}
//组合内的搭配
.the_list{
  width: 97%;
  background-color: #e4e4e4;
  height: rem(54);
  padding-top: rem(8);
  padding-bottom: rem(8);
  padding-left: 4%;
  position: relative;
}
.the_list img{
  height: rem(54);
  width: 27%;
  border: 1px solid #cfcfcf;
  margin-right: 3%;
  background-color: white;
}
.the_list .num{
  background-color: #000000;
  color: white;
  width: 9%;
  height: rem(20);
  line-height: rem(20);
  text-align: center;
  font-size: rem(12);
  opacity: 0.5;
  border-top-left-radius:rem(5);
  position: absolute;
  bottom: 0px;
  right: 0px;
}
//额外
.add{
  background-color: white;
  height: rem(30);
  line-height: rem(30);
  font-size: rem(13);
  color: #b2b2b2;
}
.add div{
  float: left;
  width: 33%;
  height: rem(33);
  line-height: rem(33);
  text-align: center;
  color: #b2b2b2;
  font-size: rem(15);
}
.add img{
  width: 25%;
  margin-right: 5%;
  margin-top: rem(5);
}
//底部文字提示
.out{
  clear: both;
  text-align: center;
  background-color: white;
  color: #8e8c8c;
  font-size: rem(13);
  display: block;
  width: 100%;
  margin-bottom: rem(5);
}
