# 注册服务的定位信息(主注册服务和所有的从注册服务)，节点注册时要用到
#Ice.Default.Locator=SUN/Locator:default -h 1.app.bizvane.com -p 12000:default -h 2.app.bizvane.com -p 12001

Ice.Default.Locator=SUN/Locator:default -h 1.dev.bizvane.com -p 12000:default -h 1.dev.bizvane.com -p 12001
# 数据包大小
Ice.MessageSizeMax=512000

#Ice.Default.Locator=SUN/Locator:default -h localhost -p 12000:default -h localhost -p 12001