<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <context:component-scan base-package="com.bizvane.ishop.controller"></context:component-scan>


    <mvc:default-servlet-handler/>

    <!-- 在实际开发中通常都需配置 mvc:annotation-driven 标签 -->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--<mvc:interceptors>-->
    <!--&lt;!&ndash; 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 &ndash;&gt;-->
    <!--<bean class="com.cookcookie.interceptor.AllInterceptor"/>-->
    <!--&lt;!&ndash;<mvc:interceptor>&ndash;&gt;-->
    <!--&lt;!&ndash;<mvc:mapping path="/test/number.do"/>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<bean class="com.host.app.web.interceptor.LoginInterceptor"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</mvc:interceptor>&ndash;&gt;-->
    <!--</mvc:interceptors>-->
    <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
    <bean id="mappingJacksonHttpMessageConverter"
    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    <property name="supportedMediaTypes">
    <list>
    <value>application/json;charset=UTF-8</value>
    </list>
    </property>
    </bean>
    <bean id="springBeanFactoryUtils" class="com.bizvane.ishop.utils.SpringBeanFactoryUtils"/>
    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
    <bean
    class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    <property name="messageConverters">
    <list>
    <ref bean="mappingJacksonHttpMessageConverter"/><!-- json转换器 -->
    </list>
    </property>
    </bean>
    <!--上传文件-->
    <!--<bean id="multipartResolver"-->
          <!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver"-->
          <!--p:defaultEncoding="UTF-8" />-->
    <bean id="multipartResolver" class="com.bizvane.ishop.interceptor.MyMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="excludeUrls" value="excludeMultipart"></property>
        <!-- url中带有excludeMultipart的http请求就不会被multipartResolver先解析-->
    </bean>
    <!--&lt;!&ndash; 对模型视图名称的解析，即在模型视图名称添加前后缀 p:prefix中模板放置路径&ndash;&gt;-->
    <bean id="velocityConfig"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/"/>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
            </props>
        </property>
    </bean>

    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">-->
    <!--<property name="prefix" value=""/>-->
    <!--<property name="suffix">-->
    <!--<value>.html</value>-->
    <!--</property>-->
    <!--<property name="contentType">-->
    <!--<value>text/html;charset=UTF-8</value>-->
    <!--</property>-->
    <!--<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml"/>-->
    <!--</bean>-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver"
          p:suffix=".html" p:contentType="text/html; charset=UTF-8" p:exposeRequestAttributes="true"
          p:exposeSessionAttributes="true" p:dateToolAttribute="dateTool" p:numberToolAttribute="numberTool"/>


    <!-- 拦截器 -->
    <mvc:interceptors>
    <!--记录请求时间，并打印日志，此拦截器放在第一个比较准-->
    <mvc:interceptor>
        <!-- 对所有的请求拦截使用/** ,对某个模块下的请求拦截使用：/myPath/* -->
        <mvc:mapping path="/**"/>
        <!--排除的URL-->
        <mvc:exclude-mapping path="/css/**"/>
        <mvc:exclude-mapping path="/js/**"/>
        <mvc:exclude-mapping path="/img/**"/>
        <mvc:exclude-mapping path="/goods/mobile/**"/>
        <mvc:exclude-mapping path="/goods/mobile_v2/**"/>
        <mvc:exclude-mapping path="/register"/>
        <mvc:exclude-mapping path="/authcode"/>
        <mvc:exclude-mapping path="/user/change_passwd"/>
        <mvc:exclude-mapping path="/login.html"/>
        <!--<mvc:exclude-mapping path="/navigation_bar.html"/>-->
        <mvc:exclude-mapping path="/register_account.html"/>
        <mvc:exclude-mapping path="/Retrieve_password.html"/>
        <mvc:exclude-mapping path="/user/PhoneExist"/>
        <mvc:exclude-mapping path="/userlogin"/>
        <mvc:exclude-mapping path="/checkAuthcode"/>
        <mvc:exclude-mapping path="/api/**"/>
        <mvc:exclude-mapping path="/Websocket/**"/>
        <mvc:exclude-mapping path="/mobile/**"/>
        <mvc:exclude-mapping path="/vipTask/mobile/**"/>
        <mvc:exclude-mapping path="/vipTask/select"/>
        <mvc:exclude-mapping path="/user/creatQrcodesForUser"/>
        <mvc:exclude-mapping path="/activity/active_ueditor.html"/>
        <mvc:exclude-mapping path="/vipActivity/**"/>
        <mvc:exclude-mapping path="/Auth/**"/>
        <mvc:exclude-mapping path="/questionnaire/**"/>
        <mvc:exclude-mapping path="/board/**"/>
        <mvc:exclude-mapping path="/shop/brand"/>

        <!--<mvc:exclude-mapping path="/corp/CorpNameExist"/>-->

        <bean class="com.bizvane.ishop.interceptor.SpringMVCInterceptor"/>
    </mvc:interceptor>
        <!--定义本地化变更拦截器-->

    </mvc:interceptors>

</beans>
