<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!--自动扫描含有@Service将其注入为bean -->
	<context:component-scan base-package="com.bizvane.ishop.service" />

	<!-- 启用@Aspect支持 -->
	<aop:aspectj-autoproxy/>

	<!-- 引入properties配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:redis.properties</value>
				<value>classpath:jdbc.properties</value>
				<value>classpath:mongodb.properties</value>
				<!--要是有多个配置文件，只需在这里继续添加即可 -->
			</list>
		</property>
	</bean>

	<!-- jedis 配置 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}"/>
		<property name="maxWaitMillis" value="${redis.maxWait}"/>
		<property name="testOnBorrow" value="${redis.testOnBorrow}"/>
	</bean>

	<!-- redis 连接工厂 -->
	<bean id="connectionFactory"
		  class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig" ref="poolConfig"/>
		<property name="port" value="${redis.port}"/>
		<property name="hostName" value="${redis.host}"/>
		<property name="password" value="${redis.password}"/>
		<property name="database" value="${redis.database}"/>
		<property name="timeout" value="${redis.timeout}"></property>
	</bean>

	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="connectionFactory"/>
		<property name="keySerializer">
			<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
		</property>
		<property name="valueSerializer">
			<bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
		</property>
	</bean>

	<bean id="redisClient" class="com.bizvane.sun.common.service.redis.RedisClient">
		<property name="redisTemplate" ref="redisTemplate"/>
	</bean>
	<!--jedis 配置 结束-->

	<!-- MongoDB Client 配置开始 -->
	<bean id="mongodbClient" class="com.bizvane.sun.common.service.mongodb.MongoDBClient">
		<property name="host" value="${mongodb.host}"/>
		<property name="port" value="${mongodb.port}"/>
		<property name="replSetName" value="${mongodb.replSetName}"/>
		<property name="defaultDataBase" value="${mongodb.defaultDataBase}"/>
		<property name="database" value="${mongodb.database}"/>
		<property name="userName" value="${mongodb.username}"/>
		<property name="password" value="${mongodb.password}"/>
	</bean>
	<!-- MongoDB Client 配置结束 -->

	<bean id="springBeanFactoryUtils" class="com.bizvane.ishop.utils.SpringBeanFactoryUtils"/>

</beans>