<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.ActivityMapper">

    <resultMap type="com.bizvane.ishop.entity.Activity" id="Activity">
        <id column="id" property="id"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_theme" property="activity_theme"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="run_mode" property="run_mode" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="start_time" property="start_time" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="end_time" property="end_time" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_vip" property="activity_vip"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_operator" property="activity_operator"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="msg_info" property="msg_info"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="task_title" property="task_title" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="task_desc" property="task_desc"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="wechat_title" property="wechat_title"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="wechat_desc" property="wechat_desc"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_url" property="activity_url"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_content" property="activity_content"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="content_url" property="content_url"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <select id="selectAllActivity" resultMap="Activity">
        SELECT def_activity.id,
        def_activity.activity_theme,
        def_activity.run_mode,
        def_activity.start_time,
        def_activity.end_time,
        def_activity.activity_vip,
        def_activity.activity_operator,
        def_activity.msg_info,
        def_activity.task_title,
        def_activity.task_desc,
        def_activity.wechat_title,
        def_activity.wechat_desc,
        def_activity.activity_url,
        def_activity.activity_content,
        def_activity.content_url,
        def_activity.corp_code,
        def_corp.corp_name,
        def_activity.created_date,
        def_activity.modified_date,
        def_activity.modifier,
        def_activity.creater,
        def_activity.isactive
        FROM def_activity,def_corp
        WHERE def_activity.corp_code=def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND def_activity.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (
            def_activity.activity_theme LIKE concat('%', #{search_value},'%')
            OR def_activity.run_mode LIKE concat('%', #{search_value},'%')
            OR def_activity.created_date LIKE concat('%', #{search_value},'%')
            OR def_corp.corp_name LIKE concat('%', #{search_value},'%')
            OR def_activity.time LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY def_activity.id DESC
    </select>

    <insert id="insertActivity" parameterType="com.bizvane.ishop.entity.Activity">
        INSERT INTO def_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="activity_theme!=null">
                activity_theme,
            </if>
            <if test="run_mode!=null">
                run_mode,
            </if>
            <if test="start_time!=null">
                start_time,
            </if>
            <if test="end_time!=null">
                end_time,
            </if>
            <if test="activity_vip!=null">
                activity_vip,
            </if>
            <if test="activity_operator!=null">
                activity_operator,
            </if>
            <if test="msg_info!=null">
                msg_info,
            </if>
            <if test="task_title!=null">
                task_title,
            </if>
            <if test="task_desc!=null">
                task_desc,
            </if>
            <if test="wechat_title!=null">
                wechat_title,
            </if>
            <if test="wechat_desc!=null">
                wechat_desc,
            </if>
            <if test="activity_url!=null">
                activity_url,
            </if>
            <if test="activity_content!=null">
                activity_content,
            </if>
            <if test="content_url!=null">
                content_url,
            </if>

            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">

            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="activity_theme!=null">
                #{activity_theme},
            </if>
            <if test="run_mode!=null">
                #{run_mode},
            </if>
            <if test="start_time!=null">
                #{start_time},
            </if>
            <if test="end_time!=null">
                #{end_time},
            </if>
            <if test="activity_vip!=null">
                #{activity_vip},
            </if>
            <if test="activity_operator!=null">
                #{activity_operator},
            </if>
            <if test="msg_info!=null">
                #{msg_info},
            </if>
            <if test="task_title!=null">
                #{task_title},
            </if>
            <if test="task_desc!=null">
                #{task_desc},
            </if>
            <if test="wechat_title!=null">
                #{wechat_title},
            </if>
            <if test="wechat_desc!=null">
                #{wechat_desc},
            </if>
            <if test="activity_url!=null">
                #{activity_url},
            </if>
            <if test="activity_content!=null">
                #{activity_content},
            </if>
            <if test="content_url!=null">
                #{content_url},
            </if>

            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateActivity" parameterType="com.bizvane.ishop.entity.Activity">
        UPDATE def_activity
        <trim prefix="SET" suffixOverrides=",">

            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="activity_theme!=null">
                activity_theme=#{activity_theme},
            </if>
            <if test="run_mode!=null">
                run_mode=#{run_mode},
            </if>
            <if test="start_time!=null">
                start_time=#{start_time},
            </if>
            <if test="end_time!=null">
                end_time=#{end_time},
            </if>
            <if test="activity_vip!=null">
                activity_vip=#{activity_vip},
            </if>
            <if test="activity_operator!=null">
                activity_operator=#{activity_operator},
            </if>
            <if test="msg_info!=null">
                msg_info=#{msg_info},
            </if>
            <if test="task_title!=null">
                task_title=#{task_title},
            </if>
            <if test="task_desc!=null">
                task_desc=#{task_desc},
            </if>
            <if test="wechat_title!=null">
                wechat_title=#{wechat_title},
            </if>
            <if test="wechat_desc!=null">
                wechat_desc=#{wechat_desc},
            </if>
            <if test="activity_url!=null">
                activity_url=#{activity_url},
            </if>
            <if test="activity_content!=null">
                activity_content=#{activity_content},
            </if>
            <if test="content_url!=null">
                content_url=#{content_url},
            </if>

            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null">
                creater=#{creater},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE id=#{id};
    </update>
    <select id="getActivityForID" resultType="com.bizvane.ishop.entity.Activity">
        SELECT def_activity.id,
        def_activity.activity_theme,
        def_activity.run_mode,
        def_activity.start_time,
        def_activity.end_time,
        def_activity.activity_vip,
        def_activity.activity_operator,
        def_activity.msg_info,
        def_activity.task_title,
        def_activity.task_desc,
        def_activity.wechat_title,
        def_activity.wechat_desc,
        def_activity.activity_url,
        def_activity.activity_content,
        def_activity.content_url,
        def_activity.corp_code,
        def_corp.corp_name,
        def_activity.created_date,
        def_activity.modified_date,
        def_activity.modifier,
        def_activity.creater,
        def_activity.isactive
      FROM def_activity,def_corp
      WHERE  def_activity.corp_code=def_corp.corp_code
      AND def_activity.activity_theme = #{activity_theme}
      AND def_activity.run_mode = #{run_mode}
      AND def_activity.start_time = #{created_date}
      AND def_activity.corp_code = #{corp_code}
    </select>

    <delete id="delActivityById">
        DELETE FROM def_activity
        WHERE id=#{id};
    </delete>

    <select id="selectActivityScreen" resultType="com.bizvane.ishop.entity.Activity">
        SELECT def_activity.id,
        def_activity.activity_theme,
        def_activity.run_mode,
        def_activity.start_time,
        def_activity.end_time,
        def_activity.activity_vip,
        def_activity.activity_operator,
        def_activity.msg_info,
        def_activity.task_title,
        def_activity.task_desc,
        def_activity.wechat_title,
        def_activity.wechat_desc,
        def_activity.activity_url,
        def_activity.activity_content,
        def_activity.content_url,
        def_activity.corp_code,
        def_corp.corp_name,
        def_activity.created_date,
        def_activity.modified_date,
        def_activity.modifier,
        def_activity.creater,
        def_activity.isactive
        FROM def_activity,def_corp
        WHERE def_activity.corp_code = def_corp.corp_code

        <if test="corp_code != null and corp_code !=''">
            AND def_activity.CORP_CODE = #{corp_code}
        </if>

        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    def_corp.${entryKey} REGEXP ${entryValue}
                </when>

                <when test="entryValue!=''">
                    def_activity.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP BY def_activity.id
        ORDER BY def_activity.id DESC
    </select>

    <select id="selActivityById" resultType="com.bizvane.ishop.entity.Activity">
        SELECT def_activity.id,
        def_activity.activity_theme,
        def_activity.run_mode,
        def_activity.start_time,
        def_activity.end_time,
        def_activity.activity_vip,
        def_activity.activity_operator,
        def_activity.msg_info,
        def_activity.task_title,
        def_activity.task_desc,
        def_activity.wechat_title,
        def_activity.wechat_desc,
        def_activity.activity_url,
        def_activity.activity_content,
        def_activity.content_url,
        def_activity.corp_code,
        def_corp.corp_name,
        def_activity.created_date,
        def_activity.modified_date,
        def_activity.modifier,
        def_activity.creater,
        def_activity.isactive
        FROM def_activity,def_corp
         WHERE def_activity.corp_code=def_corp.corp_code
        AND def_activity.id =#{id}
    </select>
</mapper>