<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.AppIconMapper">

    <resultMap type="com.bizvane.ishop.entity.AppIcon" id="AppIcon">
        <id column="id" property="id"/>
        <result column="icon_name" property="icon_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>

        <result column="flag" property="flag" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="show_order" property="show_order" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>


    <select id="selAppIconById" resultType="com.bizvane.ishop.entity.AppIcon">
        SELECT def_app_icon.id,
        def_app_icon.icon_name,
        def_app_icon.flag,
        def_app_icon.created_date,
        def_app_icon.modified_date,
        def_app_icon.modifier,
        def_app_icon.creater,
        def_app_icon.show_order,
        def_app_icon.isactive
        FROM def_app_icon
        WHERE def_app_icon.id =#{id}
    </select>

    <select id="selAppIconByName" resultType="com.bizvane.ishop.entity.AppIcon">
        SELECT def_app_icon.id,
        def_app_icon.icon_name,
        def_app_icon.flag,
        def_app_icon.created_date,
        def_app_icon.modified_date,
        def_app_icon.modifier,
        def_app_icon.creater,
        def_app_icon.isactive
        FROM def_app_icon
        WHERE  def_app_icon.isactive= #{isactive}
        AND def_app_icon.icon_name = #{icon_name}
    </select>
    <select id="selectAllIconNames" resultMap="AppIcon">
        SELECT def_app_icon.icon_name,
        def_app_icon.isactive,
        def_app_icon.flag,
        def_app_icon.show_order
        FROM def_app_icon
        <if test="search_value != null and search_value !=''">
            AND
            (
            def_app_icon.icon_name LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY def_app_icon.show_order ASC
    </select>


    <insert id="insertAppIcon" parameterType="com.bizvane.ishop.entity.AppIcon">
        INSERT INTO def_app_icon
        <trim prefix="(" suffix=")" suffixOverrides=",">


            <if test="icon_name!=null">
                icon_name,
            </if>
            <if test="flag!=null">
                flag,
            </if>

            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="show_order!=null">
                show_order,
            </if>

        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">


            <if test="icon_name!=null">
                #{icon_name},
            </if>
            <if test="flag!=null">
                #{flag},
            </if>

            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="show_order!=null">
                #{show_order},
            </if>
        </trim>
    </insert>
    <update id="updateAppIcon" parameterType="com.bizvane.ishop.entity.AppIcon">
        UPDATE def_app_icon
        <trim prefix="SET" suffixOverrides=",">

            <if test="icon_name!=null">
                icon_name=#{icon_name},
            </if>
            <if test="flag!=null">
                flag=#{flag},
            </if>

            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null">
                creater=#{creater},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
            <if test="show_order!=null">
                show_order=#{show_order},
            </if>
        </trim>
        WHERE id=#{id};
    </update>
    <select id="selectMaxOrder" resultType="java.lang.String">
        SELECT max(show_order)
        FROM def_app_icon
        WHERE  def_app_icon.isactive = 'Y'
        ORDER BY def_app_icon.show_order ASC
    </select>

</mapper>