<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.AppLoginLogMapper">

    <resultMap type="com.bizvane.ishop.entity.AppLoginLog" id="AppLoginLog">
        <id column="id" property="id"/>
        <result column="platform" property="platform" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="user_name" property="user_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_name" property="corp_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="time" property="time" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="store_name" property="store_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="position" property="position" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <select id="selectAllAppLoginLog" resultMap="AppLoginLog">
      SELECT acc_app_login_log.id,
      acc_app_login_log.platform,
      acc_app_login_log.user_code,
      acc_app_login_log.user_name,
        acc_app_login_log.store_name,
        acc_app_login_log.position,
        acc_app_login_log.phone,
      def_corp.corp_name,
      acc_app_login_log.time,
      acc_app_login_log.created_date
      FROM acc_app_login_log,def_corp
      WHERE  acc_app_login_log.corp_code=def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND  acc_app_login_log.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
        AND
        (
            acc_app_login_log.platform LIKE concat('%', #{search_value},'%')
            OR acc_app_login_log.user_name LIKE concat('%', #{search_value},'%')
            OR acc_app_login_log.created_date LIKE concat('%', #{search_value},'%')
            OR def_corp.corp_name LIKE concat('%', #{search_value},'%')
            OR acc_app_login_log.time LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY acc_app_login_log.id DESC
    </select>

    <select id="selectAllScreen" resultMap="AppLoginLog">
        SELECT acc_app_login_log.id,
        acc_app_login_log.platform,
        acc_app_login_log.user_code,
        acc_app_login_log.user_name,
        acc_app_login_log.store_name,
        acc_app_login_log.position,
        acc_app_login_log.phone,
        def_corp.corp_name,
        acc_app_login_log.time,
        acc_app_login_log.created_date
        FROM acc_app_login_log,def_corp
        WHERE  acc_app_login_log.corp_code=def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND  acc_app_login_log.corp_code = #{corp_code}
        </if>
        <if test="created_date_start!=null and created_date_start!=''">
            AND  acc_app_login_log.created_date &gt;= #{created_date_start}
        </if>
        <if test="created_date_end!=null and created_date_end!=''">
            AND  acc_app_login_log.created_date &lt;= #{created_date_end}
        </if>
        <if test="type=='gt'">
           AND acc_app_login_log.time  &gt;=#{time_count}
        </if>
        <if test="type=='lt'">
            AND acc_app_login_log.time  &lt;=#{time_count}
        </if>
        <if test="type=='eq'">
            AND acc_app_login_log.time =#{time_count}
        </if>
        <if test="type=='between' and count_start!=null and count_start!=''">
            AND acc_app_login_log.time  &gt;=#{count_start}
        </if>
        <if test="type=='between' and count_end!=null and count_end!=''">
            AND acc_app_login_log.time  &lt;=#{count_end}
        </if>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")"  separator="and" >
                <choose>
                    <when test="entryValue!='' and entryKey=='corp_name'">
                        def_corp.${entryKey} REGEXP #{entryValue}
                    </when>
                    <when test="entryValue!='' and entryKey=='time'">
                        acc_app_login_log.${entryKey} = #{entryValue}
                    </when>
                    <when test="entryValue!=''">
                        acc_app_login_log.${entryKey} REGEXP #{entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        GROUP BY acc_app_login_log.id
        ORDER BY acc_app_login_log.id DESC
    </select>

    <delete id="delAppLoginlogById">
        DELETE FROM acc_app_login_log
        WHERE id=#{id};
    </delete>
</mapper>