<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.AppversionMapper">

    <select id="selectAllAppversion" resultType="com.bizvane.ishop.entity.Appversion">
        SELECT *
        FROM def_app_version
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            platform LIKE concat('%', #{search_value},'%')
            OR version_id LIKE concat('%', #{search_value},'%')
            OR version_describe LIKE concat('%', #{search_value},'%')
            OR corp_code LIKE concat('%', #{search_value},'%')
            )
        </if>
        GROUP BY ID
        ORDER BY ID DESC
    </select>

    <select id="selectAllAppversionByPlatform" resultType="com.bizvane.ishop.entity.Appversion">
        SELECT *
        FROM def_app_version
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            platform LIKE concat('%', #{search_value},'%')
            )
        </if>
        GROUP BY ID
        ORDER BY ID DESC
    </select>

    <select id="selectAllScreen" resultType="com.bizvane.ishop.entity.Appversion">
    SELECT *
    FROM def_app_version
    WHERE 1 = 1
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")"  separator="and" >
            <choose>
                <when test="entryValue!=''">
                    ${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP BY id
        ORDER BY id DESC
    </select>

    <insert id="addAppversion" parameterType="com.bizvane.ishop.entity.Appversion">
        INSERT INTO  def_app_version
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="platform != null">
                platform,
            </if>
            <if test="download_addr != null">
                download_addr,
            </if>
            <if test="version_id != null">
                version_id,
            </if>
            <if test="is_force_update != null">
                is_force_update,
            </if>
            <if test="version_describe != null">
                version_describe,
            </if>
            <if test="corp_code != null">
                corp_code,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="modified_date != null">
                modified_date,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platform != null">
                #{platform},
            </if>

            <if test="download_addr != null">
                #{download_addr},
            </if>
            <if test="version_id != null">
                #{version_id},
            </if>
            <if test="is_force_update != null">
                #{is_force_update},
            </if>
            <if test="version_describe != null">
                #{version_describe},
            </if>
            <if test="corp_code != null">
                #{corp_code},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updAppversionById" parameterType="com.bizvane.ishop.entity.Appversion">
        UPDATE  def_app_version
        <trim prefix="SET" suffixOverrides=",">
            <if test="platform != null">
                platform= #{platform},
            </if>

            <if test="download_addr != null">
                download_addr= #{download_addr},
            </if>
            <if test="version_id != null">
                version_id=   #{version_id},
            </if>
            <if test="is_force_update != null">
                is_force_update=   #{is_force_update},
            </if>
            <if test="version_describe != null">
                version_describe= #{version_describe},
            </if>
            <if test="corp_code != null">
                corp_code=  #{corp_code},
            </if>
            <if test="created_date != null">
                CREATED_DATE=   #{created_date},
            </if>
            <if test="creater != null">
                CREATER= #{creater},
            </if>
            <if test="modified_date != null">
                modified_date=  #{modified_date},
            </if>
            <if test="modifier != null">
                modifier= #{modifier},
            </if>
            <if test="isactive != null">
                isactive=  #{isactive},
            </if>
        </trim>
        WHERE ID=#{id};
    </update>

    <delete id="delAppversionById">
        DELETE FROM def_app_version
        WHERE ID=#{id};
    </delete>
    <!--根据ID查询-->
    <select id="selAppversionById" resultType="com.bizvane.ishop.entity.Appversion">
        SELECT * FROM def_app_version WHERE ID=#{id};
    </select>

    <select id="selAppversionForId" resultType="com.bizvane.ishop.entity.Appversion">
        SELECT * FROM def_app_version
        WHERE corp_code=#{corp_code}
        AND version_id=#{version_id}
        AND platform = #{platform};
    </select>

    <select id="selLatestVersion" resultType="com.bizvane.ishop.entity.Appversion">
        SELECT * FROM def_app_version
        WHERE platform= 'Web'
        AND VERSION_ID = (SELECT max(VERSION_ID)
            FROM DEF_APP_VERSION
            WHERE PLATFORM= 'Web')
        AND ISACTIVE='Y'
        ORDER BY id desc
    </select>
</mapper>