<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.BrandMapper">

    <resultMap type="com.bizvane.ishop.entity.Brand" id="Brand">
        <id column="id" property="id"/>
        <result column="logo" property="logo" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="brand_code" property="brand_code"/>
        <result column="brand_name" property="brand_name"/>
        <result column="corp_code" property="corp_code"/>
        <result column="cus_user_code" property="cus_user_code"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive"/>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
    </resultMap>

    <select id="selectByBrandId" resultMap="Brand">
      SELECT
        def_brand.id,
        brand_code,
        brand_name,
        def_brand.corp_code,
        def_brand.cus_user_code,
        def_brand.modified_date,
        def_brand.modifier,
        def_brand.created_date,
        def_brand.creater,
        def_brand.isactive,
        def_corp.corp_name,
        def_brand.logo
      FROM def_brand,def_corp
      WHERE def_brand.corp_code = def_corp.corp_code
        AND def_brand.id=#{id}
    </select>

    <select id="selectByBrandCode" resultType="com.bizvane.ishop.entity.Brand">
        select *
        from def_brand
        where corp_code = #{corp_code}
        AND brand_code = #{brand_code}
        <if test="isactive != null and isactive !=''">
            AND isactive=#{isactive}
        </if>
    </select>

    <select id="selectByBrandName" resultType="com.bizvane.ishop.entity.Brand">
        SELECT *
        FROM def_brand
        WHERE corp_code=#{corp_code}
        AND brand_name=#{brand_name}
        <if test="isactive != null and isactive !=''">
            AND isactive=#{isactive}
        </if>
    </select>

    <select id="selectAllBrand" resultMap="Brand">
        select
        def_brand.id,
        brand_code,
        brand_name,
        def_brand.corp_code,
        def_brand.modified_date,
        def_brand.modifier,
        def_brand.isactive,
        def_corp.corp_name,
        def_brand.logo
        FROM def_brand,def_corp
        WHERE def_brand.corp_code = def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_brand.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (
            BRAND_CODE LIKE concat('%',#{search_value},'%')
            OR BRAND_NAME LIKE concat('%',#{search_value},'%')
            OR def_corp.corp_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY def_brand.id
        ORDER BY def_brand.id DESC
    </select>

    <select id="selectPartBrand" resultMap="Brand">
        select
        def_brand.id,
        brand_code,
        brand_name,
        def_brand.corp_code,
        def_brand.modified_date,
        def_brand.modifier,
        def_brand.isactive,
        def_corp.corp_name,
        def_brand.logo
        FROM def_brand,def_corp
        WHERE def_brand.corp_code = def_corp.corp_code
        AND def_brand.corp_code = #{corp_code}
        AND def_brand.brand_code IN
        <foreach collection="brand_code" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="search_value != null and search_value !=''">
            AND
            (
            BRAND_CODE LIKE concat('%',#{search_value},'%')
            OR BRAND_NAME LIKE concat('%',#{search_value},'%')
            OR def_corp.corp_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY def_brand.id
        ORDER BY def_brand.id DESC
    </select>

    <select id="selectBrands" resultType="com.bizvane.ishop.entity.Brand">
        SELECT *
        FROM def_brand
        WHERE corp_code = #{corp_code}
        <if test="brand_code != null and brand_code !=''">
            AND def_brand.brand_code IN
            <foreach collection="brand_code" index="index" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (
             BRAND_NAME LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND isactive = 'Y'
        GROUP By def_brand.id
        ORDER BY def_brand.id DESC
    </select>

    <delete id="deleteByBrandId">
        DELETE FROM
        def_brand
        WHERE ID=#{id}
    </delete>

    <insert id="insertBrand" parameterType="com.bizvane.ishop.entity.Brand">
        INSERT INTO def_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brand_code!=null">
                brand_code,
            </if>
            <if test="brand_name!=null">
                brand_name,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="cus_user_code!=null">
                cus_user_code,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="logo!=null">
                logo,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="brand_code!=null">
                #{brand_code},
            </if>
            <if test="brand_name!=null">
                #{brand_name},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="cus_user_code!=null">
                #{cus_user_code},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="logo!=null">
                #{logo},
            </if>
        </trim>
    </insert>

    <update id="updateBrand" parameterType="com.bizvane.ishop.entity.Brand">
        UPDATE def_brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="brand_code!=null and brand_code!=''">
                brand_code=#{brand_code},
            </if>
            <if test="brand_name!=null ">
                brand_name=#{brand_name},
            </if>
            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="cus_user_code!=null">
                cus_user_code=#{cus_user_code},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null ">
                creater=#{creater},
            </if>
            <if test="isactive!=null ">
                isactive=#{isactive},
            </if>
            <if test="logo!=null ">
                logo=#{logo},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

    <select id="getGoodsCount" resultType="java.lang.Integer">
        SELECT count(*) FROM def_goods WHERE brand_code=#{brand_code} AND corp_code=#{corp_code}
    </select>

    <select id="getStoresCount" resultType="java.lang.Integer">
        SELECT count(*) FROM def_store WHERE brand_code=#{brand_code} AND corp_code=#{corp_code}
    </select>

    <select id="selectAllBrandScreen" resultMap="Brand">
        SELECT
        db.*,
        dc.corp_name
        FROM
        def_brand db,
        def_corp dc
        WHERE db.corp_code=dc.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND db.corp_code=#{corp_code}
        </if>
        <if test="brand_code!=null">
            AND db.brand_code IN
            <foreach collection="brand_code" index="index" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    dc.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    db.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP By db.id
        ORDER BY db.id desc
    </select>
</mapper>
