<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.CodeUpdateMapper">

    <update id="updateUser">
        UPDATE def_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!='' ">
                corp_code = #{new_corp_code},
            </if>
            <if test="new_group_code!=null and new_group_code!='' ">
                group_code = #{new_group_code},
            </if>
            <if test="new_store_code!=null and new_store_code!='' ">
                store_code=replace(store_code,#{old_store_code},#{new_store_code}),
            </if>
            <if test="new_area_code!=null and new_area_code!='' ">
                area_code=replace(AREA_CODE,#{old_area_code},#{new_area_code}),
            </if>
            <if test="new_brand_code!=null and new_brand_code!='' ">
                brand_code=replace(brand_code,#{old_brand_code},#{new_brand_code}),
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_group_code!=null and old_group_code!='' ">
            AND group_code = #{old_group_code}
        </if>
        <if test="old_store_code!=null and old_store_code!='' ">
            AND store_code regexp #{old_store_code}
        </if>
        <if test="old_area_code!=null and old_area_code!='' ">
            AND area_code regexp #{old_area_code}
        </if>
        <if test="old_brand_code!=null and old_brand_code!='' ">
            AND brand_code regexp #{old_brand_code}
        </if>
    </update>

    <update id="updateStore">
        UPDATE def_store
        <trim prefix="SET" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!='' ">
                corp_code = #{new_corp_code},
            </if>
            <if test="new_brand_code!=null and new_brand_code!='' ">
                brand_code = replace(brand_code,#{old_brand_code},#{new_brand_code}),
            </if>
            <if test="new_area_code!=null and new_area_code!='' ">
                area_code = replace(area_code,#{old_area_code},#{new_area_code}),
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_brand_code!=null and old_brand_code!='' ">
            AND brand_code regexp #{old_brand_code}
        </if>
        <if test="old_area_code!=null and old_area_code!='' ">
            AND area_code regexp #{old_area_code}
        </if>
    </update>

    <update id="updateUserAchvGoal">
        UPDATE def_user_achv_goal
        <trim prefix="SET" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!='' ">
                corp_code = #{new_corp_code},
            </if>
            <if test="new_store_code!=null and new_store_code!='' ">
                store_code = #{new_store_code},
            </if>
            <if test="new_user_code!=null and new_user_code!='' ">
                user_code = #{new_user_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_store_code!=null and old_store_code!='' ">
            AND store_code = #{old_store_code}
        </if>
        <if test="old_user_code!=null and old_user_code!='' ">
            AND user_code = #{old_user_code}
        </if>
    </update>

    <update id="updateStoreAchvGoal">
        UPDATE def_store_achv_goal
        <trim prefix="SET" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!='' ">
                corp_code = #{new_corp_code},
            </if>
            <if test="new_store_code!=null and new_store_code!='' ">
                store_code = #{new_store_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_store_code!=null and old_store_code!='' ">
            AND store_code = #{old_store_code}
        </if>
    </update>

    <update id="updateSign">
        UPDATE acc_sign
        <trim prefix="SET" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!='' ">
                corp_code = #{new_corp_code},
            </if>
            <if test="new_store_code!=null and new_store_code!='' ">
                store_code = #{new_store_code},
            </if>
            <if test="new_user_code!=null and new_user_code!='' ">
                user_code = #{new_user_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_store_code!=null and old_store_code!='' ">
            AND store_code = #{old_store_code}
        </if>
        <if test="old_user_code!=null and old_user_code!='' ">
            AND user_code = #{old_user_code}
        </if>
    </update>

    <update id="updateGoods">
        UPDATE def_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!='' ">
                corp_code = #{new_corp_code},
            </if>
            <if test="new_brand_code!=null and new_brand_code!='' ">
                brand_code = #{new_brand_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_brand_code!=null and old_brand_code!='' ">
            AND brand_code = #{old_brand_code}
        </if>
    </update>

    <update id="updatePrivilege">
        UPDATE def_privilege
        <trim prefix="SET" suffixOverrides=",">
            <if test="new_master_code!=null and new_master_code!='' ">
                master_code = #{new_master_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_master_code!=null and old_master_code!='' ">
            AND master_code = #{old_master_code}
        </if>
    </update>

    <update id="updateAppVersion">
        UPDATE def_app_version
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>

    </update>

    <update id="updateGroup">
        UPDATE def_group
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
            <if test="new_role_code!=null and new_role_code!=''">
                role_code=#{new_role_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_role_code!=null and old_role_code!='' ">
            AND role_code = #{old_role_code}
        </if>
    </update>

    <update id="updateInterface">
        UPDATE def_interface
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
    </update>

    <update id="updatePraise">
        UPDATE def_praise
        <trim prefix="set" suffixOverrides=",">
            <if test="corp_code!=null and corp_code!=''">
                corp_code=#{corp_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
    </update>

    <update id="updateSmsTemplate">
        UPDATE def_sms_template
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
    </update>

    <update id="updateStaffDetailInfo">
        UPDATE def_staff_detailinfo
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
            <if test="new_user_code!=null and new_user_code!=''">
                user_code=#{new_user_code},
            </if>
            <if test="new_store_code!=null and new_store_code!=''">
                store_code=#{new_store_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_user_code!=null and old_user_code!=''">
            AND user_code=#{old_user_code}
        </if>
        <if test="old_store_code!=null and old_store_code!=''">
            AND store_code=#{old_store_code}
        </if>
    </update>

    <update id="updateStaffMoveLog">
        UPDATE def_staff_move_log
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
            <if test="new_user_code!=null and new_user_code!=''">
                user_code=#{new_user_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_user_code!=null and old_user_code!=''">
            AND user_code=#{old_user_code}
        </if>
    </update>

    <update id="updateUserMessage">
        update def_user_message
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
    </update>

    <update id="updateVipAlbum">
        UPDATE def_vip_album
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
            <if test="new_vip_code!=null and new_vip_code!=''">
                vip_code=#{new_vip_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_vip_code!=null and old_vip_code!=''">
            AND vip_code=#{old_vip_code}
        </if>
    </update>

    <update id="updateVipMessage">
        UPDATE def_vip_message
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
            <if test="new_vip_code!=null and new_vip_code!=''">
                vip_code=#{new_vip_code},
            </if>
            <if test="new_user_code!=null and new_user_code!=''">
                user_code=#{new_user_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_vip_code!=null and old_vip_code!=''">
            AND vip_code=#{old_vip_code}
        </if>
        <if test="old_user_code!=null and old_user_code!=''">
            AND user_code=#{old_user_code}
        </if>
    </update>

    <update id="updateVipRecord">
        UPDATE def_vip_record
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
            <if test="new_vip_code!=null and new_vip_code!=''">
                vip_code=#{new_vip_code},
            </if>
            <if test="new_user_code!=null and new_user_code!=''">
                user_code=#{new_user_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_vip_code!=null and old_vip_code!=''">
            AND vip_code=#{old_vip_code}
        </if>
        <if test="old_user_code!=null and old_user_code!=''">
            AND user_code=#{old_user_code}
        </if>
    </update>

    <update id="updateVipRecordType">
        UPDATE def_vip_record_type
        <trim prefix="set" suffixOverrides=",">
            <if test="corp_code!=null and corp_code!=''">
                corp_code=#{corp_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
    </update>

    <update id="updateVipLabel">
        UPDATE def_viplabel
        <trim prefix="set" suffixOverrides=",">
            <if test="corp_code!=null and corp_code!=''">
                corp_code=#{corp_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
    </update>

    <update id="updateRelVipLabel">
        UPDATE rel_vip_label
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
            <if test="new_store_code!=null and new_store_code!='' ">
                store_code = #{new_store_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
        <if test="old_store_code!=null and old_store_code!='' ">
            AND store_code = #{old_store_code}
        </if>
    </update>

    <update id="updateRelVipStore">
        UPDATE rel_vip_store
        <trim prefix="set" suffixOverrides=",">
            <if test="new_store_id!=null and new_store_id!='' ">
                store_id = #{new_store_id},
            </if>
        </trim>
        WHERE app_user_name = #{app_user_name}
        <if test="old_store_id!=null and old_store_id!='' ">
            AND store_id = #{old_store_id}
        </if>
    </update>

    <update id="updateRelCorpWechat">
        UPDATE rel_corp_wechat
        <trim prefix="set" suffixOverrides=",">
            <if test="new_corp_code!=null and new_corp_code!=''">
                corp_code=#{new_corp_code},
            </if>
        </trim>
        WHERE 1=1
        <if test="old_corp_code!=null and old_corp_code!='' ">
            AND corp_code = #{old_corp_code}
        </if>
    </update>

    <update id="updateTemplateType">
        UPDATE def_sms_template
        <trim prefix="set" suffixOverrides=",">
            <if test="new_template_type!=null ">
                template_type=#{new_template_type},
            </if>
        </trim>
        WHERE template_type=#{old_template_type}
        AND corp_code = #{corp_code}
    </update>

</mapper>