<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.CorpMapper">
    <resultMap id="CorpInfo" type="com.bizvane.ishop.entity.Corp">
        <id column="id" property="id"/>
        <result column="corp_code" property="corp_code"/>
        <result column="corp_name" property="corp_name"/>
        <result column="address" property="address"/>
        <result column="contact" property="contact"/>
        <result column="contact_phone" property="contact_phone"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="created_date" property="created_date"/>
        <result column="creater" property="creater"/>
        <result column="isactive" property="isactive"/>
    </resultMap>

    <select id="selectByCorpName" resultMap="CorpInfo">
        SELECT * FROM def_corp
        WHERE corp_name=#{corp_name}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="selectByCorpId" resultType="com.bizvane.ishop.entity.Corp">
        SELECT *
        FROM def_corp
        WHERE 1=1
        <if test="corp_id != 0">
            AND id = #{corp_id}
        </if>
        <if test="corp_code != null and corp_code !=''">
            AND corp_code = #{corp_code}
        </if>
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="selectAllCorp" resultMap="CorpInfo">
        SELECT *
        FROM def_corp
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            corp_name LIKE concat('%', #{search_value},'%')
            OR corp_code LIKE concat('%', #{search_value},'%')
            OR address LIKE concat('%', #{search_value},'%')
            OR contact LIKE concat('%', #{search_value},'%')
            OR contact_phone LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY id DESC
    </select>

    <select id="getAreaCount" resultType="int">
        SELECT count(*) FROM def_area WHERE corp_code=#{corp_code}
    </select>

    <select id="selectCorps" resultMap="CorpInfo">
        SELECT *
        FROM def_corp
        WHERE isactive = 'Y'
        ORDER BY id DESC
    </select>

    <select id="selectMaxCorpCode" resultType="java.lang.String">
    select max(CORP_CODE) from DEF_CORP
    </select>

    <insert id="insertCorp" parameterType="com.bizvane.ishop.entity.Corp">
        insert into DEF_CORP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corp_name != null">
                CORP_NAME,
            </if>
            <if test="corp_code != null">
                CORP_CODE,
            </if>
            <if test="address != null">
                ADDRESS,
            </if>
            <if test="contact != null">
                CONTACT,
            </if>
            <if test="contact_phone != null">
                CONTACT_PHONE,
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
            <if test="avater!=null ">
                avater,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="corp_name != null">
                #{corp_name},
            </if>
            <if test="corp_code != null">
                #{corp_code},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="contact != null">
                #{contact},
            </if>
            <if test="contact_phone != null">
                #{contact_phone},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
            <if test="avater!=null ">
                #{avater},
            </if>
        </trim>

    </insert>

    <update id="updateByCorpId" parameterType="com.bizvane.ishop.entity.Corp">
        UPDATE DEF_CORP
        <trim prefix="SET" suffixOverrides=",">
            <if test="corp_name != null">
                corp_name = #{corp_name},
            </if>
            <if test="corp_code != null">
                corp_code = #{corp_code},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="contact != null">
                contact = #{contact},
            </if>
            <if test="contact_phone != null">
                contact_phone = #{contact_phone},
            </if>
            <if test="modified_date != null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="created_date != null">
                created_date = #{created_date},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="isactive != null">
                isactive = #{isactive},
            </if>
            <if test="avater!=null">
                avater=#{avater},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>

    <delete id="deleteByCorpId">
        delete from
        DEF_CORP
        where ID = #{id}
    </delete>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM DEF_CORP
        WHERE 1=1
        <if test="created_date !=''">
            AND created_date LIKE concat(#{created_date},'%')
        </if>
    </select>

    <select id="getBrandCount" resultType="java.lang.Integer">
        select count(*) from DEF_BRAND WHERE corp_code=#{corp_code}
    </select>

    <select id="getGoodCount" resultType="java.lang.Integer">
        select count(*) from DEF_GOODS WHERE corp_code=#{corp_code}
    </select>


    <select id="getGroupCount" resultType="java.lang.Integer">
        select count(*) from DEF_GROUP WHERE corp_code=#{corp_code}
    </select>

    <select id="selectAllCorpScreen" resultMap="CorpInfo">
        select *
        from DEF_CORP
        where
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")" separator="and">
            ${entryKey} LIKE concat('%', #{entryValue},'%')
        </foreach>
        ORDER BY id DESC

    </select>

    <select id="getMessageTypeCount" resultType="java.lang.Integer">
        select count(*) from def_message_type where corp_code=#{corp_code}
    </select>

    <select id="selectWByAppUserName" resultType="com.bizvane.ishop.entity.CorpWechat">
        SELECT id,
        app_id,
        app_name,
        corp_code,
        is_authorize
        FROM rel_corp_wechat
        WHERE app_user_name = #{app_user_name}
    </select>

    <select id="selectWByAppId" resultType="com.bizvane.ishop.entity.CorpWechat">
        SELECT id,
        app_id,
        app_name,
        corp_code,
        is_authorize
        FROM rel_corp_wechat
        WHERE app_id = #{app_id}
    </select>

    <select id="selectWByCorp" resultType="com.bizvane.ishop.entity.CorpWechat">
        SELECT id,
        app_id,
        app_name,
        corp_code,
        is_authorize
        FROM rel_corp_wechat
        WHERE corp_code = #{corp_code}
        AND isactive = 'Y'
    </select>

    <insert id="insertCorpWechat" parameterType="com.bizvane.ishop.entity.CorpWechat">
        INSERT INTO rel_corp_wechat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corp_code != null">
                corp_code,
            </if>
            <if test="app_id != null">
                app_id,
            </if>
            <if test="app_name != null">
                app_name,
            </if>
            <if test="is_authorize != null">
                is_authorize,
            </if>
            <if test="modified_date != null">
                modified_date,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                created_date,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="corp_code != null">
                #{corp_code},
            </if>
            <if test="app_id != null">
                #{app_id},
            </if>
            <if test="app_name != null">
                #{app_name},
            </if>
            <if test="is_authorize != null">
                #{is_authorize},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>

    </insert>

    <update id="updateCorpWechat" parameterType="com.bizvane.ishop.entity.CorpWechat">
        UPDATE rel_corp_wechat
        <trim prefix="SET" suffixOverrides=",">
            <if test="corp_code != null">
                corp_code = #{corp_code},
            </if>
            <if test="app_id != null">
                app_id = #{app_id},
            </if>
            <if test="app_name != null">
                app_name = #{app_name},
            </if>
            <if test="is_authorize != null">
                is_authorize = #{is_authorize},
            </if>
            <if test="modified_date != null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="created_date != null">
                created_date = #{created_date},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="isactive != null">
                isactive = #{isactive},
            </if>
        </trim>
        WHERE id = #{id};
    </update>

    <delete id="deleteCorpWechat">
        DELETE FROM
        rel_corp_wechat
        WHERE app_id = #{app_id}
    </delete>
</mapper>