<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.UserInfoMapper">

    <select id="selectByCorpId" resultType="com.bizvane.ishop.entity.CorpInfo">
        select *
        from DEF_CORP
        where
        <if test="corp_id != 0">
            ID = #{corp_id}
        </if>
        <if test="corp_code != null and corp_code !=''">
            CORP_CODE = #{corp_code}
        </if>
    </select>

    <select id="selectAllCorp" resultType="com.bizvane.ishop.entity.CorpInfo">
        select *
        from DEF_CORP
        where 1 = 1
        <if test="search_value != null and search_value !=''">
            AND USER_NAME like #{search_value}
            OR USER_CODE like #{search_value}
            OR PHONE like #{search_value}
            OR SEX like #{search_value}
            OR ROLE_CODE like #{search_value}
            OR CORP_CODE like #{search_value}
            OR MODIFIER like #{search_value}
        </if>
        ORDER BY ID
    </select>

    <insert id="insertCorp" parameterType="com.bizvane.ishop.entity.CorpInfo">
        insert into DEF_CORP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
            password,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null">
                #{phone},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="password != null">
                #{password},
            </if>
        </trim>
    </insert>

    <update id="updateByCorpId" parameterType="com.bizvane.ishop.entity.UserInfo">
        UPDATE DEF_CORP
        <trim prefix="SET" suffixOverrides=",">
            <if test="NAME!=null and NAME!='' ">
                NAME = #{user_name},
            </if>
            <if test="SEX!=null and SEX!='' ">
                SEX = #{sex},
            </if>
            <if test="BIRTHDAY!=null and SEX!='' ">
                BIRTHDAY = #{birthday},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>

    <delete id="deleteByCorpId">
        delete from
        DEF_CORP
        where ID = #{id}
    </delete>
</mapper>