<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.CorpParamMapper">
    <select id="selectById" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT
        rcc.*,
        dcc.param_type,
        dcc.param_name,
        dcc.param_values,
        dcc.param_desc
        FROM rel_corp_cfg rcc,def_corp_cfg dcc
        WHERE rcc.param_id=dcc.id
        AND  rcc.id=#{id}
    </select>

    <select id="selectAllParam" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT
        rcc.*,
        dc.corp_name,
        dcc.param_name,
        dcc.param_desc
        FROM rel_corp_cfg rcc,def_corp_cfg dcc,def_corp dc
        WHERE rcc.param_id=dcc.id
        AND dc.corp_code=rcc.corp_code
        <if test="search_value != null and search_value !=''">
            AND
            (rcc.param_value like concat('%',#{search_value},'%')
            OR rcc.corp_code like concat('%',#{search_value},'%')
            OR dc.corp_name like concat('%',#{search_value},'%')
            OR dcc.param_desc like concat('%',#{search_value},'%')
            OR rcc.remark like concat('%',#{search_value},'%')
            )
        </if>
        GROUP By rcc.id
        ORDER BY rcc.id DESC
    </select>

    <select id="selectByCorpParam" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT *
        FROM rel_corp_cfg
        WHERE corp_code = #{corp_code}
        AND  param_id=#{param_id}
        <if test="isactive != null and isactive !=''">
        AND isactive = #{isactive}
        </if>
    </select>

    <select id="selectByParamName" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT *
        FROM def_corp_cfg
        WHERE 1=1
        AND  param_name=#{param_name}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="selectByParamId" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT *
        FROM rel_corp_cfg
        WHERE param_id=#{param_id}
        AND isactive = 'Y'
    </select>

    <delete id="deleteById">
        DELETE FROM
        rel_corp_cfg
        WHERE id=#{id}
    </delete>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.CorpParam">
        INSERT INTO rel_corp_cfg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="param_id!=null">
                param_id,
            </if>
            <if test="param_value!=null">
                param_value,
            </if>
            <if test="remark!=null">
                remark,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="param_id!=null">
                #{param_id},
            </if>
            <if test="param_value!=null">
                #{param_value},
            </if>

            <if test="remark!=null">
                #{remark},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bizvane.ishop.entity.CorpParam">
        UPDATE rel_corp_cfg
        <trim prefix="SET" suffixOverrides=",">
            <if test="corp_code!=null ">
                corp_code=#{corp_code},
            </if>
            <if test="param_id!=null ">
                param_id=#{param_id},
            </if>
            <if test="param_value!=null ">
                param_value=#{param_value},
            </if>

            <if test="remark!=null ">
                remark=#{remark},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null ">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null ">
                creater=#{creater},
            </if>
            <if test="isactive!=null ">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

    <select id="selectAllParamScreen" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT
        rcc.*,
        dcc.param_desc,
        dcc.param_name
        FROM rel_corp_cfg rcc,def_corp dc,def_corp_cfg dcc
        WHERE dcc.id=rcc.param_id
        <if test="corp_code!=null and corp_code!=''">
            AND dc.corp_code=#{corp_code}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryKey=='corp_name' and entryValue!=''">
                    <if test="entryValue == '全部'">
                        rcc.corp_code = 'all'
                    </if>
                    <if test="entryValue != '全部'">
                        rcc.corp_code = dc.corp_code
                        AND dc.${entryKey} REGEXP ${entryValue}
                    </if>
                </when>
                <when test="entryValue!='' and entryKey=='param_name'">
                    dcc.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='param_desc'">
                    dcc.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    rcc.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>

            </choose>
        </foreach>
        GROUP By rcc.id
        ORDER BY rcc.id DESC
    </select>


    <select id="selectParamByName" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT rel_corp_cfg.*
        FROM rel_corp_cfg ,def_corp_cfg
        WHERE rel_corp_cfg.corp_code = #{corp_code}
        AND rel_corp_cfg.param_id = def_corp_cfg.id
        AND  def_corp_cfg.param_name=#{param_name}
        AND rel_corp_cfg.isactive = 'Y'
        AND def_corp_cfg.isactive = 'Y'
    </select>

</mapper>
