<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.CorpParamMapper">

    <select id="selectById" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT
        rcc.*,
        dc.corp_name
        FROM rel_corp_cfg rcc,def_corp dc
        WHERE rcc.corp_code = dc.corp_code
        AND  rcc.id=#{id}
    </select>

    <select id="selectAllParam" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT
        rcc.*,
        dcc.param_name,
        dc.corp_name
        FROM rel_corp_cfg rcc,def_corp dc,def_corp_cfg dcc
        WHERE rcc.corp_code = dc.corp_code
          AND  rcc.param_id=dcc.id
        <if test="search_value != null and search_value !=''">
            AND
            (rcc.corp_code like concat('%',#{search_value},'%')
            OR dc.corp_name like concat('%',#{search_value},'%')
            OR dcc.param_name like concat('%',#{search_value},'%')
            OR rcc.MODIFIED_DATE like concat('%',#{search_value},'%')
            OR rcc.param_value like concat('%',#{search_value},'%')
            OR rcc.MODIFIER like concat('%',#{search_value},'%')
            OR rcc.remark like concat('%',#{search_value},'%')
            OR rcc.ISACTIVE like concat('%',#{search_value},'%')
            )
        </if>
        ORDER BY rcc.id DESC
    </select>

    <select id="selectByCorpParam" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT *
        FROM rel_corp_cfg
        WHERE corp_code = #{corp_code}
        AND  param_id=#{param_id}
        AND isactive = 'Y'
    </select>

    <select id="selectByParamId" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT *
        FROM rel_corp_cfg
        WHERE param_id=#{param_id}
        AND isactive = 'Y'
    </select>

    <delete id="deleteById">
        delete from
        rel_corp_cfg
        where id=#{id}
    </delete>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.CorpParam">
        INSERT INTO rel_corp_cfg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="param_id!=null">
                param_id,
            </if>
            <if test="param_value!=null">
                param_value,
            </if>
            <if test="remark!=null">
                remark,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="param_id!=null">
                #{param_id},
            </if>
            <if test="param_value!=null">
                #{param_value},
            </if>

            <if test="remark!=null">
                #{remark},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bizvane.ishop.entity.CorpParam">
        UPDATE rel_corp_cfg
        <trim prefix="SET" suffixOverrides=",">
            <if test="corp_code!=null and corp_code!=''">
                corp_code=#{corp_code},
            </if>
            <if test="param_id!=null and param_id!=''">
                param_id=#{param_id},
            </if>
            <if test="param_value!=null and param_value!=''">
                param_value=#{param_value},
            </if>

            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null and creater!=''">
                creater=#{creater},
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

    <select id="selectAllParamScreen" resultType="com.bizvane.ishop.entity.CorpParam">
        SELECT
        rcc.*,
        dc.corp_name,
        dcc.param_name
        FROM rel_corp_cfg rcc,def_corp dc,def_corp_cfg dcc
        WHERE rcc.corp_code = dc.corp_code
        AND dcc.id=rcc.param_id
        <if test="corp_code!=null and corp_code!=''">
            AND dc.corp_code=#{corp_code}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryKey=='corp_name'">
                    dc.${entryKey} LIKE concat('%',#{entryValue},'%')
                </when>
                <when test="entryKey=='param_name'">
                    dcc.${entryKey} LIKE concat('%',#{entryValue},'%')
                </when>
                <when test="entryValue!=''">
                    rcc.${entryKey} LIKE concat('%',#{entryValue},'%')
                </when>
                <otherwise>
                    1=1
                </otherwise>

            </choose>
        </foreach>

        ORDER BY rcc.id DESC
    </select>
</mapper>
