<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.DefGoodsMatchMapper">
    <select id="selectMatchGoods" resultType="com.bizvane.ishop.entity.DefGoodsMatch">
        SELECT dgm.*,
        dg.goods_image
        FROM def_goods_match dgm,def_goods dg
--         ,def_brand db
        WHERE dgm.corp_code = dg.corp_code
        AND dgm.goods_code = dg.goods_code
--         AND dg.corp_code = db.corp_code
--         AND dg.brand_code = db.brand_code
        <if test="corp_code!=null and corp_code!=''">
            AND dgm.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                dgm.corp_code =#{item}
            </foreach>
        </if>
        AND dg.isactive ='Y'
        ORDER BY dgm.goods_match_code DESC
    </select>

    <select id="selMatchBySeach" resultType="com.bizvane.ishop.entity.DefGoodsMatch">
        SELECT dgm.*,
        dg.goods_image
        FROM def_goods_match dgm,def_goods dg
        WHERE dgm.corp_code = dg.corp_code
        AND dgm.goods_code = dg.goods_code
        <if test="corp_code!=null and corp_code!=''">
            AND dgm.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                dgm.corp_code =#{item}
            </foreach>
        </if>
        AND dgm.goods_match_code in
        (SELECT goods_match_code FROM def_goods_match
        WHERE 1=1 AND (
        goods_code like concat('%',#{search_value},'%')
        OR goods_match_title LIKE concat ('%',#{search_value},'%')
        OR corp_code LIKE concat ('%',#{search_value},'%')
        ))
        AND dg.isactive ='Y'
        ORDER BY dgm.goods_match_code DESC
    </select>

    <select id="selectMatchByCode" resultType="com.bizvane.ishop.entity.DefGoodsMatch">
        SELECT dgm.*,
        dg.goods_image
        FROM def_goods_match dgm,def_goods dg
        WHERE dgm.corp_code = dg.corp_code
        AND dgm.goods_code = dg.goods_code
        <if test="corp_code!=null and corp_code!=''">
            AND dgm.corp_code=#{corp_code}
        </if>
        <if test="goods_match_code!=null and goods_match_code!=''">
            AND dgm.goods_match_code = #{goods_match_code}
        </if>
        AND dg.isactive ='Y'
        ORDER BY dgm.goods_match_code DESC
    </select>

    <delete id="delMatchByCode">
        DELETE FROM def_goods_match
        WHERE corp_code = #{corp_code} AND goods_match_code= #{goods_match_code}
    </delete>

    <delete id="delMatchById">
        DELETE FROM def_goods_match
        WHERE id = #{id}
    </delete>

    <insert id="addMatch" parameterType="com.bizvane.ishop.entity.DefGoodsMatch">
        INSERT INTO def_goods_match
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goods_match_code!=null ">
                goods_match_code,
            </if>
            <if test="corp_code!=null ">
                corp_code,
            </if>
            <if test="goods_code!=null">
                goods_code,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null ">
                creater,
            </if>
            <if test="isactive!=null ">
                isactive,
            </if>
            <if test="goods_match_title!=null ">
                goods_match_title,
            </if>
            <if test="goods_match_desc!=null ">
                goods_match_desc,
            </if>
            <if test="match_display!=null ">
                match_display,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="goods_match_code!=null ">
                #{goods_match_code},
            </if>
            <if test="corp_code!=null ">
                #{corp_code},
            </if>
            <if test="goods_code!=null">
                #{goods_code},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null ">
                #{creater},
            </if>
            <if test="isactive!=null ">
                #{isactive},
            </if>
            <if test="goods_match_title!=null ">
                #{goods_match_title},
            </if>
            <if test="goods_match_desc!=null ">
                #{goods_match_desc},
            </if>
            <if test="match_display!=null ">
                #{match_display},
            </if>

        </trim>
    </insert>

    <update id="updMatch" parameterType="com.bizvane.ishop.entity.DefGoodsMatch">
        update def_goods_match
        <trim prefix="set" suffixOverrides=",">
            <if test="goods_match_code!=null ">
                goods_match_code= #{goods_match_code},
            </if>
            <if test="corp_code!=null ">
                corp_code= #{corp_code},
            </if>
            <if test="goods_code!=null">
                goods_code= #{goods_code},
            </if>
            <if test="modified_date!=null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier!=null">
                modifier = #{modifier},
            </if>
            <if test="created_date!=null">
                created_date = #{created_date},
            </if>
            <if test="creater!=null ">
                creater= #{creater},
            </if>
            <if test="isactive!=null ">
                isactive = #{isactive},
            </if>
            <if test="goods_match_title!=null ">
                goods_match_title = #{goods_match_title},
            </if>
            <if test="goods_match_desc!=null ">
                goods_match_desc =  #{goods_match_desc},
            </if>
            <if test="match_display!=null ">
                match_display =  #{match_display},
            </if>
        </trim>
        where id=#{id}
    </update>

    <select id="selectGoodsMatchList" resultType="com.bizvane.ishop.entity.DefGoodsMatch">
        SELECT dgm.goods_match_title,
        dgm.goods_code,
        dgm.corp_code,
        dgm.goods_match_code,
         dgm.match_display,
        dg.id,
        dg.goods_image
        FROM def_goods_match dgm, def_goods dg, def_corp dc,def_brand db
        WHERE dgm.corp_code = dg.corp_code
        AND dgm.corp_code = dc.corp_code
        AND dgm.corp_code = db.corp_code
        AND dgm.goods_code = dg.goods_code
        AND dg.brand_code = db.brand_code
        AND dgm.corp_code = #{corp_code}
        AND goods_match_code IN (SELECT goods_match_code from def_goods_match
        WHERE goods_code = #{goods_code} AND corp_code = #{corp_code})
        AND dgm.isactive = 'Y'
        AND dg.isactive = 'Y'
        AND dc.isactive = 'Y'
        AND db.isactive = 'Y'
        ORDER BY dgm.id DESC
    </select>
    <select id="selGoodsCodeByUpd" resultType="com.bizvane.ishop.entity.DefGoodsMatch">
        SELECT dgm.id ,dgm.goods_code FROM def_goods_match dgm
        WHERE dgm.corp_code=#{corp_code}
        AND dgm.goods_code=#{goods_code}
    </select>
    <update id="updGoodsCode"  parameterType="com.bizvane.ishop.entity.DefGoodsMatch">
        UPDATE def_goods_match SET goods_code = #{goods_code} WHERE id=#{id}
    </update>
</mapper>