<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.ErrorLogMapper">
    <resultMap type="com.bizvane.ishop.entity.ErrorLog" id="ErrorLog">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="app_platform" property="app_platform"/>
        <result column="corp_code" property="corp_code"/>
        <result column="version" property="version"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="created_date" property="created_date"/>
        <result column="creater" property="creater"/>
        <result column="isactive" property="isactive"/>
    </resultMap>

    <select id="selectByLogId" resultMap="ErrorLog">
        SELECT
        def_error_log.ID,
        CONTENT,
        APP_PLATFORM,
       def_error_log.CORP_CODE,
       VERSION,
       def_error_log.created_date,
        def_error_log.creater,
        modified_date,
        modifier,
         def_error_log.ISACTIVE
        FROM def_error_log
        WHERE def_error_log.id=#{id}
    </select>

    <select id="selectAllLog" resultMap="ErrorLog">
        SELECT
        def_error_log.id,
        content,
        app_platform,
        corp_code,
        version,
        def_error_log.CREATED_DATE,
        def_error_log.CREATER,
        def_error_log.MODIFIED_DATE,
        def_error_log.MODIFIER,
        def_error_log.ISACTIVE
        from def_error_log
      WHERE 1=1
        <if test="search_value != null and search_value !=''">
     AND (def_error_log.APP_PLATFORM like concat('%',#{search_value},'%')
            OR def_error_log.CORP_CODE like concat('%',#{search_value},'%')
            OR def_error_log.VERSION like concat('%',#{search_value},'%')
            )
        </if>
        ORDER BY def_error_log.id DESC
    </select>

    <select id="selectAllLogScreen" resultMap="ErrorLog">
        SELECT
        def_error_log.*
        FROM def_error_log
        WHERE
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryKey!=''">
                    def_error_log.${entryKey} LIKE concat('%',#{entryValue},'%')
                </when>
                <otherwise>
                   1=1
                </otherwise>
            </choose>
        </foreach>
        ORDER BY def_error_log.id DESC
    </select>

    <delete id="deleteByLogId">
        delete from
        def_error_log
        where ID=#{id}
    </delete>

</mapper>
