<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.FeedbackMapper">

    <select id="selectAllFeedback" resultType="com.bizvane.ishop.entity.Feedback">
        SELECT *
        FROM def_feedback
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            user_code LIKE concat('%', #{search_value},'%')
            OR feedback_content LIKE concat('%', #{search_value},'%')
            OR phone LIKE concat('%', #{search_value},'%')
            OR feedback_date LIKE concat('%',#{search_value},'%')
            OR process_state LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY id DESC
    </select>
    <select id="selectAllScreen" resultType="com.bizvane.ishop.entity.Feedback">
    SELECT *
    FROM def_feedback
    WHERE 1 = 1
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")"  separator="and" >
            ${entryKey} REGEXP #{entryValue}
        </foreach>
        ORDER BY id DESC
    </select>
    <insert id="addFeedback" parameterType="com.bizvane.ishop.entity.Feedback">
        INSERT INTO  def_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">

        <if test="user_code != null">
            user_code,
        </if>
        <if test="feedback_content != null">
            feedback_content,
        </if>
        <if test="phone != null">
            phone,
        </if>
        <if test="feedback_date != null">
            feedback_date,
        </if>
        <if test="process_state != null">
            process_state,
        </if>
        <if test="created_date != null">
            created_date,
        </if>
        <if test="creater != null">
            creater,
        </if>
        <if test="modified_date != null">
            modified_date,
        </if>
        <if test="modifier != null">
            modifier,
        </if>
        <if test="isactive != null">
            isactive,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user_code != null">
               #{user_code},
            </if>

            <if test="feedback_content != null">
                #{feedback_content},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="feedback_date != null">
                #{feedback_date},
            </if>
            <if test="process_state != null">
                #{process_state},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>
    <update id="updFeedbackById" parameterType="com.bizvane.ishop.entity.Feedback">
        UPDATE  def_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="user_code != null">
                user_code =   #{user_code},
            </if>

            <if test="feedback_content != null">
                feedback_content= #{feedback_content},
            </if>
            <if test="phone != null">
                phone=   #{phone},
            </if>
            <if test="feedback_date != null">
                feedback_date= #{feedback_date},
            </if>
            <if test="process_state != null">
                process_state=   #{process_state},
            </if>
            <if test="created_date != null">
                created_date=  #{created_date},
            </if>
            <if test="creater != null">
                creater=  #{createra},
            </if>
            <if test="modified_date != null">
                modified_date=   #{modified_date},
            </if>
            <if test="modifier != null">
                modifier=  #{modifier},
            </if>
            <if test="isactive != null">
                isactive=  #{isactive},
            </if>
        </trim>
        WHERE ID=#{id};
    </update>
    <delete id="delFeedbackById">
        DELETE FROM def_feedback
        WHERE ID=#{id};
    </delete>
    <!--根据ID查询-->
    <select id="selFeedbackById" resultType="com.bizvane.ishop.entity.Feedback">
      SELECT * FROM def_feedback WHERE ID=#{id};
    </select>
</mapper>