<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.FeedbackMapper">

    <select id="selectAllFeedback" resultType="com.bizvane.ishop.entity.Feedback">
        SELECT *
        FROM def_feedback
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            USER_CODE LIKE concat('%', #{search_value},'%')
            OR FEEDBACK_CONTENT LIKE concat('%', #{search_value},'%')
            OR PHONE LIKE concat('%', #{search_value},'%')
            OR FEEDBACK_DATE LIKE concat('%',#{search_value},'%')
            OR PROCESS_STATE LIKE concat('%', #{search_value},'%')
            OR ISACTIVE LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY USER_CODE
    </select>
</mapper>