<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.FunctionMapper">

    <select id="selectAllFun" resultType="com.bizvane.ishop.entity.Function">
        select *
        from DEF_FUNCTION WHERE FUNCTION_CODE IN (
        SELECT FUNCTION_CODE FROM DEF_PRIVILEGE
        WHERE MASTER_CODE = #{user_id}
        or MASTER_CODE = #{role_code}
        or MASTER_CODE = #{group_code}
        and enable = 'Y')
        and ISACTIVE = 'Y'
        order by FUNCTION_CODE
    </select>

    <select id="selectAll" resultType="com.bizvane.ishop.entity.Function">
        select *
        from DEF_FUNCTION
        WHERE  ISACTIVE = 'Y'
        AND ADMIN_FUNC = 'Y'
        order by FUNCTION_CODE
    </select>

    <select id="selectActionByFun" resultType="com.bizvane.ishop.entity.Action">
       select *
        from DEF_ACTION WHERE ACTION_CODE IN (
        SELECT ACTION_CODE FROM DEF_PRIVILEGE
        WHERE MASTER_CODE = #{user_id}
        or MASTER_CODE = #{role_code}
        or MASTER_CODE = #{group_code}
        and enable = 'Y'
        and FUNCTION_CODE = #{function_code})
    </select>

    <select id="selectAllAction" resultType="com.bizvane.ishop.entity.Action">
        select * from DEF_ACTION
        where ISACTIVE = 'Y'
        and function_code = #{function_code}
    </select>


    <select id="selectRolePrivilege" resultType="com.bizvane.ishop.entity.Function">
        select *
        FROM DEF_ACTION a,DEF_FUNCTION b
        WHERE a.FUNCTION_CODE = b.FUNCTION_CODE
        AND  a.FUNCTION_CODE IN (
        SELECT FUNCTION_CODE FROM DEF_PRIVILEGE
        WHERE MASTER_CODE = #{role_code}
        and enable = 'Y'
        )
        AND a.ISACTIVE = 'Y'
        AND b.ISACTIVE = 'Y'
        order by a.FUNCTION_CODE
    </select>
    <select id="selectGroupPrivilege" resultType="com.bizvane.ishop.entity.Function">
        select *
        FROM DEF_ACTION a,DEF_FUNCTION b
        WHERE a.FUNCTION_CODE = b.FUNCTION_CODE
        AND  a.FUNCTION_CODE IN (
        SELECT FUNCTION_CODE FROM DEF_PRIVILEGE
        WHERE MASTER_CODE = #{group_code}
        and enable = 'Y'
        )
        AND a.ISACTIVE = 'Y'
        AND b.ISACTIVE = 'Y'
        order by a.FUNCTION_CODE
    </select>
    <select id="selectUserPrivilege" resultType="com.bizvane.ishop.entity.Function">
        select *
        FROM DEF_ACTION a,DEF_FUNCTION b
        WHERE a.FUNCTION_CODE = b.FUNCTION_CODE
        AND  a.FUNCTION_CODE IN (
        SELECT FUNCTION_CODE FROM DEF_PRIVILEGE
        WHERE MASTER_CODE = #{user_id}
        and enable = 'Y'
        )
        AND a.ISACTIVE = 'Y'
        AND b.ISACTIVE = 'Y'
        order by a.FUNCTION_CODE
    </select>

    <select id="selectPrivilege" resultType="com.bizvane.ishop.entity.Function">
        select *
        FROM DEF_ACTION a,DEF_FUNCTION b
        WHERE a.FUNCTION_CODE = b.FUNCTION_CODE
        AND  a.FUNCTION_CODE IN (
        SELECT FUNCTION_CODE FROM DEF_PRIVILEGE
        WHERE MASTER_CODE = #{group_code}
        OR MASTER_CODE = #{role_code}
        <if test="user_id!=0">
        OR MASTER_CODE = #{user_id}
        </if>
        and enable = 'Y'
        )
        AND a.ISACTIVE = 'Y'
        AND b.ISACTIVE = 'Y'
        order by a.FUNCTION_CODE
    </select>

    <select id="selectAllPrivilege" resultType="com.bizvane.ishop.entity.Function">
        select *
        FROM DEF_ACTION a,DEF_FUNCTION b
        WHERE a.FUNCTION_CODE = b.FUNCTION_CODE
        AND b.ADMIN_FUNC = 'Y'
        AND a.ISACTIVE = 'Y'
        AND b.ISACTIVE = 'Y'
        order by a.FUNCTION_CODE
    </select>

</mapper>