<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.FunctionMapper">

    <resultMap id="privilege" type="com.bizvane.ishop.entity.Privilege">
        <id column="id" property="id"/>
        <result column="action_code" property="action_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="action_name" property="action_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="function_code" property="function_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="master_code" property="master_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="column_code" property="column_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <select id="selectAllFun" resultType="com.bizvane.ishop.entity.Function">
        SELECT *
        FROM def_function WHERE function_code IN (
        SELECT dp.function_code FROM def_privilege  AS dp,def_action AS da
        WHERE dp.function_code = da.function_code
        AND da.action_name = 'show'
        AND (dp.master_code = #{user_code} OR dp.master_code = #{role_code} OR dp.master_code = #{group_code})
        AND dp.enable = 'Y'
        AND dp.isactive = 'Y'
        GROUP BY dp.function_code )
        AND isactive = 'Y'
        AND show_order IS NOT NULL
        AND show_order != ''
        ORDER BY show_order
    </select>

    <select id="selectActionByFun" resultMap="privilege">
       SELECT *
        FROM def_action a, def_privilege p
        WHERE a.action_code = p.action_code
        AND a.function_code = p.function_code
        AND p.function_code = #{function_code}
        AND (p.master_code = #{user_code}
            OR p.master_code = #{role_code}
            OR p.master_code = #{group_code})
        AND p.enable = 'Y'
        AND p.isactive = 'Y'
        AND a.isactive = 'Y'
        ORDER BY a.action_code
    </select>

    <select id="selectRolePrivilege" resultType="com.bizvane.ishop.entity.Function">
        SELECT *
        FROM def_action a,def_function b,def_privilege p
        WHERE a.function_code = b.function_code
        AND a.action_code = p.action_code
        AND a.function_code = p.function_code
        AND p.master_code = #{role_code}
        AND p.isactive = 'Y'
        AND a.isactive = 'Y'
        AND b.isactive = 'Y'
        ORDER BY b.show_order
    </select>

    <select id="selectGroupPrivilege" resultType="com.bizvane.ishop.entity.Function">
        SELECT *
        FROM def_action a,def_function b,def_privilege p
        WHERE a.function_code = b.function_code
        AND a.action_code = p.action_code
        AND a.function_code = p.function_code
        AND p.master_code = #{group_code}
        AND p.isactive = 'Y'
        AND a.isactive = 'Y'
        AND b.isactive = 'Y'
        ORDER BY b.show_order
    </select>

    <select id="selectUserPrivilege" resultType="com.bizvane.ishop.entity.Function">
        SELECT *
        FROM def_action a,def_function b,def_privilege p
        WHERE a.function_code = b.function_code
        AND a.action_code = p.action_code
        AND a.function_code = p.function_code
        AND p.master_code = #{user_code}
        AND p.isactive = 'Y'
        AND a.isactive = 'Y'
        AND b.isactive = 'Y'
       ORDER BY b.show_order
    </select>

    <select id="selectPrivilege" resultType="com.bizvane.ishop.entity.Function">
        SELECT *
        FROM def_action a,def_function b,def_privilege p
        WHERE a.function_code = b.function_code
        AND a.action_code = p.action_code
        AND a.function_code = p.function_code
        AND (master_code = #{group_code}
        OR master_code = #{role_code}
        <if test="user_code!=''">
            OR master_code = #{user_code}
        </if>
        )
        AND p.isactive = 'Y'
        <if test="search_value!=''">
            AND (
            b.module_name LIKE concat('%',#{search_value},'%')
            OR  b.function_name LIKE concat('%',#{search_value},'%')
            OR  a.action_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND a.isactive = 'Y'
        AND b.isactive = 'Y'
        ORDER BY b.show_order
    </select>

    <insert id="insertFunction" parameterType="com.bizvane.ishop.entity.Function">
        INSERT INTO def_function
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="function_code != null">
                function_code,
            </if>
            <if test="function_name != null">
                function_name,
            </if>
            <if test="module_name != null">
                module_name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="modified_date != null">
                modified_date,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                created_date,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="function_code != null">
                #{function_code},
            </if>
            <if test="function_name != null">
                #{function_name},
            </if>
            <if test="module_name != null">
                #{module_name},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <select id="selectPrivilegeByAct" resultMap="privilege">
        SELECT *
        FROM def_action a,def_function b,def_privilege p
        WHERE a.function_code = b.function_code
        AND a.action_code = p.action_code
        AND a.function_code = p.function_code
        AND p.master_code LIKE concat('%',#{search_value},'%')
        AND p.isactive = 'Y'
        AND a.action_name = #{action_name}
        AND a.function_code = #{function_code}
        AND a.isactive = 'Y'
        AND b.isactive = 'Y'
        ORDER BY b.show_order
    </select>

</mapper>