<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.GoodsMapper">

    <resultMap id="GoodsInfo" type="com.bizvane.ishop.entity.Goods">
        <id column="id" property="id"/>
        <result column="goods_code" property="goods_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="goods_name" property="goods_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="goods_image" property="goods_image" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="goods_price" property="goods_price" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="goods_time" property="goods_time" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="goods_quarter" property="goods_quarter"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="goods_wave" property="goods_wave" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="goods_description" property="goods_description"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="share_description" property="share_description"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="brand_code" property="brand_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_code" property="corp_code"/>
        <result column="brand_name" property="brand_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_name" property="corp_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="standard" property="standard" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="goods_source" property="goods_source" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="goods_year" property="goods_year" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <!--<association property="corp" javaType="com.bizvane.ishop.entity.Corp">-->
        <!--<result column="corp_name" property="corp_name"/>-->
        <!--</association>-->
        <!--<association property="brand" javaType="com.bizvane.ishop.entity.Brand">-->
        <!--<result column="brand_name" property="brand_name"/>-->
        <!--</association>-->
    </resultMap>

    <select id="selectAllGoods" resultMap="GoodsInfo">
        SELECT g.id,
        g.goods_code,
        g.goods_name,
        g.goods_year,
        g.standard,
        g.goods_image,
        g.goods_price,
        g.goods_time,
        g.goods_quarter,
        g.goods_wave,
        g.modified_date,
        g.modifier,
        g.isactive,
        g.created_date,
        g.creater,
        g.corp_code,
        g.brand_code,
        cp.corp_name,
        db.brand_name,
        g.goods_description,
        g.share_description
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code AND g.corp_code=db.corp_code AND g.brand_code=db.brand_code
        <if test="corp_code!=null and corp_code!=''">
            AND g.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                g.corp_code =#{item}
            </foreach>
        </if>
        <if test="brand_code!=null and brand_code!=''">
            AND
            <foreach collection="brand_code" index="index" item="item" open="(" separator="or" close=")">
                g.brand_code = #{item}
            </foreach>
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (g.goods_code LIKE concat('%',#{search_value},'%')
            OR g.goods_name LIKE concat('%',#{search_value},'%')
            OR g.goods_price LIKE concat('%',#{search_value},'%')
            OR g.goods_time LIKE concat('%',#{search_value},'%')
            OR g.goods_quarter LIKE concat('%',#{search_value},'%')
            OR g.goods_wave LIKE concat('%',#{search_value},'%')
            OR cp.corp_name LIKE concat('%',#{search_value},'%')
            OR db.brand_name like concat('%',#{search_value},'%')
            )
        </if>
        <if test="isactive!=null and isactive!=''">
            AND g.isactive=#{isactive}
        </if>
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
        GROUP BY g.id
        ORDER BY g.id DESC
    </select>

    <select id="selectAllGoodsForApp" resultMap="GoodsInfo">
        SELECT g.id,
        g.goods_code,
        g.goods_name,
        g.goods_image,
        g.goods_price,
        g.goods_year,
        g.goods_time,
        g.goods_quarter,
        g.goods_wave,
        g.standard,
        g.modified_date,
        g.modifier,
        g.isactive,
        g.corp_code,
        g.brand_code,
        cp.corp_name,
        db.brand_name
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code
        AND g.corp_code=db.corp_code
        AND g.brand_code=db.brand_code
        <if test="corp_code!=null and corp_code!=''">
            AND g.corp_code=#{corp_code}
        </if>
        <if test="goods_quarter!=null and goods_quarter!=''">
            AND
            <foreach collection="goods_quarter" index="index" item="item" open="(" separator="or" close=")">
                g.goods_quarter = #{item}
            </foreach>
        </if>
        <if test="goods_wave!=null and goods_wave!=''">
            AND
            <foreach collection="goods_wave" index="index" item="item" open="(" separator="or" close=")">
                g.goods_wave = #{item}
            </foreach>
        </if>
        <if test="brand_code!=null and brand_code!=''">
            AND
            <foreach collection="brand_code" index="index" item="item" open="(" separator="or" close=")">
                g.brand_code = #{item}
            </foreach>
        </if>
        <if test="time_start!=null and time_start!=''">
            AND g.goods_time &gt;= #{time_start}
        </if>
        <if test="time_end!=null and time_end!=''">
            AND g.goods_time &lt;= #{time_end}
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (g.goods_code LIKE concat('%',#{search_value},'%')
            OR g.goods_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        <if test="isactive!=null and isactive!=''">
            AND g.isactive=#{isactive}
        </if>
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
        GROUP BY g.id
        ORDER BY g.id DESC
    </select>

    <select id="selectAllGoodsByBrand" resultMap="GoodsInfo">
        SELECT g.id,
        g.goods_code,
        g.goods_name,
        g.goods_image,
        g.goods_price,
        g.goods_time,
        g.goods_year,
        g.goods_quarter,
        g.goods_wave,
        g.modified_date,
        g.modifier,
        g.isactive,
        g.created_date,
        g.creater,
        g.standard,
        g.goods_description,
        g.share_description,
        g.corp_code,
        g.brand_code,
        cp.corp_name,
        db.brand_name
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code
        AND g.corp_code=db.corp_code
        AND g.brand_code=db.brand_code
        <if test="corp_code!=null and corp_code!=''">
            AND g.corp_code=#{corp_code}
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (g.goods_code LIKE concat('%',#{search_value},'%')
            OR g.goods_name LIKE concat('%',#{search_value},'%')
            OR g.goods_price LIKE concat('%',#{search_value},'%')
            OR g.goods_time LIKE concat('%',#{search_value},'%')
            OR g.goods_quarter LIKE concat('%',#{search_value},'%')
            OR g.goods_wave LIKE concat('%',#{search_value},'%')
            OR cp.corp_name LIKE concat('%',#{search_value},'%')
            OR db.brand_name like concat('%',#{search_value},'%')
            )
        </if>
        <if test="brand_code!=null and brand_code!=''">
            AND
            <foreach collection="brand_code" index="index" item="item" open="(" separator="or" close=")">
                g.brand_code = #{item}
            </foreach>
        </if>
        AND g.isactive = 'Y'
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
        GROUP BY g.id
        ORDER BY g.id DESC
    </select>

    <select id="matchGoodsList" resultMap="GoodsInfo">
        SELECT g.id,
        g.goods_code,
        g.goods_name,
        g.goods_image,
        g.goods_quarter,
        g.goods_wave,
        g.goods_year,

        g.goods_description,
        g.corp_code,
        cp.corp_name,
        db.brand_name
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code
        AND g.corp_code=db.corp_code
        AND g.brand_code=db.brand_code
        AND g.corp_code=#{corp_code}
        AND g.goods_code != #{goods_code}
        <if test="brand_code!=null and brand_code!=''">
            AND g.brand_code = #{brand_code}
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (g.goods_code LIKE concat('%',#{search_value},'%')
            OR g.goods_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        <if test="isactive!=null and isactive!=''">
            AND g.isactive=#{isactive}
        </if>
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
        GROUP BY g.id
        ORDER BY g.id DESC
    </select>

    <select id="selectAllGoodsScreen" resultMap="GoodsInfo">
        SELECT g.id,
        g.goods_code,
        g.goods_name,
        g.goods_image,
        g.goods_price,
        g.goods_year,
        g.goods_time,
        g.goods_quarter,
        g.goods_wave,
        g.modified_date,
        g.modifier,
        g.isactive,
        g.created_date,
        g.creater,
        g.corp_code,
        g.brand_code,
        g.standard,
        cp.corp_name,
        db.brand_name,
        g.goods_description,
        g.share_description
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code and g.corp_code=db.corp_code and g.brand_code=db.brand_code
        <if test="corp_code!=null and corp_code!=''">
            AND g.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                g.corp_code =#{item}
            </foreach>
        </if>
        <if test="brand_code!=null and brand_code!=''">
            AND
            <foreach collection="brand_code" index="index" item="item" open="(" separator="or" close=")">
                g.brand_code = #{item}
            </foreach>
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")" separator="and">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    cp.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and  entryKey=='brand_name'">
                    db.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    g.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
        GROUP BY g.id
        ORDER BY g.id DESC
    </select>

    <select id="selectByPrimaryKey" resultMap="GoodsInfo">
        select
        g.id,
        g.goods_code,
        g.goods_name,
        g.goods_image,
        g.goods_price,
        g.goods_time,
        g.goods_year,
        g.goods_quarter,
        g.goods_wave,
        g.modified_date,
        g.modifier,
        g.isactive,
        g.created_date,
        g.creater,
        g.goods_description,
        g.share_description,
        g.corp_code,
        cp.corp_name,
        g.brand_code,
         g.standard,
         g.goods_source,
        db.brand_name
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code
        AND g.corp_code=db.corp_code
        AND g.brand_code=db.brand_code
        and g.id=#{id}
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
    </select>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.Goods">
        insert into def_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goods_code!=null ">
                goods_code,
            </if>
            <if test="goods_name!=null ">
                goods_name,
            </if>
            <if test="goods_image!=null ">
                goods_image,
            </if>
            <if test="goods_price!=null">
                goods_price,
            </if>
            <if test="goods_time!=null  ">
                goods_time,
            </if>
            <if test="goods_quarter!=null ">
                goods_quarter,
            </if>
            <if test="goods_wave!=null ">
                goods_wave,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="isactive!=null ">
                isactive,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null ">
                creater,
            </if>
            <if test="goods_description!=null">
                goods_description,
            </if>
            <if test="share_description!=null">
                share_description,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="brand_code!=null ">
                brand_code,
            </if>
            <if test="standard!=null ">
                standard,
            </if>
            <if test="goods_source!=null ">
                goods_source,
            </if>
            <if test="goods_year!=null ">
                goods_year,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="goods_code!=null">
                #{goods_code},
            </if>
            <if test="goods_name!=null ">
                #{goods_name},
            </if>
            <if test="goods_image!=null ">
                #{goods_image},
            </if>
            <if test="goods_price!=null ">
                #{goods_price},
            </if>
            <if test="goods_time!=null ">
                #{goods_time},
            </if>
            <if test="goods_quarter!=null ">
                #{goods_quarter},
            </if>
            <if test="goods_wave!=null ">
                #{goods_wave},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null ">
                #{modifier},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="goods_description!=null">
                #{goods_description},
            </if>
            <if test="share_description!=null">
                #{share_description},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="brand_code!=null">
                #{brand_code},
            </if>
            <if test="standard!=null">
                #{standard},
            </if>
            <if test="goods_source!=null ">
                #{goods_source},
            </if>
            <if test="goods_year!=null ">
                #{goods_year},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.bizvane.ishop.entity.Goods">
        update def_goods
        <trim prefix="set" suffixOverrides=",">
            <if test="goods_code!=null">
                goods_code=#{goods_code},
            </if>
            <if test="goods_name!=null">
                goods_name=#{goods_name},
            </if>
            <if test="goods_image!=null">
                goods_image=#{goods_image},
            </if>
            <if test="goods_price!=null">
                goods_price=#{goods_price},
            </if>
            <if test="goods_time!=null">
                goods_time=#{goods_time},
            </if>
            <if test="goods_quarter!=null">
                goods_quarter=#{goods_quarter},
            </if>
            <if test="goods_wave!=null">
                goods_wave=#{goods_wave},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null">
                creater=#{creater},
            </if>
            <if test="goods_description!=null">
                goods_description=#{goods_description},
            </if>
            <if test="share_description!=null">
                share_description=#{share_description},
            </if>
            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="brand_code!=null">
                brand_code=#{brand_code},
            </if>
            <if test="standard!=null">
                standard=#{standard},
            </if>
            <if test="goods_source!=null">
                goods_source=#{goods_source},
            </if>
            <if test="goods_year!=null">
                goods_year=#{goods_year},
            </if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteByPrimaryKey">
        delete from
        def_goods
        where ID=#{id}
    </delete>

    <select id="getGoodsByCode" resultType="com.bizvane.ishop.entity.Goods">
        select
        g.id,
        g.goods_code,
        g.goods_name,
        g.goods_image,
        g.goods_price,
        g.goods_year,
        g.goods_time,
        g.goods_quarter,
        g.goods_wave,
        g.modified_date,
        g.modifier,
        g.isactive,
        g.created_date,
        g.creater,
        g.goods_description,
        g.share_description,
        g.corp_code,
        cp.corp_name,
        g.brand_code,
        db.brand_name
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code
        AND g.corp_code=db.corp_code
        AND g.brand_code=db.brand_code
        AND g.corp_code=#{corp_code}
        AND g.goods_code=#{goods_code}
        <if test="isactive!=null and isactive!=''">
            AND g.isactive=#{isactive}
        </if>
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
    </select>

    <select id="getGoodsByName" resultType="com.bizvane.ishop.entity.Goods">
        SELECT g.id,
        g.goods_code,
        g.goods_name,
        g.goods_image,
        g.goods_price,
        g.goods_year,
        g.goods_time,
        g.goods_quarter,
        g.goods_wave,
        g.modified_date,
        g.modifier,
        g.isactive,
        g.created_date,
        g.creater,
        g.goods_description,
        g.corp_code,
        cp.corp_name,
        g.brand_code,
        db.brand_name
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code
        AND g.corp_code=db.corp_code
        AND g.brand_code=db.brand_code
        AND g.corp_code=#{corp_code}
        AND goods_name=#{goods_name}
        <if test="isactive!=null and isactive!=''">
            AND g.isactive=#{isactive}
        </if>
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
    </select>

    <select id="selectCorpGoodsQuarter" resultType="com.bizvane.ishop.entity.Goods">
        SELECT
        g.goods_quarter
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code
        AND g.corp_code=db.corp_code
        AND g.brand_code=db.brand_code
        AND g.corp_code = #{corp_code}
        AND g.isactive = 'Y'
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
        GROUP BY g.goods_quarter
    </select>

    <select id="selectCorpGoodsWave" resultType="com.bizvane.ishop.entity.Goods">
        SELECT
        g.goods_wave
        FROM def_goods g,def_corp cp,def_brand db
        WHERE g.corp_code=cp.corp_code
        AND g.corp_code=db.corp_code
        AND g.brand_code=db.brand_code
        AND g.corp_code = #{corp_code}
        AND g.isactive = 'Y'
        AND cp.isactive = 'Y'
        AND db.isactive = 'Y'
        GROUP BY g.goods_wave
    </select>

    <select id="getMatchFab" resultType="com.bizvane.ishop.entity.Goods">
        SELECT
        dg.goods_code,
        dg.goods_name,
        dg.goods_image
        FROM def_goods dg,def_corp cp,def_brand db
        WHERE dg.corp_code=cp.corp_code
        AND dg.corp_code=db.corp_code
        AND dg.brand_code=db.brand_code
        <if test="corp_code!=null and corp_code!=''">
            AND dg.corp_code=#{corp_code}
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (dg.goods_code LIKE concat('%',#{search_value},'%')
            OR dg.goods_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND dg.isactive='Y'
    </select>
</mapper>