<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.GroupMapper">

    <resultMap type="com.bizvane.ishop.entity.Group" id="GroupInfo">
        <id column="id" property="id"/>
        <result column="group_code" property="group_code"/>
        <result column="group_name" property="group_name"/>
        <result column="user_name" property="user_name"/>
        <result column="role_code" property="role_code"/>
        <result column="corp_code" property="corp_code"/>
        <result column="remark" property="remark"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="isactive" property="isactive"/>
        <association property="role" javaType="com.bizvane.ishop.entity.Role">
            <result column="role_name" property="role_name"/>
        </association>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
    </resultMap>

    <select id="selectByGroupId" resultMap="GroupInfo">
        SELECT
        def_group.id,
        def_group.group_code,
        def_group.group_name,
        def_group.role_code,
        def_group.corp_code,
        def_role.role_name,
        def_corp.corp_name,
        def_group.remark,
        def_group.modified_date,
        def_group.modifier,
        def_group.created_date,
        def_group.creater,
        def_group.isactive
        FROM def_group,def_role,def_corp
        WHERE def_group.role_code = def_role.role_code
        AND def_group.corp_code = def_corp.corp_code
        AND def_group.ID = #{group_id}
    </select>

    <select id="selectByCode" resultType="com.bizvane.ishop.entity.Group">
        SELECT *
        FROM def_group
        WHERE group_code = #{group_code}
        AND corp_code = #{corp_code}
        <if test="isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="selectByName" resultType="com.bizvane.ishop.entity.Group">
        SELECT *
        FROM def_group
        WHERE group_name = #{group_name}
        AND corp_code = #{corp_code}
        <if test="isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="selectAllGroup" resultMap="GroupInfo">
        SELECT
        def_group.id,
        def_group.group_code,
        def_group.group_name,
        def_group.role_code,
        def_group.corp_code,
        def_role.role_name,
        def_corp.corp_name,
        def_group.remark,
        def_group.modified_date,
        def_group.modifier,
        def_group.created_date,
        def_group.creater,
        def_group.isactive
        FROM def_group,def_role,def_corp
        WHERE def_group.role_code = def_role.role_code
        AND def_group.corp_code = def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_group.CORP_CODE = #{corp_code}
        </if>
        <if test="role_code != null and role_code !=''">
            AND def_group.role_code &lt; #{role_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (def_group.group_code LIKE concat('%',#{search_value},'%')
            OR def_group.group_name LIKE concat('%',#{search_value},'%')
            OR def_role.role_name LIKE concat('%',#{search_value},'%')
            OR def_corp.corp_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND def_role.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_group.id
        ORDER BY def_group.id DESC
    </select>


    <select id="selectAllGroupScreen" resultMap="GroupInfo">
        SELECT
        def_group.id,
        def_group.group_code,
        def_group.group_name,
        def_group.role_code,
        def_group.corp_code,
        def_role.role_name,
        def_corp.corp_name,
        def_group.remark,
        def_group.modified_date,
        def_group.modifier,
        def_group.created_date,
        def_group.creater,
        def_group.isactive
        FROM def_group,def_role,def_corp
        WHERE def_group.role_code = def_role.role_code
        AND def_group.corp_code = def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_group.corp_code = #{corp_code}
        </if>
        <if test="role_code != null and role_code !=''">
            AND def_group.role_code &lt; #{role_code}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")" separator="and">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    def_corp.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='role_name'">
                    def_role.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    def_group.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        AND def_role.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_group.id
        ORDER BY def_group.id DESC
    </select>

    <select id="selectUserGroup" resultType="com.bizvane.ishop.entity.Group">
        SELECT *
        FROM def_group
        WHERE 1 = 1
        <if test="corp_code != null and corp_code !=''">
            AND corp_code = #{corp_code}
        </if>
        <if test="role_code != null and role_code !=''">
            AND role_code &lt; #{role_code}
        </if>
        AND isactive = 'Y'
        GROUP By id
        ORDER BY id DESC
    </select>


    <select id="selectByRole" resultType="com.bizvane.ishop.entity.Group">
        SELECT *
        FROM def_group
        WHERE role_code = #{role_code}
        GROUP By id
        ORDER BY id DESC
    </select>

    <select id="selectMaxCode" resultType="java.lang.String">
        SELECT max(GROUP_CODE) FROM def_group
    </select>

    <insert id="insertGroup" parameterType="com.bizvane.ishop.entity.Group">
        INSERT INTO def_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="group_code != null">
                group_code,
            </if>
            <if test="group_name != null">
                group_name,
            </if>
            <if test="role_code != null">
                role_code,
            </if>
            <if test="corp_code != null">
                corp_code,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="group_code != null">
                #{group_code},
            </if>
            <if test="group_name != null">
                #{group_name},
            </if>
            <if test="role_code != null">
                #{role_code},
            </if>
            <if test="corp_code != null">
                #{corp_code},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateGroup" parameterType="com.bizvane.ishop.entity.Group">
        UPDATE def_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="group_code != null">
                group_code = #{group_code},
            </if>
            <if test="group_name != null">
                group_name = #{group_name},
            </if>
            <if test="role_code != null">
                role_code = #{role_code},
            </if>
            <if test="corp_code != null">
                corp_code = #{corp_code},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="modified_date != null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="created_date != null">
                created_date = #{created_date},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="isactive != null">
                isactive = #{isactive},
            </if>
        </trim>
        WHERE id = #{id};
    </update>

    <delete id="deleteByGroupId">
        DELETE FROM
        def_group
        WHERE id = #{id}
    </delete>

    <select id="selectByCorpRole" resultType="com.bizvane.ishop.entity.Group">
        SELECT *
        FROM def_group
        WHERE role_code = #{role_code}
        AND corp_code = #{corp_code}
        GROUP By id
        ORDER BY id DESC
    </select>

</mapper>