<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.InterfaceMapper">
    <select id="selectAllInterface" resultType="com.bizvane.ishop.entity.Interfacers">
        SELECT *
        FROM def_interface
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            VERSION LIKE concat('%', #{search_value},'%')
            OR CROP_CODE LIKE concat('%', #{search_value},'%')
            OR MODIFIED_DATE LIKE concat('%', #{search_value},'%')
            OR MODIFIER LIKE concat('%',#{search_value},'%')
            OR ISACTIVE LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY ID DESC
    </select>
    <select id="selectAllScreen" resultType="com.bizvane.ishop.entity.Interfacers">
    SELECT *
    FROM def_interface
    WHERE 1 = 1
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")"  separator="and" >
            ${entryKey}  LIKE concat('%', #{entryValue},'%')
        </foreach>
        ORDER BY ID DESC
    </select>
    <insert id="addInterface" parameterType="com.bizvane.ishop.entity.Interfacers">
        INSERT INTO  def_interface
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="version != null">
                VERSION,
            </if>
            <if test="corp_code != null">
                CORP_CODE,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="isactive != null">
                ISACTIVE,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="version != null">
                #{version},
            </if>

            <if test="corp_code != null">
                #{corp_code},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>

        </trim>
    </insert>
    <update id="updInterfaceById" parameterType="com.bizvane.ishop.entity.Interfacers">
        UPDATE  def_interface
        <trim prefix="SET" suffixOverrides=",">
            <if test="version != null">
                VERSION=  #{version},
            </if>

            <if test="corp_code != null">
                CORP_CODE= #{corp_code},
            </if>
            <if test="created_date != null">
                CREATED_DATE=  #{created_date},
            </if>
            <if test="creater != null">
                CREATER=   #{creater},
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE=   #{modified_date},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier},
            </if>
            <if test="isactive != null">
                ISACTIVE=  #{isactive},
            </if>
        </trim>
        WHERE ID=#{id};
    </update>
    <delete id="delInterfaceById">
        DELETE FROM def_interface
        WHERE ID=#{id};
    </delete>
    <!--根据ID查询-->
    <select id="selInterfaceById" resultType="com.bizvane.ishop.entity.Interfacers">
        SELECT * FROM def_interface WHERE ID=#{id};
    </select>
</mapper>