<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.LoginLogMapper">

    <select id="selectByLogId" resultType="com.bizvane.ishop.entity.LoginLog">
        select *
        from DEF_LOGIN_LOG
        where
        <if test="log_id != 0">
            ID = #{log_id}
        </if>
        <if test="phone != null and phone !=''">
            phone = #{phone}
        </if>
    </select>

    <insert id="insertLoginLog" parameterType="com.bizvane.ishop.entity.LoginLog">
        insert into DEF_LOGIN_LOG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone!=null">
                phone,
            </if>
            <if test="content!=null">
                content,
            </if>
            <if test="platform!=null">
                platform,
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="isactive != null">
                ISACTIVE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone!=null">
                #{phone},
            </if>
            <if test="content!=null">
                #{content},
            </if>
            <if test="platform!=null">
                #{platform},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateByLogId" parameterType="com.bizvane.ishop.entity.LoginLog">
        UPDATE DEF_LOGIN_LOG
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone!=null and phone!='' ">
                phone = #{phone},
            </if>
            <if test="content!=null and content!='' ">
                content = #{content},
            </if>
            <if test="platform!=null and platform!='' ">
                platform = #{platform},
            </if>
            <if test="modified_date!=null">
                MODIFIED_DATE = #{modified_date},
            </if>
            <if test="modifier!=null and modifier!='' ">
                MODIFIER = #{modifier},
            </if>
            <if test="created_date!=null">
                CREATED_DATE = #{created_date},
            </if>
            <if test="creater!=null and creater!='' ">
                CREATER = #{creater},
            </if>
            <if test="isactive!=null and isactive!='' ">
                ISACTIVE = #{isactive},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>

    <delete id="deleteByLogId">
        delete from
        DEF_LOGIN_LOG
        where ID = #{id}
    </delete>

    <insert id="insertTest" parameterType="com.bizvane.ishop.entity.VIPInfo">
        insert into DEF_VIP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="VIP_CODE!=null">
                VIP_CODE,
            </if>
            <if test="VIP_NAME!=null">
                VIP_NAME,
            </if>
            <if test="PHONE!=null">
                PHONE,
            </if>
            <if test="BIRTHDAY != null">
                BIRTHDAY,
            </if>
            <if test="VIP_TYPE != null">
                VIP_TYPE,
            </if>
            <if test="VIP_CARD_NUMBER != null">
                VIP_CARD_NUMBER,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="VIP_CODE!=null">
                #{VIP_CODE},
            </if>
            <if test="VIP_NAME!=null">
                #{VIP_NAME},
            </if>
            <if test="PHONE!=null">
                #{PHONE},
            </if>
            <if test="BIRTHDAY != null">
                #{BIRTHDAY},
            </if>
            <if test="VIP_TYPE != null">
                #{VIP_TYPE},
            </if>
            <if test="VIP_CARD_NUMBER != null">
                #{VIP_CARD_NUMBER},
            </if>

        </trim>
    </insert>
<select id="selectTest" resultType="com.bizvane.ishop.entity.VIPInfo">
    select * from DEF_VIP
</select>

</mapper>