<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.MessageQuickReplyMapper">
    <resultMap id="MessageQuickReply" type="com.bizvane.ishop.entity.MessageQuickReply">
        <id column="id" property="id"/>
        <result column="content" property="content"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="brand_code" property="brand_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="brand_name" property="brand_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
    </resultMap>
    <select id="selectQuickReplyById" resultMap="MessageQuickReply">
        SELECT
        dcmm.id,
        dcmm.content,
        dcmm.corp_code,
         dcmm.brand_code,
        dcmm.modified_date,
        dcmm.modifier,
        dcmm.created_date,
        dcmm.creater,
        dcmm.isactive,
        dc.corp_name
        FROM def_chat_message_model dcmm,def_corp dc
        WHERE dcmm.corp_code=dc.corp_code
        AND dcmm.id=#{id}
    </select>

    <select id="selQuickReplyCountByBrand" resultType="com.bizvane.ishop.entity.MessageQuickReply">
        SELECT
        dstt.id,
        dstt.content,
        dstt.corp_code,
        dstt.brand_code
        FROM def_chat_message_model dstt,def_corp dc
        WHERE dstt.corp_code = dc.corp_code
        AND dstt.corp_code=#{corp_code}
        AND
        <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
            dstt.brand_code LIKE concat('%',#{item},'%')
        </foreach>
        <if test="search_value != null and search_value !=''">
            AND dstt.content LIKE concat('%',#{search_value},'%')
        </if>
        <if test="isactive != null and isactive !=''">
            AND dstt.isactive = #{isactive}
        </if>
        AND dc.isactive = 'Y'
        GROUP BY dstt.id
        ORDER BY dstt.id DESC
    </select>
    <select id="selectAllMessageQuickReply" resultMap="MessageQuickReply">
        SELECT
        dcmm.id,
        dcmm.content,
        dcmm.corp_code,
        dcmm.brand_code,
        dcmm.modified_date,
        dcmm.modifier,
        dcmm.created_date,
        dcmm.creater,
        dcmm.isactive,
        dc.corp_name
        FROM def_chat_message_model dcmm,def_corp dc
        WHERE dcmm.corp_code=dc.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND dcmm.corp_code = #{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                dcmm.corp_code =#{item}
            </foreach>
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (dcmm.content like concat('%',#{search_value},'%')
            OR dc.corp_name like concat('%',#{search_value},'%')
            )
        </if>
        GROUP By dcmm.id
        ORDER BY dcmm.id DESC
    </select>
    <select id="selectMessageQuickReplys" resultType="com.bizvane.ishop.entity.MessageQuickReply">
        SELECT
        dcmm.id,
        dcmm.content,
        dcmm.corp_code,
         dcmm.brand_code,
        dcmm.modified_date,
        dcmm.modifier,
        dcmm.created_date,
        dcmm.creater,
        dcmm.isactive,
        dc.corp_name
        FROM def_chat_message_model dcmm,def_corp dc
        where dcmm.CORP_CODE = #{corp_code}
        AND dcmm.CORP_CODE=dc.CORP_CODE
        GROUP BY dcmm.id
        ORDER BY dcmm.id DESC
    </select>


    <select id="selectByMessageQuickReplyCode" resultType="com.bizvane.ishop.entity.MessageQuickReply">
        SELECT
        dcmm.id,
        dcmm.content,
        dcmm.corp_code,
        dcmm.brand_code,
        dcmm.isactive
        FROM def_chat_message_model dcmm
        where dcmm.CORP_CODE = #{corp_code}
        AND dcmm.content = #{content}
        <if test="isactive != null and isactive !=''">
            AND dcmm.isactive = #{isactive}
        </if>
    </select>

    <select id="selectByMessageQuickReplyId" resultType="com.bizvane.ishop.entity.MessageQuickReply">
         SELECT
        dcmm.id,
        dcmm.content,
         dcmm.brand_code,
        dcmm.corp_code,
        dcmm.modified_date,
        dcmm.modifier,
        dcmm.created_date,
        dcmm.creater,
        dcmm.isactive
        FROM def_chat_message_model dcmm
        WHERE id=#{id}
    </select>
    <delete id="deleteMessageQuickReplyById">
        DELETE
         FROM def_chat_message_model
        WHERE id=#{id}
    </delete>
    <insert id="insertMessageQuickReply" parameterType="com.bizvane.ishop.entity.MessageQuickReply">
        INSERT INTO def_chat_message_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content!=null">
                content,
            </if>

            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="brand_code!=null">
                brand_code,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="content!=null">
                #{content},
            </if>

            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="brand_code!=null">
                #{brand_code},
            </if>
        </trim>
    </insert>
    <update id="updateMessageQuickReply" parameterType="com.bizvane.ishop.entity.MessageQuickReply">
        UPDATE def_chat_message_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="content!=null">
                content=#{content},
            </if>
            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null">
                creater=#{creater},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
            <if test="brand_code!=null">
                brand_code=#{brand_code},
            </if>
        </trim>
        WHERE id=#{id};
    </update>
    <select id="selectQuickReplyScreen" resultMap="MessageQuickReply">
        SELECT
        dcmm.id,
        dcmm.content,
        dcmm.corp_code,
        dcmm.brand_code,
        dcmm.modified_date,
        dcmm.modifier,
        dcmm.created_date,
        dcmm.creater,
        dcmm.isactive,
        dc.corp_name
        FROM def_chat_message_model dcmm,def_corp dc,def_brand db
        WHERE dcmm.CORP_CODE =dc.corp_code
       AND dcmm.CORP_CODE =db.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND dcmm.corp_code=#{corp_cod e}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                dcmm.corp_code =#{item}
            </foreach>
        </if>
        <if test="brand_codes != null and brand_codes!=''">
            AND
            <foreach collection="brand_codes" item="item" index="index" open="(" separator="or" close=")">
                ds.brand_code LIKE concat('%',#{item},'%')
            </foreach>
        </if>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
                <choose>
                    <when test="entryKey=='corp_name' and entryValue!=''">
                        dc.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!=''">
                        dcmm.${entryKey} REGEXP ${entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        GROUP BY dcmm.id
        ORDER BY dcmm.id DESC
    </select>
</mapper>