<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.MessageMapper">

    <resultMap type="com.bizvane.ishop.entity.Message" id="Message">
        <id column="id" property="id"/>
        <result column="message_receiver" property="message_receiver"/>
        <result column="receiver_type" property="receiver_type"/>
        <result column="status" property="status"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="creater" property="creater"/>
        <result column="created_date" property="created_date"/>
        <result column="isactive" property="isactive"/>
    </resultMap>

    <resultMap type="com.bizvane.ishop.entity.MessageInfo" id="MessageInfo">
        <id column="id" property="id"/>
        <result column="message_code" property="message_code"/>
        <result column="message_title" property="message_title"/>
        <result column="message_content" property="message_content"/>
        <result column="message_type" property="message_type"/>
        <result column="message_sender" property="message_sender"/>
        <result column="corp_code" property="corp_code"/>
        <result column="corp_name" property="corp_name"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="creater" property="creater"/>
        <result column="created_date" property="created_date"/>
        <result column="isactive" property="isactive"/>
    </resultMap>

    <!--<select id="selectByPrimaryKey" resultMap="Message">-->
        <!--select rum.id,-->
        <!--u1.user_name message_receiver,-->
        <!--rum.receiver_type,-->
        <!--rum.status,-->
        <!--u2.user_name message_sender ,-->
        <!--dum.message_title,-->
        <!--dum.message_content,-->
        <!--dum.message_type,-->
        <!--c.corp_name,-->
        <!--mt.type_description,-->
        <!--rum.modified_date,-->
        <!--rum.modifier,-->
        <!--rum.isactive-->
        <!--from def_user_message dum,rel_user_message rum ,def_corp c,def_message_type mt,def_user u1,def_user u2-->
        <!--where dum.corp_code = c.corp_code-->
        <!--AND dum.corp_code = u1.corp_code-->
        <!--AND dum.corp_code = u2.corp_code-->
        <!--AND rum.message_receiver = u1.user_code-->
        <!--AND dum.message_sender = u2.user_code-->
        <!--AND dum.message_code = rum.message_code-->
        <!--AND dum.message_type = mt.type_code-->
        <!--AND rum.id=#{id}-->
    <!--</select>-->

    <select id="selectAllMessageInfo" resultMap="MessageInfo">
        select dum.id,
        dum.message_code,
        u.user_name message_sender ,
        dum.message_title,
        dum.message_content,
        c.corp_name corp_name,
        mt.type_description message_type,
        dum.modified_date,
        dum.modifier,
        dum.isactive
        from def_user_message dum,def_corp c,def_message_type mt,def_user u
        where dum.corp_code = c.corp_code
        AND dum.corp_code = u.corp_code
        AND dum.message_sender = u.user_code
        AND dum.message_type = mt.type_code
        <if test="corp_code!=null and corp_code!=''">
            and dum.corp_code=#{corp_code}
        </if>
        <if test="user_code!=null and user_code!=''">
            and dum.message_sender=#{user_code}
        </if>
        <if test="search_value!=null and search_value!=''">
            and
            (
            dum.message_sender like concat('%',search_value,'%')
            OR dum.message_title like concat('%',search_value,'%')
            OR dum.message_content like concat('%',search_value,'%')
            OR c.corp_name like concat('%',search_value,'%')
            OR mt.type_description like concat('%',search_value,'%')
            OR dum.modified_date like concat('%',search_value,'%')
            OR dum.modifier like concat('%',search_value,'%')
            OR dum.isactive like concat('%',search_value,'%')
            )
        </if>
        ORDER BY dum.id DESC
    </select>

    <select id="selectMessageDetail" resultMap="Message">
    select rum.id,
    u1.user_name message_receiver,
    rum.receiver_type,
    rum.status,
    c.corp_name
    from rel_user_message rum,def_user_message dum, def_corp c,def_user u1
    where rum.message_code = #{message_code}
    AND rum.message_code = dum.message_code
    AND dum.corp_code = u1.corp_code
    AND c.corp_code = dum.corp_code
    AND rum.message_receiver = u1.user_code
    <!--<if test="search_value!=null and search_value!=''">-->
    <!--and-->
    <!--(-->
    <!--rum.message_receiver like concat('%',search_value,'%')-->
    <!--OR rum.status like concat('%',search_value,'%')-->
    <!--OR c.corp_name like concat('%',search_value,'%')-->
    <!--)-->
    <!--</if>-->
    ORDER BY rum.id DESC
    </select>

    <select id="selectByPrimaryKey" resultMap="MessageInfo">
        select dum.id,
        dum.message_code,
        u.user_name message_sender ,
        dum.message_title,
        dum.message_content,
        dum.message_type,
        c.corp_name corp_name,
        mt.type_description,
        dum.modified_date,
        dum.modifier,
        dum.isactive
        from def_user_message dum,def_corp c,def_message_type mt,def_user u
        where dum.corp_code = c.corp_code
        AND dum.corp_code = u.corp_code
        AND dum.message_sender = u.user_code
        AND dum.message_type = mt.type_code
        AND dum.id=#{id}
    </select>

    <delete id="deleteByPrimaryKey">
        DELETE  FROM  def_user_message where id=#{id}
    </delete>

    <insert id="insertMessageInfo" parameterType="com.bizvane.ishop.entity.MessageInfo">
        insert into def_user_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="message_code!=null and message_code!=''">
                message_code,
            </if>
            <if test="message_sender!=null and message_sender!=''">
                message_sender,
            </if>
            <if test="message_title!=null and message_title!=''">
                message_title,
            </if>
            <if test="message_content!=null and message_content!=''">
                message_content,
            </if>
            <if test="message_type!=null and message_type!=''">
                message_type,
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code,
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier,
            </if>
            <if test="modified_date!=null and modified_date!=''">
                modified_date,
            </if>
            <if test="creater!=null and creater!=''">
                creater,
            </if>
            <if test="created_date!=null and created_date!=''">
                created_date,
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="message_code!=null and message_code!=''">
                #{message_code},
            </if>
            <if test="message_sender!=null and message_sender!=''">
                #{message_sender},
            </if>
            <if test="message_title!=null and message_title!='' ">
                #{message_title},
            </if>
            <if test="message_content!=null and message_content!=''">
                #{message_content},
            </if>
            <if test="message_type!=null and message_type!=''">
                #{message_type},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                #{corp_code},
            </if>
            <if test="modifier!=null and modifier!=''">
                #{modifier},
            </if>
            <if test="modified_date!=null and modified_date!=''">
                #{modified_date},
            </if>
            <if test="creater!=null and creater!=''">
                #{creater},
            </if>
            <if test="created_date!=null and created_date!=''">
                #{created_date},
            </if>
            <if test="isactive!=null and  isactive!=''">
                #{isactive},
            </if>
        </trim>
    </insert>

    <insert id="insertMessage" parameterType="com.bizvane.ishop.entity.Message">
        insert into rel_user_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="message_receiver!=null and message_receiver!=''">
                message_receiver,
            </if>
            <if test="receiver_type!=null and receiver_type!=''">
                receiver_type,
            </if>
            <if test="status!=null and status!=''">
                status,
            </if>
            <if test="message_code !=null and message_code!=''">
                message_code,
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier,
            </if>
            <if test="modified_date!=null and modified_date!=''">
                modified_date,
            </if>
            <if test="creater!=null and creater!=''">
                creater,
            </if>
            <if test="created_date!=null and created_date!=''">
                created_date,
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="message_receiver!=null and message_receiver!=''">
                #{message_receiver},
            </if>
            <if test="receiver_type!=null and receiver_type!=''">
                #{receiver_type},
            </if>
            <if test="status!=null and status!=''">
                #{status},
            </if>
            <if test="message_code!=null and message_code!=''">
                #{message_code},
            </if>
            <if test="modifier!=null and modifier!=''">
                #{modifier},
            </if>
            <if test="modified_date!=null and modified_date!=''">
                #{modified_date},
            </if>
            <if test="creater!=null and creater!=''">
                #{creater},
            </if>
            <if test="created_date!=null and created_date!=''">
                #{created_date},
            </if>
            <if test="isactive!=null and  isactive!=''">
                #{isactive},
            </if>
        </trim>
    </insert>

    <select id="selectAllMessageType" resultType="com.bizvane.ishop.entity.MessageType">>
        select *
        from def_message_type
        ORDER BY id DESC
    </select>
</mapper>