<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.MessageMapper">

    <resultMap type="com.bizvane.ishop.entity.Message" id="Message">
        <id column="id" property="id"/>
        <result column="message_receiver" property="message_receiver" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="user_code" property="user_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="user_name" property="user_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="receiver_type" property="receiver_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="status" property="status" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <resultMap type="com.bizvane.ishop.entity.MessageInfo" id="MessageInfo">
        <id column="id" property="id"/>
        <result column="message_code" property="message_code"/>
        <result column="message_title" property="message_title" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="message_content" property="message_content" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="message_type" property="message_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="message_sender" property="message_sender" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="receiver_type" property="receiver_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_name" property="corp_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <!--<select id="selectByPrimaryKey" resultMap="Message">-->
        <!--select rum.id,-->
        <!--u1.user_name message_receiver,-->
        <!--rum.receiver_type,-->
        <!--rum.status,-->
        <!--u2.user_name message_sender ,-->
        <!--dum.message_title,-->
        <!--dum.message_content,-->
        <!--dum.message_type,-->
        <!--c.corp_name,-->
        <!--mt.type_description,-->
        <!--rum.modified_date,-->
        <!--rum.modifier,-->
        <!--rum.isactive-->
        <!--from def_user_message dum,rel_user_message rum ,def_corp c,def_message_type mt,def_user u1,def_user u2-->
        <!--where dum.corp_code = c.corp_code-->
        <!--AND dum.corp_code = u1.corp_code-->
        <!--AND dum.corp_code = u2.corp_code-->
        <!--AND rum.message_receiver = u1.user_code-->
        <!--AND dum.message_sender = u2.user_code-->
        <!--AND dum.message_code = rum.message_code-->
        <!--AND dum.message_type = mt.type_code-->
        <!--AND rum.id=#{id}-->
    <!--</select>-->

    <select id="selectAllMessageInfo" resultMap="MessageInfo">
        SELECT dum.id,
        dum.message_code,
        dum.receiver_type,
        dum.message_sender ,
        dum.message_title,
        dum.message_content,
        c.corp_name corp_name,
        mt.type_description message_type,
        dum.modified_date,
        dum.modifier,
        dum.isactive
        FROM def_user_message dum,def_corp c,def_message_type mt
        WHERE dum.corp_code = c.corp_code
        AND dum.message_type = mt.type_code
        <if test="corp_code!=null and corp_code!=''">
            AND dum.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                dum.corp_code =#{item}
            </foreach>
        </if>
        <if test="user_code!=null and user_code!=''">
            AND dum.message_sender=#{user_code}
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (
            dum.message_sender LIKE concat('%',#{search_value},'%')
            OR dum.message_title LIKE concat('%',#{search_value},'%')
            OR dum.message_content LIKE concat('%',#{search_value},'%')
            OR c.corp_name LIKE concat('%',#{search_value},'%')
            OR mt.type_description LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP By dum.id
        ORDER BY dum.id DESC
    </select>

    <select id="selectMessageDetail" resultMap="Message">
    SELECT rum.id,
    rum.message_receiver user_code,
    u1.user_name,
    rum.receiver_type,
    rum.status,
    c.corp_name
    FROM rel_user_message rum,def_user_message dum, def_corp c,def_user u1
    WHERE rum.message_code = #{message_code}
    AND rum.message_code = dum.message_code
    AND dum.corp_code = u1.corp_code
    AND c.corp_code = dum.corp_code
    AND rum.message_receiver = u1.user_code
    GROUP By rum.id
    ORDER BY rum.id DESC
    </select>

    <select id="selectMessageByCode" resultMap="Message">
        SELECT *
        FROM rel_user_message
        WHERE message_code = #{message_code}
    </select>

    <select id="selectByPrimaryKey" resultMap="MessageInfo">
        SELECT dum.*,
        c.corp_name corp_name,
        mt.type_description
        FROM def_user_message dum,def_corp c,def_message_type mt
        WHERE dum.corp_code = c.corp_code
        AND dum.message_type = mt.type_code
        AND dum.id=#{id}
    </select>

    <select id="selectMessageInfoByCode" resultMap="MessageInfo">
        SELECT dum.*
        FROM def_user_message dum,def_corp c,def_message_type mt
        WHERE dum.corp_code = c.corp_code
        AND dum.message_type = mt.type_code
        AND dum.message_code=#{message_code}
    </select>

    <delete id="deleteMessageInfo">
        DELETE  FROM  def_user_message WHERE id=#{id}
    </delete>

    <delete id="deleteMessage">
        DELETE  FROM  rel_user_message WHERE message_code=#{message_code}
    </delete>

    <delete id="deleteMessageStatus">
        DELETE  FROM  ref_user_message WHERE message_code=#{id}
    </delete>

    <insert id="insertMessageInfo" parameterType="com.bizvane.ishop.entity.MessageInfo">
        INSERT INTO def_user_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="message_code!=null">
                message_code,
            </if>
            <if test="message_sender!=null ">
                message_sender,
            </if>
            <if test="message_title!=null ">
                message_title,
            </if>
            <if test="message_content!=null ">
                message_content,
            </if>
            <if test="message_type!=null ">
                message_type,
            </if>
            <if test="corp_code!=null ">
                corp_code,
            </if>
            <if test="modifier!=null ">
                modifier,
            </if>
            <if test="modified_date!=null ">
                modified_date,
            </if>
            <if test="creater!=null ">
                creater,
            </if>
            <if test="created_date!=null ">
                created_date,
            </if>
            <if test="isactive!=null ">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="message_code!=null ">
                #{message_code},
            </if>
            <if test="message_sender!=null ">
                #{message_sender},
            </if>
            <if test="message_title!=null ">
                #{message_title},
            </if>
            <if test="message_content!=null ">
                #{message_content},
            </if>
            <if test="message_type!=null ">
                #{message_type},
            </if>
            <if test="corp_code!=null ">
                #{corp_code},
            </if>
            <if test="modifier!=null ">
                #{modifier},
            </if>
            <if test="modified_date!=null ">
                #{modified_date},
            </if>
            <if test="creater!=null ">
                #{creater},
            </if>
            <if test="created_date!=null ">
                #{created_date},
            </if>
            <if test="isactive!=null ">
                #{isactive},
            </if>
        </trim>
    </insert>

    <insert id="insertMessage" parameterType="com.bizvane.ishop.entity.Message">
        INSERT INT rel_user_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="message_receiver!=null ">
                message_receiver,
            </if>
            <if test="receiver_type!=null ">
                receiver_type,
            </if>
            <if test="status!=null ">
                status,
            </if>
            <if test="message_code !=null ">
                message_code,
            </if>
            <if test="modifier!=null ">
                modifier,
            </if>
            <if test="modified_date!=null ">
                modified_date,
            </if>
            <if test="creater!=null ">
                creater,
            </if>
            <if test="created_date!=null ">
                created_date,
            </if>
            <if test="isactive!=null ">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="message_receiver!=null ">
                #{message_receiver},
            </if>
            <if test="receiver_type!=null ">
                #{receiver_type},
            </if>
            <if test="status!=null ">
                #{status},
            </if>
            <if test="message_code!=null ">
                #{message_code},
            </if>
            <if test="modifier!=null ">
                #{modifier},
            </if>
            <if test="modified_date!=null ">
                #{modified_date},
            </if>
            <if test="creater!=null ">
                #{creater},
            </if>
            <if test="created_date!=null ">
                #{created_date},
            </if>
            <if test="isactive!=null ">
                #{isactive},
            </if>
        </trim>
    </insert>

    <select id="selectAllMessageType" resultType="com.bizvane.ishop.entity.MessageType">>
        SELECT *
        FROM def_message_type
        WHERE isactive = 'Y'
        GROUP By id
        ORDER BY id DESC
    </select>

    <select id="selectAllMessageInfoScreen" resultMap="MessageInfo">
        SELECT dum.id,
        dum.message_code,
        dum.message_sender,
        dum.message_title,
        dum.message_content,
        c.corp_name corp_name,
        mt.type_description message_type,
        dum.modified_date,
        dum.modifier,
        dum.isactive
        FROM def_user_message dum,def_corp c,def_message_type mt
        WHERE dum.corp_code = c.corp_code
        AND dum.message_type = mt.type_code
        <if test="corp_code!=null and corp_code!=''">
            AND dum.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                dum.corp_code =#{item}
            </foreach>
        </if>
        <if test="user_code!=null and user_code!=''">
            AND dum.message_sender=#{user_code}
        </if>
        <if test="created_date_start!=null and created_date_start!=''">
            AND  dum.modified_date &gt;= #{created_date_start}
        </if>
        <if test="created_date_end!=null and created_date_end!=''">
            AND  dum.modified_date &lt;= #{created_date_end}
        </if>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
                <choose>
                    <when test="entryValue!='' and entryKey=='corp_name'">
                        c.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!='' and entryKey=='message_type'">
                        mt.type_description REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!=''">
                        dum.${entryKey} REGEXP ${entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        GROUP By dum.id
        ORDER BY dum.id DESC
    </select>

    <select id="selectMessageStatus" resultType="com.bizvane.ishop.entity.User">
        SELECT *
        FROM ref_user_message
        WHERE corp_code = #{corp_code}
        AND message_code = #{message_id}
        AND user_code = #{user_code}
    </select>

</mapper>