<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.ParamConfigureMapper">

    <resultMap type="com.bizvane.ishop.entity.ParamConfigure" id="ParamConfigure">
        <id column="id" property="id"/>
        <result column="param_name" property="param_name"/>
        <result column="param_desc" property="param_desc"/>

        <result column="remark" property="remark"/>
   </resultMap>

    <select id="selectById" resultMap="ParamConfigure">
        select *
        from DEF_CORP_CFG
        where id=#{id}
    </select>

    <select id="selectAllParam" resultMap="ParamConfigure">
        select*
        from DEF_CORP_CFG
        <if test="search_value != null and search_value !=''">
            WHERE
            (param_name like concat('%',#{search_value},'%')
            OR param_desc like concat('%',#{search_value},'%')
            OR DEF_CORP_CFG.remark like concat('%',#{search_value},'%')
           )
        </if>
        ORDER BY DEF_CORP_CFG.id DESC
    </select>

    <select id="selectParams" resultType="com.bizvane.ishop.entity.ParamConfigure">
        select *
        from DEF_CORP_CFG

       ORDER BY DEF_CORP_CFG.id DESC
    </select>

    <delete id="deleteByParamId">
        delete from
        DEF_CORP_CFG
        where ID=#{id}
    </delete>

    <insert id="insertParam" parameterType="com.bizvane.ishop.entity.ParamConfigure">
        insert into DEF_CORP_CFG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="param_name!=null">
                param_name,
            </if>
            <if test="param_desc!=null">
                param_desc,
            </if>
            <if test="remark!=null">
                remark,
            </if>

        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="param_name!=null">
                #{param_name},
            </if>
            <if test="param_desc!=null">
                #{param_desc},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
        </trim>
    </insert>

    <update id="updateParam" parameterType="com.bizvane.ishop.entity.ParamConfigure">
        UPDATE DEF_CORP_CFG
        <trim prefix="SET" suffixOverrides=",">
            <if test="param_name!=null and param_name!=''">
                param_name=#{param_name},
            </if>
            <if test="param_desc!=null and param_desc!=''">
                param_desc=#{param_desc},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
        </trim>
        WHERE DEF_CORP_CFG.id=#{id};
    </update>

    <select id="selectParamByKey" resultType="com.bizvane.ishop.entity.ParamConfigure">
        select * from DEF_CORP_CFG
        WHERE param_name=#{param_name}

    </select>
    <select id="selectParamByName" resultType="com.bizvane.ishop.entity.ParamConfigure">
        select * from DEF_CORP_CFG
        WHERE param_desc=#{param_desc}

    </select>



    <select id="selectByParamSearch" resultMap="ParamConfigure">
        SELECT dcc.*
        FROM DEF_CORP_CFG dcc

        <if test="search_value != null and search_value !=''">
            WHERE (dcc.param_name like concat('%',#{search_value},'%')
            OR dcc.param_desc like concat('%',#{search_value},'%')
            OR dcc.remark like concat('%',#{search_value},'%')
            )
        </if>
        ORDER BY dcc.id DESC
    </select>

    <select id="selectParamScreen" resultMap="ParamConfigure">
        SELECT
        dcc.param_name,
        dcc.param_desc,
        dcc.remark
        FROM DEF_CORP_CFG dcc

       WHERE <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!=''">
                    dcc.${entryKey} LIKE concat('%',#{entryValue},'%')
                </when>
                <otherwise>
                    1=1
                </otherwise>

            </choose>
        </foreach>
        ORDER BY dcc.id DESC
    </select>

</mapper>
