<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.ParamConfigureMapper">

    <resultMap type="com.bizvane.ishop.entity.ParamConfigure" id="ParamConfigure">
        <id column="id" property="id"/>
        <result column="param_name" property="param_name"/>
        <result column="param_type" property="param_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="param_values" property="param_values" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="param_desc" property="param_desc" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="remark" property="remark" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>

    </resultMap>

    <select id="selectById" resultMap="ParamConfigure">
        SELECT *
        FROM def_corp_cfg
        WHERE id=#{id}
    </select>

    <select id="selectAllParam" resultMap="ParamConfigure">
        SELECT *
        FROM def_corp_cfg
        <if test="search_value != null and search_value !=''">
            WHERE
            (param_name LIKE concat('%',#{search_value},'%')
            OR param_values LIKE concat('%',#{search_value},'%')
            OR param_desc LIKE concat('%',#{search_value},'%')
            OR def_corp_cfg.remark LIKE concat('%',#{search_value},'%')
            )
        </if>
        ORDER BY def_corp_cfg.id DESC
    </select>

    <select id="selectParams" resultMap="ParamConfigure">
        SELECT *
        FROM def_corp_cfg
        WHERE def_corp_cfg.isactive="Y"

       ORDER BY def_corp_cfg.id DESC
    </select>

    <delete id="deleteByParamId">
        DELETE FROM 
        def_corp_cfg
        WHERE ID=#{id}
    </delete>

    <insert id="insertParam" parameterType="com.bizvane.ishop.entity.ParamConfigure">
        INSERT INTO def_corp_cfg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="param_name!=null">
                param_name,
            </if>
            <if test="param_type!=null">
                param_type,
            </if>
            <if test="param_values!=null">
                param_values,
            </if>
            <if test="param_desc!=null">
                param_desc,
            </if>
            <if test="remark!=null">
                remark,
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>

        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="param_name!=null">
                #{param_name},
            </if>
            <if test="param_type!=null">
                #{param_type},
            </if>
            <if test="param_values!=null">
                #{param_values},
            </if>
            <if test="param_desc!=null">
                #{param_desc},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateParam" parameterType="com.bizvane.ishop.entity.ParamConfigure">
        UPDATE def_corp_cfg
        <trim prefix="SET" suffixOverrides=",">
            <if test="param_name!=null">
                param_name=#{param_name},
            </if>
            <if test="param_type!=null">
                param_type=#{param_type},
            </if>
            <if test="param_values!=null">
                param_values=#{param_values},
            </if>
            <if test="param_desc!=null ">
                param_desc=#{param_desc},
            </if>
            <if test="remark!=null">
                remark=#{remark},
            </if>
            <if test="modified_date != null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="created_date != null">
                created_date = #{created_date},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="isactive != null">
                isactive = #{isactive},
            </if>
        </trim>
        WHERE def_corp_cfg.id=#{id};
    </update>

    <select id="selectParamByKey" resultMap="ParamConfigure">
        SELECT * FROM def_corp_cfg
        WHERE param_name=#{param_name}
        AND def_corp_cfg.isactive="Y"

    </select>

    <select id="selectParamByName" resultMap="ParamConfigure">
        SELECT * FROM def_corp_cfg
        WHERE param_desc=#{param_desc}
        And def_corp_cfg.isactive="Y"

    </select>

    <select id="selectParamScreen" resultMap="ParamConfigure">
        SELECT
        dcc.param_name,
        dcc.param_type,
        dcc.param_values,
        dcc.param_desc,
        dcc.remark
        FROM def_corp_cfg dcc
        WHERE
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!=''and entryKey!=''">
                    dcc.${entryKey} REGEXP #{entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>

            </choose>
        </foreach>
        ORDER BY dcc.id DESC
    </select>

</mapper>
