<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.PrivilegeMapper">

    <insert id="insert" parameterType="com.bizvane.ishop.entity.Privilege">
        INSERT INTO def_privilege
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="action_code!=null">
                action_code,
            </if>
            <if test="function_code!=null">
                function_code,
            </if>
            <if test="master_code!=null">
                master_code,
            </if>
            <if test="column_code!=null">
                column_code,
            </if>
            <if test="enable!=null">
                enable,
            </if>
            <if test="modified_date != null">
                modified_date,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                created_date,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="action_code!=null">
                #{action_code},
            </if>
            <if test="function_code!=null">
                #{function_code},
            </if>
            <if test="master_code!=null">
                #{master_code},
            </if>
            <if test="column_code!=null">
                #{column_code},
            </if>
            <if test="enable!=null">
                #{enable},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bizvane.ishop.entity.Privilege">
        UPDATE def_privilege
        <trim prefix="SET" suffixOverrides=",">
            <if test="action_code != null">
                action_code = #{action_code},
            </if>
            <if test="function_code != null">
                function_code = #{function_code},
            </if>
            <if test="master_code != null">
                master_code = #{master_code},
            </if>

            <if test="column_code != null">
                column_code = #{column_code},
            </if>
            <if test="enable != null">
                enable = #{enable},
            </if>
            <if test="modified_date != null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="created_date != null">
                created_date = #{created_date},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="isactive != null">
                isactive = #{isactive},
            </if>
        </trim>
        WHERE id = #{id};
    </update>

    <delete id="delete">
        DELETE FROM
        def_privilege
        WHERE master_code = #{master_code}
    </delete>
</mapper>