<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.RoleMapper">

    <select id="selectByRoleId" resultType="com.bizvane.ishop.entity.Role">
        select *
        from DEF_ROLE
        where
        <if test="role_id != 0">
            ID = #{role_id}
        </if>
    </select>

    <select id="selectAllRole" resultType="com.bizvane.ishop.entity.Role">
        select *
        from DEF_ROLE
        where 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (role_code like concat('%',#{search_value},'%')
            OR role_name like concat('%',#{search_value},'%')
            OR remark like concat('%',#{search_value},'%')
            OR modified_date like concat('%',#{search_value},'%')
            OR MODIFIER like concat('%',#{search_value},'%')
            OR isactive like concat('%',#{search_value},'%')
            )
        </if>
        ORDER BY ID
    </select>

    <select id="selectUserRole" resultType="com.bizvane.ishop.entity.Role">
        select *
        from DEF_ROLE
        where 1 = 1
        <if test="role_code != null and role_code !=''">
            AND role_code &lt; #{role_code}
        </if>
        AND ISACTIVE = 'Y'
        ORDER BY ID
    </select>

    <insert id="insertRole" parameterType="com.bizvane.ishop.entity.Role">
        insert into DEF_ROLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="role_name != null">
                role_name,
            </if>
            <if test="role_code != null">
                role_code,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="role_name != null">
                #{role_name},
            </if>
            <if test="role_code != null">
                #{role_code},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateByRoleId" parameterType="com.bizvane.ishop.entity.Role">
        UPDATE DEF_ROLE
        <trim prefix="SET" suffixOverrides=",">
            <if test="role_code != null">
                role_code = #{role_code},
            </if>
            <if test="role_name != null">
                role_name = #{role_name},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="modified_date != null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="created_date != null">
                created_date = #{created_date},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="isactive != null">
                isactive = #{isactive},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>

    <delete id="deleteByRoleId">
        delete from
        DEF_ROLE
        where ID = #{id}
    </delete>
</mapper>