<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.RoleMapper">

    <select id="selectByRoleId" resultType="com.bizvane.ishop.entity.Role">
        SELECT *
        FROM def_role
        WHERE
        <if test="role_id != 0">
            id = #{role_id}
        </if>
    </select>

    <select id="selectAllRole" resultType="com.bizvane.ishop.entity.Role">
        SELECT *
        FROM def_role
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (role_code LIKE concat('%',#{search_value},'%')
            OR role_name LIKE concat('%',#{search_value},'%')
            OR remark LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY id
        ORDER BY id DESC
    </select>

    <select id="selectUserRole" resultType="com.bizvane.ishop.entity.Role">
        SELECT *
        FROM def_role
        WHERE 1 = 1
        <if test="role_code != null and role_code !=''">
            AND role_code &lt; #{role_code}
        </if>
        AND isactive = 'Y'
        GROUP BY id
        ORDER BY id DESC
    </select>

    <insert id="insertRole" parameterType="com.bizvane.ishop.entity.Role">
        INSERT INTO def_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="role_name != null">
                role_name,
            </if>
            <if test="role_code != null">
                role_code,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="role_name != null">
                #{role_name},
            </if>
            <if test="role_code != null">
                #{role_code},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateByRoleId" parameterType="com.bizvane.ishop.entity.Role">
        UPDATE def_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="role_code != null">
                role_code = #{role_code},
            </if>
            <if test="role_name != null">
                role_name = #{role_name},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="modified_date != null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="created_date != null">
                created_date = #{created_date},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="isactive != null">
                isactive = #{isactive},
            </if>
        </trim>
        WHERE id = #{id};
    </update>

    <delete id="deleteByRoleId">
        DELETE FROM
        def_role
        WHERE id = #{id}
    </delete>
    <select id="countRoleCode" resultType="java.lang.Integer">
        SELECT count(*) FROM def_role WHERE role_code=#{role_code}
    </select>
    <select id="getRoleForID" resultType="com.bizvane.ishop.entity.Role">
        SELECT * FROM def_role WHERE role_code=#{role_code}
    </select>
    <select id="countRoleName" resultType="java.lang.Integer">
        SELECT count(*) FROM def_role WHERE role_name=#{role_name}
    </select>
</mapper>