<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.ShopInfoMapper">

    <select id="selectByShopInfoId" resultType="com.bizvane.ishop.entity.ShopInfo">
    select *
    from DEF_STORE
    where ID=#{id}
    </select>
    <select id="selectAllShop" resultType="com.bizvane.ishop.entity.ShopInfo">
        select *
        from DEF_STORE
        where 1 = 1
        <if test="corp_code != null and corp_code !=''">
            AND CORP_CODE = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND STORE_CODE like #{search_value}
            OR ID like #{search_value}
            OR STORE_NAME like #{search_value}
            OR BRAND_CODE like #{search_value}
            OR BRAND_NAME like #{search_value}
            OR STORE_AREA like #{search_value}
            OR CORP_CODE like #{search_value}
            OR MODIFIED_DATE like #{search_value}
            OR MODIFIER like #{search_value}
            OR ISACTIVE like #{search_value}
        </if>
        ORDER BY ID
    </select>

    <select id="selectShopCode" resultType="com.bizvane.ishop.entity.ShopInfo">
        select *
        from DEF_STORE
        WHERE
        STORE_CODE = #{0} AND CORP_CODE = #{1}
    </select>

    <delete id="deleteByShopInfoId">
        delete from
        DEF_STORE
        where ID=#{id}
    </delete>


    <insert id="insertShopInfo" parameterType="com.bizvane.ishop.entity.ShopInfo">
        insert into DEF_STORE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="store_code!=null">
                store_code,
            </if>
            <if test="store_name!=null">
                store_name,
            </if>
            <if test="brand_code!=null">
                brand_code,
            </if>
            <if test="brand_name!=null">
                brand_name,
            </if>
            <if test="store_area!=null">
                store_area,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="flg_tob!=null">
                flg_tob,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="store_code!=null">
                #{store_code},
            </if>
            <if test="store_name!=null">
                #{store_name},
            </if>
            <if test="brand_code!=null">
                #{brand_code},
            </if>
            <if test="brand_name!=null">
                #{brand_name},
            </if>
            <if test="store_area!=null">
                #{store_area},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="flg_tob!=null">
                #{flg_tob},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
        </trim>
    </insert>
    <update id="updateShopInfo" parameterType="com.bizvane.ishop.entity.ShopInfo">
        UPDATE DEF_STORE
        <trim prefix="SET" suffixOverrides=",">
            <if test="store_code!=null and store_code!=''">
                store_code=#{store_code},
            </if>
            <if test="store_name!=null and store_name!=''">
                store_name=#{store_name},
            </if>
            <if test="brand_code!=null and brand_code!=''">
                brand_code=#{brand_code},
            </if>
            <if test="brand_name!=null and brand_name!=''">
                brand_name=#{brand_name},
            </if>
            <if test="store_area!=null and store_area!=''">
                store_area=#{store_area},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code=#{corp_code},
            </if>
            <if test="flg_tob!=null and flg_tob!=''">
                #{flg_tob},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null and creater!=''">
                creater=#{creater},
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE ID=#{id};
    </update>
</mapper>
