<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.SignMapper">
    <select id="selectSignface" resultType="com.bizvane.ishop.entity.Sign">
        SELECT ds.ID,
        ds.USER_NAME,
        ds.CORP_CODE,
        ds.STORE_CODE,
        du.PHONE,
        ds.STATUS,
        ds.DISTANCE,
        ds.MODIFIER,
        ds.MODIFIED_DATE,
        ds.ISACTIVE
        FROM ACC_SIGN  ds  INNER JOIN  def_user du ON ds.USER_CODE=du.USER_CODE
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            ds.USER_NAME LIKE concat('%', #{search_value},'%')
            OR ds.CORP_CODE LIKE concat('%', #{search_value},'%')
            OR ds.STORE_CODE LIKE concat('%', #{search_value},'%')
            OR du.PHONE LIKE concat('%',#{search_value},'%')
            OR STATUS LIKE concat('%', #{search_value},'%')
            OR DISTANCE LIKE concat('%',#{search_value},'%')
            OR ds.MODIFIER LIKE concat('%', #{search_value},'%')
            OR ds.MODIFIED_DATE LIKE concat('%', #{search_value},'%')
            OR ds.ISACTIVE LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY ID
    </select>
    
    <select id="selectById" resultType="com.bizvane.ishop.entity.Sign">
 SELECT ds.ID,
        ds.USER_NAME,
        ds.CORP_CODE,
        ds.STORE_CODE,
        du.PHONE,
        ds.STATUS,
        ds.DISTANCE,
        ds.MODIFIER,
        ds.MODIFIED_DATE,
        ds.ISACTIVE
        FROM ACC_SIGN  ds  INNER JOIN  def_user du ON ds.USER_CODE=du.USER_CODE
        WHERE ds.ID = #{id}
    </select>

    <delete id="delSignById">
        DELETE FROM ACC_SIGN
        WHERE ID=#{id};
    </delete>
</mapper>