<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.SignMapper">
    <select id="selectSignAll" resultType="com.bizvane.ishop.entity.Sign">
        SELECT acc_sign.ID,
        acc_sign.user_code,
        acc_sign.USER_NAME,
        acc_sign.SIGN_SERIAL_DAYS,
        acc_sign.SIGN_TOTAL_DAYS,
        acc_sign.STATUS,
        acc_sign.SIGN_TIME,
        acc_sign.ISACTIVE
        from acc_sign
        WHERE acc_sign.STATUS !='1'
        <if test="corp_code != null and corp_code !=''">
            AND acc_sign.CORP_CODE = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (
            acc_sign.user_code LIKE concat('%', #{search_value},'%')
            OR acc_sign.USER_NAME LIKE concat('%', #{search_value},'%')
            OR acc_sign.SIGN_SERIAL_DAYS LIKE concat('%', #{search_value},'%')
            OR  acc_sign.SIGN_TOTAL_DAYS LIKE concat('%', #{search_value},'%')
            OR  acc_sign.STATUS LIKE concat('%', #{search_value},'%')
            OR  acc_sign.SIGN_TIME LIKE concat('%', #{search_value},'%')
            OR  acc_sign.ISACTIVE LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY acc_sign.ID
    </select>
    <select id="selectSignByInp" resultType="com.bizvane.ishop.entity.Sign">
        SELECT acc_sign.ID,
        acc_sign.user_code,
        acc_sign.USER_NAME,
        acc_sign.SIGN_SERIAL_DAYS,
        acc_sign.SIGN_TOTAL_DAYS,
        acc_sign.STATUS,
        acc_sign.SIGN_TIME,
        acc_sign.ISACTIVE
        from acc_sign
        where acc_sign.STATUS !='1'
        AND acc_sign.user_code IN
        (
            SELECT DEF_USER.user_code
            from DEF_USER,DEF_GROUP,DEF_CORP
            where DEF_USER.group_code = DEF_GROUP.group_code
            AND DEF_USER.corp_code = DEF_CORP.corp_code
            AND DEF_USER.corp_code = DEF_GROUP.corp_code
            AND DEF_USER.CORP_CODE = #{corp_code}
            AND DEF_GROUP.role_code &lt; #{role_code}
            AND
            <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
                store_code regexp #{item}
            </foreach>
        )
        <if test="search_value != null and search_value !=''">
            AND
            (
            acc_sign.user_code LIKE concat('%', #{search_value},'%')
            OR acc_sign.USER_NAME LIKE concat('%', #{search_value},'%')
            OR acc_sign.SIGN_SERIAL_DAYS LIKE concat('%', #{search_value},'%')
            OR  acc_sign.SIGN_TOTAL_DAYS LIKE concat('%', #{search_value},'%')
            OR  acc_sign.STATUS LIKE concat('%', #{search_value},'%')
            OR  acc_sign.SIGN_TIME LIKE concat('%', #{search_value},'%')
            OR  acc_sign.ISACTIVE LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY acc_sign.ID
    </select>
    <select id="selectByUser" resultType="com.bizvane.ishop.entity.Sign">
        select acc_sign.* from acc_sign WHERE acc_sign.corp_code=#{corp_code} and acc_sign.user_code=#{user_code}
        <if test="search_value != null and search_value !=''">
            AND
            (
            acc_sign.user_code LIKE concat('%', #{search_value},'%')
            OR acc_sign.USER_NAME LIKE concat('%', #{search_value},'%')
            OR acc_sign.SIGN_SERIAL_DAYS LIKE concat('%', #{search_value},'%')
            OR  acc_sign.SIGN_TOTAL_DAYS LIKE concat('%', #{search_value},'%')
            OR  acc_sign.STATUS LIKE concat('%', #{search_value},'%')
            OR  acc_sign.SIGN_TIME LIKE concat('%', #{search_value},'%')
            OR  acc_sign.ISACTIVE LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY acc_sign.ID
    </select>


    <delete id="delSignById">
        DELETE FROM ACC_SIGN
        WHERE ID=#{id};
    </delete>
</mapper>