<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bizvane.ishop.dao.SmsTemplateMapper">

    <resultMap id="MessageTemplates" type="com.bizvane.ishop.entity.SmsTemplate">
        <id column="id" property="id"/>
        <result column="template_code" property="template_code" />
        <result column="template_name" property="template_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_content" property="template_content" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
      <!--  <result column="template_title" property="template_title" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>-->
        <result column="template_type" property="template_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_type_name" property="template_type_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
    </resultMap>

    <select id="selectBySearch" resultMap="MessageTemplates">
        SELECT
        dmt.id,
        dmt.template_code,
        dmt.template_name,
        dmt.template_content,
        dmt.template_type,
        dmt.isactive,
        dmt.corp_code,
        dmt.modifier,
        dmt.modified_date,
        dmt.created_date,
        dmt.creater,
        dc.corp_name,
        dstt.template_type_name
        FROM def_sms_template dmt,DEF_CORP dc,def_sms_template_type dstt
        WHERE dmt.corp_code=dc.corp_code
        AND dmt.corp_code = dstt.corp_code
        AND dmt.template_type=dstt.template_type_code
        <if test="corp_code!=null and corp_code!=''">
            AND dmt.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                dmt.corp_code =#{item}
            </foreach>
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (
            dmt.template_code LIKE concat('%',#{search_value},'%')
            OR dmt.template_name LIKE concat('%',#{search_value},'%')
            OR dmt.template_content LIKE concat('%',#{search_value},'%')
            OR dc.corp_name LIKE concat('%',#{search_value},'%')
            OR dstt.template_type_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY dmt.id
        ORDER BY dmt.id DESC
    </select>

    <select id="selectByPrimaryKey" resultMap="MessageTemplates">
        SELECT
        dmt.id,
        dmt.template_code,
        dmt.template_name,
        template_type,
        dmt.template_content,
        dmt.isactive,
        dmt.corp_code,
        dmt.modifier,
        dmt.modified_date,
        dmt.created_date,
        dmt.creater,
        dc.corp_name,
        dstt.template_type_name
        FROM def_sms_template dmt,DEF_CORP dc,def_sms_template_type dstt
        WHERE dmt.corp_code=dc.corp_code
        AND dmt.corp_code = dstt.corp_code
        AND dmt.template_type=dstt.template_type_code
        AND dmt.id=#{id}
     </select>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.SmsTemplate">
        INSERT INTO def_sms_template
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="template_code!=null">
                template_code,
            </if>
            <if test="template_name!=null">
                template_name ,
            </if>

            <if test="template_type!=null">
                template_type ,
            </if>
            <if test="template_content!=null ">
                template_content ,
            </if>
            <if test="isactive!=null ">
                isactive ,
            </if>
            <if test="corp_code!=null ">
                corp_code ,
            </if>
            <if test="modified_date!=null ">
                modified_date,
            </if>
            <if test="modifier!=null ">
                modifier ,
            </if>
            <if test="created_date!=null ">
                created_date ,
            </if>
            <if test="creater!=null ">
                creater ,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="template_code!=null ">
                #{template_code},
            </if>
            <if test="template_name!=null ">
                #{template_name },
            </if>

            <if test="template_type!=null ">
                #{template_type},
            </if>
            <if test="template_content!=null ">
                #{template_content},
            </if>
            <if test="isactive!=null ">
                #{isactive} ,
            </if>
            <if test="corp_code!=null ">
                #{corp_code} ,
            </if>
            <if test="modified_date!=null ">
                #{modified_date},
            </if>
            <if test="modifier!=null ">
                #{modifier} ,
            </if>
            <if test="created_date!=null ">
                #{created_date} ,
            </if>
            <if test="creater!=null ">
                #{creater} ,
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.bizvane.ishop.entity.SmsTemplate">
        UPDATE def_sms_template
        <trim prefix="set" suffixOverrides=",">
            <if test="template_code!=null ">
                template_code=#{template_code},
            </if>
            <if test="template_name!=null ">
                template_name=#{template_name},
            </if>
            <if test="template_content!=null ">
                template_content=#{template_content},
            </if>
            <if test="template_type!=null ">
                template_type=#{template_type},
            </if>
            <if test="isactive!=null ">
                isactive=#{isactive} ,
            </if>
            <if test="corp_code!=null ">
                corp_code=#{corp_code} ,
            </if>
            <if test="modified_date!=null ">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null ">
                modifier=#{modifier} ,
            </if>
            <if test="created_date!=null ">
                created_date=#{created_date} ,
            </if>
            <if test="creater!=null ">
                creater=#{creater} ,
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM  def_sms_template WHERE id=#{id}
    </delete>

    <select id="selectByName" resultType="com.bizvane.ishop.entity.SmsTemplate">
        SELECT *
        FROM def_sms_template
        WHERE template_name=#{template_name}
        AND corp_code=#{corp_code}
        AND isactive = 'Y'
    </select>

    <select id="selectByCode" resultType="com.bizvane.ishop.entity.SmsTemplate">
        SELECT *
        FROM def_sms_template
        WHERE template_code=#{template_code}
        AND corp_code=#{corp_code}
        AND isactive = 'Y'
    </select>
    <select id="getSmsTemplateForId" resultType="com.bizvane.ishop.entity.SmsTemplate">
        SELECT *
        FROM def_sms_template
        WHERE template_code=#{template_code}
        AND corp_code=#{corp_code}
    </select>

    <select id="selectAllSmsTemplateScreen" resultMap="MessageTemplates">
        SELECT
        dmt.id,
        dmt.template_code,
        dmt.template_name,
        dmt.template_type,
        dmt.template_content,
        dmt.isactive,
        dmt.corp_code,
        dmt.modifier,
        dmt.modified_date,
        dmt.created_date,
        dmt.creater,
        dc.corp_name,
        dstt.template_type_name
        from def_sms_template dmt,DEF_CORP dc,def_sms_template_type dstt
        WHERE dmt.corp_code=dc.corp_code
        AND dmt.corp_code = dstt.corp_code
        AND dmt.template_type=dstt.template_type_code
        <if test="corp_code!=null and corp_code!=''">
            AND dmt.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                dmt.corp_code =#{item}
            </foreach>
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="AND" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    dc.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='template_type_name'">
                    dstt.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    dmt.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>

            </choose>
        </foreach>
        GROUP BY dmt.id
        ORDER by dmt.id DESC
    </select>

    <select id="selectByTemplateType" resultMap="MessageTemplates">
        SELECT
        dmt.id,
        dmt.template_code,
        dmt.template_name,
        dmt.template_content,
        dmt.template_type,
        dmt.isactive,
        dmt.corp_code,
        dmt.modifier,
        dmt.modified_date,
        dmt.created_date,
        dmt.creater,
        dc.corp_name,
        dstt.template_type_name
        FROM def_sms_template dmt,DEF_CORP dc,def_sms_template_type dstt
        WHERE dmt.corp_code=dc.corp_code
        AND dmt.corp_code = dstt.corp_code
        AND dmt.template_type=dstt.template_type_code
        AND dmt.corp_code=#{corp_code}
        AND dmt.template_type = #{template_type}
        GROUP BY dmt.id
        ORDER BY dmt.id DESC
    </select>

</mapper>
