<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.StoreMapper">

    <resultMap type="com.bizvane.ishop.entity.Store" id="Store">
        <id column="id" property="id"/>
        <result column="logo" property="logo" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="store_id" property="store_id" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="store_code" property="store_code"/>
        <result column="store_name" property="store_name"/>
        <result column="brand_code" property="brand_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="area_code" property="area_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="area_name" property="area_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="brand_name" property="brand_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="flg_tob" property="flg_tob" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_code" property="corp_code"/>
        <result column="province" property="province" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="city" property="city" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="area" property="area" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="street" property="street" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="lng" property="lng" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="lat" property="lat" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="distance" property="distance" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive"/>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
    </resultMap>

    <select id="selectByStoreId" resultMap="Store">
        SELECT
        def_store.id,
        store_id,
        store_code,
        store_name,
        brand_code,
        flg_tob,
        def_store.province,
        def_store.city,
        def_store.area,
        def_store.street,
        def_store.lng,
        def_store.lat,
        def_store.area_code,
        def_store.corp_code,
        def_store.modified_date,
        def_store.modifier,
        def_store.created_date,
        def_store.creater,
        def_store.isactive,
        def_corp.corp_name,
        def_store.logo
        FROM def_store,def_corp
        WHERE def_store.corp_code = def_corp.corp_code
        AND def_store.id=#{id}
    </select>

    <select id="selectByCode" resultType="com.bizvane.ishop.entity.Store">
        SELECT *
        FROM def_store
        WHERE corp_code = #{corp_code}
        AND store_code = #{store_code}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <!--判断店铺id是否重复-->
    <select id="selStoreByStroeId" resultType="com.bizvane.ishop.entity.Store">
        SELECT * FROM def_store
        where corp_code = #{corp_code}
        AND store_id = #{store_id}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="selectAllStore" resultMap="Store">
        SELECT
        def_store.id,
        store_id,
        store_code,
        store_name,
        flg_tob,
        province,
        city,
        area,
        street,
        def_store.area_code,
        def_store.brand_code,
        def_store.corp_code,
        def_store.modified_date,
        def_store.modifier,
        def_store.isactive,
        def_corp.corp_name,
        def_store.logo
        FROM def_store,def_corp
        WHERE def_store.corp_code = def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_store.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (store_code LIKE concat('%',#{search_value},'%')
            OR store_id LIKE concat('%',#{search_value},'%')
            OR store_name LIKE concat('%',#{search_value},'%')
            OR def_corp.corp_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        <if test="search_area_code != null and search_area_code !=''">
            AND def_store.area_code LIKE concat('%',#{search_area_code},'%')
        </if>
        <if test="isactive != null and isactive !=''">
            AND def_store.isactive = #{isactive}
        </if>
        AND def_corp.isactive = 'Y'
        GROUP BY def_store.id
        ORDER BY def_store.id DESC
    </select>

    <select id="selectByCorp" resultType="com.bizvane.ishop.entity.Store">
        select
        def_store.store_code,
        def_store.store_name,
        def_store.logo
        FROM def_store,def_corp
        WHERE def_store.corp_code = def_corp.corp_code
        AND def_store.corp_code = #{corp_code}
        AND def_store.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_store.id
        ORDER BY def_store.id DESC
    </select>

    <select id="selectByAreaBrand" resultMap="Store">
        select
        def_store.id,
        store_id,
        store_code,
        store_name,
        province,
        city,
        area,
        street,
        def_store.brand_code,
        flg_tob,
        def_store.area_code,
        def_store.corp_code,
        def_store.modified_date,
        def_store.modifier,
        def_store.isactive,
        def_store.logo,
        def_corp.corp_name
        FROM def_store,def_corp
        WHERE def_store.corp_code = def_corp.corp_code
        AND def_store.corp_code = #{corp_code}
        <if test="area_code != null">
            AND (
            <foreach item="item" index="index" collection="area_code" open="(" separator="or" close=")">
                def_store.area_code REGEXP #{item}
            </foreach>
            <if test="store_codes != null and store_codes !=''">
                OR def_store.store_code IN
                <foreach collection="store_codes" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            )
        </if>
        <if test="brand_code != null">
            AND
            <foreach item="item" index="index" collection="brand_code" open="(" separator="or" close=")">
                def_store.brand_code REGEXP #{item}
            </foreach>
        </if>
        <if test="search_area_code != null and search_area_code !=''">
            AND def_store.area_code LIKE concat('%',#{search_area_code},'%')
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (store_code like concat('%',#{search_value},'%')
            OR store_id LIKE concat('%',#{search_value},'%')
            OR store_name like concat('%',#{search_value},'%')
            OR def_corp.corp_name like concat('%',#{search_value},'%')
            )
        </if>
        <if test="isactive != null and isactive !=''">
            AND def_store.isactive = #{isactive}
        </if>
        AND def_corp.isactive = 'Y'
        GROUP BY def_store.id
        ORDER BY def_store.id DESC
    </select>

<!--下拉框，根据区域拉店铺(区经，企业管理员)-->
    <select id="selStoreByAreaBrand" resultMap="Store">
        select
        def_store.id,
        store_code,
        store_name,
        def_store.area_code,
        def_store.corp_code,
        def_store.logo,
        def_corp.corp_name
        from def_store,def_corp
        WHERE def_store.corp_code = def_corp.corp_code
        AND def_store.corp_code = #{corp_code}
        <if test="area_code != null and area_code !=''">
            AND (
            <foreach item="item" index="index" collection="area_code" open="(" separator="or" close=")">
                def_store.area_code regexp #{item}
            </foreach>
            <if test="store_codes != null and store_codes !=''">
                OR def_store.store_code IN
                <foreach collection="store_codes" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            )
        </if>
        <if test="brand_code != null and brand_code !=''">
            AND
            <foreach item="item" index="index" collection="brand_code" open="(" separator="or" close=")">
                def_store.brand_code regexp #{item}
            </foreach>
        </if>
        <if test="city != null and city !=''">
        AND def_store.city IN
          <foreach collection="city" index="index" item="item" separator="," open="(" close=")">
              #{item}
          </foreach>
        </if>
        <if test="search_value != null and search_value !=''">
            and def_store.store_name like concat('%',#{search_value},'%')
        </if>
        <if test="isactive != null and isactive !=''">
            AND def_store.isactive = #{isactive}
        </if>
        AND def_corp.isactive = 'Y'
        GROUP BY def_store.id
        ORDER BY def_store.id DESC
    </select>

    <select id="selectStore" resultType="com.bizvane.ishop.entity.Store">
        SELECT  store_code,
        store_name,
        logo
        FROM def_store
        WHERE 1=1
        AND corp_code=#{corp_code}
        AND store_code IN
        <foreach collection="store_codes" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        AND isactive = 'Y'
    </select>
    <!--下拉框，根据店铺编号拉店铺（店长，导购）-->
    <select id="selStoreByStoreCodes" resultMap="Store">
        select
        def_store.id,
        store_code,
        store_name,
        def_store.area_code,
        def_store.corp_code,
        def_store.logo,
        def_corp.corp_name
        from def_store,def_corp
        WHERE def_store.corp_code = def_corp.corp_code
        AND def_store.store_code IN
        <foreach item="item" index="index" collection="store_codes" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND def_store.corp_code = #{corp_code}
        <if test="search_value != null and search_value !=''">
            AND def_store.store_name LIKE concat('%',#{search_value},'%')
        </if>
        <if test="isactive != null and isactive !=''">
            AND def_store.isactive = #{isactive}
        </if>
        AND def_corp.isactive = 'Y'
        GROUP BY def_store.id
        ORDER BY def_store.id DESC
    </select>

    <!--列表，根据店铺编号拉店铺（店长，导购）-->
    <select id="selectByStoreCodes" resultMap="Store">
        select
        def_store.id,
        store_id,
        store_code,
        store_name,
        brand_code,
        province,
        city,
        area,
        street,
        flg_tob,
        def_store.area_code,
        def_store.corp_code,
        def_store.modified_date,
        def_store.modifier,
        def_store.isactive,
        def_store.logo,
        def_corp.corp_name
        from def_store,def_corp
        WHERE def_store.corp_code = def_corp.corp_code
        AND def_store.store_code IN
        <foreach item="item" index="index" collection="store_codes" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND def_store.corp_code = #{corp_code}
        <if test="search_value != null and search_value !=''">
            AND
            (store_code like concat('%',#{search_value},'%')
            OR def_store.store_id like concat('%',#{search_value},'%')
            OR store_name like concat('%',#{search_value},'%')
            OR def_corp.corp_name like concat('%',#{search_value},'%')
            )
        </if>
        <if test="isactive != null and isactive !=''">
            AND def_store.isactive = #{isactive}
        </if>
        AND def_corp.isactive = 'Y'
        ORDER BY def_store.id DESC
    </select>

    <insert id="insertStore" parameterType="com.bizvane.ishop.entity.Store">
        INSERT INTO def_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="store_code!=null">
                store_code,
            </if>
            <if test="store_name!=null">
                store_name,
            </if>
            <if test="brand_code!=null">
                brand_code,
            </if>
            <if test="area_code!=null">
                area_code,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="flg_tob!=null">
                flg_tob,
            </if>
            <if test="province!=null">
                province,
            </if>
            <if test="city!=null">
                city,
            </if>
            <if test="area!=null">
                area,
            </if>
            <if test="street!=null">
                street,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="store_id!=null">
                store_id,
            </if>
            <if test="lng!=null">
                lng,
            </if>
            <if test="lat!=null">
                lat,
            </if>
            <if test="logo!=null">
                logo,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="store_code!=null">
                #{store_code},
            </if>
            <if test="store_name!=null">
                #{store_name},
            </if>
            <if test="brand_code!=null">
                #{brand_code},
            </if>
            <if test="area_code!=null">
                #{area_code},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="flg_tob!=null">
                #{flg_tob},
            </if>
            <if test="province!=null">
                #{province},
            </if>
            <if test="city!=null">
                #{city},
            </if>
            <if test="area!=null">
                #{area},
            </if>
            <if test="street!=null">
                #{street},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="store_id!=null">
                #{store_id},
            </if>
            <if test="lng!=null">
                #{lng},
            </if>
            <if test="lat!=null">
                #{lat},
            </if>
            <if test="logo!=null">
                #{logo},
            </if>
        </trim>
    </insert>

    <update id="updateStore" parameterType="com.bizvane.ishop.entity.Store">
        UPDATE def_store
        <trim prefix="SET" suffixOverrides=",">
            <if test="store_code!=null ">
                store_code=#{store_code},
            </if>
            <if test="store_id!=null ">
                store_id=#{store_id},
            </if>
            <if test="store_name!=null ">
                store_name=#{store_name},
            </if>
            <if test="brand_code!=null ">
                brand_code=#{brand_code},
            </if>
            <if test="area_code!=null ">
                area_code=#{area_code},
            </if>
            <if test="corp_code!=null ">
                corp_code=#{corp_code},
            </if>
            <if test="flg_tob!=null ">
                flg_tob = #{flg_tob},
            </if>
            <if test="province!=null ">
                province = #{province},
            </if>
            <if test="city!=null ">
                city = #{city},
            </if>
            <if test="area!=null ">
                area = #{area},
            </if>
            <if test="street!=null ">
                street = #{street},
            </if>
            <if test="lng!=null ">
                lng = #{lng},
            </if>
            <if test="lat!=null ">
                lat = #{lat},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null ">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null ">
                creater=#{creater},
            </if>
            <if test="isactive!=null ">
                isactive=#{isactive},
            </if>
            <if test="logo!=null ">
                logo=#{logo},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

    <delete id="deleteByStoreId">
        DELETE FROM
        def_store
        WHERE ID=#{id}
    </delete>

    <!--删除店铺下员工-->
    <update id="deleteStoreUser">
        UPDATE def_user
        SET store_code=replace(store_code,#{store_code},'')
        WHERE id=#{user_id}
    </update>

    <!--判断店铺名称是否重复-->
    <select id="selectByStoreName" resultType="com.bizvane.ishop.entity.Store">
        SELECT * FROM def_store
        WHERE corp_code=#{corp_code}
        AND store_name=#{store_name}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <!--店铺数量  / 店铺新增数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM def_store
        WHERE 1=1
        <if test="created_date !=''">
            AND created_date LIKE concat(#{created_date},'%')
        </if>
    </select>

    <select id="selectAchCount" resultType="java.lang.Integer">
        SELECT count(1) FROM def_store_ACHV_GOAL
        WHERE store_code=#{store_code}
        AND corp_code = #{corp_code}
    </select>

    <select id="selectAllStoreScreen" resultMap="Store">
        SELECT
        ds.id,
        store_id,
        store_code,
        store_name,
        flg_tob,
        province,
        city,
        area,
        street,
        ds.area_code,
        ds.brand_code,
        ds.corp_code,
        ds.modified_date,
        ds.modifier,
        ds.isactive,
        ds.logo,
        dc.corp_name
        FROM def_store ds,def_corp dc,def_area da,def_brand db
        WHERE ds.corp_code = dc.corp_code
        AND ds.corp_code = da.corp_code
        AND ds.corp_code = db.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND ds.corp_code=#{corp_code}
        </if>
        <if test="area_codes!=null and area_codes!=''">
            AND (
            <foreach collection="area_codes" index="index" item="item" open="(" separator="or" close=")">
                ds.area_code REGEXP #{item}
            </foreach>
            <if test="area_store_codes != null and area_store_codes !=''">
                OR def_store.store_code IN
                <foreach collection="area_store_codes" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            )
        </if>
        <if test="brand_codes != null and brand_codes!=''">
            AND
            <foreach collection="brand_codes" item="item" index="index" open="(" separator="or" close=")">
                ds.brand_code REGEXP #{item}
            </foreach>
        </if>
        <if test="store_codes!=null and store_codes!=''">
            AND ds.store_code IN
            <foreach collection="store_codes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
                <choose>
                    <when test="entryValue!='' and entryKey=='corp_name'">
                        dc.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!='' and entryKey=='area_name'">
                        ds.area_code LIKE concat('%§',da.area_code,',%')
                        AND da.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!='' and entryKey=='brand_name'">
                        ds.brand_code LIKE concat('%§',db.brand_code,',%')
                        AND db.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!=''">
                        ds.${entryKey} REGEXP ${entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        <if test="isactive != null and isactive!=''">
            AND ds.isactive = #{isactive}
        </if>
        AND dc.isactive = 'Y'
        AND da.isactive = 'Y'
        AND db.isactive = 'Y'
        GROUP BY ds.id
        ORDER BY ds.id DESC
    </select>

    <select id="selectAllStoreScreenEasy" resultMap="Store">
        SELECT
        ds.id,
        store_id,
        store_code,
        store_name,
        flg_tob,
        province,
        city,
        area,
        street,
        ds.area_code,
        ds.brand_code,
        ds.corp_code,
        ds.modified_date,
        ds.modifier,
        ds.isactive,
        ds.logo,
        dc.corp_name
        FROM def_store ds,def_corp dc
        WHERE ds.corp_code = dc.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND ds.corp_code=#{corp_code}
        </if>
        <if test="area_codes!=null and area_codes!=''">
            AND (
            <foreach collection="area_codes" index="index" item="item" open="(" separator="or" close=")">
                ds.area_code REGEXP #{item}
            </foreach>
            <if test="store_codes != null and store_codes !=''">
                OR def_store.store_code IN
                <foreach collection="store_codes" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            )
        </if>
        <if test="brand_codes != null and brand_codes!=''">
            AND
            <foreach collection="brand_codes" item="item" index="index" open="(" separator="or" close=")">
                ds.brand_code REGEXP #{item}
            </foreach>
        </if>
        <if test="store_codes!=null and store_codes!=''">
            AND ds.store_code IN
            <foreach collection="store_codes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
                <choose>
                    <when test="entryValue!='' and entryKey=='corp_name'">
                        dc.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!=''">
                        ds.${entryKey} REGEXP ${entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        <if test="isactive != null and isactive!=''">
            AND ds.isactive = #{isactive}
        </if>
        AND dc.isactive = 'Y'
        GROUP BY ds.id
        ORDER BY ds.id DESC
    </select>

    <select id="selectStoreCountByArea" resultType="com.bizvane.ishop.entity.Store">
        SELECT
        ds.id,
        store_code,
        store_name,
        ds.area_code,
        ds.corp_code,
        ds.logo
        FROM def_store ds,def_corp dc
        WHERE ds.corp_code = dc.corp_code
        AND ds.corp_code = #{corp_code}
        AND
        <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
            ds.area_code REGEXP #{item}
        </foreach>
        <if test="isactive != null and isactive !=''">
        AND ds.isactive = #{isactive}
        </if>
        AND dc.isactive = 'Y'
        ORDER BY ds.id DESC
    </select>

    <select id="selectStoreCountByBrand" resultType="com.bizvane.ishop.entity.Store">
        SELECT ds.id,
        ds.store_code,
        ds.store_name,
        ds.logo
        FROM def_store ds,def_corp dc
        WHERE ds.corp_code = dc.corp_code
        AND ds.corp_code=#{corp_code}
        AND
        <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
            ds.brand_code REGEXP #{item}
        </foreach>
        <if test="search_value != null and search_value !=''">
            AND ds.store_name LIKE concat('%',#{search_value},'%')
        </if>
        <if test="isactive != null and isactive !=''">
            AND ds.isactive = #{isactive}
        </if>
        AND dc.isactive = 'Y'
        GROUP BY ds.id
        ORDER BY ds.id DESC
    </select>

    <select id="selectStoreCity" resultType="com.bizvane.ishop.entity.Store">
        SELECT city,logo
        FROM def_store
        WHERE isactive= 'Y'
        AND corp_code = #{corp_code}
        AND city IS NOT NULL
        AND city != ""
        <if test="search_value != null and search_value !=''">
            AND def_store.city LIKE concat('%',#{search_value},'%')
        </if>
        GROUP BY city
        ORDER BY city;
    </select>

    <select id="selectAllOrderByCity" resultMap="Store">
        SELECT
        def_store.id,
        store_code,
        store_name,
        province,
        city,
        area,
        street,
        def_store.area_code,
        def_store.brand_code,
        def_store.corp_code,
        def_store.lng,
        def_store.lat,
        def_store.logo
        FROM def_store,def_corp
        WHERE def_store.corp_code = def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_store.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (province LIKE concat('%',#{search_value},'%')
            OR city LIKE concat('%',#{search_value},'%')
            OR area LIKE concat('%',#{search_value},'%')
            OR street LIKE concat('%',#{search_value},'%')
            OR concat(province,city,area,street) LIKE concat('%',#{search_value},'%')
            OR store_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND def_store.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_store.id
        ORDER BY def_store.province DESC, def_store.city DESC
    </select>

    <select id="selectNearByStore" resultMap="Store">
        SELECT
        def_store.id,
        store_code,
        store_name,
        province,
        city,
        area,
        street,
        def_store.area_code,
        def_store.brand_code,
        def_store.corp_code,
        def_store.lng,
        def_store.lat,
        def_store.logo,
        (st_distance (point (lng, lat),point(#{lng},#{lat}) ) *111195) AS distance
        FROM def_store,def_corp
        WHERE def_store.corp_code = def_corp.corp_code
        AND def_store.corp_code = #{corp_code}
        AND def_store.lng IS NOT NULL AND def_store.lng != ''
        AND def_store.lat IS NOT NULL AND def_store.lat != ''
        AND def_store.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_store.id
            HAVING distance &lt; #{distance}
        ORDER BY distance
    </select>

</mapper>
