<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.StoreMapper">

    <select id="selectByStoreCode" resultType="com.bizvane.ishop.entity.StoreQrcode">
        SELECT
        rsq.id,
        rsq.qrcode,
        rsq.app_id,
        rcw.app_name,
        rsq.qrcode_content
        FROM rel_store_qrcode rsq ,rel_corp_wechat rcw
        WHERE rsq.corp_code = rcw.corp_code
        AND rsq.app_id = rcw.app_id
        AND rsq.store_code=#{store_code}
        AND rsq.corp_code=#{corp_code}
        AND rcw.isactive = 'Y'
        AND rcw.is_authorize = 'Y'
    </select>

    <select id="selectByStoreQrcode" resultType="com.bizvane.ishop.entity.StoreQrcode">
        SELECT
        rsq.id,
        rsq.qrcode,
        rsq.app_id,
        rcw.app_name,
        rsq.qrcode_content
        FROM rel_store_qrcode rsq ,rel_corp_wechat rcw
        WHERE rsq.corp_code = rcw.corp_code
        AND rsq.app_id = rcw.app_id
        AND rsq.store_code=#{store_code}
        AND rsq.corp_code=#{corp_code}
        AND rsq.qrcode=#{qrcode}
        AND rcw.isactive = 'Y'
        AND rcw.is_authorize = 'Y'
    </select>

    <select id="selectByStoreApp" resultType="com.bizvane.ishop.entity.StoreQrcode">
        SELECT
        rsq.id,
        rsq.qrcode,
        rsq.app_id,
        rcw.app_name
        FROM rel_store_qrcode rsq ,rel_corp_wechat rcw
        WHERE rsq.corp_code = rcw.corp_code
        AND rsq.app_id = rcw.app_id
        AND rsq.store_code=#{store_code}
        AND rsq.corp_code=#{corp_code}
        AND rcw.app_id=#{app_id}
        AND rcw.isactive = 'Y'
        AND rcw.is_authorize = 'Y'
    </select>

    <delete id="deleteStoreQrcode">
        DELETE FROM
        rel_store_qrcode
        WHERE corp_code = #{corp_code}
        AND store_code = #{store_code}
    </delete>

    <delete id="deleteStoreQrcodeOne">
        DELETE FROM
        rel_store_qrcode
        WHERE corp_code = #{corp_code}
        AND store_code = #{store_code}
        AND app_id = #{app_id}
    </delete>

    <insert id="insertStoreQrcode" parameterType="com.bizvane.ishop.entity.StoreQrcode">
        INSERT INTO rel_store_qrcode
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="store_code!=null">
                store_code,
            </if>
            <if test="app_id!=null">
                app_id,
            </if>
            <if test="app_name!=null">
                app_name,
            </if>
            <if test="qrcode!=null">
                qrcode,
            </if>
            <if test="qrcode_content!=null">
                qrcode_content,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="store_code!=null">
                #{store_code},
            </if>
            <if test="app_id!=null">
                #{app_id},
            </if>
            <if test="app_name!=null">
                #{app_name},
            </if>
            <if test="qrcode!=null">
                #{qrcode},
            </if>
            <if test="qrcode_content!=null">
                #{qrcode_content},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateStoreQrcode" parameterType="com.bizvane.ishop.entity.StoreQrcode">
        UPDATE rel_store_qrcode
        <trim prefix="SET" suffixOverrides=",">
            <if test="store_code!=null">
                store_code=#{store_code},
            </if>
            <if test="app_id!=null">
                app_id=#{app_id},
            </if>
            <if test="app_name!=null">
                app_name=#{app_name},
            </if>
            <if test="qrcode!=null">
                qrcode=#{qrcode},
            </if>
            <if test="qrcode_content!=null">
                qrcode_content=#{qrcode_content},
            </if>
            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null">
                creater=#{creater},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

</mapper>
