<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.StoreAchvGoalMapper">
    <resultMap id="storeAchvGoals" type="com.bizvane.ishop.entity.StoreAchvGoal">
        <id column="id" property="id"/>
        <result column="store_code" property="store_code"/>
        <result column="store_name" property="store_name"/>
        <result column="corp_code" property="corp_code"/>
        <result column="achv_goal" property="achv_goal"/>
        <result column="achv_type" property="achv_type"/>
        <result column="start_time" property="start_time"/>
        <result column="end_time" property="end_time"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="created_date" property="created_date"/>
        <result column="creater" property="creater"/>
        <result column="isactive" property="isactive"/>
        <!--<association property="area" javaType="com.bizvane.ishop.entity.Area">-->
            <!--<result column="area_name" property="area_name"/>-->
        <!--</association>-->
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>


    </resultMap>

    <select id="selectById" resultMap="storeAchvGoals">
        select sa.id,sa.store_code,sa.store_name,sa.corp_code,
        sa.area_code,sa.achv_goal,sa.achv_type,sa.start_time,
        sa.end_time,sa.modified_date,sa.modifier,sa.created_date,
        sa.creater,sa.isactive,c.corp_name
        from
        DEF_STORE_ACHV_GOAL sa,
        DEF_CORP c
        WHERE
        sa.corp_code=c.corp_code
        AND sa.id=#{id}
    </select>

    <select id="selectUsersBySearch" resultMap="storeAchvGoals">
        select
        sa.id,sa.store_code,sa.store_name,sa.corp_code,
        sa.area_code,sa.achv_goal,sa.achv_type,sa.start_time,
        sa.end_time,sa.modified_date,sa.modifier,sa.created_date,
        sa.creater,sa.isactive,c.corp_name
        from
        DEF_STORE_ACHV_GOAL sa,
        DEF_CORP c,
        DEF_STORE st
        WHERE
        sa.corp_code=c.corp_code
      AND  st.STORE_CODE =sa.STORE_CODE
        <if test="corp_code!=null and corp_code!=''">
            AND
            c.corp_code=#{corp_code}
        </if>
        <if test="area_code !=null and area_code!=''">
            AND st.AREA_CODE IN (#{area_code})
        </if>
        <if test="user_id !=null and user_id !=''">
            AND position(st.STORE_CODE IN (SELECT STORE_CODE FROM DEF_USER WHERE ID=#{user_id}))
        </if>
        <if test="search_value!=null and search_value!=''">
            and
            ( sa.STORE_CODE like concat('%',#{search_value},'%')
            OR sa.STORE_NAME LIKE concat('%',#{search_value},'%')
            OR c.corp_name LIKE concat('%',#{search_value},'%')
            OR sa.ACHV_GOAL like concat('%',#{search_value},'%')
            OR sa.ACHV_TYPE like concat('%',#{search_value},'%')
            OR sa.MODIFIER like concat('%',#{search_value},'%')
            OR sa.modified_date like concat('%',#{search_value},'%')
            )
        </if>
        ORDER BY sa.ID
    </select>
    <insert id="insert">
        insert into DEF_STORE_ACHV_GOAL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="store_code!=null and store_code!=''">
                store_code,
            </if>
            <if test="store_name!=null and store_name!=''">
                store_name ,
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code,
            </if>
            <if test="area_name!=null and area_code!=''">
                area_name,
            </if>

            <if test="achv_goal!=null and achv_goal!=''">
                achv_goal,
            </if>
            <if test="achv_type!=null and achv_type!=''">
                achv_type,
            </if>
            <if test="start_time!=null">
                start_time,
            </if>
            <if test="end_time!=null">
                end_time,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier ,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null and creater!=''">
                creater ,
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="store_code!=null and store_code!=''">
                #{store_code},
            </if>
            <if test="store_name!=null and store_name!=''">
                #{store_name},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                #{corp_code},
            </if>

            <if test="area_name!=null and area_code!=''">
                #{area_name},
            </if>
            <if test="achv_goal!=null and achv_goal!=''">
                #{achv_goal},
            </if>
            <if test="achv_type!=null and achv_type!=''">
                #{achv_type},
            </if>
            <if test="start_time!=null">
                #{start_time},
            </if>
            <if test="end_time!=null">
                #{end_time},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null and modifier!=''">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>

            <if test="creater!=null and creater!=''">
                #{creater},
            </if>
            <if test="isactive!=null and isactive!=''">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateById">
        update DEF_STORE_ACHV_GOAL
        <trim prefix="set" suffixOverrides=",">
            <if test="store_code!=null and store_code!=''">
                store_code=#{store_code},
            </if>
            <if test="store_name!=null and store_name!=''">
                store_name=#{store_name},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code=#{corp_code},
            </if>
            <if test="achv_goal!=null and achv_goal!=''">
                achv_goal=#{achv_goal},
            </if>
            <if test="achv_type!=null and achv_type!=''">
                achv_type=#{achv_type},
            </if>
            <if test="start_time!=null">
                start_time=#{start_time},
            </if>
            <if test="end_time!=null">
                end_time=#{end_time},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null ">
                created_date=#{created_date},
            </if>

            <if test="creater!=null and creater!=''">
                creater=#{creater},
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive=#{isactive},
            </if>

        </trim>
        WHERE id=#{id}

    </update>

    <delete id="deleteById">
        DELETE  from DEF_STORE_ACHV_GOAL
        WHERE id=#{id}
    </delete>

    <select id="selectByCorpAndUserCode">
        select * from DEF_STORE_ACHV_GOAL
        WHERE  corp_code=#{corp_code} and store_code=#{store_code}
    </select>

</mapper>