<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.StoreGroupMapper">

    <resultMap type="com.bizvane.ishop.entity.StoreGroup" id="StoreGroup">
        <id column="id" property="id"/>
        <result column="store_group_code" property="store_group_code"/>
        <result column="store_group_name" property="store_group_name"/>
        <result column="corp_code" property="corp_code"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" />
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
    </resultMap>

    <select id="selectByAreaId" resultMap="StoreGroup">
        SELECT
        def_store_group.id,
        store_group_code,
        store_group_name,
        def_store_group.corp_code,
        def_store_group.modified_date,
        def_store_group.modifier,
        def_store_group.created_date,
        def_store_group.creater,
        def_store_group.isactive,
        def_corp.corp_name
        FROM def_store_group,def_corp
        WHERE def_store_group.corp_code = def_corp.corp_code
        AND  def_store_group.ID=#{id}
    </select>

    <select id="selectAllArea" resultMap="StoreGroup">
        SELECT
        def_store_group.id,
        store_group_code,
        store_group_name,
        def_store_group.corp_code,
        def_store_group.modified_date,
        def_store_group.modifier,
        def_store_group.isactive,
        def_corp.corp_name
        FROM def_store_group,def_corp
        WHERE def_store_group.corp_code = def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_store_group.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (store_group_code LIKE concat('%',#{search_value},'%')
            OR store_group_name LIKE concat('%',#{search_value},'%')
            OR def_corp.corp_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        Group By def_store_group.id
        ORDER BY def_store_group.id DESC
    </select>

    <select id="selectAreas" resultType="com.bizvane.ishop.entity.StoreGroup">
        SELECT *
        FROM def_store_group
        WHERE corp_code = #{corp_code}
        AND ISACTIVE = 'Y'
        Group By def_store_group.id
        ORDER BY def_store_group.id DESC
    </select>

    <delete id="deleteByAreaId">
        DELETE FROM
        def_store_group
        WHERE ID=#{id}
    </delete>

    <insert id="insertArea" parameterType="com.bizvane.ishop.entity.StoreGroup">
        INSERT INTO def_store_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="store_group_code!=null">
                store_group_code,
            </if>
            <if test="store_group_name!=null">
                store_group_name,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="store_group_code!=null">
                #{store_group_code},
            </if>
            <if test="store_group_name!=null">
                #{store_group_name},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateArea" parameterType="com.bizvane.ishop.entity.StoreGroup">
        UPDATE def_store_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="store_group_code!=null">
                store_group_code=#{store_group_code},
            </if>
            <if test="store_group_name!=null">
                store_group_name=#{store_group_name},
            </if>
            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null">
                creater=#{creater},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

    <select id="selectAreaByName" resultType="com.bizvane.ishop.entity.StoreGroup">
        SELECT * FROM def_store_group
        WHERE corp_code=#{corp_code}
        AND store_group_name=#{store_group_name}
        <if test="isactive!=null and isactive!=''">
           AND isactive=#{isactive}
        </if>
    </select>

    <!--根据企业code和用户登录时得到的区域code查找所属的区域-->
    <select id="selectAreaByCode" resultType="com.bizvane.ishop.entity.StoreGroup">
        SELECT *
        FROM def_store_group
        WHERE corp_code = #{corp_code}
        AND store_group_code = #{store_group_code}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="selectAllAreaScreen" resultMap="StoreGroup">
        SELECT
        da.*,
        dc.corp_name
        FROM def_store_group da,def_corp dc
        WHERE da.corp_code = dc.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND da.corp_code=#{corp_code}
        </if>
        <if test="store_group_codes!=null">
            AND da.store_group_code IN
            <foreach collection="store_group_codes" index="index" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="" separator="and" close="">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    dc.${entryKey} REGEXP #{entryValue}
                </when>
                <when test="entryValue!=''">
                    da.${entryKey} REGEXP #{entryValue}
                </when>
                <otherwise>
                   1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP By da.id
        ORDER BY da.id DESC
    </select>

    <select id="selectArea" resultType="com.bizvane.ishop.entity.StoreGroup">
        SELECT store_group_code,store_group_name
        FROM def_store_group
        WHERE 1=1
        AND corp_code=#{corp_code}
        AND store_group_code IN
        <foreach collection="store_group_codes" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        AND ISACTIVE = 'Y'
    </select>

    <select id="selectByAreaCodeSearch" resultMap="StoreGroup">
        SELECT
        da.*,
        dc.corp_name
        FROM def_store_group da,def_corp dc
        WHERE da.corp_code = dc.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND da.corp_code=#{corp_code}
        </if>
        <if test="store_group_codes!=null">
            AND da.store_group_code IN
            <foreach collection="store_group_codes" index="index" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (da.store_group_code LIKE concat('%',#{search_value},'%')
            OR da.store_group_name LIKE concat('%',#{search_value},'%')
            OR dc.corp_name LIKE concat('%',#{search_value},'%')
            OR da.modified_date LIKE concat('%',#{search_value},'%')
            OR da.modifier LIKE concat('%',#{search_value},'%')
            OR da.isactive LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY da.i
        ORDER BY da.id DESC
    </select>

<!--下拉框取值，只取可用数据-->
    <select id="selAreaByCorpCode" resultMap="StoreGroup">
        SELECT
        da.*,
        dc.corp_name
        FROM def_store_group da,def_corp dc
        WHERE da.corp_code = dc.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND da.corp_code=#{corp_code}
        </if>
        <if test="store_group_codes!=null and store_group_codes != ''">
            AND da.store_group_code IN
            <foreach collection="store_group_codes" index="index" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="store_code != null and store_code !=''">
            AND da.store_group_code IN
            (SELECT store_group_code from def_store
            WHERE corp_code = #{corp_code} AND
            STORE_CODE IN
            <foreach collection="store_code" index="index" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            AND isactive ='Y')
        </if>
        <if test="search_value != null and search_value !=''">
            AND da.store_group_name LIKE concat('%',#{search_value},'%')
        </if>
        AND da.ISACTIVE ='Y'
        GROUP By da.id
        ORDER BY da.id DESC
    </select>
</mapper>
