<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.TableManagerMapper">
    <!--查询table-->
    <select id="selAllByCode" resultType="com.bizvane.ishop.entity.TableManager">
        SELECT * FROM def_table_manager
       WHERE function_code=#{function_code}
        and is_show = 'Y'
        and is_show !=''
        AND filter_weight IS NOT NULL
        AND filter_weight != ''
        and is_show is not null
        ORDER BY filter_weight
    </select>

    <!--查询table-->
    <select id="selByCode" resultType="com.bizvane.ishop.entity.TableManager">
        SELECT * FROM def_table_manager
        WHERE function_code=#{function_code}
        AND filter_weight IS NOT NULL
        AND filter_weight != ''
        ORDER BY filter_weight
    </select>

    <update id="updateTable">
        UPDATE def_table_manager SET column_code=#{table_code} WHERE id=#{id}
    </update>

    <select id="selTableList" resultType="com.bizvane.ishop.entity.TableManager">
      SELECT * FROM def_table_list
    </select>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.TablePrivilege">
        INSERT INTO def_table_privilage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="column_code!=null">
                column_code,
            </if>
            <if test="function_code!=null">
                function_code,
            </if>
            <if test="master_code!=null">
                master_code,
            </if>
            <if test="enable!=null">
                enable,
            </if>
            <if test="modified_date != null">
                modified_date,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                created_date,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="column_code!=null">
                #{column_code},
            </if>
            <if test="function_code!=null">
                #{function_code},
            </if>
            <if test="master_code!=null">
                #{master_code},
            </if>
            <if test="enable!=null">
                #{enable},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <select id="selFuncColumns" resultType="com.bizvane.ishop.entity.TableManager">
        SELECT column_name,
        show_name
        FROM def_table_manager
        WHERE function_code = #{function_code}
        AND column_name IN
        <foreach collection="column_names" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="selByFunc" resultType="com.bizvane.ishop.entity.TableManager">
        SELECT column_name,
        show_name
        FROM def_table_manager
        WHERE function_code = #{function_code}
        AND isactive = 'Y'
    </select>
</mapper>
