<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.TableManagerMapper">
    <!--查询table-->
    <select id="selAllByCode" resultType="com.bizvane.ishop.entity.TableManager">
        SELECT * FROM def_table_manager
       WHERE function_code=#{function_code}
        and is_show = 'Y'
        and is_show !=''
        AND filter_weight IS NOT NULL
        AND filter_weight != ''
        and is_show is not null
        ORDER BY filter_weight
    </select>

    <!--查询table-->
    <select id="selByCode" resultType="com.bizvane.ishop.entity.TableManager">
        SELECT * FROM def_table_manager
        WHERE function_code=#{function_code}
        AND filter_weight IS NOT NULL
        AND filter_weight != ''
        ORDER BY filter_weight
    </select>
 </mapper>