<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.TableManagerMapper">
    <!--查询table-->
    <select id="selAllByCode" resultType="com.bizvane.ishop.entity.TableManager">
        SELECT * FROM def_table_manager
        WHERE FUNCTION_CODE=#{function_code}
    </select>

    <!--查询table-->
    <select id="selByCode" resultType="com.bizvane.ishop.entity.TableManager">
        SELECT * FROM def_table_manager
        WHERE FUNCTION_CODE=#{function_code}
        AND is_filter = #{is_filter}
    </select>
 </mapper>