<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.TaskTypeMapper">

    <!--<resultMap type="com.bizvane.ishop.entity.TaskType" id="TaskType">-->
    <!--<id column="id" property="id"/>-->
    <!--<result column="task_type_code" property="task_type_code"/>-->
    <!--<result column="task_type_name" property="task_type_name"/>-->
    <!--<result column="corp_code" property="corp_code"/>-->
    <!--<result column="modified_date" property="modified_date"/>-->
    <!--<result column="modifier" property="modifier"/>-->
    <!--<result column="isactive" property="isactive"/>-->
    <!--<association property="corp" javaType="com.bizvane.ishop.entity.Corp">-->
    <!--<result column="corp_name" property="corp_name"/>-->
    <!--</association>-->
    <!--</resultMap>-->

    <select id="selectById" resultType="com.bizvane.ishop.entity.TaskType">
        SELECT
        def_task_type.id,
        task_type_code,
        task_type_name,
        def_task_type.corp_code,
        def_task_type.modified_date,
        def_task_type.modifier,
        def_task_type.created_date,
        def_task_type.creater,
        def_task_type.isactive,
        DEF_CORP.CORP_NAME
        FROM def_task_type,DEF_CORP
        WHERE def_task_type.CORP_CODE = DEF_CORP.CORP_CODE
        AND  def_task_type.ID=#{id}
    </select>

    <select id="selectByCode" resultType="com.bizvane.ishop.entity.TaskType">
        SELECT *
        FROM def_task_type
        WHERE CORP_CODE = #{corp_code}
        AND task_type_code = #{task_type_code}
    </select>
    <select id="getTaskTypeForId" resultType="com.bizvane.ishop.entity.TaskType">
        SELECT *
        FROM def_task_type
        WHERE CORP_CODE = #{corp_code}
        AND task_type_code = #{task_type_code}
    </select>

    <select id="selectByName" resultType="com.bizvane.ishop.entity.TaskType">
        SELECT *
        FROM def_task_type
        WHERE CORP_CODE = #{corp_code}
        AND task_type_name = #{task_type_name}
    </select>

    <select id="selectAllTaskType" resultType="com.bizvane.ishop.entity.TaskType">
        SELECT
        def_task_type.id,
        task_type_code,
        task_type_name,
        def_task_type.corp_code,
        def_task_type.modified_date,
        def_task_type.modifier,
        def_task_type.isactive,
        def_corp.corp_name
        FROM def_task_type,def_corp
        WHERE def_task_type.corp_code = def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_task_type.corp_code = #{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                def_task_type.corp_code =#{item}
            </foreach>
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (task_type_code LIKE concat('%',#{search_value},'%')
            OR task_type_name LIKE concat('%',#{search_value},'%')
            OR def_corp.corp_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        <if test="isactive != null and isactive !=''">
            AND def_task_type.isactive = #{isactive}
        </if>
        GROUP BY def_task_type.id
        ORDER BY def_task_type.id DESC
    </select>

    <delete id="deleteById">
        DELETE FROM
        def_task_type
        WHERE ID=#{id}
    </delete>

    <insert id="insertTaskType" parameterType="com.bizvane.ishop.entity.TaskType">
        INSERT INTO def_task_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="task_type_code!=null">
                task_type_code,
            </if>
            <if test="task_type_name!=null">
                task_type_name,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="task_type_code!=null">
                #{task_type_code},
            </if>
            <if test="task_type_name!=null">
                #{task_type_name},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateTaskType" parameterType="com.bizvane.ishop.entity.TaskType">
        UPDATE def_task_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="task_type_code!=null ">
                task_type_code=#{task_type_code},
            </if>
            <if test="task_type_name!=null ">
                task_type_name=#{task_type_name},
            </if>
            <if test="corp_code!=null ">
                corp_code=#{corp_code},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null ">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null ">
                creater=#{creater},
            </if>
            <if test="isactive!=null ">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE ID=#{id};
    </update>

    <select id="selectAllTaskTypeScreen" resultType="com.bizvane.ishop.entity.TaskType">
        SELECT
        dt.*,
        dc.CORP_NAME
        FROM def_task_type dt,DEF_CORP dc
        WHERE dt.CORP_CODE = dc.CORP_CODE
        <if test="corp_code != null and corp_code !=''">
            AND dt.CORP_CODE = #{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                dt.corp_code =#{item}
            </foreach>
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    dc.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    dt.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP By dt.id
        ORDER BY dt.id DESC
    </select>

    <select id="selectTaskTypeSByCorp" resultType="com.bizvane.ishop.entity.TaskType">
       SELECT dt.id,
        dt.task_type_code,
        dt.task_type_name,
        dt.corp_code,
        dt.modified_date,
        dt.modifier,
        dt.isactive
        FROM def_task_type dt
        WHERE
        <if test="corp_code != null and corp_code !=''">
            dt.CORP_CODE = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND dt.task_type_name= #{search_value}
        </if>
        AND dt.isactive = 'Y'
        GROUP BY dt.id
        ORDER BY dt.id DESC
    </select>
</mapper>
