<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.TaskMapper">
    <!--据角色企业查询任务列表 role_ident为角色标识，GM和SYS分企业，其他的只查和自己相关的任务-->
    <select id="selectAllTask" resultType="com.bizvane.ishop.entity.Task">
        SELECT
        def_task.id,
        def_task.task_code,
        def_task.task_title,
        def_task_type.task_type_name,
        def_task.task_description,
        def_task.corp_code,
        def_corp.corp_name,
        def_task.target_start_time,
        def_task.target_end_time,
        def_task.modifier,
        def_task.ISACTIVE
        FROM def_task,def_corp,def_task_type
        WHERE def_task.corp_code = def_corp.corp_code
        AND def_task.TASK_TYPE_CODE =def_task_type.TASK_TYPE_CODE
        AND def_corp.corp_code = def_task_type.corp_code

        <if test="corp_code != null and corp_code !=''">
            AND def_task.CORP_CODE = #{corp_code}
        </if>
        <if test="role_ident !=null and role_ident!=''">
            and def_task.task_code in(SELECT rel_task_allocation.task_code FROM rel_task_allocation
            WHERE rel_task_allocation.corp_code =#{corp_code} AND rel_task_allocation.user_code=#{user_code}
            OR rel_task_allocation.creater = #{user_code})
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (
            def_task.task_code LIKE concat('%', #{search_value},'%')
            or def_task.task_title LIKE concat ('%', #{search_value},'%')
            or def_task_type.task_type_name LIKE concat ('%', #{search_value},'%')
            OR def_task.task_description LIKE concat('%', #{search_value},'%')
            or def_task.target_start_time LIKE concat('%', #{search_value},'%')
            or def_corp.corp_name LIKE concat('%', #{search_value},'%')
            OR def_task.target_end_time LIKE concat('%', #{search_value},'%')
            OR def_task.modifier LIKE concat('%', #{search_value},'%')
            OR def_task.ISACTIVE LIKE concat('%', #{search_value},'%')
            )
        </if>
        GROUP BY def_task.id
        ORDER BY def_task.id DESC
    </select>
    <!--筛选-->
    <select id="selectAllTaskScreen" resultType="com.bizvane.ishop.entity.Task">
        SELECT
        def_task.id,
        def_task.task_code,
        def_task.task_title,
        def_task_type.task_type_name,
        def_task.task_description,
        def_task.corp_code,
        def_corp.corp_name,
        def_task.target_start_time,
        def_task.target_end_time,
        def_task.modifier,
        def_task.ISACTIVE
        FROM def_task,def_corp,def_task_type
        WHERE def_task.corp_code = def_corp.corp_code
        AND def_task.TASK_TYPE_CODE =def_task_type.TASK_TYPE_CODE
        AND def_corp.corp_code = def_task_type.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_task.CORP_CODE = #{corp_code}
        </if>
        <if test="role_ident !=null and role_ident!=''">
            AND def_task.task_code IN(SELECT rel_task_allocation.task_code FROM rel_task_allocation
            WHERE rel_task_allocation.corp_code =#{corp_code} AND rel_task_allocation.user_code=#{user_code} )
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    def_corp.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='task_type_name'">
                    def_task_type.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    def_task.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP BY def_task.id
        ORDER BY def_task.id DESC
    </select>
    <!--验证唯一或编辑时传值-->
    <select id="selTaskById" resultType="com.bizvane.ishop.entity.Task">
       SELECT  * FROM def_task
        WHERE  id =#{id}
    </select>

    <select id="selTaskAllocationById" resultType="com.bizvane.ishop.entity.TaskAllocation">
         SELECT  * FROM rel_task_allocation
        WHERE  id =#{id}
    </select>
    <!--查询出任务详情及编辑是传值-->
    <select id="selAllTaskAllocation" resultType="com.bizvane.ishop.entity.TaskAllocation">
         SELECT
         rel_task_allocation.id,
         rel_task_allocation.task_code,
         rel_task_allocation.corp_code,
         def_corp.corp_name,
         rel_task_allocation.user_code,
         def_user.user_name,
         def_user.phone,
         def_user.store_code,
         rel_task_allocation.task_status,
         rel_task_allocation.real_start_time,
         rel_task_allocation.real_end_time,
         rel_task_allocation.modified_date,
         rel_task_allocation.modifier,
         rel_task_allocation.created_date,
         rel_task_allocation.creater,
         rel_task_allocation.isactive
         FROM rel_task_allocation,def_corp,def_user
        WHERE  rel_task_allocation.corp_code=def_corp.corp_code
        AND def_user.user_code = rel_task_allocation.user_code
        AND rel_task_allocation.corp_code = def_user.corp_code
        AND  rel_task_allocation.corp_code =#{corp_code}
        AND rel_task_allocation.task_code=#{task_code}
    </select>

    <select id="selAllTaskAllocationByUser" resultType="com.bizvane.ishop.entity.TaskAllocation">
        SELECT   rel_task_allocation.id,
         rel_task_allocation.task_code,
         rel_task_allocation.corp_code,
         def_corp.corp_name,
         rel_task_allocation.user_code,
         def_user.user_name,
         rel_task_allocation.task_status,
         rel_task_allocation.real_start_time,
         rel_task_allocation.real_end_time,
         rel_task_allocation.modified_date,
         rel_task_allocation.modifier,
         rel_task_allocation.created_date,
         rel_task_allocation.creater,
         rel_task_allocation.isactive
         FROM rel_task_allocation,def_corp,def_user
        WHERE  rel_task_allocation.corp_code=def_corp.corp_code
        AND def_user.user_code = rel_task_allocation.user_code
        AND rel_task_allocation.corp_code = def_user.corp_code
        AND rel_task_allocation.corp_code =#{corp_code} AND rel_task_allocation.task_code=#{task_code}
        AND rel_task_allocation.user_code=#{user_code}
    </select>
    <!--删除任务-->
    <delete id="delTaskById">
        DELETE FROM def_task WHERE id =#{id}
    </delete>
    <!--删除任务详情根据corpcode,taskcode-->
    <delete id="delTaskAllocation">
        DELETE FROM rel_task_allocation WHERE  corp_code =#{corp_code} AND task_code =#{task_code}
    </delete>

    <delete id="delTaskAllocationById">
        DELETE FROM rel_task_allocation WHERE id=#{id}
    </delete>
    <!--新增任务-->
    <insert id="addTask" parameterType="com.bizvane.ishop.entity.Task">
        INSERT INTO def_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="task_code!=null">
                task_code,
            </if>
            <if test="task_title!=null">
                task_title,
            </if>
            <if test="task_type_code!=null">
                task_type_code,
            </if>
            <if test="task_description!=null">
                task_description,
            </if>
            <if test="target_start_time!=null">
                target_start_time,
            </if>
            <if test="target_end_time!=null">
                target_end_time,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="activity_vip_code!=null">
                activity_vip_code,
            </if>
            <if test="task_link!=null">
                task_link,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="task_code!=null">
                #{task_code},
            </if>
            <if test="task_title!=null">
                #{task_title},
            </if>
            <if test="task_type_code!=null">
                #{task_type_code},
            </if>
            <if test="task_description!=null">
                #{task_description},
            </if>
            <if test="target_start_time!=null">
                #{target_start_time},
            </if>
            <if test="target_end_time!=null">
                #{target_end_time},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="activity_vip_code!=null">
                #{activity_vip_code},
            </if>
            <if test="task_link!=null">
                #{task_link},
            </if>
        </trim>
    </insert>
    <!--新增任务详情-->
    <insert id="addTaskAllocation" parameterType="com.bizvane.ishop.entity.TaskAllocation">
        INSERT INTO rel_task_allocation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="task_code!=null">
                task_code,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="user_code!=null">
                user_code,
            </if>
            <if test="task_status!=null">
                task_status,
            </if>
            <if test="real_start_time!=null">
                real_start_time,
            </if>
            <if test="real_end_time!=null">
                real_end_time,
            </if>
            <if test="task_proof_image!=null">
                task_proof_image,
            </if>
            <if test="task_proof_text!=null">
                task_proof_text,
            </if>
            <if test="task_proof_mark!=null">
                task_proof_mark,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="task_code!=null">
                #{task_code},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="user_code!=null">
                #{user_code},
            </if>
            <if test="task_status!=null">
                #{task_status},
            </if>
            <if test="real_start_time!=null">
                #{real_start_time},
            </if>
            <if test="real_end_time!=null">
                #{real_end_time},
            </if>
            <if test="task_proof_image!=null">
                #{task_proof_image},
            </if>
            <if test="task_proof_text!=null">
                #{task_proof_text},
            </if>
            <if test="task_proof_mark!=null">
                #{task_proof_mark},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
        </trim>
    </insert>
    <!--编辑任务-->
    <update id="updTask" parameterType="com.bizvane.ishop.entity.Task">
        UPDATE def_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="task_code!=null and task_code!=''">
                task_code = #{task_code},
            </if>
            <if test="task_title!=null and task_title!=''">
                task_title = #{task_title},
            </if>
            <if test="task_type_code!=null and task_type_code != ''">
                task_type_code= #{task_type_code},
            </if>
            <if test="task_description!=null and task_description != ''">
                task_description = #{task_description},
            </if>
            <if test="target_start_time!=null and target_start_time != ''">
                target_start_time = #{target_start_time},
            </if>
            <if test="target_end_time!=null and target_end_time != ''">
                target_end_time = #{target_end_time},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code = #{corp_code},
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier = #{modifier},
            </if>
            <if test="modified_date!=null and modified_date!=''">
                modified_date = #{modified_date},
            </if>
            <if test="creater!=null and creater!=''">
                creater = #{creater},
            </if>
            <if test="created_date!=null and created_date!=''">
                created_date = #{created_date},
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive= #{isactive},
            </if>
            <if test="task_link!=null">
                task_link = #{task_link},
            </if>
        </trim>
        WHERE id=#{id}
    </update>
    <!--编辑任务详情-->
    <update id="updTaskAllocation" parameterType="com.bizvane.ishop.entity.TaskAllocation">
        UPDATE rel_task_allocation
        <trim prefix="SET" suffixOverrides=",">
            <if test="task_code!=null and task_code!=''">
                task_code= #{task_code},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code= #{corp_code},
            </if>
            <if test="user_code!=null and user_code!=''">
                user_code= #{user_code},
            </if>
            <if test="task_status!=null and task_status!=''">
                task_status = #{task_status},
            </if>
            <if test="real_start_time!=null and real_start_time!=''">
                real_start_time = #{real_start_time},
            </if>
            <if test="real_end_time!=null and real_end_time!=''">
                real_end_time = #{real_end_time},
            </if>
            <if test="task_proof_image!=null and task_proof_image!=''">
                task_proof_image = #{task_proof_image},
            </if>
            <if test="task_proof_text!=null and task_proof_text!=''">
                task_proof_text =#{task_proof_text},
            </if>
            <if test="task_proof_mark!=null and task_proof_mark!=''">
                task_proof_mark = #{task_proof_mark},
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier = #{modifier},
            </if>
            <if test="modified_date!=null and modified_date!=''">
                modified_date = #{modified_date},
            </if>
            <if test="creater!=null and creater!=''">
                creater = #{creater},
            </if>
            <if test="created_date!=null and created_date!=''">
                created_date = #{created_date},
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive= #{isactive},
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <update id="updTaskBycode" parameterType="com.bizvane.ishop.entity.Task">
        UPDATE def_task  SET TASK_TYPE_CODE =#{task_type_code_old}
        WHERE CORP_CODE =#{corp_code} AND TASK_TYPE_CODE =#{task_type_code_new}
    </update>

    <select id="selectTaskByTaskType" resultType="com.bizvane.ishop.entity.Task">
        SELECT
        def_task.id,
        def_task.task_code,
        def_task.task_title,
        def_task_type.task_type_name,
        def_task.task_description,
        def_task.corp_code,
        def_corp.corp_name,
        def_task.target_start_time,
        def_task.target_end_time,
        def_task.modifier,
        def_task.ISACTIVE
        FROM def_task,def_corp,def_task_type
        WHERE def_task.corp_code = def_corp.corp_code
        AND def_task.task_type_code =def_task_type.task_type_code
        AND def_corp.corp_code = def_task_type.corp_code
        AND def_task.corp_code = #{corp_code}
        AND def_task.task_type_code = #{task_type_code}
        GROUP BY def_task.id
        ORDER BY def_task.id DESC
    </select>
    <select id="getTaskForId" resultType="com.bizvane.ishop.entity.Task">
        SELECT
        def_task.id,
        def_task.task_code,
        def_task.task_title,
        def_task_type.task_type_name,
        def_task.task_description,
        def_task.corp_code,
        def_corp.corp_name,
        def_task.target_start_time,
        def_task.target_end_time,
        def_task.modifier,
        def_task.ISACTIVE
        FROM def_task,def_corp,def_task_type
        WHERE def_task.corp_code = def_corp.corp_code
        AND def_task.task_type_code =def_task_type.task_type_code
        AND def_corp.corp_code = def_task_type.corp_code
        AND def_task.corp_code = #{corp_code}
       AND def_task.task_code = #{task_code}
    </select>

    <select id="getTaskByActivityCode" resultType="com.bizvane.ishop.entity.Task">
         SELECT
        def_task.id,
        def_task.task_code,
        def_task.task_title,
        def_task.task_type_code,
        def_task_type.task_type_name,
        def_task.task_description,
        def_task.corp_code,
        def_corp.corp_name,
        def_task.target_start_time,
        def_task.target_end_time,
        def_task.modifier,
        def_task.activity_vip_code,
        def_task.ISACTIVE
        FROM def_task,def_corp,def_task_type
        WHERE def_task.corp_code = def_corp.corp_code
        AND def_task.task_type_code =def_task_type.task_type_code
        AND def_corp.corp_code = def_task_type.corp_code
        AND def_task.corp_code = #{corp_code}
       AND def_task.activity_vip_code = #{activity_vip_code}
    </select>
    <delete id="delTaskByActivityCode">
         DELETE FROM def_task WHERE  corp_code =#{corp_code} AND activity_vip_code =#{activity_vip_code}
    </delete>
</mapper>