<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.UserMapper">

    <resultMap type="com.bizvane.ishop.entity.User" id="BaseMap">
        <id column="id" property="id"/>
        <result column="user_code" property="user_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="user_id" property="user_id" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="avatar" property="avatar" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="user_name" property="user_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="sex" property="sex" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="phone" property="phone" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="email" property="email" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="birthday" property="birthday" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_code" property="corp_code"/>
        <result column="store_code" property="store_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="group_code" property="group_code"/>
        <result column="password" property="password"/>
        <result column="login_time_recently" property="login_time_recently" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="can_login" property="can_login" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="version_id" property="version_id" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <!--地域-->
        <result column="area_code" property="area_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="position" property="position" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isonline" property="isonline" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="brand_code" property="brand_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="role_code" property="role_code"/>
    </resultMap>

    <resultMap type="com.bizvane.ishop.entity.User" id="UserInfo">
        <id column="id" property="id"/>
        <result column="user_code" property="user_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="user_id" property="user_id" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="avatar" property="avatar" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="user_name" property="user_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="sex" property="sex" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="phone" property="phone" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="email" property="email" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="birthday" property="birthday" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_code" property="corp_code"/>
        <result column="store_code" property="store_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="group_code" property="group_code"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="area_code" property="area_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="can_login" property="can_login"/>
        <result column="position" property="position" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isonline" property="isonline" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="brand_code" property="brand_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="role_code" property="role_code"/>
        <association property="group" javaType="com.bizvane.ishop.entity.Group">
            <result column="group_name" property="group_name"/>
        </association>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
    </resultMap>

    <select id="getCanloginByCode" resultType="com.bizvane.ishop.entity.User">
        SELECT * FROM def_user
        WHERE 1=1
        <if test="corp_code != null and corp_code !=''">
            AND def_user.corp_code = #{corp_code}
        </if>
        AND def_user.can_login !='Y' OR def_user.isactive !='Y'
    </select>
<!--列表上去掉了email, birthday,can_login, position,login_time_recently,  def_user.created_date, def_user.creater,-->
    <select id="selectAllUser" resultMap="UserInfo">
        SELECT def_user.id,
        user_id,
        user_code,
        user_name,
        sex,
        def_user.avatar,
        phone,
        store_code,
        def_user.area_code,
        def_user.group_code,
        def_user.corp_code,
        def_user.modified_date,
        def_user.modifier,
        def_user.isactive,
        def_user.isonline,
        def_user.position,
        def_group.group_name,
        def_group.role_code,
        def_corp.corp_name
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_user.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (user_name LIKE concat('%',#{search_value},'%')
            OR user_code LIKE concat('%',#{search_value},'%')
            OR phone LIKE concat('%',#{search_value},'%')
            OR def_corp.corp_name LIKE concat('%',#{search_value},'%')
            OR def_group.group_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_user.id
        ORDER BY def_user.id DESC
    </select>

    <!--获取店长区经下员工-->
    <!--列表上去掉了email, birthday,can_login, position,login_time_recently,  def_user.created_date, def_user.creater,-->
    <select id="selectPartUser" resultMap="UserInfo">
        SELECT
        def_user.id,
        user_id,
        user_code,
        user_name,
        sex,
        def_user.avatar,
        phone,
        store_code,
        def_user.area_code,
        def_user.group_code,
        def_user.corp_code,
        def_user.modified_date,
        def_user.modifier,
        def_user.isactive,
        def_user.isonline,
        def_user.position,
        def_group.group_name,
        def_group.role_code,
        def_corp.corp_name
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = #{corp_code}
        AND def_group.role_code &lt; #{role_code}
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        <if test="array != null">
        AND
        <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
            def_user.store_code regexp #{item}
        </foreach>
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (def_user.user_name LIKE concat('%',#{search_value},'%')
            OR def_user.user_code LIKE concat('%',#{search_value},'%')
            OR def_user.phone LIKE concat('%',#{search_value},'%')
            OR def_corp.corp_name LIKE concat('%',#{search_value},'%')
            OR def_group.group_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY def_user.id
        ORDER BY def_user.id DESC
    </select>

    <select id="selUserByStoreCode" resultMap="UserInfo">
        SELECT
        def_user.id,
        user_code,
        user_name,
        phone,
        def_user.corp_code
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = #{corp_code}
        <if test="role_code != null and role_code !=''">
          AND def_group.role_code &gt;= #{role_code}
        </if>
        <if test="array !=null">
        AND (
        <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
            store_code regexp #{item}
        </foreach>
        <if test="areas !=null">
            <!--拉取区经-->
            OR user_code IN (SELECT user_code FROM def_user,DEF_GROUP WHERE def_user.corp_code=#{corp_code}
            AND DEF_USER.group_code = DEF_GROUP.group_code
            AND DEF_GROUP.role_code='R4000' AND
            <foreach collection="areas" index="index" item="item" open="(" separator="or" close=")">
                area_code REGEXP #{item}
            </foreach>
            )
        </if>
        )
        </if>
        AND def_corp.isactive = 'Y'
        AND def_group.isactive = 'Y'
        <if test="search_value != null and search_value !=''">
            AND  USER_NAME LIKE concat('%',#{search_value},'%')
        </if>
        AND def_user.isactive='Y'
        GROUP BY def_user.user_code
        ORDER BY def_user.id DESC
    </select>

    <select id="selectUserById" resultMap="UserInfo">
        SELECT def_user.id,
        user_id,
        user_code,
        user_name,
        sex,
        def_user.avatar,
        phone,
        email,
        position,
        birthday,
        password,
        login_time_recently,
        store_code,
        can_login,
        def_user.group_code,
        def_user.version_id,
        def_user.area_code,
        def_user.brand_code,
        def_user.corp_code,
        def_user.modified_date,
        def_user.modifier,
        def_user.created_date,
        def_user.creater,
        def_user.isactive,
        def_user.isonline,
        def_corp.corp_name,
        def_group.group_name,
        def_group.role_code
        FROM def_user,def_corp,def_group
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.id = #{user_id}
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
    </select>

    <select id="selectById" resultType="com.bizvane.ishop.entity.User">
        SELECT *
        FROM def_user
        WHERE  def_user.id = #{user_id}
    </select>

    <select id="selectByPhone" resultMap="BaseMap">
        SELECT *
        FROM def_user
        WHERE phone = #{phone}
        AND isactive = 'Y'
    </select>

    <select id="selectByLogin" resultMap="BaseMap">
        SELECT *
        FROM def_user
        WHERE (phone = #{phone}
        or email = #{phone})
        AND isactive = 'Y'
    </select>

    <select id="selectLoginByUserCode" resultMap="BaseMap">
        SELECT *
        FROM def_user
        WHERE (phone = #{phone}
        or email = #{phone}
        or user_code = #{phone})
        AND corp_code = #{corp_code}
        AND isactive = 'Y'
    </select>

    <select id="selectUserCode" resultMap="BaseMap">
        SELECT *
        FROM def_user
        WHERE user_code = #{user_code}
        AND corp_code = #{corp_code}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="selUserByUserId" resultType="com.bizvane.ishop.entity.User">
        SELECT *
        FROM def_user
        WHERE user_id = #{user_id}
        AND corp_code = #{corp_code}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="userEmailExist" resultType="com.bizvane.ishop.entity.User">
        SELECT * FROM def_user
        WHERE email = #{email}
        AND isactive = 'Y'
    </select>

    <!--获取店铺下员工-->
    <select id="selectStoreUser" resultMap="UserInfo">
        SELECT
        def_user.id,
        user_id,
        user_code,
        user_name,
        sex,
        def_user.avatar,
        phone,
        email,
        birthday,
        password,
        def_user.group_code,
        def_user.modified_date,
        def_user.modifier,
        def_user.created_date,
        def_user.creater,
        def_user.isactive,
        def_user.isonline,
        def_user.position,
        def_group.group_name,
        def_group.role_code
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.corp_code = #{corp_code}
        <if test="store_code != null and store_code !=''">
            AND def_user.store_code regexp #{store_code}
        </if>
        <if test="area_code != null and area_code !=''">
            AND def_user.area_code regexp #{area_code}
        </if>
        <if test="role_code != null and role_code !=''">
            AND def_group.role_code &lt; #{role_code}
        </if>
        <if test="isactive != null and isactive !=''">
            AND def_user.isactive = #{isactive}
        </if>
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_user.id
        ORDER BY def_user.id DESC
    </select>

    <!--群组管理  查看员工-->
    <select id="selectGroupUser" resultMap="UserInfo">
        SELECT def_user.id,
        user_id,
        user_code,
        user_name,
        sex,
        def_user.avatar,
        phone,
        email,
        birthday,
        position,
        store_code,
        def_user.group_code,
        def_user.corp_code,
        def_user.area_code,
        login_time_recently,
        def_user.modified_date,
        def_user.modifier,
        def_user.created_date,
        def_user.creater,
        def_user.isactive,
        def_user.isonline,
        def_group.group_name,
        def_group.role_code,
        def_corp.corp_name
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.corp_code = def_group.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_user.CORP_CODE = #{corp_code}
        </if>
        <if test="group_code != null and group_code !=''">
            AND def_user.group_code = #{group_code}
        </if>
        <if test="search_value != null and search_value !=''">
        AND
        (  user_name LIKE concat('%',#{search_value},'%')
           OR user_code LIKE concat('%',#{search_value},'%')
           OR phone LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_user.id
        ORDER BY def_user.ID DESC
    </select>

    <delete id="deleteByUserId">
        DELETE FROM
        def_user
        WHERE id = #{id}
    </delete>

    <insert id="insertUser" parameterType="com.bizvane.ishop.entity.User">
        INSERT INTO def_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_code!=null">
                user_code,
            </if>
            <if test="avatar!=null">
                avatar,
            </if>
            <if test="user_name!=null">
                user_name,
            </if>
            <if test="sex!=null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="birthday!=null">
                birthday,
            </if>
            <if test="position!=null">
                position,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="store_code!=null">
                store_code,
            </if>
            <if test="group_code!=null">
                group_code,
            </if>
            <if test="login_time_recently!=null">
                login_time_recently,
            </if>
            <if test="modified_date != null">
                modified_date,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                created_date,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
            <if test="can_login != null">
                can_login,
            </if>
            <if test="area_code != null">
                area_code,
            </if>
            <!--<if test="user_id != null">-->
                <!--user_id,-->
            <!--</if>-->
            <if test="isonline != null">
                isonline,
            </if>
            <if test="brand_code != null">
                brand_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user_code!=null">
                #{user_code},
            </if>
            <if test="avatar!=null">
                #{avatar},
            </if>
            <if test="user_name!=null">
                #{user_name},
            </if>
            <if test="sex!=null">
                #{sex},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="birthday!=null">
                #{birthday},
            </if>
            <if test="position!=null">
                #{position},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="store_code!=null">
                #{store_code},
            </if>
            <if test="group_code!=null">
                #{group_code},
            </if>
            <if test="login_time_recently!=null">
                #{login_time_recently},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
            <if test="can_login != null">
                #{can_login},
            </if>
            <if test="area_code != null">
                #{area_code},
            </if>
            <!--<if test="user_id != null">-->
                <!--#{user_id},-->
            <!--</if>-->
            <if test="isonline != null">
                #{isonline},
            </if>
            <if test="brand_code != null">
                #{brand_code},
            </if>
        </trim>
    </insert>

    <update id="updateByUserId" parameterType="com.bizvane.ishop.entity.User">
        UPDATE def_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="user_code!=null ">
                user_code = #{user_code},
            </if>
            <!--<if test="user_id!=null ">-->
                <!--user_id = #{user_id},-->
            <!--</if>-->
            <if test="avatar!=null ">
                avatar = #{avatar},
            </if>
            <if test="user_name!=null ">
                user_name = #{user_name},
            </if>
            <if test="sex!=null ">
                sex = #{sex},
            </if>
            <if test="phone!=null ">
                phone = #{phone},
            </if>
            <if test="email!=null ">
                email = #{email},
            </if>
            <if test="birthday!=null ">
                birthday = #{birthday},
            </if>
            <if test="position!=null ">
                position = #{position},
            </if>
            <if test="corp_code!=null ">
                corp_code = #{corp_code},
            </if>
            <if test="store_code!=null ">
                store_code = #{store_code},
            </if>
            <if test="group_code!=null ">
                group_code = #{group_code},
            </if>
            <if test="password!=null ">
                password = #{password},
            </if>
            <if test="login_time_recently!=null  ">
                login_time_recently = #{login_time_recently},
            </if>
            <if test="modified_date!=null ">
                modified_date = #{modified_date},
            </if>
            <if test="modifier!=null ">
                modifier = #{modifier},
            </if>
            <if test="created_date!=null ">
                created_date = #{created_date},
            </if>
            <if test="creater!=null ">
                creater = #{creater},
            </if>
            <if test="isactive!=null ">
                isactive = #{isactive},
            </if>
            <if test="can_login!=null ">
                can_login = #{can_login},
            </if>
            <if test="area_code!=null ">
                area_code = #{area_code},
            </if>
            <if test="isonline != null">
                isonline = #{isonline},
            </if>
            <if test="brand_code != null">
                brand_code = #{brand_code},
            </if>
            <if test="version_id != null">
                version_id = #{version_id},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) from def_user
        WHERE 1=1
        <if test="created_date !=''">
            AND created_date LIKE concat(#{created_date},'%')
        </if>
    </select>

    <select id="selectAllUserScreen" resultMap="UserInfo">
        SELECT
        def_user.id,
        user_id,
        user_code,
        user_name,
        sex,
        def_user.avatar,
        phone,
        store_code,
        def_user.area_code,
        def_user.group_code,
        def_user.corp_code,
        def_user.modified_date,
        def_user.modifier,
        def_user.isactive,
        def_user.isonline,
        def_user.position,
        def_group.group_name,
        def_group.role_code,
        def_corp.corp_name
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        <if test="corp_code != null and corp_code !=''">
            AND def_user.corp_code = #{corp_code}
        </if>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
                <choose>
                    <when test="entryValue!='' and entryKey=='corp_name'">
                        def_corp.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!='' and entryKey=='group_name'">
                        def_group.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!=''">
                        def_user.${entryKey} REGEXP ${entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        GROUP BY def_user.id
        ORDER BY def_user.id DESC
    </select>

    <select id="selectAllUserScreen2" resultMap="UserInfo">
        SELECT
        def_user.id,
        user_id,
        user_code,
        user_name,
        sex,
        def_user.avatar,
        phone,
        store_code,
        def_user.area_code,
        def_user.group_code,
        def_user.corp_code,
        def_user.modified_date,
        def_user.modifier,
        def_user.isactive,
        def_user.isonline,
        def_user.position,
        def_group.group_name,
        def_group.role_code,
        def_corp.corp_name
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        <if test="corp_code != null and corp_code !=''">
            AND def_user.corp_code = #{corp_code}
        </if>
        <if test="storeList!=null">
            AND
            <foreach collection="storeList" index="index" item="item" open="(" separator="or" close=")">
                store_code regexp #{item}
            </foreach>
        </if>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
                <choose>
                    <when test="entryValue!='' and entryKey=='corp_name'">
                        def_corp.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!='' and entryKey=='group_name'">
                        def_group.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!=''">
                        def_user.${entryKey} REGEXP ${entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        GROUP BY def_user.id
        ORDER BY def_user.id DESC
    </select>

    <select id="selectPartScreen" resultMap="UserInfo">
        SELECT
        def_user.id,
        user_id,
        user_code,
        user_name,
        sex,
        def_user.avatar,
        phone,
        store_code,
        def_user.area_code,
        def_user.group_code,
        def_user.corp_code,
        def_user.modified_date,
        def_user.modifier,
        def_user.isactive,
        def_user.isonline,
        def_user.position,
        def_group.group_name,
        def_group.role_code,
        def_corp.corp_name
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.CORP_CODE = #{corp_code}
        AND def_group.role_code &lt; #{role_code}
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        AND
        <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
            store_code regexp #{item}
        </foreach>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
                <choose>
                    <when test="entryValue!='' and entryKey=='corp_name'">
                        def_corp.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!='' and entryKey=='group_name'">
                        def_group.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!=''">
                        def_user.${entryKey} REGEXP ${entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        GROUP BY def_user.id
        ORDER BY def_user.id DESC
    </select>


    <select id="selectPartScreen2" resultMap="UserInfo">
        SELECT
        def_user.id,
        user_id,
        user_code,
        user_name,
        sex,
        def_user.avatar,
        phone,
        store_code,
        def_user.area_code,
        def_user.group_code,
        def_user.corp_code,
        def_user.modified_date,
        def_user.modifier,
        def_user.isactive,
        def_user.isonline,
        def_user.position,
        def_group.group_name,
        def_group.role_code,
        def_corp.corp_name
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.CORP_CODE = #{corp_code}
        AND def_group.role_code &lt; #{role_code}
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        AND
        <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
            store_code regexp #{item}
        </foreach>
        <if test="storeList!=null">
            AND
            <foreach collection="storeList" index="index" item="item" open="(" separator="or" close=")">
                store_code regexp #{item}
            </foreach>
        </if>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
                <choose>
                    <when test="entryValue!='' and entryKey=='corp_name'">
                        def_corp.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!='' and entryKey=='group_name'">
                        def_group.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!=''">
                        def_user.${entryKey} REGEXP ${entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        GROUP BY def_user.id
        ORDER BY def_user.id DESC
    </select>

    <select id="selectUsersByRole" resultType="com.bizvane.ishop.entity.User">
        SELECT
        def_user.id,
        user_id,
        user_code,
        user_name,
        phone,
        store_code,
        def_user.area_code,
        def_user.group_code,
        def_user.corp_code,
        def_group.group_name,
        def_group.role_code
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = #{corp_code}
        <if test="role_code != null and role_code != ''">
            AND def_group.role_code &lt; #{role_code}
        </if>
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        <if test="array != null">
            AND(
                <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
                    def_user.store_code regexp #{item}
                </foreach>

                <if test="areas !=null">
                <!--拉取区经-->
                OR user_code IN (SELECT user_code FROM def_user,DEF_GROUP
                    WHERE def_user.corp_code=#{corp_code}
                    AND DEF_USER.group_code = DEF_GROUP.group_code
                    AND DEF_GROUP.role_code='R4000'
                    AND
                    <foreach collection="areas" index="index" item="item" open="(" separator="or" close=")">
                        area_code REGEXP #{item}
                    </foreach>)
                </if>
            )
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (def_user.user_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND def_user.isactive = 'Y'
        GROUP BY def_user.id
        ORDER BY def_user.id DESC
    </select>

    <select id="selectUsersByUserCode" resultType="com.bizvane.ishop.entity.User">
        SELECT  def_user.id,
        user_id,
        user_code,
        user_name,
        phone,
        store_code,
        def_user.area_code,
        def_user.group_code,
        def_user.corp_code,
        def_group.group_name,
        def_group.role_code
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = #{corp_code}
        <if test="user_code != null">
            AND def_user.user_code IN
            <foreach collection="user_code" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (  user_name LIKE concat('%',#{search_value},'%')
            OR user_code LIKE concat('%',#{search_value},'%')
            OR phone LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_user.id
        ORDER BY def_user.ID DESC
    </select>

    <select id="selectSMByStoreCode" resultType="com.bizvane.ishop.entity.User">
        SELECT  def_user.id,
        user_id,
        user_code,
        user_name,
        phone,
        store_code,
        def_user.area_code,
        def_user.group_code,
        def_user.corp_code,
        def_group.group_name,
        def_group.role_code
        FROM def_user,def_group,def_corp
        WHERE def_user.group_code = def_group.group_code
        AND def_user.corp_code = def_corp.corp_code
        AND def_user.corp_code = def_group.corp_code
        AND def_user.corp_code = #{corp_code}
        <if test="role_code != null and role_code != ''">
            AND def_group.role_code = #{role_code}
        </if>
        <if test="store_code != null and store_code !='' and store_id !=null and store_id !=''">
            AND (def_user.store_code regexp #{store_code}
            OR def_user.store_code regexp #{store_id} )
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (  user_name LIKE concat('%',#{search_value},'%')
            OR user_code LIKE concat('%',#{search_value},'%')
            OR phone LIKE concat('%',#{search_value},'%')
            )
        </if>
        AND def_group.isactive = 'Y'
        AND def_corp.isactive = 'Y'
        GROUP BY def_user.id
        ORDER BY def_user.ID DESC
    </select>
</mapper>