<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.UserMessageMapper">
    <insert id="addDefUserMessage" parameterType="com.bizvane.ishop.entity.DefUserMessage">
        INSERT INTO def_user_message VALUES
         (#{message_code},#{message_title},
        #{receiver_type},#{message_content},#{message_sender},#{message_type},
        #{corp_code},#{modified_date},#{modifier},#{created_date}
        ,#{creater},#{isactive})
    </insert>
    <insert id="addRelUserMessage" parameterType="com.bizvane.ishop.entity.RelUserMessage">
        INSERT INTO rel_user_message VALUES
         (#{message_receiver},#{receiver_type},
        #{status},#{message_code},#{modified_date},#{modifier},
        #{created_date},#{creater},#{isactive})
    </insert>
</mapper>