<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.UserAchvGoalMapper">
    <resultMap id="userAchvGoals" type="com.bizvane.ishop.entity.UserAchvGoal">
        <id column="id" property="id"/>
        <result column="user_code" property="user_code"/>
        <result column="store_code" property="store_code"/>
        <result column="corp_code" property="corp_code"/>
        <result column="user_target" property="user_target"/>
        <result column="target_type" property="target_type"/>
        <result column="target_time" property="target_time"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="created_date" property="created_date"/>
        <result column="creater" property="creater"/>
        <result column="isactive" property="isactive"/>
        <association property="store" javaType="com.bizvane.ishop.entity.Store">
            <result column="store_name" property="store_name"/>
        </association>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
        <association property="user" javaType="com.bizvane.ishop.entity.User">
            <result column="user_name" property="user_name"/>
        </association>
    </resultMap>

    <select id="selectById" resultMap="userAchvGoals">
        select ua.id,
        ua.user_code,
        u.user_name,
        ua.store_code,
        ua.corp_code,
        ua.user_target,
        ua.target_type,
        ua.target_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name,
        c.corp_name
        from
        DEF_USER_ACHV_GOAL ua,DEF_STORE s,DEF_CORP c,DEF_USER u
        WHERE ua.store_code=s.store_code
        AND ua.corp_code = c.corp_code
        AND c.corp_code = s.corp_code
        AND ua.user_code = u.user_code
        AND ua.id=#{id}
    </select>

    <update id="update" parameterType="com.bizvane.ishop.entity.UserAchvGoal">
        update DEF_USER_ACHV_GOAL
        <trim prefix="set" suffixOverrides=",">
            <if test="user_code!=null  and user_code!=''">
                user_code =#{user_code},
            </if>
            <if test="store_code!=null and store_code!=''">
                store_code =#{store_code},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code=#{corp_code},
            </if>
            <if test="user_target!=null and user_target!=''">
                user_target=#{user_target},
            </if>
            <if test="target_type!=null and target_type!=''">
                target_type=#{target_type},
            </if>
            <if test="target_time!=null and target_time!=''">
                target_time=#{target_time},
            </if>
            <if test="modified_date!=null  and modified_date!=''">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null and  modifier!=''">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null and created_date!=''">
                created_date=#{created_date},
            </if>
            <if test="creater!=null and creater!=''">
                creater=#{creater},
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE id = #{id};
    </update>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.UserAchvGoal">
        insert into DEF_USER_ACHV_GOAL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_code!=null and user_code!=''">
                user_code,
            </if>
            <if test="store_code!=null and  store_code!=''">
                store_code,
            </if>
            <if test="corp_code!=null and  corp_code!=''">
                corp_code ,
            </if>
            <if test="user_target!=null and user_target!=''">
                user_target ,
            </if>
            <if test="target_type!=null and  target_type!=''">
                target_type ,
            </if>
            <if test="target_time!=null">
                target_time,
            </if>
            <if test="modified_date!=null">
                modified_date ,
            </if>
            <if test="modifier!=null and  modifier!=''">
                modifier ,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null and  creater!=''">
                creater ,
            </if>
            <if test="isactive!=null and  isactive!=''">
                isactive ,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="user_code!=null and user_code!=''">
                #{user_code},
            </if>
            <if test="store_code!=null and  store_code!=''">
                #{store_code},
            </if>
            <if test="corp_code!=null and  corp_code!=''">
                #{corp_code} ,
            </if>

            <if test="user_target!=null and user_target!=''">
                #{user_target} ,
            </if>
            <if test="target_type!=null and  target_type!=''">
                #{target_type},
            </if>
            <if test="target_time!=null ">
                #{target_time},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null and  modifier!=''">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null and  creater!=''">
                #{creater},
            </if>
            <if test="isactive!=null and  isactive!=''">
                #{isactive},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM DEF_USER_ACHV_GOAL
        WHERE id=#{id}
    </delete>

    <select id="selectUserAchvGoalBySearch" resultMap="userAchvGoals">
        select ua.id,
        ua.user_code,
        u.user_name,
        ua.store_code,
        ua.corp_code,
        ua.user_target,
        ua.target_type,
        ua.target_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name,
        c.corp_name
        from
        DEF_USER_ACHV_GOAL ua,DEF_STORE s,DEF_CORP c,DEF_USER u
        WHERE ua.store_code=s.store_code
        AND ua.corp_code = c.corp_code
        AND c.corp_code = s.corp_code
        AND ua.user_code = u.user_code
        <if test="corp_code !=null and corp_code!=''">
            and ua.corp_code=#{corp_code}
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (u.user_name like concat('%',#{search_value},'%')
            OR ua.user_code like concat('%',#{search_value},'%')
            OR s.store_name like concat('%',#{search_value},'%')
            OR c.corp_name like concat('%',#{search_value},'%')
            OR ua.user_target like concat('%',#{search_value},'%')
            OR ua.target_type like concat('%',#{search_value},'%')
            OR ua.target_time like concat('%',#{search_value},'%')
            OR ua.MODIFIER like concat('%',#{search_value},'%')
            OR ua.modified_date like concat('%',#{search_value},'%')
            )
        </if>

    </select>

    <select id="selectPartUserAchvGoalBySearch" resultMap="userAchvGoals">
        select ua.id,
        ua.user_code,
        u.user_name,
        ua.store_code,
        ua.corp_code,
        ua.user_target,
        ua.target_type,
        ua.target_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name,
        c.corp_name
        from
        DEF_USER_ACHV_GOAL ua,
        DEF_STORE s,
        DEF_CORP c,
        DEF_USER u,DEF_GROUP g
        WHERE ua.store_code=s.store_code
        AND ua.corp_code = c.corp_code
        AND c.corp_code = s.corp_code
        AND ua.user_code = u.user_code
        AND u.group_code = g.group_code
        AND ua.corp_code=#{corp_code}
        AND g.role_code &lt; #{role_code}
        AND ua.store_code IN
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="search_value!=null and search_value!=''">
            AND
            (u.user_name like concat('%',#{search_value},'%')
            OR ua.user_code like concat('%',#{search_value},'%')
            OR s.store_name like concat('%',#{search_value},'%')
            OR c.corp_name like concat('%',#{search_value},'%')
            OR ua.user_target like concat('%',#{search_value},'%')
            OR ua.target_type like concat('%',#{search_value},'%')
            OR ua.target_time like concat('%',#{search_value},'%')
            OR ua.MODIFIER like concat('%',#{search_value},'%')
            OR ua.modified_date like concat('%',#{search_value},'%')
            )
        </if>

    </select>

    <select id="selectUserAchvCount" resultType="java.lang.Integer">
        select count(*) from DEF_USER_ACHV_GOAL where corp_code=#{corp_code} and user_code=#{user_code}
    </select>

</mapper>