<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.UserAchvGoalMapper">
    <resultMap id="userAchvGoals" type="com.bizvane.ishop.entity.UserAchvGoal">
        <id column="id" property="id"/>
        <result column="user_code" property="user_code"/>
        <result column="user_name" property="user_name"/>
        <result column="store_code" property="store_code"/>
        <result column="corp_code" property="corp_code"/>
        <result column="achv_goal" property="achv_goal"/>
        <result column="achv_type" property="achv_type"/>
        <result column="start_time" property="start_time"/>
        <result column="end_time" property="end_time"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="created_date" property="created_date"/>
        <result column="creater" property="creater"/>
        <result column="isactive" property="isactive"/>
        <association property="store" javaType="com.bizvane.ishop.entity.Store">
            <result column="store_name" property="store_name"/>
        </association>
    </resultMap>

    <select id="selectById" resultType="com.bizvane.ishop.entity.UserAchvGoal">
        select * from
        DEF_USER_ACHV_GOAL
        WHERE id=#{id}
    </select>
    <select id="userAchvGoalExist">
        select * from DEF_USER_ACHV_GOAL WHERE USER_CODE=#{user_code}
    </select>

    <update id="update" parameterType="com.bizvane.ishop.entity.UserAchvGoal">
        update DEF_USER_ACHV_GOAL
        <trim prefix="set" prefixOverrides=",">
            <if test="user_code!=null  and user_code!=''">
                user_code =#{user_code},
            </if>
            <if test="user_name!=null and user_name!=''">
                user_name=#{user_name},
            </if>
            <if test="store_code!=null and store_code!=''">
                store_code =#{store_code},
            </if>
            <if test="achv_goal!=null and achv_goal!=''">
                achv_goal=#{achv_goal},
            </if>
            <if test="achv_type!=null and achv_type!=''">
                achv_type=#{achv_type},
            </if>
            <if test="start_time!=null">
                start_time =#{start_time},
            </if>
            <if test="end_time!=null">
                end_time=#{end_time},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null and  modifier!=''">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null and creater!=''">
                creater=#{creater},
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive=#{isactive},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code=#{corp_code},
            </if>
        </trim>
    </update>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.UserAchvGoal">
        insert into DEF_USER_ACHV_GOAL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_code!=null and user_code!=''">
                user_code,
            </if>

            <if test="user_name!=null and  user_name!=''">
                user_name,
            </if>

            <if test="store_code!=null and  store_code!=''">
                store_code,
            </if>

            <if test="corp_code!=null and  corp_code!=''">
                corp_code ,
            </if>

            <if test="achv_goal!=null and achv_goal!=''">
                achv_goal ,
            </if>

            <if test="achv_type!=null and  achv_type!=''">
                achv_type ,
            </if>

            <if test="start_time!=null">
                start_time ,
            </if>

            <if test="end_time!=null">
                end_time,
            </if>

            <if test="modified_date!=null">
                modified_date ,
            </if>


            <if test="modifier!=null and  modifier!=''">
                modifier ,
            </if>

            <if test="created_date!=null">
                created_date,
            </if>

            <if test="creater!=null and  creater!=''">
                creater ,
            </if>

            <if test="isactive!=null and  isactive!=''">
                isactive ,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">

            <if test="user_code!=null and user_code!=''">
                #{user_code},
            </if>

            <if test="user_name!=null and  user_name!=''">
                #{user_name},
            </if>

            <if test="store_code!=null and  store_code!=''">
                #{store_code},
            </if>

            <if test="corp_code!=null and  corp_code!=''">
                #{corp_code} ,
            </if>

            <if test="achv_goal!=null and achv_goal!=''">
                #{achv_goal} ,
            </if>

            <if test="achv_type!=null and  achv_type!=''">
                #{achv_type},
            </if>

            <if test="start_time!=null ">
                #{start_time},
            </if>

            <if test="end_time!=null ">
                #{end_time},
            </if>

            <if test="modified_date!=null">
                #{modified_date},
            </if>

            <if test="modifier!=null and  modifier!=''">
                #{modifier},
            </if>

            <if test="created_date!=null">
                #{created_date},
            </if>

            <if test="creater!=null and  creater!=''">
                #{creater},
            </if>

            <if test="isactive!=null and  isactive!=''">
                #{isactive},
            </if>
        </trim>
    </insert>

    <delete id="delelteByUser_code">
        DELETE FROM DEF_USER_ACHV_GOAL
        WHERE user_code=#{user_code}
    </delete>


    <select id="selectUserAchvGoalBySearch" resultMap="userAchvGoals">
        select ua.id,
        ua.user_code,
        ua.user_name,
        ua.store_code,
        ua.corp_code,
        ua.achv_goal,
        ua.achv_type,
        ua.start_time,
        ua.end_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name
        from
        DEF_USER_ACHV_GOAL ua,DEF_STORE s
        WHERE ua.store_code=s.store_code
        <if test="userAchvGoalId!=null and userAchvGoalId!=''">
            and ua.id=#{userAchvGoalId}
        </if>
        <if test="search_value!=null and search_value!=''">
            AND ua.user_name like concat('%',#{search_value},'%')
            OR ua.ACHV_GOAL like concat('%',#{search_value},'%')
            OR ua.MODIFIER like concat('%',#{search_value},'%')
            OR ua.CREATER like concat('%',#{search_value},'%')
        </if>

    </select>

</mapper>