<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.UserAchvGoalMapper">
    <resultMap id="userAchvGoals" type="com.bizvane.ishop.entity.UserAchvGoal">
        <id column="id" property="id"/>
        <result column="user_code" property="user_code"/>
        <result column="store_code" property="store_code"/>
        <result column="corp_code" property="corp_code"/>
        <result column="user_target" property="user_target" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="target_type" property="target_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="target_time" property="target_time" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive"/>
        <association property="store" javaType="com.bizvane.ishop.entity.Store">
            <result column="store_name" property="store_name"/>
        </association>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
        <association property="user" javaType="com.bizvane.ishop.entity.User">
            <result column="user_name" property="user_name"/>
        </association>
    </resultMap>

    <select id="selectById" resultMap="userAchvGoals">
        SELECT ua.id,
        ua.user_code,
        u.user_name,
        ua.store_code,
        ua.corp_code,
        ua.user_target,
        ua.target_type,
        ua.target_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name,
        c.corp_name
        FROM
        def_user_achv_goal ua,def_store s,def_corp c,def_user u
        WHERE ua.store_code=s.store_code
        AND ua.corp_code = c.corp_code
        AND c.corp_code = s.corp_code
        AND ua.user_code = u.user_code
        AND ua.id=#{id}
    </select>

    <update id="update" parameterType="com.bizvane.ishop.entity.UserAchvGoal">
        UPDATE def_user_achv_goal
        <trim prefix="set" suffixOverrides=",">
            <if test="user_code!=null ">
                user_code =#{user_code},
            </if>
            <if test="store_code!=null ">
                store_code =#{store_code},
            </if>
            <if test="corp_code!=null ">
                corp_code=#{corp_code},
            </if>
            <if test="user_target!=null ">
                user_target=#{user_target},
            </if>
            <if test="target_type!=null ">
                target_type=#{target_type},
            </if>
            <if test="target_time!=null ">
                target_time=#{target_time},
            </if>
            <if test="modified_date!=null ">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null ">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null ">
                created_date=#{created_date},
            </if>
            <if test="creater!=null ">
                creater=#{creater},
            </if>
            <if test="isactive!=null ">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE id = #{id};
    </update>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.UserAchvGoal">
        INSERT INTO def_user_achv_goal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_code!=null ">
                user_code,
            </if>
            <if test="store_code!=null ">
                store_code,
            </if>
            <if test="corp_code!=null ">
                corp_code ,
            </if>
            <if test="user_target!=null ">
                user_target ,
            </if>
            <if test="target_type!=null ">
                target_type ,
            </if>
            <if test="target_time!=null">
                target_time,
            </if>
            <if test="modified_date!=null">
                modified_date ,
            </if>
            <if test="modifier!=null ">
                modifier ,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null ">
                creater ,
            </if>
            <if test="isactive!=null ">
                isactive ,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="user_code!=null ">
                #{user_code},
            </if>
            <if test="store_code!=null ">
                #{store_code},
            </if>
            <if test="corp_code!=null ">
                #{corp_code} ,
            </if>

            <if test="user_target!=null ">
                #{user_target} ,
            </if>
            <if test="target_type!=null ">
                #{target_type},
            </if>
            <if test="target_time!=null ">
                #{target_time},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null ">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null ">
                #{creater},
            </if>
            <if test="isactive!=null ">
                #{isactive},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM def_user_achv_goal
        WHERE id=#{id}
    </delete>

    <select id="selectUserAchvGoalBySearch" resultMap="userAchvGoals">
        SELECT ua.id,
        u.user_code,
        u.user_name,
        ua.store_code,
        ua.corp_code,
        ua.user_target,
        ua.target_type,
        ua.target_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name,
        c.corp_name
        FROM
        def_user_achv_goal ua,def_store s,def_corp c,def_user u
        WHERE ua.store_code=s.store_code
        AND ua.corp_code = u.corp_code
        AND ua.corp_code = c.corp_code
        AND c.corp_code = s.corp_code
        AND ua.user_code = u.user_code
        <if test="corp_code !=null and corp_code!=''">
            AND ua.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                ua.corp_code =#{item}
            </foreach>
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (u.user_name like concat('%',#{search_value},'%')
            OR ua.user_code like concat('%',#{search_value},'%')
            OR s.store_name like concat('%',#{search_value},'%')
            OR c.corp_name like concat('%',#{search_value},'%')
            OR ua.user_target like concat('%',#{search_value},'%')
            OR ua.target_type like concat('%',#{search_value},'%')
            OR ua.target_time like concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY ua.id
        ORDER BY ua.id DESC
    </select>

    <select id="selectPartUserAchvGoalBySearch" resultMap="userAchvGoals">
        SELECT ua.id,
        u.user_code,
        u.user_name,
        ua.store_code,
        ua.corp_code,
        ua.user_target,
        ua.target_type,
        ua.target_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name,
        c.corp_name
        FROM
        def_user_achv_goal ua,
        def_store s,
        def_corp c,
        def_user u,
        def_group g
        WHERE ua.corp_code = u.corp_code
        AND ua.corp_code = c.corp_code
        AND ua.corp_code = g.corp_code
        AND ua.corp_code = s.corp_code
        AND ua.store_code=s.store_code
        AND ua.user_code = u.user_code
        AND u.group_code = g.group_code
        AND ua.corp_code=#{corp_code}
        AND g.role_code &lt; #{role_code}
        <if test="array !=null and array!=''">
            AND ua.store_code IN
            <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (u.user_name LIKE concat('%',#{search_value},'%')
            OR ua.user_code LIKE concat('%',#{search_value},'%')
            OR s.store_name LIKE concat('%',#{search_value},'%')
            OR c.corp_name LIKE concat('%',#{search_value},'%')
            OR ua.user_target LIKE concat('%',#{search_value},'%')
            OR ua.target_type LIKE concat('%',#{search_value},'%')
            OR ua.target_time LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY ua.id
        ORDER BY ua.id DESC
    </select>

    <select id="selectUserAchvCount" resultMap="userAchvGoals">
         SELECT ua.id,
        ua.user_code,
        u.user_name,
        ua.store_code,
        ua.corp_code,
        ua.user_target,
        ua.target_type,
        ua.target_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name,
        c.corp_name
        FROM
        def_user_achv_goal ua,def_store s,def_corp c,def_user u
        WHERE ua.store_code=s.store_code
        AND ua.corp_code = c.corp_code
        AND c.corp_code = s.corp_code
        AND ua.user_code = u.user_code
        AND ua.corp_code=#{corp_code}
        AND ua.user_code=#{user_code}
    </select>
    <select id="getUserAchvForId" resultMap="userAchvGoals">
        SELECT ua.id,
        ua.user_code,
        u.user_name,
        ua.store_code,
        ua.corp_code,
        ua.user_target,
        ua.target_type,
        ua.target_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name,
        c.corp_name
        FROM
        def_user_achv_goal ua,def_store s,def_corp c,def_user u
        WHERE ua.store_code=s.store_code
        AND ua.corp_code = c.corp_code
        AND c.corp_code = s.corp_code
        AND ua.user_code = u.user_code
        AND ua.corp_code=#{corp_code}
        AND ua.user_code=#{user_code}
          AND ua.store_code=#{store_code}
        AND ua.target_time=#{target_time}
        AND ua.isactive=#{isactive}


    </select>

    <delete id="deleteStoreUserAchv">
        DELETE FROM def_user_achv_goal
        WHERE corp_code = #{corp_code}
        AND store_code = #{store_code}
        AND user_code = #{user_code}
    </delete>


    <select id="selectAllUserAchvScreen" resultMap="userAchvGoals">
        SELECT ua.id,
        u.user_code,
        u.user_name,
        ua.store_code,
        ua.corp_code,
        ua.user_target,
        ua.target_type,
        ua.target_time,
        ua.modified_date,
        ua.modifier,
        ua.created_date,
        ua.creater,
        ua.isactive,
        s.store_name,
        c.corp_name
        FROM
        def_user_achv_goal ua,
        def_store s,
        def_corp c,
        def_user u,
        def_group g
        WHERE
        ua.corp_code=s.corp_code
        AND ua.corp_code = u.corp_code
        AND ua.corp_code = c.corp_code
        AND ua.corp_code=u.corp_code
        AND ua.corp_code=g.corp_code
        AND ua.store_code=s.store_code
        AND ua.user_code = u.user_code
        AND u.group_code = g.group_code

        <if test="corp_code!=null and corp_code!=''">
            AND ua.corp_code=#{corp_code}
        </if>
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                ua.corp_code =#{item}
            </foreach>
        </if>
        <if test="role_code!=null and role_code!=''">
            AND g.role_code &lt; #{role_code}
        </if>
        <if test="array!=null">
            AND ua.store_code IN
            <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='user_name'">
                    u.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='store_name'">
                    s.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    c.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    ua.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                   1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP BY ua.id
        ORDER BY ua.id DESC
    </select>

    <select id="selectUserAchvCountType" resultType="java.lang.Integer">
        SELECT count(*)
        FROM
        def_user_achv_goal duag
        WHERE
         duag.corp_code=#{corp_code}
        AND duag.user_code=#{user_code}
        AND duag.target_type=#{target_type}
        AND  duag.target_time=#{target_time}
        AND  duag.isactive=#{isactive}
        AND  duag.store_code=#{store_code}

    </select>
</mapper>