<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.UserMapper">

    <resultMap type="com.bizvane.ishop.entity.User" id="BaseMap">
        <id column="id" property="id"/>
        <result column="user_code" property="user_code"/>
        <result column="avatar" property="avatar"/>
        <result column="user_name" property="user_name"/>
        <result column="sex" property="sex"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="birthday" property="birthday"/>
        <result column="corp_code" property="corp_code"/>
        <result column="store_code" property="store_code"/>
        <result column="group_code" property="group_code"/>
        <result column="qrcode" property="qrcode"/>
        <result column="qrcode_content" property="qrcode_content"/>
        <result column="password" property="password"/>
        <result column="login_time_recently" property="login_time_recently"/>
        <result column="created_date" property="created_date"/>
        <result column="creater" property="creater"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="isactive" property="isactive"/>
        <result column="can_login" property="can_login"/>
        <!--地域-->
        <result column="area_code" property="area_code"/>
    </resultMap>

    <resultMap type="com.bizvane.ishop.entity.User" id="UserInfo">
        <id column="id" property="id"/>
        <result column="user_code" property="user_code"/>
        <result column="avatar" property="avatar"/>
        <result column="user_name" property="user_name"/>
        <result column="sex" property="sex"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="birthday" property="birthday"/>
        <result column="corp_code" property="corp_code"/>
        <result column="store_code" property="store_code"/>
        <result column="group_code" property="group_code"/>
        <result column="qrcode" property="qrcode"/>
        <result column="qrcode_content" property="qrcode_content"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="isactive" property="isactive"/>
        <result column="can_login" property="can_login"/>
        <association property="group" javaType="com.bizvane.ishop.entity.Group">
            <result column="group_name" property="group_name"/>
        </association>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
    </resultMap>

    <select id="selectAllUser" resultMap="UserInfo">
        select DEF_USER.id,
        user_code,
        user_name,
        sex,
        avatar,
        phone,
        email,
        birthday,
        store_code,
        can_login,
        DEF_USER.group_code,
        DEF_USER.corp_code,
        login_time_recently,
        DEF_USER.modified_date,
        DEF_USER.modifier,
        DEF_USER.created_date,
        DEF_USER.creater,
        DEF_USER.isactive,
        DEF_GROUP.group_name,
        DEF_CORP.corp_name
        from DEF_USER,DEF_GROUP,DEF_CORP
        where DEF_USER.group_code = DEF_GROUP.group_code
        AND DEF_USER.corp_code = DEF_CORP.corp_code
        AND DEF_USER.corp_code = DEF_GROUP.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND DEF_USER.CORP_CODE = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (USER_NAME like concat('%',#{search_value},'%')
            OR user_code like concat('%',#{search_value},'%')
            OR PHONE like concat('%',#{search_value},'%')
            OR SEX like concat('%',#{search_value},'%')
            OR DEF_CORP.corp_name like concat('%',#{search_value},'%')
            OR DEF_GROUP.group_name like concat('%',#{search_value},'%')
            OR LOGIN_TIME_RECENTLY like concat('%',#{search_value},'%')
            OR DEF_USER.MODIFIED_DATE like concat('%',#{search_value},'%')
            OR DEF_USER.MODIFIER like concat('%',#{search_value},'%')
            OR DEF_USER.ISACTIVE like concat('%',#{search_value},'%')
            )
        </if>
        ORDER BY DEF_USER.id DESC
    </select>

    <!--获取店长区经下员工-->
    <select id="selectPartUser" resultMap="UserInfo">
        SELECT *
        from DEF_USER,DEF_GROUP,DEF_CORP
        where DEF_USER.group_code = DEF_GROUP.group_code
        AND DEF_USER.corp_code = DEF_CORP.corp_code
        AND DEF_USER.corp_code = DEF_GROUP.corp_code
        AND DEF_USER.CORP_CODE = #{corp_code}
        AND DEF_GROUP.role_code &lt; #{role_code}
        AND
        <foreach collection="array" index="index" item="item" open="(" separator="or" close=")">
            store_code regexp #{item}
        </foreach>

        <if test="search_value != null and search_value !=''">
            AND
            (USER_NAME like concat('%',#{search_value},'%')
            OR user_code like concat('%',#{search_value},'%')
            OR PHONE like concat('%',#{search_value},'%')
            OR SEX like concat('%',#{search_value},'%')
            OR DEF_CORP.corp_name like concat('%',#{search_value},'%')
            OR DEF_GROUP.group_name like concat('%',#{search_value},'%')
            OR LOGIN_TIME_RECENTLY like concat('%',#{search_value},'%')
            OR DEF_USER.MODIFIED_DATE like concat('%',#{search_value},'%')
            OR DEF_USER.MODIFIER like concat('%',#{search_value},'%')
            OR DEF_USER.ISACTIVE like concat('%',#{search_value},'%')
            )
        </if>
        ORDER BY DEF_USER.id DESC
    </select>


    <select id="selectUserById" resultMap="UserInfo">
        select DEF_USER.id,
        user_code,
        user_name,
        sex,
        avatar,
        phone,
        email,
        birthday,
        password,
        login_time_recently,
        store_code,
        can_login,
        qrcode,
        DEF_USER.group_code,
        DEF_USER.area_code,
        DEF_USER.corp_code,
        DEF_USER.modified_date,
        DEF_USER.modifier,
        DEF_USER.created_date,
        DEF_USER.creater,
        DEF_USER.isactive,
        DEF_CORP.corp_name,
        DEF_GROUP.group_name,
        DEF_GROUP.role_code
        from DEF_USER,DEF_CORP,DEF_GROUP
        where DEF_USER.group_code = DEF_GROUP.group_code
        AND DEF_USER.corp_code = DEF_GROUP.corp_code
        AND DEF_USER.corp_code = DEF_CORP.corp_code
        AND DEF_USER.ID = #{user_id}
    </select>

    <select id="selectById" resultType="com.bizvane.ishop.entity.User">
        select *
        from DEF_USER
        where  DEF_USER.ID = #{user_id}
    </select>

    <select id="selectByPhone" resultMap="BaseMap">
        select *
        from DEF_USER
        where
            PHONE = #{phone}
    </select>

    <select id="selectLogin" resultMap="BaseMap">
        SELECT *
        FROM DEF_USER
        WHERE (PHONE = #{0}
        OR EMAIL = #{0})
        AND PASSWORD = #{1}
        AND ISACTIVE = 'Y'
        AND CAN_LOGIN = 'Y'
    </select>

    <select id="selectUserCode" resultMap="BaseMap">
    select *
    from DEF_USER
    WHERE
    USER_CODE = #{0} AND CORP_CODE = #{1}
   </select>

    <select id="userEmailExist" resultType="com.bizvane.ishop.entity.User">
        select * from DEF_USER
        WHERE email = #{email}
    </select>

    <!--获取店铺下员工-->
    <select id="selectStoreUser" resultMap="UserInfo">
        SELECT
        DEF_USER.id,
        user_code,
        user_name,
        sex,
        avatar,
        phone,
        email,
        birthday,
        password,
        login_time_recently,
        DEF_USER.group_code,
        DEF_USER.modified_date,
        DEF_USER.modifier,
        DEF_USER.created_date,
        DEF_USER.creater,
        DEF_USER.isactive,
        DEF_GROUP.group_name
        FROM DEF_USER,DEF_GROUP
        where DEF_USER.group_code = DEF_GROUP.group_code
        AND DEF_USER.CORP_CODE = #{corp_code}
        AND DEF_USER.store_code regexp #{search_value}
        AND DEF_GROUP.role_code &lt; #{role_code}
        ORDER BY DEF_USER.id DESC
    </select>

    <select id="selectGroupUser" resultMap="UserInfo">
        select DEF_USER.id,
        user_code,
        user_name,
        sex,
        avatar,
        phone,
        email,
        birthday,
        store_code,
        DEF_USER.group_code,
        DEF_USER.corp_code,
        DEF_USER.area_code,
        login_time_recently,
        DEF_USER.modified_date,
        DEF_USER.modifier,
        DEF_USER.created_date,
        DEF_USER.creater,
        DEF_USER.isactive,
        DEF_GROUP.group_name,
        DEF_CORP.corp_name
        from DEF_USER,DEF_GROUP,DEF_CORP
        where DEF_USER.group_code = DEF_GROUP.group_code
        AND DEF_USER.corp_code = DEF_CORP.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND DEF_USER.CORP_CODE = #{corp_code}
        </if>
        <if test="group_code != null and group_code !=''">
            AND DEF_USER.group_code = #{group_code}
        </if>
        ORDER BY DEF_USER.ID DESC
    </select>

    <delete id="deleteByUserId">
        delete from
        DEF_USER
        where ID = #{id}
    </delete>

    <insert id="insertUser" parameterType="com.bizvane.ishop.entity.User">
        insert into DEF_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_code!=null">
                user_code,
            </if>
            <if test="avatar!=null">
                avatar,
            </if>
            <if test="user_name!=null">
                user_name,
            </if>
            <if test="sex!=null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="birthday!=null">
                birthday,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="store_code!=null">
                store_code,
            </if>
            <if test="group_code!=null">
                group_code,
            </if>
            <if test="qrcode!=null">
                qrcode,
            </if>
            <if test="qrcode_content!=null">
                qrcode_content,
            </if>
            <if test="login_time_recently!=null">
                login_time_recently,
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="isactive != null">
                ISACTIVE,
            </if>
            <if test="can_login != null">
                can_login,
            </if>
            <if test="area_code != null">
                area_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user_code!=null">
                #{user_code},
            </if>
            <if test="avatar!=null">
                #{avatar},
            </if>
            <if test="user_name!=null">
                #{user_name},
            </if>
            <if test="sex!=null">
                #{sex},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="birthday!=null">
                #{birthday},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="store_code!=null">
                #{store_code},
            </if>
            <if test="group_code!=null">
                #{group_code},
            </if>
            <if test="qrcode!=null">
                #{qrcode},
            </if>
            <if test="qrcode_content!=null">
                #{qrcode_content},
            </if>
            <if test="login_time_recently!=null">
                #{login_time_recently},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
            <if test="can_login != null">
                #{can_login},
            </if>
            <if test="area_code != null">
                #{area_code},
            </if>
        </trim>
    </insert>

    <update id="updateByUserId" parameterType="com.bizvane.ishop.entity.User">
        UPDATE DEF_USER
        <trim prefix="SET" suffixOverrides=",">
            <if test="user_code!=null and user_code!='' ">
                USER_CODE = #{user_code},
            </if>
            <if test="avatar!=null and avatar!='' ">
                AVATAR = #{avatar},
            </if>
            <if test="user_name!=null and user_name!='' ">
                USER_NAME = #{user_name},
            </if>
            <if test="sex!=null and sex!='' ">
                SEX = #{sex},
            </if>
            <if test="phone!=null and phone!='' ">
                PHONE = #{phone},
            </if>
            <if test="email!=null and email!='' ">
                EMAIL = #{email},
            </if>
            <if test="birthday!=null and birthday!='' ">
                BIRTHDAY = #{birthday},
            </if>
            <if test="corp_code!=null and corp_code!='' ">
                CORP_CODE = #{corp_code},
            </if>
            <if test="store_code!=null and store_code!='' ">
                STORE_CODE = #{store_code},
            </if>
            <if test="group_code!=null and group_code!='' ">
                GROUP_CODE = #{group_code},
            </if>
            <if test="qrcode!=null and qrcode!='' ">
                qrcode = #{qrcode},
            </if>
            <if test="qrcode_content!=null and qrcode_content!='' ">
                qrcode_content = #{qrcode_content},
            </if>
            <if test="password!=null and password!='' ">
                PASSWORD = #{password},
            </if>
            <if test="login_time_recently!=null and login_time_recently!='' ">
                LOGIN_TIME_RECENTLY = #{login_time_recently},
            </if>
            <if test="modified_date!=null and modified_date!='' ">
                MODIFIED_DATE = #{modified_date},
            </if>
            <if test="modifier!=null and modifier!='' ">
                MODIFIER = #{modifier},
            </if>
            <if test="created_date!=null and created_date!='' ">
                CREATED_DATE = #{created_date},
            </if>
            <if test="creater!=null and creater!='' ">
                CREATER = #{creater},
            </if>
            <if test="isactive!=null and isactive!='' ">
                ISACTIVE = #{isactive},
            </if>
            <if test="can_login!=null and can_login!='' ">
                can_login = #{can_login},
            </if>
            <if test="area_code!=null and area_code!='' ">
                area_code = #{area_code},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>
<!--
    <select id="selectUserName" resultType="com.bizvane.ishop.entity.User">
        select * from DEF_USER
        WHERE user_name=#{user_name} and user_code=#{user_code}
    </select>

    <select id="selectPhone" resultType="com.bizvane.ishop.entity.User">
        select * from DEF_USER
        WHERE phone=#{phone} and corp_code=#{corp_code}
    </select>
-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) from DEF_USER
        WHERE 1=1
        <if test="created_date !=''">
            AND created_date LIKE concat(#{created_date},'%')
        </if>
    </select>

</mapper>