<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.UserInfoMapper">

    <select id="selectByPrimaryKey" resultType="com.bizvane.ishop.entity.UserInfo">
        select *
        from USER
        where ID = #{id}
    </select>
    <select id="selectByPMP" resultType="com.bizvane.ishop.entity.UserInfo">
        select *
        from USER
        where PHONE = #{phone} AND PASSWORD = #{password}
    </select>

    <delete id="deleteByPrimaryKey">
        delete from
        USER
        where ID = #{id}
    </delete>
    <insert id="insert" parameterType="com.bizvane.ishop.entity.UserInfo">
        insert into USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                id,
            </if>
            <if test="PHONE != null">
                phone,
            </if>
            <if test="MAIL != null">
                email,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                #{id},
            </if>
            <if test="PHONE != null">
                #{phone},
            </if>
            <if test="MAIL != null">
                #{email},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.bizvane.ishop.entity.UserInfo">
        UPDATE USER
        <trim prefix="SET" suffixOverrides=",">
            <if test="NAME!=null and NAME!='' ">
                NAME = #{user_name},
            </if>
            <if test="SEX!=null and SEX!='' ">
                SEX = #{sex},
            </if>
            <if test="BIRTHDAY!=null and SEX!='' ">
                BIRTHDAY = #{birthday},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>

</mapper>