<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.ValidataCodeMapper">
    <select id="selectAllValidateCode" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            phone LIKE concat('%', #{search_value},'%')
            OR validate_code LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY id DESC
    </select>
    <select id="selectAllScreen" resultType="com.bizvane.ishop.entity.ValidateCode">
    SELECT *
    FROM def_validate_code
    WHERE 1 = 1
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")"  separator="and" >
            ${entryKey}  LIKE concat('%', #{entryValue},'%')
        </foreach>
        ORDER BY id DESC
    </select>
    <select id="selValidateCodeById" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT * FROM def_validate_code
        WHERE ID=#{id}
    </select>
    <select id="selectByCodeId" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code
        WHERE
        <if test="code_id != 0">
            ID = #{code_id}
        </if>
        <if test="phone != null and phone !=''">
            phone = #{phone}
        </if>
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <insert id="insertValidateCode" parameterType="com.bizvane.ishop.entity.ValidateCode">
        INSERT INTO def_validate_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone!=null">
                phone,
            </if>
            <if test="validate_code!=null">
                validate_code,
            </if>
            <if test="platform!=null">
                platform,
            </if>
            <if test="modified_date != null">
                modified_date,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                created_date,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone!=null">
                #{phone},
            </if>
            <if test="validate_code!=null">
                #{validate_code},
            </if>
            <if test="platform!=null">
                #{platform},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateByCodeId" parameterType="com.bizvane.ishop.entity.ValidateCode">
        UPDATE def_validate_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone!=null and phone!='' ">
                phone = #{phone},
            </if>
            <if test="validate_code!=null and validate_code!='' ">
                validate_code = #{validate_code},
            </if>
            <if test="platform!=null and platform!='' ">
                platform = #{platform},
            </if>
            <if test="modified_date!=null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier!=null and modifier!='' ">
                modifier = #{modifier},
            </if>
            <if test="created_date!=null">
                created_date = #{created_date},
            </if>
            <if test="creater!=null and creater!='' ">
                creater = #{creater},
            </if>
            <if test="isactive!=null and isactive!='' ">
                isactive = #{isactive},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>

    <delete id="deleteByCodeId">
        DELETE FROM
        def_validate_code
        WHERE ID = #{id}
    </delete>
</mapper>