<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.ValidataCodeMapper">
    <select id="selectAllValidateCode" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM DEF_VALIDATE_CODE
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            USER_CODE LIKE concat('%', #{search_value},'%')
            OR FEEDBACK_CONTENT LIKE concat('%', #{search_value},'%')
            OR PHONE LIKE concat('%', #{search_value},'%')
            OR FEEDBACK_DATE LIKE concat('%',#{search_value},'%')
            OR PROCESS_STATE LIKE concat('%', #{search_value},'%')
            OR ISACTIVE LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY id DESC
    </select>
    <select id="selectByCodeId" resultType="com.bizvane.ishop.entity.ValidateCode">
        select *
        from DEF_VALIDATE_CODE
        where
        <if test="code_id != 0">
            ID = #{code_id}
        </if>
        <if test="phone != null and phone !=''">
            phone = #{phone}
        </if>
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <insert id="insertValidateCode" parameterType="com.bizvane.ishop.entity.ValidateCode">
        insert into DEF_VALIDATE_CODE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone!=null">
                phone,
            </if>
            <if test="validate_code!=null">
                validate_code,
            </if>
            <if test="platform!=null">
                platform,
            </if>
            <if test="modified_date != null">
                MODIFIED_DATE,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="created_date != null">
                CREATED_DATE,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="isactive != null">
                ISACTIVE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone!=null">
                #{phone},
            </if>
            <if test="validate_code!=null">
                #{validate_code},
            </if>
            <if test="platform!=null">
                #{platform},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateByCodeId" parameterType="com.bizvane.ishop.entity.ValidateCode">
        UPDATE DEF_VALIDATE_CODE
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone!=null and phone!='' ">
                phone = #{phone},
            </if>
            <if test="validate_code!=null and validate_code!='' ">
                validate_code = #{validate_code},
            </if>
            <if test="platform!=null and platform!='' ">
                platform = #{platform},
            </if>
            <if test="modified_date!=null">
                MODIFIED_DATE = #{modified_date},
            </if>
            <if test="modifier!=null and modifier!='' ">
                MODIFIER = #{modifier},
            </if>
            <if test="created_date!=null">
                CREATED_DATE = #{created_date},
            </if>
            <if test="creater!=null and creater!='' ">
                CREATER = #{creater},
            </if>
            <if test="isactive!=null and isactive!='' ">
                ISACTIVE = #{isactive},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>

    <delete id="deleteByCodeId">
        delete from
        DEF_VALIDATE_CODE
        where ID = #{id}
    </delete>
</mapper>