<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.ValidateCodeMapper">

    <select id="selectAllValidateCode" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code
        WHERE 1 = 1
        <if test="search_value != null and search_value !=''">
            AND
            (
            phone LIKE concat('%', #{search_value},'%')
            )
        </if>
        GROUP BY id
        ORDER BY id DESC
    </select>

    <select id="selectAllScreen" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code
        WHERE 1 = 1
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")" separator="and">
            <choose>
                <when test="entryValue!=''">
                    ${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP BY id
        ORDER BY id DESC
    </select>

    <select id="selValidateCodeById" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT * FROM def_validate_code
        WHERE ID=#{id}
    </select>

    <select id="selectPhoneExist" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code
        WHERE
        <if test="platform != null and platform !=''">
            platform = #{platform}
        </if>
        <if test="phone != null and phone !=''">
            AND phone = #{phone}
        </if>
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <insert id="insertValidateCode" parameterType="com.bizvane.ishop.entity.ValidateCode">
        INSERT INTO def_validate_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone!=null">
                phone,
            </if>
            <if test="validate_code!=null">
                validate_code,
            </if>
            <if test="platform!=null">
                platform,
            </if>
            <if test="modified_date != null">
                modified_date,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                created_date,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone!=null">
                #{phone},
            </if>
            <if test="validate_code!=null">
                #{validate_code},
            </if>
            <if test="platform!=null">
                #{platform},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateByCodeId" parameterType="com.bizvane.ishop.entity.ValidateCode">
        UPDATE def_validate_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone!=null and phone!='' ">
                phone = #{phone},
            </if>
            <if test="validate_code!=null and validate_code!='' ">
                validate_code = #{validate_code},
            </if>
            <if test="platform!=null and platform!='' ">
                platform = #{platform},
            </if>
            <if test="modified_date!=null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier!=null and modifier!='' ">
                modifier = #{modifier},
            </if>
            <if test="created_date!=null">
                created_date = #{created_date},
            </if>
            <if test="creater!=null and creater!='' ">
                creater = #{creater},
            </if>
            <if test="isactive!=null and isactive!='' ">
                isactive = #{isactive},
            </if>
        </trim>
        WHERE ID = #{id};
    </update>

    <delete id="deleteByCodeId">
        DELETE FROM
        def_validate_code
        WHERE ID = #{id}
    </delete>

    <select id="selectValidateCodeByCorp" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code AS dvc
        WHERE 1=1
        AND (
        phone NOT IN (
        SELECT phone FROM def_user
        WHERE phone IS NOT NULL
        GROUP BY phone)
        OR phone IN (
        SELECT phone FROM def_user
        WHERE corp_code = #{corp_code})
        )
        <if test="search_value != null and search_value !=''">
            AND
            (
            phone LIKE concat('%', #{search_value},'%')
            )
        </if>
        GROUP BY id
        ORDER BY id DESC
    </select>


    <select id="selectValidateCodeByCorp2" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code AS dvc
        WHERE 1=1
        AND (
        phone NOT IN (
        SELECT phone FROM def_user
        WHERE phone IS NOT NULL
        GROUP BY phone)
        OR phone IN (
        SELECT phone FROM def_user
        WHERE 1=1
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                corp_code =#{item}
            </foreach>
        </if>
        )
        )
        <if test="search_value != null and search_value !=''">
            AND
            (
            phone LIKE concat('%', #{search_value},'%')
            )
        </if>
        GROUP BY id
        ORDER BY id DESC
    </select>


    <select id="selectByCorpScreen2" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code AS dvc
        WHERE 1=1
        AND (
        phone NOT IN (
        SELECT phone FROM def_user
        WHERE phone IS NOT NULL
        GROUP BY phone)
        OR phone IN (
        SELECT phone FROM def_user
        WHERE 1=1
        <if test="manager_corp_arr!=null">
            AND
            <foreach collection="manager_corp_arr" index="index" item="item" open="(" separator="or" close=")">
                corp_code =#{item}
            </foreach>
        </if>
        )
        )
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")" separator="and">
            <choose>
                <when test="entryValue!=''">
                    ${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP BY id
        ORDER BY id DESC
    </select>


    <select id="selectByCorpScreen" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code AS dvc
        WHERE 1=1
        AND (
        phone NOT IN (
        SELECT phone FROM def_user
        WHERE phone IS NOT NULL
        GROUP BY phone)
        OR phone IN (
        SELECT phone FROM def_user
        WHERE corp_code = #{corp_code})
        )
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")" separator="and">
            <choose>
                <when test="entryValue!=''">
                    ${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP BY id
        ORDER BY id DESC
    </select>


    <select id="selectByPhone" resultType="com.bizvane.ishop.entity.ValidateCode">
        SELECT *
        FROM def_validate_code
        WHERE phone = #{phone}
        AND validate_code = #{validate_code}
        AND platform = 'web'
    </select>

</mapper>