<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.VipActivityMapper">

    <resultMap type="com.bizvane.ishop.entity.VipActivity" id="Activity">
        <id column="id" property="id"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="app_id" property="app_id" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="app_name" property="app_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_code" property="activity_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_theme" property="activity_theme" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_state" property="activity_state" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="run_mode" property="run_mode" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="start_time" property="start_time" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="end_time" property="end_time" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="target_vips" property="target_vips" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_desc" property="activity_desc" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="task_code" property="task_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="sms_code" property="sms_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="target_vips_count" property="target_vips_count" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="task_status" property="task_status" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="send_status" property="send_status" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="run_scope" property="run_scope" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="vip_condition" property="vip_condition" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="vip_task" property="vip_task" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="batch_no" property="batch_no" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="bill_status" property="bill_status" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="target_vips_import" property="target_vips_import" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="qrcode" property="qrcode" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="qrcode_content" property="qrcode_content" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="select_scope" property="select_scope" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="runscope_branecode" property="runscope_branecode" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="runscope_areacode" property="runscope_areacode" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="runscope_storecode" property="runscope_storecode" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="coupon_type" property="coupon_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="send_points" property="send_points" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <!--筛选查询selectAllCorpScreen-->
    <select id="selectAllCorpScreen" resultMap="Activity">
        select

        def_vip_activity.activity_theme,
        def_vip_activity.run_mode,
        def_vip_activity.activity_state,
        def_vip_activity.start_time,
        def_vip_activity.end_time,
        def_vip_activity.creater,
        def_vip_activity.created_date,
        def_vip_activity.run_scope,

        def_corp.CORP_NAME,

        def_vip_activity_detail_consume.coupon_type as coupon_type,
        def_vip_activity_detail_consume.send_points as send_points

        from def_vip_activity left join   def_corp   on def_vip_activity.corp_code=def_corp.corp_code
        left join def_vip_activity_detail_consume on def_vip_activity_detail_consume.activity_code=def_vip_activity.activity_code
        where  1=1
        <if test="corp_code != null and corp_code !=''">
            AND def_vip_activity.corp_code = #{corp_code}
        </if>
        <if test="user_code!=null and user_code!=''">
            AND def_vip_activity.creater = #{user_code}
        </if>
        <if test="created_date_start!=null and created_date_start!=''">
            AND def_vip_activity.created_date &gt;= #{created_date_start}
        </if>
        <if test="created_date_end!=null and created_date_end!=''">
            AND def_vip_activity.created_date &lt;= #{created_date_end}
        </if>
        <if test="start_time_start!=null and start_time_start!=''">
            AND def_vip_activity.start_time &gt;= #{start_time_start}
        </if>
        <if test="start_time_end!=null and start_time_end!=''">
            AND def_vip_activity.start_time &lt;= #{start_time_end}
        </if>
        <if test="end_time_start!=null and end_time_start!=''">
            AND def_vip_activity.end_time &gt;= #{end_time_start}
        </if>
        <if test="end_time_end!=null and end_time_end!=''">
            AND def_vip_activity.end_time &lt;= #{end_time_end}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    def_corp.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='3'.toString()">
                    ( def_vip_activity.bill_status = '0' OR  def_vip_activity.bill_status = '' OR def_vip_activity.bill_status IS  NULL )
                    AND def_vip_activity.activity_state = '0'
                </when>

                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='4'.toString()">
                    def_vip_activity.bill_status = '1'  AND def_vip_activity.activity_state = '0'
                </when>

                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='5'.toString()">
                    def_vip_activity.bill_status = '2'  AND def_vip_activity.activity_state = '0'
                </when>
                <when test="entryValue!='' and entryKey=='activity_state' and entryValue!='3'.toString()  and entryValue!='4'.toString() and entryValue!='5'.toString()">
                    def_vip_activity.${entryKey} = ${entryValue}
                </when>
                <when test="entryValue!=''">
                    def_vip_activity.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>


        union ALL
        select

        def_vip_activity.activity_theme,
        def_vip_activity.run_mode,
        def_vip_activity.activity_state,
        def_vip_activity.start_time,
        def_vip_activity.end_time,
        def_vip_activity.creater,
        def_vip_activity.created_date,
        def_vip_activity.run_scope,

        def_corp.CORP_NAME,

        def_vip_activity_detail.coupon_type as coupon_type,
        def_vip_activity_detail.present_point as send_points

        from def_vip_activity left join   def_corp   on def_vip_activity.corp_code=def_corp.corp_code
        left join def_vip_activity_detail on  def_vip_activity_detail.activity_code=def_vip_activity.activity_code
        where 1=1
        <if test="corp_code != null and corp_code !=''">
            AND def_vip_activity.corp_code = #{corp_code}
        </if>
        <if test="user_code!=null and user_code!=''">
            AND def_vip_activity.creater = #{user_code}
        </if>
        <if test="created_date_start!=null and created_date_start!=''">
            AND def_vip_activity.created_date &gt;= #{created_date_start}
        </if>
        <if test="created_date_end!=null and created_date_end!=''">
            AND def_vip_activity.created_date &lt;= #{created_date_end}
        </if>
        <if test="start_time_start!=null and start_time_start!=''">
            AND def_vip_activity.start_time &gt;= #{start_time_start}
        </if>
        <if test="start_time_end!=null and start_time_end!=''">
            AND def_vip_activity.start_time &lt;= #{start_time_end}
        </if>
        <if test="end_time_start!=null and end_time_start!=''">
            AND def_vip_activity.end_time &gt;= #{end_time_start}
        </if>
        <if test="end_time_end!=null and end_time_end!=''">
            AND def_vip_activity.end_time &lt;= #{end_time_end}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    def_corp.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='3'.toString()">
                    ( def_vip_activity.bill_status = '0' OR  def_vip_activity.bill_status = '' OR def_vip_activity.bill_status IS  NULL )
                    AND def_vip_activity.activity_state = '0'
                </when>

                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='4'.toString()">
                    def_vip_activity.bill_status = '1'  AND def_vip_activity.activity_state = '0'
                </when>

                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='5'.toString()">
                    def_vip_activity.bill_status = '2'  AND def_vip_activity.activity_state = '0'
                </when>
                <when test="entryValue!='' and entryKey=='activity_state' and entryValue!='3'.toString()  and entryValue!='4'.toString() and entryValue!='5'.toString()">
                    def_vip_activity.${entryKey} = ${entryValue}
                </when>
                <when test="entryValue!=''">
                    def_vip_activity.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>


        union ALL
        select

        def_vip_activity.activity_theme,
        def_vip_activity.run_mode,
        def_vip_activity.activity_state,
        def_vip_activity.start_time,
        def_vip_activity.end_time,
        def_vip_activity.creater,
        def_vip_activity.created_date,
        def_vip_activity.run_scope,

        def_corp.CORP_NAME,

        def_vip_activity_detail_anniversary.coupon_type as coupon_type,
        def_vip_activity_detail_anniversary.send_points as send_points

        from def_vip_activity left join   def_corp   on def_vip_activity.corp_code=def_corp.corp_code

        left join def_vip_activity_detail_anniversary on def_vip_activity_detail_anniversary.activity_code=def_vip_activity.activity_code
        where 1=1
        <if test="corp_code != null and corp_code !=''">
            AND def_vip_activity.corp_code = #{corp_code}
        </if>
        <if test="user_code!=null and user_code!=''">
            AND def_vip_activity.creater = #{user_code}
        </if>
        <if test="created_date_start!=null and created_date_start!=''">
            AND def_vip_activity.created_date &gt;= #{created_date_start}
        </if>
        <if test="created_date_end!=null and created_date_end!=''">
            AND def_vip_activity.created_date &lt;= #{created_date_end}
        </if>
        <if test="start_time_start!=null and start_time_start!=''">
            AND def_vip_activity.start_time &gt;= #{start_time_start}
        </if>
        <if test="start_time_end!=null and start_time_end!=''">
            AND def_vip_activity.start_time &lt;= #{start_time_end}
        </if>
        <if test="end_time_start!=null and end_time_start!=''">
            AND def_vip_activity.end_time &gt;= #{end_time_start}
        </if>
        <if test="end_time_end!=null and end_time_end!=''">
            AND def_vip_activity.end_time &lt;= #{end_time_end}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    def_corp.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='3'.toString()">
                    ( def_vip_activity.bill_status = '0' OR  def_vip_activity.bill_status = '' OR def_vip_activity.bill_status IS  NULL )
                    AND def_vip_activity.activity_state = '0'
                </when>

                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='4'.toString()">
                    def_vip_activity.bill_status = '1'  AND def_vip_activity.activity_state = '0'
                </when>

                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='5'.toString()">
                    def_vip_activity.bill_status = '2'  AND def_vip_activity.activity_state = '0'
                </when>
                <when test="entryValue!='' and entryKey=='activity_state' and entryValue!='3'.toString()  and entryValue!='4'.toString() and entryValue!='5'.toString()">
                    def_vip_activity.${entryKey} = ${entryValue}
                </when>
                <when test="entryValue!=''">
                    def_vip_activity.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>

    </select>
    <!--查询需要导出excel数据-->
    <select id="exploreExcel" resultMap="Activity">
        select

        def_vip_activity.activity_theme,
        def_vip_activity.run_mode,
        def_vip_activity.activity_state,
        def_vip_activity.start_time,
        def_vip_activity.end_time,
        def_vip_activity.creater,
        def_vip_activity.created_date,
        def_vip_activity.run_scope,

        def_corp.CORP_NAME,

        def_vip_activity_detail_consume.coupon_type as coupon_type,
        def_vip_activity_detail_consume.send_points as send_points

        from def_vip_activity left join   def_corp   on def_vip_activity.corp_code=def_corp.corp_code
        left join def_vip_activity_detail_consume on def_vip_activity_detail_consume.activity_code=def_vip_activity.activity_code
        where  1=1
        <if test="search_value!=null and search_value!=''">
            and  activity_theme like CONCAT('%',#{search_value},'%')
            or   def_corp.CORP_CODE like CONCAT('%',#{search_value},'%')
        </if>

        UNION  ALL
        select

        def_vip_activity.activity_theme,
        def_vip_activity.run_mode,
        def_vip_activity.activity_state,
        def_vip_activity.start_time,
        def_vip_activity.end_time,
        def_vip_activity.creater,
        def_vip_activity.created_date,
        def_vip_activity.run_scope,

        def_corp.CORP_NAME,

        def_vip_activity_detail.coupon_type as coupon_type,
        def_vip_activity_detail.present_point as send_points

        from def_vip_activity left join   def_corp   on def_vip_activity.corp_code=def_corp.corp_code
        left join def_vip_activity_detail on  def_vip_activity_detail.activity_code=def_vip_activity.activity_code
        where 1=1
        <if test="search_value!=null and search_value!=''">
            and  activity_theme like CONCAT('%',#{search_value},'%')
            or   def_corp.CORP_CODE like CONCAT('%',#{search_value},'%')
        </if>

        UNION  ALL
        select

        def_vip_activity.activity_theme,
        def_vip_activity.run_mode,
        def_vip_activity.activity_state,
        def_vip_activity.start_time,
        def_vip_activity.end_time,
        def_vip_activity.creater,
        def_vip_activity.created_date,
        def_vip_activity.run_scope,

        def_corp.CORP_NAME,

        def_vip_activity_detail_anniversary.coupon_type as coupon_type,
        def_vip_activity_detail_anniversary.send_points as send_points

        from def_vip_activity left join   def_corp   on def_vip_activity.corp_code=def_corp.corp_code

        left join def_vip_activity_detail_anniversary on def_vip_activity_detail_anniversary.activity_code=def_vip_activity.activity_code
     where 1=1
        <if test="search_value!=null and search_value!=''">
            and  activity_theme like CONCAT('%',#{search_value},'%')
            or   def_corp.CORP_CODE like CONCAT('%',#{search_value},'%')
        </if>
    </select>

    <select id="selectAllActivity" resultMap="Activity">
        SELECT def_vip_activity.*
        FROM def_vip_activity,def_corp
        WHERE def_vip_activity.corp_code = def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND def_vip_activity.corp_code = #{corp_code}
        </if>
        <if test="user_code!=null and user_code!=''">
            AND def_vip_activity.creater = #{user_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (
            def_vip_activity.activity_theme LIKE concat('%', #{search_value},'%')
            OR def_vip_activity.run_mode LIKE concat('%', #{search_value},'%')
            OR def_corp.corp_name LIKE concat('%', #{search_value},'%')
            OR def_vip_activity.activity_code LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY def_vip_activity.id DESC
    </select>

    <insert id="insertActivity" parameterType="com.bizvane.ishop.entity.VipActivity">
        INSERT INTO def_vip_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="run_scope!=null">
                run_scope,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="app_name!=null">
                app_name,
            </if>
            <if test="app_id!=null">
                app_id,
            </if>
            <if test="activity_code!=null">
                activity_code,
            </if>
            <if test="activity_theme!=null">
                activity_theme,
            </if>
            <if test="activity_state!=null">
                activity_state,
            </if>

            <if test="run_mode!=null">
                run_mode,
            </if>
            <if test="start_time!=null">
                start_time,
            </if>
            <if test="end_time!=null">
                end_time,
            </if>
            <if test="target_vips!=null">
                target_vips,
            </if>
            <if test="activity_desc!=null">
                activity_desc,
            </if>
            <if test="task_code!=null">
                task_code,
            </if>
            <if test="sms_code!=null">
                sms_code,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="target_vips_count!=null">
                target_vips_count,
            </if>
            <if test="task_status!=null">
                task_status,
            </if>
            <if test="send_status!=null">
                send_status,
            </if>
            <if test="vip_condition!=null">
                vip_condition,
            </if>
            <if test="vip_task!=null">
                vip_task,
            </if>
            <if test="batch_no!=null">
                batch_no,
            </if>
            <if test="bill_status!=null">
                bill_status,
            </if>
            <if test="target_vips_import!=null">
                target_vips_import,
            </if>
            <if test="select_scope!=null">
                select_scope,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="run_scope!=null">
                #{run_scope},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="app_name!=null">
                #{app_name},
            </if>
            <if test="app_id!=null">
                #{app_id},
            </if>
            <if test="activity_code!=null">
                #{activity_code},
            </if>
            <if test="activity_theme!=null">
                #{activity_theme},
            </if>
            <if test="activity_state!=null">
                #{activity_state},
            </if>

            <if test="run_mode!=null">
                #{run_mode},
            </if>
            <if test="start_time!=null">
                #{start_time},
            </if>
            <if test="end_time!=null">
                #{end_time},
            </if>
            <if test="target_vips!=null">
                #{target_vips},
            </if>
            <if test="activity_desc!=null">
                #{activity_desc},
            </if>
            <if test="task_code!=null">
                #{task_code},
            </if>
            <if test="sms_code!=null">
                #{sms_code},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="target_vips_count!=null">
                #{target_vips_count},
            </if>
            <if test="task_status!=null">
                #{task_status},
            </if>
            <if test="send_status!=null">
                #{send_status},
            </if>
            <if test="vip_condition!=null">
                #{vip_condition},
            </if>
            <if test="vip_task!=null">
                #{vip_task},
            </if>
            <if test="batch_no!=null">
                #{batch_no},
            </if>
            <if test="bill_status!=null">
                #{bill_status},
            </if>
            <if test="target_vips_import!=null">
                #{target_vips_import},
            </if>
            <if test="select_scope!=null">
                #{select_scope},
            </if>
        </trim>
    </insert>

    <update id="updateActivity" parameterType="com.bizvane.ishop.entity.VipActivity">
        UPDATE def_vip_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="run_scope!=null">
                run_scope=#{run_scope},
            </if>
            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="app_name!=null">
                app_name=#{app_name},
            </if>
            <if test="app_id!=null">
                app_id=#{app_id},
            </if>
            <if test="activity_code!=null">
                activity_code=#{activity_code},
            </if>
            <if test="activity_theme!=null">
                activity_theme=#{activity_theme},
            </if>
            <if test="activity_state!=null">
                activity_state=#{activity_state},
            </if>

            <if test="run_mode!=null">
                run_mode=#{run_mode},
            </if>
            <if test="start_time!=null">
                start_time=#{start_time},
            </if>
            <if test="end_time!=null">
                end_time=#{end_time},
            </if>
            <if test="target_vips!=null">
                target_vips=#{target_vips},
            </if>
            <if test="activity_desc!=null">
                activity_desc=#{activity_desc},
            </if>
            <if test="task_code!=null">
                task_code=#{task_code},
            </if>
            <if test="sms_code!=null">
                sms_code=#{sms_code},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
            <if test="target_vips_count!=null">
                target_vips_count= #{target_vips_count},
            </if>
            <if test="task_status!=null">
                task_status= #{task_status},
            </if>
            <if test="send_status!=null">
                send_status= #{send_status},
            </if>
            <if test="vip_condition!=null">
                vip_condition=#{vip_condition},
            </if>
            <if test="vip_task!=null">
                vip_task=#{vip_task},
            </if>
            <if test="batch_no!=null">
                batch_no=#{batch_no},
            </if>
            <if test="bill_status!=null">
                bill_status=#{bill_status},
            </if>
            <if test="target_vips_import!=null">
                target_vips_import=#{target_vips_import},
            </if>
            <if test="qrcode!=null">
                qrcode=#{qrcode},
            </if>
            <if test="qrcode_content!=null">
                qrcode_content=#{qrcode_content},
            </if>
            <if test="select_scope!=null">
                select_scope=#{select_scope},
            </if>
        </trim>
        WHERE activity_code=#{activity_code};
    </update>

    <delete id="delActivityById">
        DELETE FROM def_vip_activity
        WHERE id=#{id};
    </delete>

    <select id="selectActivityScreen" resultMap="Activity">
        SELECT def_vip_activity.*,
        def_corp.corp_name
        FROM def_vip_activity,def_corp
        WHERE def_vip_activity.corp_code=def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_vip_activity.corp_code = #{corp_code}
        </if>
        <if test="user_code!=null and user_code!=''">
            AND def_vip_activity.creater = #{user_code}
        </if>
        <if test="created_date_start!=null and created_date_start!=''">
            AND def_vip_activity.created_date &gt;= #{created_date_start}
        </if>
        <if test="created_date_end!=null and created_date_end!=''">
            AND def_vip_activity.created_date &lt;= #{created_date_end}
        </if>
        <if test="start_time_start!=null and start_time_start!=''">
            AND def_vip_activity.start_time &gt;= #{start_time_start}
        </if>
        <if test="start_time_end!=null and start_time_end!=''">
            AND def_vip_activity.start_time &lt;= #{start_time_end}
        </if>
        <if test="end_time_start!=null and end_time_start!=''">
            AND def_vip_activity.end_time &gt;= #{end_time_start}
        </if>
        <if test="end_time_end!=null and end_time_end!=''">
            AND def_vip_activity.end_time &lt;= #{end_time_end}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    def_corp.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='3'.toString()">
                    ( def_vip_activity.bill_status = '0' OR  def_vip_activity.bill_status = '' OR def_vip_activity.bill_status IS  NULL )
                    AND def_vip_activity.activity_state = '0'
                </when>

                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='4'.toString()">
                    def_vip_activity.bill_status = '1'  AND def_vip_activity.activity_state = '0'
                </when>

                <when test="entryValue!='' and entryKey=='activity_state' and entryValue=='5'.toString()">
                    def_vip_activity.bill_status = '2'  AND def_vip_activity.activity_state = '0'
                </when>
                <when test="entryValue!='' and entryKey=='activity_state' and entryValue!='3'.toString()  and entryValue!='4'.toString() and entryValue!='5'.toString()">
                    def_vip_activity.${entryKey} = ${entryValue}
                </when>
                <when test="entryValue!=''">
                    def_vip_activity.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP BY def_vip_activity.id
        ORDER BY def_vip_activity.id DESC
    </select>

    <select id="selActivityById" resultMap="Activity">
         SELECT def_vip_activity.*,
        def_corp.corp_name
        FROM def_vip_activity,def_corp
        WHERE def_vip_activity.corp_code=def_corp.corp_code
        AND def_vip_activity.id =#{id}
    </select>


    <select id="selActivityByCode" resultMap="Activity">
        SELECT def_vip_activity.*,
        def_corp.corp_name
        FROM def_vip_activity,def_corp
        WHERE def_vip_activity.corp_code=def_corp.corp_code
        AND def_vip_activity.activity_code = #{activity_code}
    </select>


        <!-- czy -->
    <select id="selActivityByCodeAndName" resultMap="Activity">
        SELECT def_vip_activity.*,
        def_corp.corp_name
        FROM def_vip_activity,def_corp
        WHERE def_vip_activity.corp_code=def_corp.corp_code
        AND def_vip_activity.activity_code = #{activity_code}
    </select>

    <update id="updActiveCodeByType" parameterType="com.bizvane.ishop.entity.VipActivity">
        UPDATE  def_vip_activity SET ${line_code}=#{line_value} WHERE corp_code=#{corp_code} AND activity_code =#{activity_code}
    </update>


    <select id="selActivityByTheme" resultMap="Activity">
        SELECT def_vip_activity.*,
        def_corp.corp_name
        FROM def_vip_activity,def_corp
        WHERE def_vip_activity.corp_code=def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND def_vip_activity.CORP_CODE = #{corp_code}
        </if>
        AND def_vip_activity.activity_theme = #{activity_theme}
    </select>

    <select id="getVipActivityByAppid" resultMap="Activity">
        SELECT *
        FROM def_vip_activity
        WHERE 1=1
        <if test="app_id!=null and app_id!=''">
            AND app_id= #{app_id}
        </if>
        <if test="activity_state!=null and activity_state!=''">
            AND activity_state=#{activity_state}
        </if>
        <if test="run_mode!=null and run_mode!=''">
           AND run_mode=#{run_mode}
        </if>
        AND isactive='Y'
        ORDER BY id DESC
    </select>

    <select id="getVipActivityByCorpCode" resultMap="Activity">
        SELECT *
        FROM def_vip_activity
        WHERE 1=1
        <if test="corp_code!=null and corp_code!=''">
            AND corp_code= #{corp_code}
        </if>
        <if test="activity_state!=null and activity_state!=''">
            AND activity_state=#{activity_state}
        </if>
        <if test="run_mode!=null and run_mode!=''">
            AND run_mode=#{run_mode}
        </if>
        AND isactive='Y'
    </select>


    <select id="selectAllActivityByState" resultMap="Activity">
        SELECT def_vip_activity.*,
        def_corp.corp_name
        FROM def_vip_activity,def_corp
        WHERE def_vip_activity.corp_code = def_corp.corp_code
        AND activity_state &lt;&gt; '0'
        <if test="corp_code!=null and corp_code!=''">
            AND def_vip_activity.corp_code = #{corp_code}
        </if>
        <if test="user_code!=null and user_code!=''">
            AND def_vip_activity.creater = #{user_code}
        </if>
        AND def_vip_activity.isactive='Y'
        ORDER BY def_vip_activity.id DESC
    </select>

</mapper>