<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.VipActivityDetailMapper">

    <resultMap type="com.bizvane.ishop.entity.VipActivityDetail" id="VipActivityDetail">
        <id column="id" property="id"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_code" property="activity_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_type" property="activity_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="activity_url" property="activity_url" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="recruit" property="recruit" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="sales_no" property="sales_no" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="festival_start" property="festival_start" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="festival_end" property="festival_end" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="send_coupon_type" property="send_coupon_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="coupon_type" property="coupon_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="apply_desc" property="apply_desc" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="join_count" property="join_count" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="present_point" property="present_point" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="register_data" property="register_data" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="batch_no" property="batch_no" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>

        <result column="td_allow" property="td_allow" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="td_end_time" property="td_end_time" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="present_time" property="present_time" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="apply_type" property="apply_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="apply_condition" property="apply_condition" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="apply_agreement" property="apply_agreement" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <select id="selectAllActivityDetail" resultMap="VipActivityDetail">
        SELECT dvad.*,
        dc.corp_name
        FROM def_vip_activity_detail dvad,def_corp dc
        WHERE dvad.corp_code = dc.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND dvad.corp_code = #{corp_code}
        </if>
        <if test="user_code!=null and user_code!=''">
            AND dvad.creater = #{user_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (
            dvad.activity_theme LIKE concat('%', #{search_value},'%')
            OR dvad.activity_type LIKE concat('%', #{search_value},'%')
            OR dc.corp_name LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY dvad.id DESC
    </select>

    <insert id="insertActivityDetail" parameterType="com.bizvane.ishop.entity.VipActivityDetail">
        INSERT INTO def_vip_activity_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="activity_code!=null">
                activity_code,
            </if>
            <if test="activity_type!=null">
                activity_type,
            </if>
            <if test="activity_url!=null">
                activity_url,
            </if>
            <if test="recruit!=null">
                recruit,
            </if>
            <if test="sales_no!=null">
                sales_no,
            </if>
            <if test="festival_start!=null">
                festival_start,
            </if>
            <if test="festival_end!=null">
                festival_end,
            </if>
            <if test="send_coupon_type!=null">
                send_coupon_type,
            </if>
            <if test="coupon_type!=null">
                coupon_type,
            </if>
            <if test="apply_desc!=null">
                apply_desc,
            </if>
            <if test="join_count!=null">
                join_count,
            </if>
            <if test="present_point!=null">
                present_point,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="register_data!=null">
                register_data,
            </if>
            <if test="batch_no!=null">
                batch_no,
            </if>
            <if test="td_allow!=null">
                td_allow,
            </if>
            <if test="td_end_time!=null">
                td_end_time,
            </if>
            <if test="present_time!=null">
                present_time,
            </if>
            <if test="apply_type!=null">
                apply_type,
            </if>
            <if test="apply_condition!=null">
                apply_condition,
            </if>

            <if test="apply_agreement!=null">
                apply_agreement,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="activity_code!=null">
                #{activity_code},
            </if>
            <if test="activity_type!=null">
                #{activity_type},
            </if>
            <if test="activity_url!=null">
                #{activity_url},
            </if>
            <if test="recruit!=null">
                #{recruit},
            </if>
            <if test="sales_no!=null">
                #{sales_no},
            </if>
            <if test="festival_start!=null">
                #{festival_start},
            </if>
            <if test="festival_end!=null">
                #{festival_end},
            </if>
            <if test="send_coupon_type!=null">
                #{send_coupon_type},
            </if>
            <if test="coupon_type!=null">
                #{coupon_type},
            </if>
            <if test="apply_desc!=null">
                #{apply_desc},
            </if>
            <if test="join_count!=null">
                #{join_count},
            </if>
            <if test="present_point!=null">
                #{present_point},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="register_data!=null">
                #{register_data},
            </if>
            <if test="batch_no!=null">
                #{batch_no},
            </if>

            <if test="td_allow!=null">
                #{td_allow},
            </if>
            <if test="td_end_time!=null">
                #{td_end_time},
            </if>
            <if test="present_time!=null">
                #{present_time},
            </if>
            <if test="apply_type!=null">
                #{apply_type},
            </if>
            <if test="apply_condition!=null">
                #{apply_condition},
            </if>
            <if test="apply_agreement!=null">
                #{apply_agreement},
            </if>
        </trim>
    </insert>

    <update id="updateActivityDetail" parameterType="com.bizvane.ishop.entity.VipActivityDetail">
        UPDATE def_vip_activity_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="activity_code!=null">
                activity_code=#{activity_code},
            </if>
            <if test="activity_type!=null">
                activity_type=#{activity_type},
            </if>
            <if test="activity_url!=null">
                activity_url=#{activity_url},
            </if>
            <if test="recruit!=null">
                recruit=#{recruit},
            </if>
            <if test="sales_no!=null">
                sales_no=#{sales_no},
            </if>
            <if test="festival_start!=null">
                festival_start=#{festival_start},
            </if>
            <if test="festival_end!=null">
                festival_end=#{festival_end},
            </if>
            <if test="send_coupon_type!=null">
                send_coupon_type=#{send_coupon_type},
            </if>
            <if test="coupon_type!=null">
                coupon_type=#{coupon_type},
            </if>
            <if test="apply_desc!=null">
                apply_desc=#{apply_desc},
            </if>
            <if test="join_count!=null">
                join_count=#{join_count},
            </if>
            <if test="present_point!=null">
                present_point=#{present_point},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
            <if test="register_data!=null">
               register_data= #{register_data},
            </if>
            <if test="batch_no!=null">
                batch_no= #{batch_no},
            </if>

            <if test="td_allow!=null">
                td_allow=#{td_allow},
            </if>
            <if test="td_end_time!=null">
                td_end_time= #{td_end_time},
            </if>
            <if test="present_time!=null">
                present_time= #{present_time},
            </if>
            <if test="apply_type!=null">
                apply_type= #{apply_type},
            </if>
            <if test="apply_condition!=null">
                apply_condition=#{apply_condition},
            </if>
            <if test="apply_agreement!=null">
                apply_agreement=#{apply_agreement},
            </if>
        </trim>
        WHERE activity_code=#{activity_code};
    </update>

    <delete id="delActivityDetailById">
        DELETE FROM def_vip_activity_detail
        WHERE def_vip_activity_detail.activity_code=#{activity_code};
    </delete>

    <select id="selActivityDetailByCode" resultMap="VipActivityDetail">
        SELECT *
        FROM def_vip_activity_detail dvad
        WHERE dvad.activity_code =#{activity_code}
    </select>




    <!-- 获取活动中的优惠券信息  CZY-->
    <select id="selActivityByCodeAndName" resultMap="VipActivityDetail">
        SELECT
        coupon_type
        FROM `def_vip_activity_detail`
        WHERE
        activity_code = #{activity_code}
    </select>
</mapper>