<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.VipCardTypeMapper">

    <resultMap type="com.bizvane.ishop.entity.VipCardType" id="VipCardType">
        <id column="id" property="id"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="vip_card_type_code" property="vip_card_type_code"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="vip_card_type_name" property="vip_card_type_name"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="degree" property="degree" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <select id="selectAllVipCardType" resultMap="VipCardType">
        SELECT def_vip_card_type.id,
        def_vip_card_type.corp_code,
        def_vip_card_type.vip_card_type_code,
        def_vip_card_type.vip_card_type_name,
        def_vip_card_type.degree,
        def_corp.corp_name,
        def_vip_card_type.created_date,
        def_vip_card_type.modified_date,
        def_vip_card_type.modifier,
        def_vip_card_type.creater,
        def_vip_card_type.isactive
        FROM def_vip_card_type,def_corp
        WHERE def_vip_card_type.corp_code=def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND def_vip_card_type.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (
            def_vip_card_type.vip_card_type_code LIKE concat('%', #{search_value},'%')
            OR def_vip_card_type.vip_card_type_name LIKE concat('%', #{search_value},'%')
            OR def_vip_card_type.degree LIKE concat('%', #{search_value},'%')
            OR def_corp.corp_name LIKE concat('%', #{search_value},'%')
            )
        </if>
        ORDER BY def_vip_card_type.id DESC
    </select>

    <insert id="insertVipCardType" parameterType="com.bizvane.ishop.entity.VipCardType">
        INSERT INTO def_vip_card_type
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="vip_card_type_code!=null">
                vip_card_type_code,
            </if>
            <if test="vip_card_type_name!=null">
                vip_card_type_name,
            </if>
            <if test="degree!=null">
                degree,
            </if>

            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>

        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">

            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="vip_card_type_code!=null">
                #{vip_card_type_code},
            </if>
            <if test="vip_card_type_name!=null">
                #{vip_card_type_name},
            </if>

            <if test="degree!=null">
                #{degree},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
        </trim>
    </insert>

    <update id="updateVipCardType" parameterType="com.bizvane.ishop.entity.VipCardType">
        UPDATE def_vip_card_type
        <trim prefix="SET" suffixOverrides=",">

            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="vip_card_type_code!=null">
                vip_card_type_code=#{vip_card_type_code},
            </if>
            <if test="vip_card_type_name!=null">
                vip_card_type_name=#{vip_card_type_name},
            </if>
            <if test="degree!=null">
                degree=#{degree},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null">
                creater=#{creater},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

    <delete id="delVipCardTypeById">
        DELETE FROM def_vip_card_type
        WHERE id=#{id};
    </delete>

    <select id="selectVipCardTypeScreen" resultType="com.bizvane.ishop.entity.VipCardType">
        SELECT def_vip_card_type.id,
        def_vip_card_type.corp_code,
        def_vip_card_type.vip_card_type_code,
        def_vip_card_type.vip_card_type_name,
        def_vip_card_type.degree,
        def_corp.corp_name,
        def_vip_card_type.created_date,
        def_vip_card_type.modified_date,
        def_vip_card_type.modifier,
        def_vip_card_type.creater,
        def_vip_card_type.isactive
        FROM def_vip_card_type,def_corp
        WHERE  def_vip_card_type.corp_code=def_corp.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND def_vip_card_type.corp_code = #{corp_code}
        </if>

        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    def_corp.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    def_vip_card_type.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP BY def_vip_card_type.id
        ORDER BY def_vip_card_type.id DESC
    </select>

    <select id="selVipCardTypeById" resultType="com.bizvane.ishop.entity.VipCardType">
         SELECT def_vip_card_type.id,
        def_vip_card_type.corp_code,
        def_vip_card_type.vip_card_type_code,
        def_vip_card_type.vip_card_type_name,
        def_vip_card_type.degree,
        def_corp.corp_name,
        def_vip_card_type.created_date,
        def_vip_card_type.modified_date,
        def_vip_card_type.modifier,
        def_vip_card_type.creater,
        def_vip_card_type.isactive
        FROM def_vip_card_type,def_corp
        WHERE def_vip_card_type.corp_code=def_corp.corp_code
        AND def_vip_card_type.id =#{id}
    </select>

    <select id="selVipCardTypeByCode" resultType="com.bizvane.ishop.entity.VipCardType">
         SELECT def_vip_card_type.id,
        def_vip_card_type.corp_code,
        def_vip_card_type.vip_card_type_code,
        def_vip_card_type.vip_card_type_name,
        def_vip_card_type.degree,
        def_corp.corp_name,
        def_vip_card_type.created_date,
        def_vip_card_type.modified_date,
        def_vip_card_type.modifier,
        def_vip_card_type.creater,
        def_vip_card_type.isactive
        FROM def_vip_card_type,def_corp
        WHERE def_vip_card_type.corp_code=def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
         AND def_vip_card_type.CORP_CODE = #{corp_code}
        </if>
         AND  def_vip_card_type.isactive= #{isactive}
        AND def_vip_card_type.vip_card_type_code = #{vip_card_type_code}
    </select>

    <select id="selVipCardTypeByName" resultType="com.bizvane.ishop.entity.VipCardType">
        SELECT def_vip_card_type.id,
        def_vip_card_type.corp_code,
        def_vip_card_type.vip_card_type_code,
        def_vip_card_type.vip_card_type_name,
        def_corp.corp_name,
        def_vip_card_type.created_date,
        def_vip_card_type.modified_date,
        def_vip_card_type.modifier,
        def_vip_card_type.creater,
        def_vip_card_type.isactive
        FROM def_vip_card_type,def_corp
        WHERE def_vip_card_type.corp_code=def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND def_vip_card_type.CORP_CODE = #{corp_code}
        </if>
        AND  def_vip_card_type.isactive= #{isactive}
        AND def_vip_card_type.vip_card_type_name = #{vip_card_type_name}
    </select>

    <select id="selectByCorp" resultType="com.bizvane.ishop.entity.VipCardType">
        SELECT def_vip_card_type.id,
        def_vip_card_type.corp_code,
        def_vip_card_type.vip_card_type_code,
        def_vip_card_type.vip_card_type_name
        FROM def_vip_card_type,def_corp
        WHERE def_vip_card_type.corp_code = def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND def_vip_card_type.corp_code=#{corp_code}
        </if>
        AND def_vip_card_type.isactive = #{isactive}
    </select>
</mapper>