<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.VipGroupMapper">
    <resultMap id="VipGroup" type="com.bizvane.ishop.entity.VipGroup">
        <id column="id" property="id"/>
        <result column="vip_group_code" property="vip_group_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="vip_group_name" property="vip_group_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="group_type" property="group_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="group_condition" property="group_condition" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="remark" property="remark" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="is_public" property="is_public" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_name" property="corp_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <select id="selectVipGroupById" resultMap="VipGroup">
        SELECT
        dvg.id,
        dvg.vip_group_code,
        dvg.vip_group_name,
        dvg.group_type,
        dvg.group_condition,
        dc.corp_name,
        dvg.corp_code,
        dvg.remark,
        dvg.modified_date,
        dvg.modifier,
        dvg.created_date,
        dvg.creater,
        dvg.isactive,
        dvg.is_public
        FROM def_vip_group dvg,def_corp dc
        WHERE dvg.corp_code=dc.corp_code
        AND dvg.id=#{id}
    </select>

    <select id="selectAllVipGroup" resultMap="VipGroup">
        SELECT
        dvg.id,
        dvg.vip_group_code,
        dvg.vip_group_name,
        dvg.group_type,
        dvg.group_condition,
        dc.corp_name,
        dvg.corp_code,
        dvg.remark,
        dvg.modified_date,
        dvg.modifier,
        dvg.created_date,
        dvg.creater,
        dvg.isactive,
        dvg.is_public
        FROM def_vip_group dvg,def_corp dc
        WHERE dvg.corp_code=dc.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND dvg.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (dvg.vip_group_code LIKE concat('%',#{search_value},'%')
            OR dvg.vip_group_name LIKE concat('%',#{search_value},'%')
            OR dvg.remark LIKE concat('%',#{search_value},'%')
            OR dc.corp_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY dvg.id
        ORDER BY dvg.id DESC
    </select>

    <select id="selectCorpVipGroups" resultType="com.bizvane.ishop.entity.VipGroup">
        SELECT
        dvg.id,
        dvg.vip_group_code,
        dvg.vip_group_name,
        dvg.group_type,
        dvg.group_condition,
        dc.corp_name,
        dvg.corp_code,
        dvg.remark,
        dvg.modified_date,
        dvg.modifier,
        dvg.created_date,
        dvg.creater,
        dvg.isactive,
        dvg.is_public
        FROM def_vip_group dvg,def_corp dc
        WHERE dvg.corp_code=dc.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND dvg.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND dvg.vip_group_name LIKE concat('%',#{search_value},'%')
        </if>
        AND dvg.isactive = 'Y'
        GROUP BY dvg.id
        ORDER BY dvg.id DESC
    </select>

    <select id="selectByVipGroupCode" resultType="com.bizvane.ishop.entity.VipGroup">
        SELECT
        dvg.id,
        dvg.vip_group_code,
        dvg.vip_group_name,
        dvg.group_type,
        dvg.group_condition,
        dvg.corp_code,
        dvg.remark,
        dvg.modified_date,
        dvg.modifier,
        dvg.created_date,
        dvg.creater,
        dvg.isactive,
        dvg.is_public
        From def_vip_group dvg
        WHERE dvg.corp_code = #{corp_code}
        AND dvg.vip_group_code = #{vip_group_code}
        <if test="isactive != null and isactive !=''">
            AND dvg.isactive = #{isactive}
        </if>
    </select>

    <select id="selectByVipGroupName" resultType="com.bizvane.ishop.entity.VipGroup">
        SELECT
        dvg.id,
        dvg.vip_group_name,
        dvg.corp_code,
        dvg.isactive,
        dvg.is_public
        FROM def_vip_group dvg
        WHERE dvg.corp_code=#{corp_code}
        AND dvg.vip_group_name=#{vip_group_name}
        <if test="isactive != null and isactive !=''">
            AND dvg.isactive = #{isactive}
        </if>
    </select>

    <delete id="deleteVipGroupById">
        DELETE FROM
        def_vip_group
        WHERE ID=#{id}
    </delete>

    <insert id="insertVipGroup" parameterType="com.bizvane.ishop.entity.VipGroup">
        INSERT INTO def_vip_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vip_group_code!=null">
                vip_group_code,
            </if>
            <if test="vip_group_name!=null">
                vip_group_name,
            </if>
            <if test="group_type!=null">
                group_type,
            </if>
            <if test="group_condition!=null">
                group_condition,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="remark!=null">
                remark,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="is_public!=null">
                is_public,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="vip_group_code!=null">
                #{vip_group_code},
            </if>
            <if test="vip_group_name!=null">
                #{vip_group_name},
            </if>
            <if test="group_type!=null">
                #{group_type},
            </if>
            <if test="group_condition!=null">
                #{group_condition},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="is_public!=null">
                #{is_public},
            </if>
        </trim>
    </insert>

    <update id="updateVipGroup" parameterType="com.bizvane.ishop.entity.VipGroup">
        UPDATE def_vip_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="vip_group_code!=null">
                vip_group_code=#{vip_group_code},
            </if>
            <if test="vip_group_name!=null">
                vip_group_name=#{vip_group_name},
            </if>
            <if test="group_type!=null">
                group_type=#{group_type},
            </if>
            <if test="group_condition!=null">
                group_condition=#{group_condition},
            </if>
            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="remark!=null">
                remark=#{remark},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null">
                creater=#{creater},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
            <if test="is_public!=null">
                is_public=#{is_public},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

    <select id="selectAllVipGroupScreen" resultMap="VipGroup">
        SELECT
        dvg.id,
        dvg.vip_group_code,
        dvg.vip_group_name,
        dvg.group_type,
        dvg.group_condition,
        dc.corp_name,
        dvg.corp_code,
        dvg.remark,
        dvg.modified_date,
        dvg.modifier,
        dvg.created_date,
        dvg.creater,
        dvg.isactive
        FROM def_vip_group dvg,def_corp dc
        WHERE dvg.corp_code=dc.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND dvg.corp_code = #{corp_code}
        </if>
        <if test="map!=null">
            AND
            <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
                <choose>
                    <when test="entryKey=='corp_name' and entryValue!=''">
                        dc.${entryKey} REGEXP ${entryValue}
                    </when>
                    <when test="entryValue!=''">
                        dvg.${entryKey} REGEXP ${entryValue}
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </foreach>
        </if>
        GROUP BY dvg.id
        ORDER BY dvg.id DESC
    </select>

</mapper>