<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bizvane.ishop.dao.VipLabelMapper">
    <resultMap id="VipLabels" type="com.bizvane.ishop.entity.VipLabel">
        <id column="id" property="id"/>
        <result column="label_name" property="label_name"/>
        <result column="corp_code" property="corp_code"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="label_type" property="label_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="count" property="count" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="count" property="cnt" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
        <association property="viplablegroup" javaType="com.bizvane.ishop.entity.ViplableGroup">
            <result column="label_group_name" property="label_group_name"/>
        </association>
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="VipLabels">
        SELECT
        vt.id,
        vt.label_name,
        vt.label_type,
        vt.corp_code,
        vt.modified_date,
        vt.modifier,
        vt.created_date,
        vt.creater,
        vt.isactive,
        cc.corp_name
        ,vt.label_group_code,
        vt.brand_code
        -- dvg.label_group_name
        FROM
        def_vip_label vt,DEF_CORP cc
        -- ,def_vip_label_group dvg
        WHERE
        vt.corp_code=cc.corp_code
        -- AND
        -- vt.label_group_code=dvg.label_group_code AND
        -- cc.corp_code=dvg.corp_code
        AND vt.id=#{id}
    </select>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.VipLabel">
        INSERT INTO def_vip_label
        <trim prefix="(" suffixOverrides="," suffix=")">

            <if test="label_name!=null ">
                label_name ,
            </if>
            <if test="label_type!=null ">
                label_type,
            </if>
            <if test="corp_code!=null ">
                corp_code ,
            </if>
            <if test="modified_date!=null ">
                modified_date ,
            </if>
            <if test="modifier!=null ">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date ,
            </if>
            <if test="creater!=null ">
                creater,
            </if>
            <if test="isactive!=null ">
                isactive,
            </if>
            <if test="label_group_code!=null ">
                label_group_code,
            </if>
            <if test="brand_code != null ">
                brand_code,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">

            <if test="label_name!=null ">
                #{label_name} ,
            </if>
            <if test="label_type!=null ">
                #{label_type},
            </if>
            <if test="corp_code!=null ">
                #{corp_code},
            </if>
            <if test="modified_date!=null">
                #{modified_date} ,
            </if>
            <if test="modifier!=null ">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null ">
                #{creater},
            </if>
            <if test="isactive!=null ">
                #{isactive},
            </if>
            <if test="label_group_code!=null ">
                #{label_group_code},
            </if>
            <if test="brand_code!=null ">
                #{brand_code},
            </if>
        </trim>

    </insert>

    <update id="updateByPrimaryKey" parameterType="com.bizvane.ishop.entity.VipLabel">
        UPDATE def_vip_label
        <trim prefix="set " suffixOverrides=",">

            <if test="label_name!=null ">
                label_name=#{label_name} ,
            </if>
            <if test="label_type!=null ">
                label_type=#{label_type},
            </if>
            <if test="corp_code!=null ">
                corp_code=#{corp_code},
            </if>
            <if test="modified_date!=null ">
                modified_date=#{modified_date} ,
            </if>
            <if test="modifier!=null ">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null ">
                created_date=#{created_date},
            </if>
            <if test="creater!=null ">
                creater=#{creater},
            </if>
            <if test="isactive!=null ">
                isactive=#{isactive},
            </if>
            <if test="label_group_code!=null ">
                label_group_code=#{label_group_code},
            </if>
            <if test="brand_code!=null ">
                brand_code=#{brand_code},
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM def_vip_label
        WHERE id=#{id}
    </delete>

    <select id="selectAllVipLabel" resultMap="VipLabels">
        SELECT
        vt.id,
        vt.label_name,
        vt.count,
        vt.label_type,
        vt.corp_code,
        vt.modified_date,
        vt.modifier,
        vt.created_date,
        vt.creater,
        vt.isactive,
        cc.corp_name,
        vt.brand_code,
        vt.label_group_code
        FROM
        def_vip_label vt,DEF_CORP cc
        ,def_vip_label_group dvg
        WHERE
        vt.corp_code=cc.corp_code
        AND vt.corp_code=dvg.corp_code
        AND cc.corp_code=dvg.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND vt.corp_code=#{corp_code}
        </if>
        <if test="search_value!=null and search_value!=''">
            AND
            (
            vt.label_name LIKE concat('%',#{search_value},'%')
            OR vt.label_type LIKE concat('%',#{search_value},'%')
            OR cc.corp_name LIKE concat('%',#{search_value},'%')
            )
        </if>
        GROUP BY vt.label_name
        ORDER BY vt.id DESC
    </select>

    <select id="selectAllViplabelScreen" resultMap="VipLabels">
        SELECT
        vt.id,
        vt.label_name,
        vt.count,
        vt.label_type,
        vt.corp_code,
        vt.modified_date,
        vt.modifier,
        vt.created_date,
        vt.creater,
        vt.isactive,
        vt.brand_code,
        cc.corp_name
        ,vt.label_group_code
        FROM
        def_vip_label vt,DEF_CORP cc
        ,def_vip_label_group dvg
        WHERE
        vt.corp_code=cc.corp_code
        AND vt.corp_code=dvg.corp_code
        AND cc.corp_code=dvg.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND vt.corp_code=#{corp_code}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")" separator="and">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    cc.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='label_group_name'">
                    dvg.${entryKey} REGEXP ${entryValue}
                    AND vt.label_group_code is NOT NULL
                    AND vt.label_group_code != ''
                    AND vt.label_group_code = dvg.label_group_code
                </when>
                <when test="entryValue!=''">
                    vt.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        <if test="brandList!=null">
            AND
            <foreach collection="brandList" index="index" item="item" open="(" separator="or" close=")">
                vt.brand_code LIKE concat ('%',#{item},'%')
            </foreach>
        </if>
        GROUP BY vt.label_name
        ORDER BY vt.id DESC
    </select>

    <select id="selectVipLabelName" resultType="com.bizvane.ishop.entity.VipLabel">
        SELECT * FROM def_vip_label
        WHERE label_name=#{label_name}
        AND corp_code=#{corp_code}
        <if test="brandList!=null">
            AND
            <foreach collection="brandList" index="index" item="item" open="(" separator="or" close=")">
                brand_code LIKE concat ('%',#{item},'%')
            </foreach>
        </if>
    </select>

    <select id="countLable" resultType="com.bizvane.ishop.entity.VipLabel">
        SELECT count(1) countlable,
        corp_code,
        label_id
        FROM rel_vip_label
        WHERE corp_code=#{corp_code}
        AND label_id=#{label_id}
    </select>

    <select id="lableList" resultType="com.bizvane.ishop.entity.VipLabel">
        SELECT * FROM def_vip_label
        WHERE corp_code=#{corp_code}
        AND label_group_code=#{label_group_code}
    </select>

    <update id="updViplableBycode" parameterType="com.bizvane.ishop.entity.VipLabel">
        UPDATE def_vip_label
        SET label_group_code =#{label_group_code_old}
        WHERE CORP_CODE =#{corp_code}
        AND label_group_code =#{label_group_code_new}
    </update>

    <select id="selectLabelByVip" resultMap="VipLabels">
        SELECT
        vt.id,
        vt.label_name,
        vt.label_type,
        vt.corp_code,
        cc.corp_name,
        vt.label_group_code,
        rvl.id rid
        FROM
        def_vip_label vt,DEF_CORP cc,rel_vip_label rvl
        ,def_vip_label_group dvg
        WHERE
        vt.corp_code=cc.corp_code
        AND vt.corp_code=dvg.corp_code
        AND cc.corp_code=dvg.corp_code
        AND vt.ID = rvl.LABEL_ID
        AND vt.corp_code=rvl.corp_code
        AND rvl.corp_code=#{corp_code}
        AND rvl.vip_code = #{vip_code}
        GROUP BY vt.label_name
        ORDER BY vt.id DESC
    </select>


    <!--热门标签-->
    <select id="findHotViplabel" resultMap="VipLabels">
        SELECT
        dl.ID ,
        dl.LABEL_NAME,
        dl.LABEL_TYPE,
        dl.COUNT cnt
        FROM
        def_vip_label dl
        WHERE 1=1
        AND dl.ISACTIVE = 'Y'
        AND dl.corp_code = #{corp_code}
        <if test="brandList!=null">
            AND
            <foreach collection="brandList" index="index" item="item" open="(" separator="or" close=")">
                brand_code LIKE concat ('%',#{item},'%')
            </foreach>
        </if>
        GROUP BY
        dl.ID,
        dl.LABEL_NAME,
        dl.LABEL_TYPE
        ORDER BY
        cnt DESC
        LIMIT 0,20
    </select>
    <!--用户和官方标签-->
    <select id="findViplabelByType" resultType="com.bizvane.ishop.entity.VipLabel">
        SELECT
        *
        FROM def_vip_label
        WHERE CORP_CODE=#{corp_code}
        <if test="label_type!=null and label_type!=''">
            AND LABEL_TYPE =#{label_type}
        </if>
        <if test="search_value!=null and search_value!=''">
            AND LABEL_NAME like concat('%',#{search_value},'%')
        </if>
        <if test="brandList!=null">
            AND
            <foreach collection="brandList" index="index" item="item" open="(" separator="or" close=")">
                brand_code LIKE concat ('%',#{item},'%')
            </foreach>
        </if>
        AND LABEL_TYPE !='sys'
        AND LABEL_TYPE !=''
        AND LABEL_TYPE is not null
        AND ISACTIVE ='Y'
    </select>

    <select id="checkRelViplablel" resultType="com.bizvane.ishop.entity.RelViplabel">
        SELECT * FROM rel_vip_label
        WHERE CORP_CODE=#{corp_code}
        AND VIP_CODE=#{vip_code}
        AND LABEL_ID=#{label_id}
        AND ISACTIVE ='Y'
    </select>

    <insert id="addRelViplabel" parameterType="com.bizvane.ishop.entity.RelViplabel">
        INSERT INTO rel_vip_label
        <trim prefix="(" suffixOverrides="," suffix=")">

            <if test="label_id!=null ">
                label_id ,
            </if>
            <if test="vip_code!=null ">
                vip_code,
            </if>
            <if test="corp_code!=null ">
                corp_code ,
            </if>
            <if test="store_code!=null ">
                store_code ,
            </if>
            <if test="modified_date!=null ">
                modified_date ,
            </if>
            <if test="modifier!=null ">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date ,
            </if>
            <if test="creater!=null ">
                creater,
            </if>
            <if test="isactive!=null ">
                isactive,
            </if>
            <if test="vip_name!=null ">
                vip_name,
            </if>
            <if test="vip_card_no!=null ">
                vip_card_no,
            </if>

        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="label_id!=null ">
                #{label_id} ,
            </if>
            <if test="vip_code!=null ">
                #{vip_code},
            </if>
            <if test="corp_code!=null ">
                #{corp_code},
            </if>
            <if test="store_code!=null ">
                #{store_code},
            </if>
            <if test="modified_date!=null">
                #{modified_date} ,
            </if>
            <if test="modifier!=null ">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null ">
                #{creater},
            </if>
            <if test="isactive!=null ">
                #{isactive},
            </if>
            <if test="vip_name!=null ">
                #{vip_name},
            </if>
            <if test="vip_card_no!=null ">
                #{vip_card_no},
            </if>
        </trim>
    </insert>

    <delete id="delRelViplabel">
        delete from rel_vip_label
        WHERE id=#{rid}
    </delete>

    <delete id="delAllRelViplabel">
        delete from rel_vip_label
        WHERE label_id=#{label_id}
    </delete>

    <!--根据lable_name查出rel_vip_label的lable_id-->
    <select id="findViplabelID" resultType="com.bizvane.ishop.entity.VipLabel">
        SELECT id FROM def_vip_label
        WHERE corp_code=#{corp_code}
        AND label_name=#{label_name}
        <if test="isactive !=null and isactive!=''">
            AND isactive=#{isactive}
        </if>
    </select>

    <select id="selectVipsLabel" resultMap="VipLabels">
        SELECT
        vt.id,
        vt.label_name,
        vt.label_type,
        rvl.vip_code,
        rvl.vip_name,
        rvl.vip_card_no,
        rvl.store_code,
        rvl.creater,
        ds.store_name,
        du.user_name,
        rvl.created_date
        FROM
        def_vip_label vt,rel_vip_label rvl,def_store ds,def_user du
        WHERE
        vt.corp_code=rvl.corp_code
        AND vt.corp_code = ds.corp_code
        AND vt.corp_code = du.corp_code
        AND vt.id = rvl.label_id
        AND rvl.store_code = ds.store_code
        AND rvl.creater = du.user_code
        AND rvl.corp_code = #{corp_code}
        AND rvl.vip_code IN
        <foreach collection="vips" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND du.isactive = 'Y'
        AND ds.isactive = 'Y'
        ORDER BY vt.id DESC
    </select>

</mapper>
