<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.VipParamMapper">

    <resultMap id="VipParam" type="com.bizvane.ishop.entity.VipParam">
        <id column="id" property="id"/>
        <result column="param_name" property="param_name"/>
        <result column="param_type" property="param_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="param_values" property="param_values" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_name" property="corp_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="remark" property="remark" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="param_class" property="param_class" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="required" property="required" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="param_attribute" property="param_attribute" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="show_order" property="show_order" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <select id="selectById" resultMap="VipParam">
        SELECT
        dvp.*
        FROM def_vip_param dvp
        WHERE  dvp.id=#{id}
    </select>

    <select id="selectAllParam" resultMap="VipParam">
        SELECT
        dvp.ID,
        dvp.param_name,
        dvp.param_type,
        dvp.param_values,
        dvp.param_desc,
        dvp.param_class,
        dvp.required,
        dvp.param_attribute,
        dc.corp_name,
        dvp.remark,
        dvp.show_order,
        dvp.modified_date,
        dvp.modifier,
        dvp.isactive
        FROM def_vip_param dvp,def_corp dc
        WHERE dvp.corp_code = dc.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND dvp.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value !=''">
            AND
            (dvp.param_name like concat('%',#{search_value},'%')
            OR dvp.param_values like concat('%',#{search_value},'%')
            OR dvp.param_desc like concat('%',#{search_value},'%')
            OR dc.corp_name like concat('%',#{search_value},'%')
            OR dvp.remark like concat('%',#{search_value},'%')
            )
        </if>
        <if test="isactive != null and isactive !=''">
            AND dvp.isactive = #{isactive}
        </if>
        ORDER BY dvp.corp_code ASC ,dvp.show_order ASC
    </select>

    <select id="checkParamDesc" resultType="com.bizvane.ishop.entity.VipParam">
        SELECT *
        FROM def_vip_param
        WHERE corp_code = #{corp_code}
        AND param_desc=#{param_desc}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <select id="checkParamName" resultType="com.bizvane.ishop.entity.VipParam">
        SELECT *
        FROM def_vip_param
        WHERE corp_code = #{corp_code}
        AND param_name=#{param_name}
        <if test="isactive != null and isactive !=''">
            AND isactive = #{isactive}
        </if>
    </select>

    <delete id="deleteById">
        delete from
        def_vip_param
        where id=#{id}
    </delete>

    <insert id="insert" parameterType="com.bizvane.ishop.entity.VipParam">
        INSERT INTO def_vip_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="param_name!=null">
                param_name,
            </if>
            <if test="param_type!=null">
                param_type,
            </if>
            <if test="param_values!=null">
                param_values,
            </if>
            <if test="param_desc!=null">
                param_desc,
            </if>
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="remark!=null">
                remark,
            </if>
            <if test="param_class!=null">
                param_class,
            </if>
            <if test="required!=null">
                required,
            </if>
            <if test="param_attribute!=null">
                param_attribute,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="show_order!=null">
                show_order,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="param_name!=null">
                #{param_name},
            </if>
            <if test="param_type!=null">
                #{param_type},
            </if>
            <if test="param_values!=null">
                #{param_values},
            </if>

            <if test="param_desc!=null">
                #{param_desc},
            </if>
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
            <if test="param_class!=null">
                #{param_class},
            </if>
            <if test="required!=null">
                #{required},
            </if>
            <if test="param_attribute!=null">
                #{param_attribute},
            </if>
            <if test="modified_date">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="show_order!=null">
                #{show_order},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bizvane.ishop.entity.VipParam">
        UPDATE def_vip_param
        <trim prefix="SET" suffixOverrides=",">
            <if test="param_name!=null">
                param_name= #{param_name},
            </if>
            <if test="param_type!=null">
                param_type= #{param_type},
            </if>
            <if test="param_values!=null">
                param_values= #{param_values},
            </if>
            <if test="param_desc!=null">
                param_desc= #{param_desc},
            </if>
            <if test="corp_code!=null">
                corp_code= #{corp_code},
            </if>
            <if test="remark!=null">
                remark= #{remark},
            </if>
            <if test="param_class!=null">
                param_class= #{param_class},
            </if>
            <if test="required!=null">
                required= #{required},
            </if>
            <if test="param_attribute!=null">
                param_attribute=#{param_attribute},
            </if>
            <if test="modified_date">
                modified_date= #{modified_date},
            </if>
            <if test="modifier!=null">
                modifier= #{modifier},
            </if>
            <if test="created_date!=null">
                created_date= #{created_date},
            </if>
            <if test="creater!=null">
                creater= #{creater},
            </if>
            <if test="isactive!=null">
                isactive= #{isactive},
            </if>
            <if test="show_order!=null">
                show_order= #{show_order},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

    <select id="selectAllParamScreen" resultType="com.bizvane.ishop.entity.VipParam">
        SELECT
        dvp.ID,
        dvp.param_name,
        dvp.param_type,
        dvp.param_values,
        dvp.param_desc,
        dvp.param_class,
        dvp.required,
        dvp.param_attribute,
        dvp.show_order,
        dc.corp_name,
        dvp.remark,
        dvp.modified_date,
        dvp.modifier,
        dvp.isactive
        FROM def_vip_param dvp,def_corp dc
        WHERE dvp.corp_code = dc.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND dvp.corp_code = #{corp_code}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" separator="and" close=")">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    dc.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!='' and entryKey=='param_type'">
                    dvp.${entryKey} = ${entryValue}
                </when>
                <when test="entryValue!=''">
                    dvp.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        ORDER BY dvp.show_order ASC
    </select>

    <select id="selectParamByCorp" resultMap="VipParam">
        SELECT
        dvp.id,
        dvp.param_name,
        dvp.param_type,
        dvp.param_values,
        dvp.param_desc,
        dvp.param_class,
        dvp.required,
        dvp.param_attribute,
        dvp.remark,
        dvp.show_order
        FROM def_vip_param dvp,def_corp dc
        WHERE dvp.corp_code = dc.corp_code
        AND dvp.corp_code = #{corp_code}
        AND dvp.isactive = 'Y'
        ORDER BY dvp.show_order ASC
    </select>
    <select id="selectParamByType" resultMap="VipParam">
        SELECT
        dvp.id,
        dvp.param_name,
        dvp.param_type,
        dvp.param_values,
        dvp.param_desc,
        dvp.param_class,
        dvp.required,
        dvp.param_attribute,
        dvp.remark,
        dvp.show_order
        FROM def_vip_param dvp,def_corp dc
        WHERE dvp.corp_code = dc.corp_code
        AND dvp.param_type = #{param_type}
       AND dvp.corp_code = #{corp_code}
        AND dvp.isactive = 'Y'
        ORDER BY dvp.show_order ASC
    </select>

    <select id="selectMaxOrderByCorp" resultType="java.lang.String">
        SELECT max(show_order)
        FROM def_vip_param dvp,def_corp dc
        WHERE dvp.corp_code = dc.corp_code
        AND dvp.corp_code = #{corp_code}
        AND dvp.isactive = 'Y'
        ORDER BY dvp.show_order ASC
    </select>
</mapper>
