<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.VipRecordMapper">

    <resultMap id="VipInfos" type="com.bizvane.ishop.entity.VipRecord">
        <id column="id" property="id"/>
        <result column="vip_code" property="vip_code"/>
        <result column="user_code" property="user_code"/>
        <result column="action" property="action"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="isactive" property="isactive"/>
        <result column="created_date" property="created_date"/>
        <result column="creater" property="creater"/>
        <result column="corp_code" property="corp_code"/>
        <result column="corp_name" property="corp_name"/>
        <association property="vipRecordType" javaType="com.bizvane.ishop.entity.VipRecordType">
            <result column="type_name" property="type_name"/>
        </association>
        <association property="user" javaType="com.bizvane.ishop.entity.User">
            <result column="user_name" property="user_name"/>
        </association>
    </resultMap>

    <select id="selecctById" resultMap="VipInfos">
        select
        dvc.id ,
        dvc.vip_code ,
        dvc.user_code,
        dvc.action,
        dvc.modified_date ,
        dvc.modifier,
        dvc.isactive,
        dvc.created_date ,
        dvc.creater,
        dvc.corp_code,
        du.user_name,
        dc.corp_name,
        dvrt.type_name
        from
         DEF_VIP_RECORD dvc,
         DEF_USER du,
         DEF_VIP_RECORD_TYPE dvrt,
         DEF_CORP dc
        WHERE
        dvc.corp_code=du.corp_code AND
        dcv.corp_code=dc.corp_code  AND
        dvc.user_code=du.user_code and
        dvc.action=dvrt.type_code and
        dvc.corp_code=dc.corp_code
                and dvc.id=#{id}
     </select>


    <insert id="insert" parameterType="com.bizvane.ishop.entity.VipRecord">
        INSERT INTO DEF_VIP_RECORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vip_code!=null and  vip_code!=''">
                vip_code,
            </if>
            <if test="user_code!=null and user_code!=''">
                user_code ,
            </if>

            <if test="action!=null and action!=''">
                action,
            </if>
            <if test="modified_date!=null">
                modified_date ,
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier ,
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive ,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null and  creater!=''">
                creater ,
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code,
            </if>
        </trim>
        <trim prefix="values(" suffixOverrides="," suffix=")">
            <if test="vip_code!=null and  vip_code!=''">
                #{vip_code},
            </if>
            <if test="user_code!=null and user_code!=''">
                #{user_code},
            </if>
            <if test="action!=null and action!=''">
                #{action},
            </if>
            <if test="modified_date!=null modified!=''">
                #{modified_date},
            </if>

            <if test="modifier!=null and modifier!=''">
                #{modifier} ,
            </if>
            <if test="isactive!=null and isactive!=''">
                #{isactive},
            </if>
            <if test="created_date!=null and created_date!=''">
                #{created_date},
            </if>
            <if test="creater!=null and  creater!=''">
                #{creater},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                #{corp_code},
            </if>
        </trim>
    </insert>
    <delete id="deleteByPrimary">
        DELETE FROM
        DEF_VIP_RECORD
        WHERE id=#{id}
    </delete>
    <select id="selectAllVipRecordInfo" resultMap="VipInfos">
        select
        dvc.id ,
        dvc.vip_code ,
        dvc.user_code,
        dvc.modified_date ,
        dvc.modifier,
        dvc.isactive,
        dvc.corp_code,
        du.user_name,
        dc.corp_name,
        dvrt.type_name
        from
        DEF_VIP_RECORD dvc,
        DEF_USER du,
        DEF_VIP_RECORD_TYPE dvrt,
        DEF_CORP dc
        WHERE
        dvc.corp_code=du.corp_code and
        dvc.corp_code=dc.corp_code and
        dvc.user_code=du.user_code and
        dvc.action=dvrt.type_code
        <if test="corp_code!=null and corp_code!=''">
            and dvc.corp_code=#{corp_code}
        </if>
        <if test="search_value!=null and search_value!=''">
            and (
            dvc.modified_date like concat('%',#{search_value},'%')
            or dvc.isactive like concat('%',#{search_value},'%')
            or dvrt.type_name like concat('%',#{search_value},'%')
            or dvc.id like concat('%',#{search_value},'%')
            or du.user_name like concat('%',#{search_value},'%')
            or dvc.creater like concat('%',#{search_value},'%')

            )
        </if>
        ORDER BY dvc.id DESC
    </select>

    <select id="selectAllVipRecordScreen" resultMap="VipInfos">
        select
        dvc.id ,
        dvc.vip_code ,
        dvc.user_code,
        dvc.modified_date ,
        dvc.modifier,
        dvc.isactive,
        dvc.corp_code,
        du.user_name,
        dc.corp_name,
        dvrt.type_name
        from
        DEF_VIP_RECORD dvc,
        DEF_USER du,
        DEF_VIP_RECORD_TYPE dvrt,
        DEF_CORP dc
        WHERE
        dvc.corp_code=du.corp_code and
        dvc.corp_code=dc.corp_code and
        dvc.user_code=du.user_code and
        dvc.action=dvrt.type_code

        <if test="corp_code!=null and corp_code!=''">
            and dvc.corp_code=#{corp_code}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="(" close=")" separator="and">
            <choose>
                <when test="entryKey=='corp_name'">
                    dc.${entryKey} LIKE concat('%',#{entryValue},'%')
                </when>
                <when test="entryKey=='user_name'">
                    du.${entryKey} LIKE concat('%',#{entryValue},'%')
                </when>
                <otherwise>
                    dvrt.${entryKey} LIKE concat('%',#{entryValue},'%')
                </otherwise>
            </choose>
        </foreach>
        ORDER BY dvc.id DESC
    </select>

    <update id="updateByPrimaryKey" parameterType="com.bizvane.ishop.entity.VipRecord">
        update DEF_VIP_RECORD
        <trim prefix="set" suffixOverrides=",">
            <if test="vip_code!=null and  vip_code!=''">
                vip_code=#{vip_code},
            </if>
            <if test="user_code!=null and user_code!=''">
                user_code=#{user_code},
            </if>

            <if test="action!=null and action!=''">
                action=#{action},
            </if>

            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null and modifier!=''">
                modifier=#{modifier},
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive=#{isactive},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null and  creater!=''">
                creater=#{creater},
            </if>
        </trim>
        WHERE id=#{id}
    </update>

</mapper>