<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.VIPRelationMapper">


    <select id="selectEmpVip" resultType="com.bizvane.ishop.entity.VIPEmpRelation">
       select * from rel_vip_emp
         where open_id = #{open_id}
         and app_user_name = #{app_user_name}
    </select>

    <select id="selectStoreVip" resultType="com.bizvane.ishop.entity.VIPStoreRelation">
        select * from rel_vip_store
        where open_id = #{open_id}
        and app_user_name = #{app_user_name}
    </select>

</mapper>