<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.VipRulesMapper">

    <resultMap type="com.bizvane.ishop.entity.VipRules" id="VipRules">
        <id column="id" property="id"/>
        <result column="corp_code" property="corp_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="vip_type" property="vip_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="high_vip_type" property="high_vip_type"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="discount" property="discount" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="join_threshold" property="join_threshold"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="upgrade_time" property="upgrade_time"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="upgrade_amount" property="upgrade_amount"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="points_value" property="points_value" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="store_code" property="store_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>

        <result column="present_point" property="present_point" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="present_coupon" property="present_coupon"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date"
                typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive"/>
        <result column="vip_card_type_code" property="vip_card_type_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="degree" property="degree" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="high_vip_card_type_code" property="high_vip_card_type_code" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="high_degree" property="high_degree" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <association property="corp" javaType="com.bizvane.ishop.entity.Corp">
            <result column="corp_name" property="corp_name"/>
        </association>
    </resultMap>

    <select id="selectById" resultMap="VipRules">
        SELECT
          dvr.id,
          dvr.corp_code,
          dvr.vip_type,
          dvr.high_vip_type,
          dvr.discount,
          dvr.join_threshold,
          dvr.upgrade_time,
          dvr.upgrade_amount,
          dvr.points_value,
          dvr.present_point,
          dvr.store_code,
          dvr.present_coupon,
          dvr.modified_date,
          dvr.modifier,
          dvr.created_date,
          dvr.creater,
          dvr.isactive,
           dvr.vip_card_type_code,
            dvr.degree,
             dvr.high_vip_card_type_code,
            dvr.high_degree,
           dc.corp_name
        FROM def_vip_rules dvr,def_corp dc
        WHERE dvr.corp_code = dc.corp_code
        AND  dvr.ID=#{id}
    </select>

    <select id="selectAllVipRules" resultMap="VipRules">
        SELECT
        dvr.id,
        dvr.corp_code,
        dvr.vip_type,
        dvr.high_vip_type,
        dvr.discount,
        dvr.join_threshold,
        dvr.upgrade_time,
        dvr.upgrade_amount,
        dvr.points_value,
        dvr.present_point,
        dvr.present_coupon,
        dvr.modified_date,
        dvr.modifier,
        dvr.created_date,
        dvr.creater,
        dvr.isactive,
        dvr.vip_card_type_code,
        dvr.degree,
        dvr.high_vip_card_type_code,
        dvr.high_degree,
        dc.corp_name
        FROM def_vip_rules dvr,def_corp dc
        WHERE dvr.corp_code = dc.corp_code
        <if test="corp_code != null and corp_code !=''">
            AND dvr.corp_code = #{corp_code}
        </if>

        <if test="search_value != null and search_value !=''">
            AND
            (dvr.vip_type LIKE concat('%',#{search_value},'%')
            OR dvr.high_vip_type LIKE concat('%',#{search_value},'%')
            OR dc.corp_name LIKE concat('%',#{search_value},'%')
            OR dvr.discount LIKE concat('%',#{search_value},'%')
            OR dvr.join_threshold LIKE concat('%',#{search_value},'%')
            )
        </if>
        ORDER BY  dvr.id DESC
    </select>

    <delete id="deleteById">
        DELETE FROM
        def_vip_rules
        WHERE ID=#{id}
    </delete>

    <insert id="insertVipRules" parameterType="com.bizvane.ishop.entity.VipRules">
        INSERT INTO def_vip_rules
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corp_code!=null">
                corp_code,
            </if>
            <if test="vip_type!=null">
                vip_type,
            </if>
            <if test="high_vip_type!=null">
                high_vip_type,
            </if>
            <if test="discount!=null">
                discount,
            </if>
            <if test="join_threshold!=null">
                join_threshold,
            </if>
            <if test="upgrade_time!=null">
                upgrade_time,
            </if>
            <if test="upgrade_amount!=null">
                upgrade_amount,
            </if>
            <if test="points_value!=null">
                points_value,
            </if>
            <if test="store_code!=null">
                store_code,
            </if>
            <if test="present_point!=null">
                present_point,
            </if>
            <if test="present_coupon!=null">
                present_coupon,
            </if>
            <if test="modified_date!=null">
                modified_date,
            </if>
            <if test="modifier!=null">
                modifier,
            </if>
            <if test="created_date!=null">
                created_date,
            </if>
            <if test="creater!=null">
                creater,
            </if>
            <if test="isactive!=null">
                isactive,
            </if>
            <if test="degree!=null">
                degree,
            </if>
            <if test="vip_card_type_code!=null">
                vip_card_type_code,
            </if>
            <if test="high_degree!=null">
                high_degree,
            </if>
            <if test="high_vip_card_type_code!=null">
                high_vip_card_type_code,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="corp_code!=null">
                #{corp_code},
            </if>
            <if test="vip_type!=null">
                #{vip_type},
            </if>
            <if test="high_vip_type!=null">
                #{high_vip_type},
            </if>
            <if test="discount!=null">
                #{discount},
            </if>
            <if test="join_threshold!=null">
                #{join_threshold},
            </if>
            <if test="upgrade_time!=null">
                #{upgrade_time},
            </if>
            <if test="upgrade_amount!=null">
                #{upgrade_amount},
            </if>
            <if test="points_value!=null">
                #{points_value},
            </if>
            <if test="store_code!=null">
                #{store_code},
            </if>
            <if test="present_point!=null">
                #{present_point},
            </if>
            <if test="present_coupon!=null">
                #{present_coupon},
            </if>
            <if test="modified_date!=null">
                #{modified_date},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="created_date!=null">
                #{created_date},
            </if>
            <if test="creater!=null">
                #{creater},
            </if>
            <if test="isactive!=null">
                #{isactive},
            </if>
            <if test="degree!=null">
                #{degree},
            </if>
            <if test="vip_card_type_code!=null">
                #{vip_card_type_code},
            </if>
            <if test="high_degree!=null">
                #{high_degree},
            </if>
            <if test="high_vip_card_type_code!=null">
                #{high_vip_card_type_code},
            </if>
        </trim>
    </insert>

    <update id="updateVipRules" parameterType="com.bizvane.ishop.entity.VipRules">
        UPDATE def_vip_rules
        <trim prefix="SET" suffixOverrides=",">
            <if test="corp_code!=null">
                corp_code=#{corp_code},
            </if>
            <if test="vip_type!=null">
                vip_type=#{vip_type},
            </if>
            <if test="high_vip_type!=null">
                high_vip_type=#{high_vip_type},
            </if>
            <if test="discount!=null">
                discount=#{discount},
            </if>
            <if test="join_threshold!=null">
                join_threshold=#{join_threshold},
            </if>
            <if test="upgrade_time!=null">
                upgrade_time=#{upgrade_time},
            </if>
            <if test="upgrade_amount!=null">
                upgrade_amount=#{upgrade_amount},
            </if>
            <if test="points_value!=null">
                points_value=#{points_value},
            </if>
            <if test="store_code!=null">
                store_code=#{store_code},
            </if>
            <if test="present_point!=null">
                present_point=#{present_point},
            </if>
            <if test="present_coupon!=null">
                present_coupon=#{present_coupon},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date},
            </if>
            <if test="modifier!=null">
                modifier=#{modifier},
            </if>
            <if test="created_date!=null">
                created_date=#{created_date},
            </if>
            <if test="creater!=null">
                creater=#{creater},
            </if>
            <if test="isactive!=null">
                isactive=#{isactive},
            </if>
            <if test="vip_card_type_code!=null">
                vip_card_type_code=#{vip_card_type_code},
            </if>
            <if test="degree!=null">
                degree=#{degree},
            </if>
            <if test="high_vip_card_type_code!=null">
                high_vip_card_type_code=#{high_vip_card_type_code},
            </if>
            <if test="high_degree!=null">
                high_degree=#{high_degree},
            </if>
        </trim>
        WHERE id=#{id};
    </update>

    <select id="selectVipRulesScreen" resultMap="VipRules">
        SELECT
        dvr.id,
        dvr.corp_code,
        dvr.vip_type,
        dvr.high_vip_type,
        dvr.discount,
        dvr.join_threshold,
        dvr.upgrade_time,
        dvr.upgrade_amount,
        dvr.points_value,
        dvr.present_point,
        dvr.present_coupon,
        dvr.modified_date,
        dvr.modifier,
        dvr.created_date,
        dvr.creater,
        dvr.isactive,
        dvr.vip_card_type_code,
        dvr.degree,
        dvr.high_vip_card_type_code,
        dvr.high_degree,
        dc.corp_name
        FROM def_vip_rules dvr,def_corp dc
        WHERE dvr.corp_code = dc.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND dvr.corp_code=#{corp_code}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="" separator="and" close="">
            <choose>
                <when test="entryValue!='' and entryKey=='corp_name'">
                    dc.${entryKey} REGEXP ${entryValue}
                </when>
                <when test="entryValue!=''">
                    dvr.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP By dvr.id
        ORDER BY dvr.id DESC
    </select>

    <select id="selectByVipType" resultType="com.bizvane.ishop.entity.VipRules">
        SELECT
        dvr.id,
        dvr.corp_code,
        dvr.vip_type,
        dvr.high_vip_type,
        dvr.discount,
        dvr.join_threshold,
        dvr.upgrade_time,
        dvr.upgrade_amount,
        dvr.points_value,
        dvr.store_code,
        dvr.present_point,
        dvr.present_coupon,
        dvr.modified_date,
        dvr.modifier,
        dvr.created_date,
        dvr.creater,
        dvr.isactive,
        dvr.vip_card_type_code,
        dvr.degree,
        dvr.high_vip_card_type_code,
        dvr.high_degree
        FROM def_vip_rules dvr,def_corp
        WHERE dvr.corp_code=def_corp.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND dvr.CORP_CODE = #{corp_code}
        </if>
        AND  dvr.vip_type= #{vip_type}
         AND  dvr.isactive= #{isactive}
    </select>

</mapper>