<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bizvane.ishop.dao.VIPtagMapper">
    <resultMap id="VIPTags" type="com.bizvane.ishop.entity.VIPtag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tag_name"/>
        <result column="tag_type" property="tag_type"/>
        <result column="corp_code" property="corp_code"/>
        <result column="modified_date" property="modified_date"/>
        <result column="modifier" property="modifier"/>
        <result column="created_date" property="created_date"/>
        <result column="creater" property="creater"/>
        <result column="isactive" property="isactive"/>
    </resultMap>
    <select id="selectByPrimaryKey" resultType="com.bizvane.ishop.entity.VIPtag">
        select * from DEF_VIP_TAG
        WHERE  id=#{id}
    </select>
    <insert id="insert" parameterType="com.bizvane.ishop.entity.VIPtag">
        INSERT INTO VIPtag
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="tag_name!=null and tag_name!=''">
                tag_name ,
            </if>
            <if test="tag_type!=null and tag_type!=''">
                tag_type,
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code ,
            </if>
            <if test="modified_date!=null">
                modified_date ,
            </if>
            <if test="modifier!=null and  modifier!=''">
                modifier,
            </if>
            <if test=" !=null and !=''">
                ,
            </if>
            <if test="create_date!=null">
                create_date ,
            </if>
            <if test="creater!=null and  creater!=''">
                creater,
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="tag_name!=null and tag_name!=''">
                tag_name=#{tag_name} ,
            </if>
            <if test="tag_type!=null and tag_type!=''">
                tag_type=#{tag_type},
            </if>
            <if test="corp_code!=null and corp_code!=''">
                corp_code=#{corp_code},
            </if>
            <if test="modified_date!=null">
                modified_date=#{modified_date} ,
            </if>
            <if test="modifier!=null and  modifier!=''">
                modifier=#{modifier},
            </if>
            <if test="create_date!=null">
                create_date=#{create_date},
            </if>
            <if test="creater!=null and  creater!=''">
                creater=#{creater},
            </if>
            <if test="isactive!=null and isactive!=''">
                isactive=#{isactive},
            </if>
        </trim>

    </insert>
    <update id="updateByPrimarykey" parameterType="com.bizvane.ishop.entity.VIPtag">

    </update>
    <delete id="deleteByPrimaryKey">
        delete from DEF_VIP_TAG
        WHERE id=#{id}
    </delete>
    <select id="selectAllVipTag" resultMap="VIPTags">
        SELECT * FROM
        DEF_VIP_TAG
        WHERE
        <if test="vip_code!=null and vip_code!=''">
            vip_code=#{vip_code}
        </if>
        <if test="search_value!=null and search_value!=''">
            and(
            vip_code like concat('%',"'"+#{search_value}+"'",'%')
            or vip_name like concat('%',"'"+#{search_value}+"'",'%')
            or phone like concat('%',"'"+#{search_value}+"'",'%')
            or birthday like concat('%',"'"+#{search_value}+"'",'%')
            or vip_type like concat('%',"'"+#{search_value}+"'",'%')
            or vip_card_number like concat('%',"'"+#{search_value}+"'",'%')
            or sex like concat('%',"'"+#{search_value}+"'",'%')
            or user_code like concat('%',"'"+#{search_value}+"'",'%')
            or store_code like concat('%',"'"+#{search_value}+"'",'%')
            or modifier like concat('%',"'"+#{search_value}+"'",'%')
            or creater like concat('%',"'"+#{search_value}+"'",'%')
            )
        </if>
        ORDER BY ID
    </select>
    <select id="selectVIPTag_code" resultType="com.bizvane.ishop.entity.VIPtag">
        select * from DEF_VIP_TAG
         WHERE
         tag_code=#{tag_code}
         and
         corp_code=#{corp_code}
    </select>
</mapper>
