<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.ishop.dao.WxTemplateMapper">
    <resultMap id="WxTemplate" type="com.bizvane.ishop.entity.WxTemplate">
        <id column="id" property="id"/>
        <result column="corp_code" property="corp_code"/>
        <result column="template_id" property="template_id" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_name" property="template_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_content" property="template_content" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="app_id" property="app_id"/>
        <result column="app_name" property="app_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="app_user_name" property="app_user_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="industry" property="industry" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="content_example" property="content_example" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_content_data" property="template_content_data" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <select id="selectById" resultMap="WxTemplate">
        SELECT
        rwt.id,
        rwt.template_id,
        rwt.template_name,
        rwt.corp_code,
        rwt.app_id,
        rwt.app_name,
        rwt.app_user_name,
        rwt.modified_date,
        rwt.modifier,
        rwt.created_date,
        rwt.creater,
        rwt.isactive,
        rwt.industry,
        rwt.content_example,
        def_corp.corp_name,
        rwt.template_content,
        rwt.template_content_data
        FROM rel_wechat_template rwt,def_corp
        WHERE rwt.corp_code = def_corp.corp_code
        AND  rwt.ID=#{id}
    </select>

    <select id="selectAllWxTemplate" resultMap="WxTemplate">
        SELECT rwt.*,
        dc.corp_name
        FROM rel_wechat_template rwt ,def_corp dc
        WHERE rwt.corp_code = dc.corp_code
        <if test="corp_code != null and corp_code != ''">
            AND rwt.corp_code = #{corp_code}
        </if>
        <if test="search_value != null and search_value != ''">
        AND (
            dc.corp_name like concat('%',#{search_value},'%')
            OR rwt.template_name LIKE concat ('%',#{search_value},'%')
            OR rwt.app_name LIKE concat ('%',#{search_value},'%')
            )
        </if>
        <!--  AND isactive = 'Y' -->
        GROUP By rwt.id
        ORDER BY rwt.id DESC
    </select>

    <select id="selectWxTemplateAllScreen" resultMap="WxTemplate">
        SELECT rwt.*,
        dc.corp_name
        FROM rel_wechat_template rwt ,def_corp dc
        WHERE rwt.corp_code = dc.corp_code
        <if test="corp_code!=null and corp_code!=''">
            AND rwt.corp_code=#{corp_code}
        </if>
        <if test="created_date_start!=null and created_date_start!=''">
            AND  rwt.created_date &gt;= #{created_date_start}
        </if>
        <if test="created_date_end!=null and created_date_end!=''">
            AND  rwt.created_date &lt;= #{created_date_end}
        </if>
        AND
        <foreach collection="map" index="entryKey" item="entryValue" open="" separator="and" close="">
            <choose>
                <when test="entryValue!=''">
                    rwt.${entryKey} REGEXP ${entryValue}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </foreach>
        GROUP By rwt.id
        ORDER BY rwt.id DESC
    </select>

    <insert id="insertWxTemplate" parameterType="com.bizvane.ishop.entity.WxTemplate">
        INSERT INTO rel_wechat_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corp_code != null">
                corp_code,
            </if>
            <if test="template_id != null">
                template_id,
            </if>
            <if test="template_name != null">
                template_name,
            </if>
            <if test="app_id != null">
                app_id,
            </if>
            <if test="app_name != null">
                app_name,
            </if>
            <if test="app_user_name != null">
                app_user_name,
            </if>
            <if test="modified_date != null">
                modified_date,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="created_date != null">
                created_date,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
            <if test="industry!=null">
                industry,
            </if>
            <if test="content_example!=null">
                content_example,
            </if>
            <if test="template_content!=null">
                template_content,
            </if>
            <if test="template_content_data!=null">
                template_content_data,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="corp_code != null">
                #{corp_code},
            </if>
            <if test="template_id != null">
                #{template_id},
            </if>
            <if test="template_name != null">
                #{template_name},
            </if>
            <if test="app_id != null">
                #{app_id},
            </if>
            <if test="app_name != null">
                #{app_name},
            </if>
            <if test="app_user_name != null">
                #{app_user_name},
            </if>
            <if test="modified_date != null">
                #{modified_date},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="created_date != null">
                #{created_date},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="isactive != null">
                #{isactive},
            </if>
            <if test="industry!=null">
                #{industry},
            </if>
            <if test="content_example!=null">
                #{content_example},
            </if>
            <if test="template_content!=null">
                #{template_content},
            </if>
            <if test="template_content_data!=null">
                #{template_content_data},
            </if>
        </trim>
    </insert>

    <update id="updateWxTemplate" parameterType="com.bizvane.ishop.entity.WxTemplate">
        UPDATE rel_wechat_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="corp_code != null">
                corp_code = #{corp_code},
            </if>
            <if test="template_id != null">
                template_id = #{template_id},
            </if>
            <if test="template_name != null">
                template_name = #{template_name},
            </if>
            <if test="app_id != null">
                app_id = #{app_id},
            </if>
            <if test="app_name != null">
                app_name = #{app_name},
            </if>
            <if test="app_user_name != null">
                app_user_name = #{app_user_name},
            </if>
            <if test="modified_date != null">
                modified_date = #{modified_date},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="created_date != null">
                created_date = #{created_date},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="isactive != null">
                isactive = #{isactive},
            </if>
            <if test="industry!=null">
                industry=#{industry},
            </if>
            <if test="content_example!=null">
                content_example=#{content_example},
            </if>
            <if test="template_content!=null">
              template_content= #{template_content},
            </if>
            <if test="template_content_data!=null">
               template_content_data= #{template_content_data},
            </if>
        </trim>
        WHERE id = #{id};
    </update>

    <delete id="deleteWxTemplate">
        DELETE FROM
        rel_wechat_template
        WHERE id = #{id}
    </delete>

    <select id="selectTempByAppId" resultMap="WxTemplate">
        SELECT *
        FROM rel_wechat_template
        WHERE 1=1
        <if test="app_id != null and app_id !=''">
            AND app_id = #{app_id}
        </if>
        <if test="app_user_name != null and app_user_name !=''">
            AND app_user_name = #{app_user_name}
        </if>
        <if test="template_name != null and template_name !=''">
            AND template_name = #{template_name}
        </if>
        AND isactive = 'Y'
    </select>

    <select id="selectByIdAndName" resultMap="WxTemplate">
        SELECT *
        FROM rel_wechat_template
        WHERE 1=1
        <if test="app_id != null and app_id != ''">
            AND app_id = #{app_id}
        </if>
        <if test="template_id != null and template_id != ''">
          AND   template_id=#{template_id}
        </if>
        <if test="template_name!=null and template_name!=''">
            AND  template_name=#{template_name}
        </if>
        AND isactive = 'Y'
    </select>

    <select id="selectByCorpCode" resultMap="WxTemplate">
        SELECT *
        FROM rel_wechat_template
        WHERE 1=1
        <if test="corp_code != null and corp_code != ''">
            AND corp_code = #{corp_code}
        </if>
        <if test="app_id != null and app_id != ''">
            AND app_id = #{app_id}
        </if>
        AND isactive = 'Y'
    </select>

    <resultMap id="WxTemplateContent" type="com.bizvane.ishop.entity.WxTemplateContent">
        <id column="id" property="id"/>
        <result column="corp_code" property="corp_code"/>
        <result column="app_id" property="app_id"/>
        <result column="app_name" property="app_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="app_user_name" property="app_user_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_id" property="template_id" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_name" property="template_name" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_first" property="template_first" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_remark" property="template_remark" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="template_url" property="template_url" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="type" property="type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="vip_card_type" property="vip_card_type" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modified_date" property="modified_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="modifier" property="modifier" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="created_date" property="created_date" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="creater" property="creater" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
        <result column="isactive" property="isactive" typeHandler="com.bizvane.ishop.utils.EmptyStringIfNull"/>
    </resultMap>

    <select id="selectContentById" resultMap="WxTemplateContent">
        SELECT *
        FROM rel_wechat_template_content
        WHERE app_id = #{app_id}
        AND  template_name=#{template_name}
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
    </select>

</mapper>