* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

.sift-move {
  height: 100%;
  overflow: hidden;
  position: relative; }

.header {
  width: 100%;
  padding-bottom: 0.24155rem;
  background-color: #dfdfdf;
  position: relative;
  overflow: hidden; }
  .header .main_image ul {
    width: 2415.43478rem;
    overflow: hidden; }
    .header .main_image ul li {
      float: left; }
  .header .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden; }
    .header .swiper-wrapper .swiper-slide .item {
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    .header .swiper-wrapper .swiper-slide img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle; }
  .header .gradex {
    width: 100%;
    height: 0.48309rem;
    line-height: 0.48309rem;
    position: absolute;
    bottom: 0.45894rem;
    right: 0.12077rem; }
    .header .gradex span {
      float: right;
      color: #dd6c5e; }
      [data-dpr="1"] .header .gradex span {
        font-size: 12px; }
      [data-dpr="2"] .header .gradex span {
        font-size: 24px; }
      [data-dpr="3"] .header .gradex span {
        font-size: 36px; }
    .header .gradex .on {
      float: right;
      margin-left: 0.24155rem;
      background: url(../image/icon_star.png) no-repeat;
      background-size: 0.43478rem 0.43478rem;
      width: 0.43478rem;
      height: 0.43478rem; }

.detail {
  margin-left: 0.24155rem;
  color: #8D8D8D;
  position: relative; }
  [data-dpr="1"] .detail {
    line-height: 37px; }
  [data-dpr="2"] .detail {
    line-height: 74px; }
  [data-dpr="3"] .detail {
    line-height: 111px; }
  [data-dpr="1"] .detail {
    font-size: 14px; }
  [data-dpr="2"] .detail {
    font-size: 28px; }
  [data-dpr="3"] .detail {
    font-size: 42px; }
  .detail .grade {
    position: absolute;
    top: 0.33816rem;
    right: 0.28986rem;
    cursor: pointer; }
    .detail .grade img {
      width: 1.81159rem;
      height: 0.77295rem; }
  .detail .pice span {
    color: #dd6c5e; }
  .detail .total {
    width: 100%;
    overflow: hidden; }
    .detail .total p {
      float: left;
      width: 33.3333%;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.buy-match {
  width: 100%; }
  .buy-match .caption {
    background-color: #dfdfdf;
    overflow: hidden; }
  .buy-match .caption li {
    margin-top: 0.2657rem;
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
    color: #8D8D8D; }
    [data-dpr="1"] .buy-match .caption li {
      line-height: 44px; }
    [data-dpr="2"] .buy-match .caption li {
      line-height: 88px; }
    [data-dpr="3"] .buy-match .caption li {
      line-height: 132px; }
    [data-dpr="1"] .buy-match .caption li {
      font-size: 18px; }
    [data-dpr="2"] .buy-match .caption li {
      font-size: 36px; }
    [data-dpr="3"] .buy-match .caption li {
      font-size: 54px; }
  .buy-match .caption .buy {
    color: #dd6c5e;
    background-color: #fff; }
  .buy-match .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #8D8D8D;
    margin-top: 0.48309rem;
    padding: 0 0.36232rem 0 0.36232rem;
    word-wrap: break-word;
    word-break: break-word;
    overflow: auto;
    height: auto; }
    [data-dpr="1"] .buy-match .content {
      line-height: 31px; }
    [data-dpr="2"] .buy-match .content {
      line-height: 62px; }
    [data-dpr="3"] .buy-match .content {
      line-height: 93px; }
    [data-dpr="1"] .buy-match .content li {
      font-size: 14px; }
    [data-dpr="2"] .buy-match .content li {
      font-size: 28px; }
    [data-dpr="3"] .buy-match .content li {
      font-size: 42px; }
    .buy-match .content a {
      text-decoration: underline;
      color: #6cc1c8; }
    .buy-match .content img {
      max-width: 100%; }
  .buy-match .match-con {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0.48309rem;
    padding: 0 0.36232rem 0 0.36232rem; }
    .buy-match .match-con a {
      text-decoration: none; }
    .buy-match .match-con .footer .goods_list_p {
      overflow: hidden; }
      .buy-match .match-con .footer .goods_list_p .goods_list {
        margin-left: -0.24155rem; }
    .buy-match .match-con .footer .biaoti {
      height: 0.72464rem;
      color: #6E6E6E; }
      [data-dpr="1"] .buy-match .match-con .footer .biaoti {
        line-height: 31px; }
      [data-dpr="2"] .buy-match .match-con .footer .biaoti {
        line-height: 62px; }
      [data-dpr="3"] .buy-match .match-con .footer .biaoti {
        line-height: 93px; }
      [data-dpr="1"] .buy-match .match-con .footer .biaoti {
        font-size: 14px; }
      [data-dpr="2"] .buy-match .match-con .footer .biaoti {
        font-size: 28px; }
      [data-dpr="3"] .buy-match .match-con .footer .biaoti {
        font-size: 42px; }
    .buy-match .match-con li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 0.24155rem;
      width: 50%;
      float: left; }
      .buy-match .match-con li .ti_img {
        border: 1px solid #e5e5e5;
        position: relative;
        background-color: #F7F7F7; }
      .buy-match .match-con li p {
        height: 0.48309rem;
        line-height: 0.48309rem;
        text-align: center;
        color: #888888; }
        [data-dpr="1"] .buy-match .match-con li p {
          font-size: 14px; }
        [data-dpr="2"] .buy-match .match-con li p {
          font-size: 28px; }
        [data-dpr="3"] .buy-match .match-con li p {
          font-size: 42px; }
    .buy-match .match-con img {
      max-width: 100%;
      max-height: 100%;
      color: #333;
      position: absolute;
      background-color: #f7f7f7;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      -moz-transform: translate3d(-50%, -50%, 0);
      -webkit-transform: translate3d(-50%, -50%, 0);
      -o-transform: translate3d(-50%, -50%, 0); }

input-placeholder {
  text-align: center; }

input::-webkit-input-placeholder {
  text-align: center; }

.header_line {
  width: 100%;
  height: 54px;
  background-color: #e8e8e8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1; }
  .header_line .search {
    padding-left: 10px;
    margin-right: 90px;
    background-color: #e8e8e8; }
  .header_line .screen {
    width: 70px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 10px;
    text-align: center;
    line-height: 30px;
    background-color: #6dc1c8;
    border-radius: 5px;
    letter-spacing: 3px;
    color: #fff;
    font-size: 15px; }
  .header_line input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #8e8e93;
    font-size: 18px;
    margin-top: 12px;
    background-color: #fff; }

.allShops {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 58px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .allShops .shop {
    width: 100%;
    position: relative;
    padding-left: 88px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 85px;
    border-bottom: 1px solid #ededed; }
  .allShops .img {
    position: absolute;
    left: 0;
    top: 1px;
    width: 79px;
    height: 78px; }
    .allShops .img img {
      width: 78px;
      height: 78px; }
  .allShops .shop-t {
    margin-top: 4px;
    margin-right: 10px;
    line-height: 26px;
    color: #8e8e93; }
    .allShops .shop-t h1 {
      color: #8e8e93;
      font-size: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: normal; }
    .allShops .shop-t p {
      text-align: left;
      font-size: 16px; }
    .allShops .shop-t .pice span {
      color: #dd6c5e;
      font-size: 13px; }

.screen_list {
  width: 66.6%;
  position: fixed;
  top: 0;
  right: -66.6%;
  background-color: #fff;
  z-index: 5;
  height: 100%;
  overflow: hidden; }
  .screen_list .screen_content {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 56px;
    width: 100%; }
    .screen_list .screen_content .parent {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 10px 0 10px; }
      .screen_list .screen_content .parent h4 {
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        font-weight: normal;
        color: #888; }
      .screen_list .screen_content .parent .list {
        overflow: hidden;
        margin-left: -2%; }
        .screen_list .screen_content .parent .list li {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          box-sizing: border-box;
          float: left;
          width: 48%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background-color: #eeeeee;
          border-radius: 5px;
          margin-left: 2%;
          margin-bottom: 2%;
          font-size: 15px;
          color: #888; }
        .screen_list .screen_content .parent .list .active {
          background-color: #c5e6e9; }
      .screen_list .screen_content .parent .xian {
        border-bottom: 1px solid #ededed; }
    .screen_list .screen_content .row-last {
      margin-bottom: 56px; }
  .screen_list .screen_footer {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%; }
    .screen_list .screen_footer .bg_h {
      width: 50%;
      height: 56px;
      float: left;
      text-align: center;
      line-height: 56px;
      font-size: 17px; }
    .screen_list .screen_footer #reset {
      background-color: #e7e7e7;
      color: #888; }
    .screen_list .screen_footer #complete {
      background-color: #6dc1c8;
      color: #fff; }

#kong_img {
  width: 100%;
  position: absolute;
  top: 120px;
  margin: 0 auto;
  display: none; }
  #kong_img .kong {
    width: 68%;
    margin: 0 auto; }
  #kong_img img {
    max-width: 100%; }

.more {
  display: none;
  font-size: 15px;
  text-align: center;
  color: #8e8e93;
  height: 30px;
  line-height: 30px; }

#cover {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #000000;
  opacity: 0.5; }

/*# sourceMappingURL=goods.css.map */
