* {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; }

.survey_wrap {
  margin: 0.3125rem 0.70313rem 1.25rem 0.70313rem;
  padding: 0.9375rem 0.46875rem;
  background: #fff;
  color: #888;
  text-align: center; }
  [data-dpr="1"] .survey_wrap {
    font-size: 14px; }
  [data-dpr="2"] .survey_wrap {
    font-size: 28px; }
  [data-dpr="3"] .survey_wrap {
    font-size: 42px; }

.survey_name {
  display: block;
  margin-bottom: 0.46875rem; }
  [data-dpr="1"] .survey_name {
    font-size: 24px; }
  [data-dpr="2"] .survey_name {
    font-size: 48px; }
  [data-dpr="3"] .survey_name {
    font-size: 72px; }

.font_weight {
  color: #333333;
  font-weight: 500; }

.survey_desc {
  display: block;
  min-height: 1.25rem;
  margin-bottom: 0.3125rem;
  padding: 0 0.54688rem 0.3125rem 0.54688rem;
  border-bottom: 1px solid #eee;
  text-align: left; }

.is_fill {
  margin-right: 0.07813rem; }

.survey_content_box {
  margin-bottom: 0.625rem;
  text-align: left;
  padding-left: 0.3125rem; }

.survey_content_box li {
  margin-top: 0.3125rem; }

input[type=radio], input[type=checkbox] {
  display: none;
  outline: none; }

input[type=radio] + label {
  box-sizing: border-box;
  display: inline-block;
  width: 0.46875rem;
  height: 0.46875rem;
  margin-right: 0.15625rem;
  border-radius: 0.46875rem;
  border: 1px solid #ddd;
  vertical-align: middle; }

input[type=radio]:checked + label {
  border: none;
  background: url("../img/icon_radio_checked.png") no-repeat center;
  background-size: 0.46875rem; }

input[type=checkbox] + label {
  box-sizing: border-box;
  display: inline-block;
  width: 0.46875rem;
  height: 0.46875rem;
  margin-right: 0.15625rem;
  border-radius: 0.07813rem;
  border: 1px solid #ddd;
  vertical-align: middle; }

input[type=checkbox]:checked + label {
  border: none;
  background: url("../img/icon_checkbox_checked.png") no-repeat center;
  background-size: 0.46875rem; }

.survey_input {
  outline: none;
  width: 6.40625rem;
  height: 0.625rem;
  line-height: 0.625rem;
  padding-left: 0.15625rem;
  border-radius: 0.07813rem;
  border: 1px solid #ddd; }

.survey_content_box .grade_star {
  width: 0.46875rem;
  height: 0.46875rem;
  margin-right: 0.23438rem;
  display: inline-block;
  background: url("../../../img/star.png") no-repeat;
  background-size: 0.46875rem;
  vertical-align: middle; }

.survey_wrap .survey_content_box .choosed_star {
  background: url("../../../img/star_S.png") no-repeat;
  background-size: 0.46875rem; }

.footer {
  text-align: center;
  background: #fff;
  height: 1.25rem;
  width: 100%;
  position: fixed;
  bottom: 0; }

.footer span {
  display: inline-block;
  width: 3.59375rem;
  height: 0.78125rem;
  line-height: 0.78125rem;
  background: black;
  border-radius: 0.07813rem;
  color: #fff;
  margin-top: 0.23438rem; }

.frame {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  min-width: 5.46875rem;
  min-height: 1.5625rem;
  background: rgba(74, 95, 124, 0.8);
  z-index: 1000;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 1.5625rem;
  box-shadow: 0px 3px 13px rgba(51, 56, 72, 0.53); }

/*# sourceMappingURL=survey.css.map */
