<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录日志</title>
    <link rel="stylesheet" href="../table/css/inner.css?2017040170105">
    <link rel="stylesheet" href="../css/font_style.css?2017040170105">
    <link rel="stylesheet" href="../css/staff_function.css">
    <link rel="stylesheet" href="../js/artDialog/skins/default.css">
    <style>
        #screen_filtrate{
            width: 640px;
            font-size: 14px;
            color: #888888;
            border-radius: 10px;
            background: #fff;
            padding: 0 10px 20px 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.35);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            z-index: 10001;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            display: none;
        }
        #screen_staff{
            width: 740px;
            min-height: 530px;
            padding: 0 20px 0 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.35);
            border-radius: 5px;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            z-index: 10001;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="con_table" id="con_table"v-cloak>
        <div class="title">
            <span>员工管理</span>
            <span class="icon-ishop_8-03"></span>
            <span>登录日志</span>
        </div>
        <!--导航-->
        <div id="nav">
            <div class="nav_down nav_3"@click="navDomShow($event)">
                <span class="nav_3">请选择范围</span>
                <div class="nav_down_arrow"><span class="icon-ishop_8-02 nav_3"></span></div>
                <nav-component v-if="nav_1"@increment="functionFun($event)"></nav-component>
            </div>
            <div class="nav_date">
                <div style="display: inline-block"v-if="time_show">
                    <span>{{time_start}}</span>
                    <span>至</span>
                    <span >{{time_end}}</span>
                </div>
                <div style="float: right;margin-left: 10px" class="nav_down nav_4"@click="navDomShow($event)">
                    {{time}}
                    <div class="nav_down_arrow"><span class="icon-ishop_8-02 nav_4"></span></div>
                    <div id="date" v-if="nav_4">
                        <div class="date_nav">
                            <div class="week"@click="timeFun($event)">周</div>
                            <div  class="month"@click="timeFun($event)">月</div>
                            <div  class="year"@click="timeFun($event)">年</div>
                        </div>
                        <div class="week_box"v-if="week">
                            <div class="week_nav">
                                <div class="week_num">
                                    <span class="icon-ishop_8-03 week_arrow_left"@click="timeFun($event)"></span>
                                    <b>{{year_down}}</b>
                                    <span class="icon-ishop_8-03 week_arrow_right"@click="timeFun($event)"></span>
                                </div>
                            </div>
                            <ul class="week_detail">
                                <li v-for="obj in week_obj"@click="timeChange($event)">
                                    <div class="week_detail_w">{{obj.title}}</div>
                                    <div class="week_detail_d">{{obj.title_date}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class=month_box" v-if="month">
                            <div class="month_nav">
                                <div class="month_num">
                                    <span class="icon-ishop_8-03 month_arrow_left"@click="timeFun($event)"></span>
                                    <b>{{year_down}}</b>
                                    <span class="icon-ishop_8-03 month_arrow_right"@click="timeFun($event)"></span>
                                </div>
                                <ul class="month_detail">
                                    <li v-for="val in month_arr"@click="timeChange($event)">{{val}}</li>
                                    <!--<li>-->
                                    <!--<div class="month_detail_w">201704017年第3周</div>-->
                                    <!--</li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="year_box"v-if="year">
                            <ul class="year_detail">
                                <li v-for="val in year_arr"@click="timeChange($event)">{{val}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--chart-->
        <div id="chart_box">
            <div class="chart_title">
                <label></label>
                <span>登录分析图</span>
            </div>
            <div id="chart"></div>
            <div class="describe">
                <ul>
                    <li style="margin-right: 76px"><span class="blue"></span>登录</li>
                    <li><span class="gray"></span>未登录</li>
                </ul>
            </div>
        </div>
        <!--table-->
        <div id="table">
            <div class="chart_title">
                <label></label>
                <span>登录分析表</span>
                <div class="export_table">导出表格</div>
            </div>
            <div class="table_box">
                <table class="table_top">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>功能</th>
                        <th>事件</th>
                        <th>人员</th>
                        <th>时间段</th>
                        <th>事件次数</th>
                    </tr>
                    </thead>
                </table>
                <div class="table_below"@scroll="scrollFun($event)">
                    <table>
                        <tbody>
                        <tr v-for="(obj,index) in tableData">
                            <td>{{ index+1}}</td>
                            <td>{{obj.app_function}}</td>
                            <td>{{obj.app_action_name}}</td>
                            <td>{{obj.user_name}}</td>
                            <td>{{obj.event_time}}</td>
                            <td>{{obj.event_count}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--弹窗-->
        <div  id="screen_filtrate"v-if="nav_3">
            <div class="screen_head">筛选导购<i class="icon-ishop_6-12" id="screen_wrapper_close"@click="nav_3=!nav_3"></i></div>
            <div class="contion">
                <div class="contion_input">
                    <label>所属品牌</label><input :value="brand_input" class="input" type="text"readonly="true">
                    <span class="icon_r icon-ishop_8-03" @click="filtrateFun($event)"></span>
                </div>
                <div class="contion_input">
                    <label>所属区域</label><input :value="area_input"class="input" type="text"readonly="true">
                    <span class="icon_r icon-ishop_8-03" @click="filtrateFun($event)"></span>
                </div>
                <div class="contion_input">
                    <label>所属店铺</label><input :value="store_input"class="input" type="text"readonly="true">
                    <span class="icon_r icon-ishop_8-03" @click="filtrateFun($event)"></span>
                </div>
                <div class="contion_input">
                    <label>所属导购</label><input :value="guide_input"class="input" type="text"readonly="true">
                    <span class="icon_r icon-ishop_8-03" @click="filtrateFun($event)"></span>
                </div>
            </div>
            <div class="ensure"><span @click="confirm($event)">确定</span></div>
        </div>
        <!--筛选-->
        <filtrate-component :message-title="message_title":post-url="component_url":start-param="post_start_param" :message-obj="message_obj" @increment3="filtrateReturnFun"@increment="filtrateFunMore"v-if="filtrate"></filtrate-component>
    </div>
</div>
<script src="../table/js/jquery.min.js"></script>
<script src="../js/staff/echarts.common.min.js"></script>
<script src="../js/staff/vue.js"></script>
<script src="../js/loading.js"></script>
<script src="../js/artDialog/jquery.artDialog.js?2017040170331"></script>
<script type="text/javascript" src="../js/artDialog/plugins/iframeTools.js?2017040170331"></script>
<script type="text/javascript" src="../table/js/jquery.nicescroll.min.js"></script>
<script src="../js/staff/vue-resource.js"></script>
<script src="../js/staff/common_component.js"></script>
<script src="../js/system/logging2.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('chart'));
    // 指定图表的配置项和数据
    var option = {
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        textStyle:{
            color:"#888"
        },
        xAxis : [
            {
                type : 'category',
                axisTick: {
                    show: false
                },
                axisLine:{
                    lineStyle: {
                        color: 'eee'
                    }
                },
                data : ['1-1','1-2','1-3','1-4','1-5','1-6','1-7','1-8','1-9','1-10','1-11','1-12','1-13','1-14','1-15','1-16']
            }
        ],
        yAxis : [
            {
                type : 'value',
                axisLine: {
                    show: false,
                },
                axisTick: {
                    show: false
                },
            }
        ],
//             tooltip:{
//                 show:true,
//                 position:'top',
//                 formatter:'{c}',
//                 backgroundColor:'#9999cc',
//                 padding:[10,40]
//             },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c}"
        },
        series : [
            {
                name:'未登录',
                type:'bar',
                stack: 'consumption',
                itemStyle: {
                    normal: {
                        color: '#d8d8e1'
                    },
//                         emphasis: {
//                             color:'#9999cc'
//                         }
                },
                barWidth:4,
                xAxisIndex:0,
                barGap:0,
                data:[550, 132, 101, 134, 90, 230, 210,550, 132, 101, 134, 90, 230, 210,210,210]
            },
            {
                name:'登录',
                type:'bar',
                stack: 'consumption1',
                itemStyle: {
                    normal: {
                        color: '#5f8bc8'
                    },
//                         emphasis: {
//                             color:'#9999cc'
//                         }
                },
                barWidth:4,
                data:[220, 182, 191, 234, 290, 330, 310,220, 182, 191, 234, 290, 330, 310,210,210]
            },
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>