*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
}
input{margin:0;padding:0;}
body{
	font-size: 14px;
	font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 81px;
	height: inherit;
    background-color: #e8e8e8;
}
a{
	text-decoration: none;
    color:#6cc1c8;
}
input-placeholder{
	color:#686f8a;
} 
input::-ms-input-placeholder{
	color:#686f8a;
} 
input::-webkit-input-placeholder{
	color:#686f8a;
}
.content{
	min-width: 1230px;
	// min-height: 720px;
	// margin-top: 81px;
}
.con_table{
	margin-left: 200px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #e8e8e8;
}
.con_table p{
	height: 600px;
	line-height: 300px;
	text-align: center;
	color: #888;
}
.title{
	font-size: 16px;
	color: #434960;
	height: 50px;
	line-height: 50px;
}
.title span{
	margin-right: 8px;
}
.icon-ishop_8-03{
	display: inline-block;
	width: 14px;
	height: 14px;
	color: #6cc1c8;
	font-size: 14px;
}
.list{
	height: 30px;
	color: #434960;
	line-height: 30px;
}
.list .list_l{
	float: left;
}
.list .list_l li{
	float: left;
	position: relative;
}
.list .list_l li.r{
	margin-left: 20px;
}
.list .list_l li.w input{
	width: 150px;
	height: 30px; 
	line-height: 30px;
}
.list .list_l li.w .sidedown{
	display:block;
	width: 30px;
	height: 30px;
	background-color: #6cc1c8;
	border-radius:0 5px 5px 0px;
	position: absolute;
	top: 0px;
	right: -15px;
	text-align: center;
	line-height: 30px;
	color:#fff;
}
.drop_dowm{
	position: absolute;
	left: 72px;
	top:31px;
	width: 165px;
	background-color:#e8f5fe;
	border: 1px solid #a9c9e2;
	z-index: 5;
}
.lie{
	width: 150px;
	height: 30px;
	padding-left: 15px;
}
.lie:hover{
	background-color:#6cc1c8;
}
.list .list_l li input{
	width: 150px;
	height: 30px;
	border:none;
	outline: none;
	border-radius: 5px;
	margin-left: 10px;
	color: #888;
	padding-left: 5px;
	background: #dfdfdf;
}
.list .list_r{
	float: right;
}
.list .list_ren{
	float: right;
	margin-bottom: 10px;
}
.list .list_r div,.list .list_ren div{
	float: left;
	width: 160px;
	height:30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 5px;
}
.list .list_r div i{
	vertical-align: middle;
	font-size: 16px;
}
.list .list_r div.save{
	background-color: #6dc1c8;
	cursor: pointer;
	letter-spacing: 10px;
}
.list .list_r div.turnoff,.list .list_ren div.turnoff{
	margin-left: 20px;
	background-color: #4a5f7c;
	cursor: pointer;
	letter-spacing: 10px;
}
.action{
	position: relative;
	height: 50px;
}
.action span{
	display: inline-block;
	width: 25px;
	height: 20px;
   font-size: 20px;
   vertical-align: middle;
   color: #6cc1c8;
   margin-left: 8px;
   line-height: 19px;
}
.action li{
	cursor: pointer;
}
.action .bg{
	background-color: #f4f4f4;
}
.action .text{
	font-size: 14px;
	color: #434960;
}
.action_l{
	position: absolute;
}
.action_l a{
	color:#565656;
}
.action_r{
	float: right;
	color: black;
}
.action_l ul{
	float: left;
}
.fen{
	position: absolute;
	top:32px;
	left: 0;
	background-color: #fff;
	z-index: 4;
	border: 2px solid #dbdbdb;
	display: none;
	padding-top:1px;
	padding-bottom: 1px;
}
.action_l ul .fen div{
	padding-left: 9px;
	width: 105px;
	height:30px;
	line-height: 30px;
	background-color: #fff;
}
.action_l ul .fen div:hover{
	background-color:#6CC1C8;
}
#corp{
	margin-top: 5px;
}
.action_l li,.action_r li{
	float: left;
	min-width: 80px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	background-color: #fff;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 8px;
}
.action_l li.li{
	width: 320px;
	height: 30px;
	margin-left: 20px;
	border-radius: 18px;
	position: relative;
}
.action_l li.field_input{
	width: 320px;
	height: 30px;
	border-radius: 17px;
	margin-left: 20px;
	position: relative;
}
.action_l li.field_input .field{
	width: 102px;
	height: 25px;
	border:none;
	outline: none;
	margin-left:18px;
	color: #434969;
	cursor: pointer;
	font-family: "微软雅黑";
	background-color: #fff;
}
.action_l li.field_input i{
	position: absolute;
	top:8px;
	left: 100px;
	color:#6cc1c8;
	font-size: 14px;
}
.action_l li.field_input .f_input{
	width: 150px;
	height: 25px;
	border:none;
	outline: none;
	padding-left: 10px;
	color: #434969;
}
.action_l li.field_input span{
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #f4f4f4;
}
.action_l li.li .input{
	width: 265px;
	height: 27px;
	line-height:27px;
	border:none;
	outline: none;
	margin-left: 18px;
}
.action_l li.s{
	margin-left: -1px;
}
.action_l li.li i{
	vertical-align: middle;
	font-size: 30px;
	color: #888;
	position: absolute;
}
.sxk{
	background-color: #d7d8da;
	display: none;
	margin-bottom: 10px;
	padding-top: 3px;
}
.sxk:after{
	content: ",";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
.sxk .sbtn{
	margin: 10px 10px 0 10px;
	overflow: hidden;
}
.sxk .sbtn i{
	width: 17px;
	height: 18px;
	margin-right: 8px;
	font-size: 17px;
	display: inline-block;
	vertical-align: middle;
}
.sxk .sbtn .empty{
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	background-color: #8C9DB4;
	cursor: pointer;
}
.sxk .sbtn .r_btn{
	float: right;
}
.sxk .sbtn .r_btn .pack_up,.sxk .sbtn .r_btn .find{
	min-width: 100px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	float: left;
	cursor: pointer;
}
.sxk .sbtn .r_btn .pack_up{
	background-color: #6cc1c8;
}
.sxk .sbtn .r_btn .find{
	background-color: #4a5f7c;
	margin-left: 10px;
}
.sxk .inputs li{
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}
.sxk .inputs{
	margin-top: 20px;
	margin-left: -10px;
}
 /*.sxk .inputs ul{*/
 	/*overflow: hidden;*/
 /*}*/
.sxk .inputs label{
	display: inline-block;
	min-width:56px;
	color: #888;
	text-align: right;
}
.sxk .inputs li input{
	margin-left: 10px;
	width: 260px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 5px;
	padding-left: 5px;
	color: #888;
}
.sxk .inputs li .time_data{
	width: 117.5px;
}
.laydate-icon{
	padding-right:0 !important;
}
#end{
	margin-left: 0;
}
.sxk .inputs .tm20{
	min-width: 20px !important;
	text-align: center;
}
.table tr{
	height: 50px;
	line-height: 50px;
	color: #434960;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
}
.table tr th,.power_table tr th{
	font-weight: normal;
	text-align: center;
}
.table tr td span{
	display: inline-block;
	max-width: 120px;
	height:40px;
	line-height: 39px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	vertical-align: middle;
}
.table tr td a{
	text-decoration: underline;
}
.table tr td img{
	width: 45px;
	height: 45px;
	vertical-align: middle;
}
.table tr th span{
	color: #6cc1c8;
	font-size: 16px;
	margin-left: 7px;
	cursor: pointer;
}
.checkbox,.checkbox1,.checkbox2{
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 23px;
	position: relative;
}
.checkbox1{
	width: 16px;
	height: 16px;
}
.check{
	visibility: hidden;
}
.checkbox label,.checkbox1 label,.checkbox2 label{
	position: absolute;
	left: -15px;
	top:0px;
	width: 20px;
	height: 20px;
	background: url(../images/icon_checkbox_U.png) no-repeat;
	background-size: 20px 20px;
	margin-left: 28px;
}
.checkbox1 label,.checkbox2 label{
	width: 16px;
	height: 16px;
	background-color: #d5d5d5;
	border-radius: 15px;
}
.checkbox1 .check:checked + label{
	background: url(../images/icon_radio_S.png) no-repeat center center;
	background-size: 16px 16px;
}
.checkbox2 .check:checked + label{
	background: url(../images/icon_radio_h.png) no-repeat center center;
	background-size: 16px 16px;
}
.checkbox .check:checked + label{
	background: url(../images/icon_checkbox_S.png) no-repeat center center;
	background-size: 20px 20px;
}
.table tr .pl5{
	margin-left: 50px;
	color: #434960;
}
.th{
	background-color: #fff;
	height: 50px;
}
.foot{
	height: 50px;
	line-height: 50px;
	color: #434960;
}
.foot .input-txt{
	width: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	outline: none;
	border:none;
	margin-left: 10px;
	color: #434960;
}
.foot .foot-jum em{
	font-style: normal;
	margin-left: 10px;
}
.foot-jum,.foot-sum{
	float: left;
	width: 32%;
}
.foot-num{
	float: left;
	width: 36%;
}
.foot-sum{
	text-align: right;
}
.foot-num{
	text-align: center;
}
.foot-num .p-bg{
	background-color: #4a5f7c;
	border-radius: 3px;
	color: #fff;
}
.foot-num li{
	display: inline-block;
	min-width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
}
.foot-num li span.icon-ishop_4-01,.foot-num li span.icon-ishop_4-02{
	display: block;
	min-width: 30px;
	height: 30px;
	font-size: 30px;
	margin-top: 0;
	margin-left: 0;
	line-height: 30px;
} 
.foot-num li span{
	display:block;
	margin-top: 4px;
	padding-left:4px;
	padding-right:4px;
	min-width: 14px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
}
.foot-sum .page_row{
	width: 90px;
	height:30px;
	line-height: 30px;
	outline: none;
	border:none;
 	padding-left: 10px;
	border-radius: 5px;
	font-size: 14px;
	color: #434960;
}
.foot-sum .liebiao{
	position: absolute;
	top:-71px;
	width: 100px;
	background-color: #fff;
}
.foot-sum .liebiao li{
	box-sizing: border-box;
	padding-left: 10px;
	text-align: left;
	line-height: 20px;
}
.foot-sum .liebiao li:hover{
	/*background-color:#7ee8f1;*/
	background: #4a5f7c;
	color: #FFFFFF;
}
.foot-sum span{
	margin-left: 10px;
}
.page_p{
	width: 100px;
	display: inline-block;
	position: relative;
}
.foot-sum .icon{
	position: absolute;
	top:18px;
	right:10px;
	color: #6cc1c8; 
}
.unclick{
	color:#afafaf;
	cursor: default; 
}
/************************弹框的样式******************/
.p{
	position:absolute;
	background-color:gray;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.1;
	filter:alpha(opacity:10);
	z-index: 787;
	display: none;
}
.tk{
	width: 280px;
	height: 180px;
	background-color: #fff;
	position: absolute;
	z-index: 10010;
	text-align: center;
	color: #888;
	display: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.35);
}
.tk span{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size:16px;
	cursor: pointer;
}
.tk p{
	height: 140px;
	line-height: 140px;
	text-align: center;
	font-size: 14px;
}
.tk p i{
	color: #cd706e;
	font-size: 17px;
	vertical-align: middle;
	line-height: 140px;
	margin-right: 10px;
}
.btn{
	height: 30px;
	line-height: 30px;
}
.tk .btn em{
	display: inline-block;
	font-style: normal;
	width: 100px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.tk .btn .cancel{
	background-color: #e8e8e8;
	color: #888;
	font-size: 14px;
	border-radius: 5px;
}
.tk .btn .delete{
	background-color:#cd706e;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	margin-left: 20px;
}
.tk .btn .album_enter{
	background-color: #6dc1c8;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	margin-left: 20px;
}
.frame{
	margin-left: -10%;
	min-width: 370px;
	min-height: 80px;
	background:rgba(74,95,124,0.8);
	position: absolute;
	z-index: 10003;
	border-radius: 5px;
	color:#fff;
	text-align: center;
	line-height: 80px;
	box-shadow: 0px 3px 13px rgba(51, 56, 72,0.53);
}
/**回到顶部按钮 回到底部按钮**/
#side_bar{
	position: fixed;
	top:50%;
	z-index: 5;
	right: 0;
	font-size: 20px;
	color: #6a7c91;
	text-align: center;
	vertical-align: middle;
}
#side_bar span{
	display: block;
}
#side_bar .gotop{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 3px;
	display: block;
	margin-bottom: 2px;
	cursor: pointer;
}
#side_bar .gobottom{
	width: 20px;
	height: 20px;
	background-color: #fff;
	margin-top: 10px;
	border-radius: 3px;
	display: block;
	margin-bottom: 2px;
	cursor: pointer;
}
/*********搜索的时候的字体的颜色***************/
.color{
	color:red;
}
/*********导入和导出按钮样式****************/
#more{
	position: relative;
}
#more:hover .more_down{
	display: block;
}
.more_down{
	position: absolute;
	top:30px;
	left: 0;
	display: none;
	text-align: center;
	border: 1px solid #a9c9e2;
	/*width:80px;*/
	z-index: 3;
}
.more_down div{
	width:80px;
	height: 30px;
	background-color:#f5f5f5;
	/*background-color:#ddd;*/

}
.more_down div:hover{
	/*background: #6cc1c8;*/
	background-color: #4a5f7c;
    color: #ffffff;
}
.file{
	width:570px;
	background: #fff; 
	overflow: hidden;
	display:none;
	position: absolute;
	top:204px;
	left:500px;
	z-index: 789;
	box-shadow: 0 0 10px rgba(0,0,0,0.35);
	border-radius: 5px;
}
.file li{
	width: 220px;
	height: 40px;
	line-height:40px;
}
.file .p15{
	margin-left: 15px;
}
.file_btn{
	width: 100%;
	height: 30px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
.file_submit{
	width: 150px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 2px;
	border-radius:5px; 
	margin: 0 auto;
	color:#fff;
	text-align: center;
	background-color: #6dc1c8;
	cursor: pointer;
}
#file_close{
	font-size: 16px;
	letter-spacing: 2px;
	color:#999;
	text-align: center;
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 30px;
    float: right;
}
#file_list{
	padding-left: 20px;
	padding-right: 20px;
	height:200px;
	margin-top: 10px;
}
#file_list_l{
	width: 42%;
	height:200px;
	float: left;
	margin-right: 15.7%;
	background:url("../../img/bjs.png");
	overflow-y: auto;
	overflow-x: hidden;
}
#file_list_r{
	width: 42%;
	height: 200px;
	float: left;
	background:url("../../img/bjs.png");
	overflow-y: auto;
	overflow-x: hidden;
}
#file_list_z{
	width: 15.7%;
	height: 240px;
	position: absolute;
	left:236px;
	top:25px;
}
.c_shift{
	margin:40px auto;
}
.shift{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	background-color: #cecece;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
	-moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
}
.shift:active{
	background-color: #6dc1c8;
}
.file_content{
	width: 100%;
	height: 40px;
}
.download{
	width: 150px;
	height: 30px;
	position: absolute;
	left:194px;
	bottom:10px;
	line-height: 30px;
	letter-spacing: 2px;
	border-radius:5px; 
	color:#fff;
	text-align:center;
	background-color: #4a5f7c;
	cursor:pointer;
    float: left;
    margin-left: 10px;
}
#download a{
	display: block;
}
.down_load a{
	color: #FFFFFF;
	display: block;
}
.into_frame{
	display:none;
	margin: 0 auto;
	min-width: 450px;
	min-height:210px;
	position: absolute;
	top: 204px;
    left: 626px;
	background-color: #f4f4f4; ;
	height: 200px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.35);
	z-index: 788;
}
.into_text{
	font-size: 14px;
	color: #888888;
	letter-spacing: 2px;
	margin-top:85px;
	margin-left:30px;
}
.into_frame_c{
	width: 100%;
	height: 50px;
	margin: 60px 40px
}
.into_frame span{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #999;
	float: right;
	font-size: 16px;
	cursor: pointer;
}
.down_load{
	width: 160px;
	height: 30px;
	line-height: 30px;
	border-radius:5px; 
	color:#fff;
	text-align:center;
	background-color: #4a5f7c;
	cursor:pointer;
    margin-left: 10px;
    float: left;
}
.down_load_file{
    position: relative;
    float: left;
    background: #6dc1c8;
    border-radius: 5px;
	width: 160px;
	height: 30px;
    color: #fff;
	cursor:pointer;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin-left: 30px;
}
.down_load_file input{
    position: absolute;
    right:-105px;
    top:5px;
    opacity:0;
}
.start_file{
	width: 100px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	letter-spacing: 2px;
	border-radius:5px; 
	color:#fff;
	text-align:center;
	background-color: rgba(74,95,124,0.35);
	cursor:pointer;
    margin-left: 10px;
    float: left;
}

.chongzhi_pwd{
	display: none;
	height: 300px;
	overflow: hidden;
	position: fixed;
	top: 220px;;
	left:35%;
	z-index: 3000;
	box-shadow: 0 0 10px #4a5f7c;
	background-color:#efefef ;
}
.chongzhi_pwd p em{
	color: #c26555;
	margin-left: 78px;
	margin-top: 4px;
	font-size: 12px;
	display:none;
}
.chongzhi_pwd p{
	margin: 0px 80px;
	font-size: 14px;
	height: 80px;
	color: #434960;
}
.chongzhi_pwd span{
	display: inline-block;
	width: 100px;
	height: 30px;
	margin-top: 70px;
	margin-left: 120px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	border-radius: 4px;
}
.chongzhi_pwd .save{
	background: #6dc1c8;

}
.chongzhi_pwd .quxiao{
	background: #b6b6b6;
}
.chongzhi_pwd input{
	width:320px;
	height:30px;
	margin-left: 20px;
}
.chongzhi_pwd input:nth-child(1){
	margin-top: 80px;
}
.chongzhi_pwd input:nth-child(2){
	margin-top: 60px;
}
.chongzhi_box{
	display: none;
	width:1433px;
	height:1400px;
	position: absolute;
	z-index: 2000;
	top: 0;
	left: 0;
}
.isActive_select,.isActive_select2{
	color: #888;
	position: relative;
}
.isActive_select input,.isActive_select2 input{
	background:#fff url(../../img/btn_dropmenu.png) no-repeat 100% 50%;
	background-size:30px;

}
.sxk .inputs .isActive_select_down{
	display: none;
	position: absolute;
	left: 65px;
	top: 32px;
	width: 260px;
	border: 1px solid #a9c9e2;
	/*background: #e8f5fe;*/
	background: #f5f5f5;
	z-index: 1;
}
.sxk .inputs .isActive_select_down li{
	width:260px;
	height:35px;
	margin:0;
	line-height: 35px;
	text-indent: 10px;
	color:#807a62;
}
.isActive_select_down li:hover{
	color: #fff!important;
	/*background: #6cc1c8;*/
	background: #4a5f7c;
}
/****员工批量生成二维码*****/
#creat_code{
	width: 400px;
	min-height: 200px;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.35);
	z-index: 789;
	border-radius: 5px;
	padding-bottom: 5px;
	display: none;
}
#code_close{
	position: absolute;
	top:0;
	right: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 24px;
	line-height: 40px;
	/*background-color: #999999;*/
	color: #999999;
	cursor: pointer;
}
#code_drop_down{
	outline: none;
	border: 1px solid #ccc;
	height: 30px;
	width: 170px;
	border-radius: 5px;
	background: #fff url(../../img/btn_dropmenu.png) no-repeat 100% 50%;
    background-size: 30px;
}
.creat_code{
	width: 350px;
	min-height: 150px;
	margin: 0 auto;
	margin-top: 40px;
}
.creat_code p{
	line-height: 150px;
	height: 0;
}
.creat_code li{
	height: 40px;
	line-height: 40px;
}
.p16{
	margin-left: 15px;
}
.code_save{
	width: 150px;
	height: 30px;
	background-color:#6dc1c8;
	margin: 0 auto;
	color: #fff;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	cursor:pointer;
}
/*******************筛选区域样式******************/
.screen_area{
	width: 740px;
	min-height: 530px;
	padding:0 20px 0 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.35);
	border-radius: 5px;
	position: absolute;
	top:84px;
	left: 239px;
	display: none;
	z-index: 10001;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.screen_area .screen_title{
	color: #888;
}
.screen_area .screen_title h4{
	margin: 0;
	height:40px;
	line-height:40px;
	font-weight: normal;
	color: #888;
}
.screen_area .screen_title .xuanzhong{
	height: 40px;
	line-height: 40px;
	margin-left: -20px;
}
.screen_area .xuanzhong .xuanzhong_p{
	float: left;
	margin-left: 20px;
	position: relative;
}
.screen_area .xuanzhong .xuanzhong_p label{
	color: #888;
}
.screen_area .xuanzhong .xuanzhong_p .icon_r{
	width: 30px;
	height: 30px;
	background-color: #6CC1C8;
	position: absolute;
	right: 0;
	top: 5px;
	color: #fff;
	line-height: 30px;
	text-align:center;
	border-radius: 0px 3px 3px 0;
	cursor: pointer;
}
.screen_area .xuanzhong .xuanzhong_p input{
	width: 140px;
	height: 30px;
	outline: none;
	line-height: 30px;
	margin-left: 10px;
	padding-left: 10px;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	color: #888;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.screen_area .screen_title .xian{
	border-bottom: 1px solid #cacaca;
}
.screen_area .screen_title .screen_close{
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #888;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	text-align: center;
}
.screen_area .input_s{
	height: 50px;
	line-height: 50px;
}
.screen_area .input_s .input_search,.screen_area .input_s .s_center,.screen_area .input_s .s_pitch{
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	float: left;
}
.screen_area .input_s .input_search{
	position: relative;
}
.screen_area .input_s .input_search span{
	position: absolute;
	right: 0;
	top:10px;
	color: #dcdcdc;
	font-size:30px; 
	cursor: pointer;
}
.screen_area .input_s .input_search input{
	width: 310px !important;
	height: 28px;
	line-height: 30px;
	outline: none;
	border: 1px solid #d7d7d7;
	border-radius:9px; 
	padding-left: 10px;
	padding-right: 30px;
	color: #888;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.screen_area .input_s .s_center{
	width: 80px;
	height: 50px;
}
.screen_area .input_s .s_pitch{
	width: 310px;
	height: 50px;
	color: #888;
}
.screen_area .screen_content{
	height: 360px;
}
.screen_area .screen_content .screen_content_r,.screen_area .screen_content .screen_content_z,.screen_area .screen_content .screen_content_l{
	float: left;
	height: 360px;
	overflow-y: auto;
}
.screen_area .screen_content .screen_content_r{
	width: 310px;
	background:url("../../img/bjs.png");
}
.screen_area .screen_content .screen_content_z{
	width: 80px;
	padding-top:90px;
	height: 270px;
}
.screen_area .screen_content .screen_content_l{
	width: 310px;
	background:url("../../img/bjs.png");
}
.screen_content .screen_content_l ul li:nth-child(odd){
	 background: #EDEDED;
 }
.screen_content .screen_content_l ul li:nth-child(even){
	background: #fff;
}
.screen_content .screen_content_r ul li:nth-child(odd){
	background: #EDEDED;
}
.screen_content .screen_content_r ul li:nth-child(even){
	background: #fff;
}
.screen_area .screen_content .screen_content_l li,.screen_area .screen_content .screen_content_r li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	cursor:pointer;
}
.screen_area .screen_content ul li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.screen_area .screen_que{
	width:160px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: #6dc1c8;
	color: #fff;
	border-radius:5px;
	cursor: pointer;
}
.screen_area .screen_footer{
	width: 100%;
	height: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.screen_area .screen_footer .gong{
	width: 160px;
	height: 30px;
	border-radius: 5px;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
}
.screen_area .screen_footer .gong span{
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	line-height: 30px;
	margin-bottom: 3px;
	margin-right: 6px;
}
.screen_area .screen_footer .left{
	background-color: #4a5f7c;
	float: left;
}
.screen_area .screen_footer .right{
	background-color: #6dc1c8;
	float: right;
}
/********会员筛选首页弹出框********/
.screen_wrapper{
    width:640px;
    // height: 330px;
    font-size: 14px;
    color: #888888;
    border-radius: 10px;
    background: #fff;
    padding: 0 10px 20px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    position: absolute;
    top:85px;
    left: 189px;
    display: none;
    z-index: 10001;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.screen_head{
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #e8e8e8;
}
.screen_head i{
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #999999;
    text-align: right;
    float: right;
    line-height: 30px;
    cursor: pointer;
}
.contion{
    max-height: 410px;
    margin-top: 20px;
    padding: 0 85px;
    /*overflow-y: auto;*/
	position: relative;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.contion:after{
	content: ",";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
.contion label{
    width: 84px;
    text-align: right;
    display:inline-block;
}
.contion .contion_input{
	width: 440px!important;
	height: 30px!important;
	margin-bottom: 20px;
	position: relative;
}
.contion .contion_input .icon_r{
	width: 30px;
	height: 30px;
	position: absolute;
	top:0px;
	right: 0px;
	background-color: #6dc1c8;
	color: #fff;
	text-align: center;
	line-height:30px;
	border-radius:0px 3px 3px 0px;
	cursor: pointer;
}
.contion .input{
	width: 340px!important;
	height: 30px!important;
	margin-left: 10px;
	padding-left: 10px;
	border: 1px solid #d7d7d7;
	border-radius:5px;
	outline: none;
	color: #888888;
	background-size: 30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.contion .select{
    width: 340px!important;
    height: 30px!important;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid #d7d7d7;
    border-radius:5px;
    outline: none;
    color: #888888;
    background:url("../../img/btn_dropmenu.png")no-repeat 100% 50%;
    background-size: 30px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.contion  .textarea{
	display: inline-flex;
}
.contion .textarea textarea{
	height: 80px;
	width: 340px;
	outline: none;
	margin-left: 10px;
	margin-bottom: 20px;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
	border-radius: 7px;
}
.contion .short_input{
    width:150px;
    height: 30px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
	background:url("../../img/btn_dropmenu.png")no-repeat 100% 50%;
	background-size: 30px;
    outline: none;
    color: #888888;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.contion .short_input_date{
	width:150px;
	height: 30px;
	margin-left: 10px;
	padding-left: 10px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	outline: none;
	color: #888888;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.contion .jian{
	width: 20px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
}
.contion span{
	position: absolute;
	right: 15px;
	top: 5px;
}
.contion .first_unit{
	position: absolute;
	right: 204px;
	top: 5px;
}
.text_l{
    position: absolute;
    top: 6px;
    left: 225px;
}
.text_r{
    position: absolute;
    top: 6px;
    right: 10px;
}
.contion .laydate-icon{
    padding-right: 0;
}
.contion s{
    text-decoration: none;
    margin-left: 10px;
}
.short_bg{
    background:url("../img/btn_dropmenu.png")no-repeat 100% 50%;
    background-size: 27px;
}
.ensure{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
}
.ensure span{
    width: 140px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    background: #6dc1c8;
    color: #fff;
    cursor: pointer;
}
.screen_tip{
	margin-left: 10px;
	line-height: 30px;
	font-size: 13px;
	color: #888;
}
.address_container{
	background: #f5f5f5;
	margin-left: 123px;
	border: 1px solid #ddd;
	width:420px;
	overflow: hidden;
	display: none;
}
.conpany_msg .address_nav_box{
	height: 30px;
	margin-bottom: 0;
}
.address_nav{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.address_nav a{
	display: inline;
	float: left;
	width: 20%;
	text-decoration: none;
	color: #888;
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	cursor: pointer;
}
.conpany_msg .address_content{
	margin-bottom: 0;
	padding:10px 20px;
}
.address_content dl{
	line-height: 2;
	clear: both;
	margin-bottom: 0;
}
.address_content dl a{
	display: inline-block;
	text-decoration: none;
	line-height: 25px;
	color: #888888;
	white-space: nowrap;
	padding: 0 10px;
}
.conpany_msg .dl_box{
	margin-bottom: 0;
	display: none;
}
.address_nav .address_liActive{
	background: #fff;
	color:#6dc1c8;
}
.address_content .current{
	background: #6dc1c8;
	color: #fff;
}

.con_table .title span:not(.icon-ishop_8-03){
	cursor: pointer;
}
.input_box{
	position: relative;
}
.conpany_msg .street{
	background:#FFFFFF;
	width:300px;
	color: #888888;
	border: 1px solid #f5f5f5;
}
.dl_box .enter{
	display: inline-block;
	width: 50px;
	height: 25px;
	line-height: 25px;
	margin-left: 20px;
	text-align: center;
	background: #6dc1c8;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.drop{
	position: absolute;
	z-index: 100;
	right: 0;
	top:-5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('../../img/btn_dropmenu.png') no-repeat 100% 50%;
	background-size: 30px 30px;
}
#show_map{
	width: 420px;
	height: 300px;
	margin: -10px -20px;
}
/*****编辑权限的样式*******/
.power_table table{ 
	border-collapse:collapse;
	color: #434960;
}
.power_table tbody tr{
    height: 70px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f4f4f4;
    text-align: center;
    color: #888;
}
.power_table tbody tr .action_name{
	min-width: 190px;
	line-height: 50px;
	background-color: #ededed;
	margin-top: 10px;
	margin-bottom: 10px;
}
.power_table tbody tr .action_name ul,.power_table tbody tr .modify_options ul{
	margin-left:-10px;
    padding:10px 10px 0 10px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.power_table tbody tr .action_name ul li,.power_table tbody tr .modify_options ul li{
	min-width:50px;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 0 10px 0 10px;
	color: #AAA;
	cursor: pointer;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
}
.power_table tbody tr .action_name ul li.active,.power_table tbody tr .modify_options ul li.active{
	border:1px solid #6CC1C8;
	color: #fff;
	background-color: #6CC1C8;
}
.power_table tbody tr .action_name ul li.die,.power_table tbody tr .modify_options ul li.die{
	border:1px solid #6CC1C8;
	color: #fff;
	background-color: #6CC1C8;
	opacity: 0.4;
}
.power_table tbody tr .modify_options{
	min-width: 470px;
	min-height: 50px;
	margin-left: 20px;
	margin-right: 10px;
	background-color: #ededed;
	margin-top: 10px;
	margin-bottom: 10px;
}
.filter_condition {
	width: 100%;
	height: 60px;
}
#simple_filter .filter_condition ul li{
	width:16.6666%;
}
.filter_condition ul li {
	width: 16.6666%;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	float: left;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
}
.filter_condition ul a {
	display: block;
	color: #888888;
}
.filter_condition ul a:hover{
	color: #6dc1c8;
	border-top: 2px solid #6dc1c8;
}
.filter_condition .condition_active {
	color: #6dc1c8;
	border-top: 2px solid #6dc1c8;
}
.sex_select {
	display: none;
	position: relative;
	z-index: 100;
	width: 340px;
	max-height: 200px;
	overflow-y: scroll;
	background: #f5f5f5;
	margin-left: 93px;
	border: 1px solid #ddd;
}
.sex_select li {
	text-indent: 10px;
	height: 25px;
	line-height: 25px;
}
.sex_select li:hover {
	color: #FFFFFF;
	background: #4a5f7c;
}
.age_l{
	display: none;
	height: 100px;
	overflow-y: scroll;
	position: absolute;
	top:30px;
	left: 93px;
	z-index: 100;
	width: 150px;
	text-indent: 10px;
	background: #f5f5f5;
	border: 1px solid #ddd;
}
.age_r{
	display: none;
	height: 100px;
	overflow-y: scroll;
	position: absolute;
	top:30px;
	right: 5px;
	z-index: 100;
	text-indent: 10px;
	width: 150px;
	background: #f5f5f5;
	border: 1px solid #ddd;
}
.age_r li:hover,.age_l li:hover{
	background: #4a5f7c;
	color: #FFFFFF;
}
.filter_group{
	display: none;
	position: absolute;
	top:30px;
	left: 93px;
	width: 340px;
	background:#f5f5f5;
	border: 1px solid #ddd;
}
.filter_group input{
	width: 94%;
	height: 30px;
	color: #888888;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #EAE2E2;
	margin: 3px 3px;
	outline: none;
}
.filter_group ul li{
	cursor: pointer;
	text-indent: 10px;
	height: 30px;
	line-height: 30px;
}
.filter_group ul {
	width: 100%;
	height: 120px;
	overflow-y: scroll;
}
.filter_group ul li:hover{
	background: #6dc1c8;
	color: #FFFFFF;
}
.filter_group .group_active{
	background: #4a5f7c;
	color: #FFFFFF;
}
