*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
	text-decoration: none;
    color:#6cc1c8;
}
a:focus{
	outline: none;
}
html,body{
	height: 100%;
}
body{
	font-size: 14px;
	font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar{
	min-width: 1230px;
	width: 100%;
	height: 80px;
	background-color:#4a5f7c;
	border-bottom:1px solid transparent;
	position: fixed;
	z-index: 10004;
}
.navbar .logo{
	width:85px;
	height:80px;
	background:url(../../img/img_logo.png) no-repeat;
	background-position:5px 5px;
	background-size: 75px;
	float: left;
	cursor: pointer;
}
.navbar .floot-r{
	float: right;
}
.home_logo_box{
	float: left;
	width: 200px;
	height: 80px;
	padding-top: 10px;
	box-sizing: border-box;
}
.home_logo_box img{
	width: 100%;
	border-left: 2px solid #eee;
}
.navbar .floot-r li{
	float: left;
	margin-right: 20px;
	margin-top:20px;
	color:#6cc1c8;
	position: relative;
	height: 60px;
}
.navbar .floot-r li a{
	display: block;
	height: 40px;
	line-height: 39px;
	width: 40px;
	font-size: 40px;
}
.navbar .floot-r li p{
	position: absolute;
	top:3px;
	right: 3px;
	font-size: 11px;
	display: block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	border-radius:12px;
	color: #4a5f7c;
	background-color:#f3f3f3;
	cursor: pointer;
}
.navbar .floot-r li .aixiu_code{
	width: 150px;
	position: absolute;
	top: 60px;
	left: -56px;
	display: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	border-radius: 7px;
}
.navbar .floot-r li .aixiu_code i{
	position: absolute;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    top: -14px;
    right: 66px;
}
#aixiu_code{
	height: 60px;
}
#aixiu_code:hover .aixiu_code{
	display: block;
}
.navbar .floot-r li .aixiu_code img{
	width: 100%;
	border: 2px solid #ccc;
	border-radius: 7px;
}
.navbar .floot-r li a:hover{
	color: #7ee8f1;
}
.navbar .floot-r li a:active{
    color: #64a4b7;
}
.navbar .floot-r li.search{
	width: 280px;
	height: 40px;
	border-radius: 5px;
	background-color: #434960;
	position: relative;
}
.navbar .floot-r li.search i{
	position: absolute;
    right: 0;
    top:0px;
    font-size: 40px;
    cursor: pointer;
}
.navbar .floot-r li.search i:hover{
	color: #7ee8f1;
}
.navbar .floot-r li.search i:active{
	color: #64a4b7;
}
.navbar .floot-r li.search input{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding-left: 5px;
	background-color: #434960;
	outline: none;
	border: 1px solid #434960;
	color: #fff;
	font-size: 14px;
	color:#888;
}
.navbar .floot-r li.search select{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding-left: 5px;
	background-color: #434960;
	outline: none;
	border: 1px solid #434960;
	color: #fff;
	font-size: 14px;
	color:#888;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background-image: url(../../img/icon_list_down.png);
	background-position: 96% center;
	background-repeat: no-repeat;
}
.navbar .floot-r li.search input:focus{
	border-color: #1ab394 !important;
}
#img img{
	border-radius: 67px;
	border:2px solid #71cbd3;
}
.navbar .person_menu{
	position: absolute;
	right: 10px;
	top: 82px;
	width: 130px;
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
    display: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	z-index: 10004;
}
.navbar .person_menu span{
	display: inline-block;
	font-size: 40px;
	vertical-align: middle;
	width: 40px;
	margin-left: -10px;
	height: 40px;
}
.navbar .person_menu a{
	display: block;
	color: #888;
}
.navbar .person_menu div{
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	position: relative;
}
.navbar .person_menu i{
	position: absolute;
	border:7px solid transparent;
	border-bottom-color:#fff; 
	top: -14px;
	right: 25px;
}
.navbar .person_menu div:hover{
	background-color: #e8e8e8 !important;
}
.sidebar{
	width: 200px;
	background-color: #434960;
	height:100%;
	position:absolute;
	z-index: 2;
	box-shadow: 0px 2px 3px #3a3f51 inset;
	overflow-y:auto;
}
.sidebar ul{
	margin-top:81px;
	border-top: 1px solid #3a3f51;
}
.sidebar .btn{
	position: absolute;
	top:318px;
	left: 200px;
	z-index: 10;
	font-size:16px;
	color: #333848;
	cursor: pointer;
}
.h1{
	-moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
	background-color:#3a4054 !important;
}
.sidebar dl{
	display: none;
}
.sidebar dd{
	-moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
	height: 50px;
	text-align: center;
	color: #fff;
	line-height: 50px;
	background-color: #333848;
}
.sidebar dd:hover{
	background-color:#434960;
}
.sidebar dd a{
	display: block;
	color: #fff;
}
.sidebar dd a.t{
	color:#6cc1c8;
}
.sidebar dl .log b{
	display: inline-block;
	padding-right: 10px;
	width: 34px;
	height: 14px;
}
.sidebar .log i{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 10px;
	color: #6cc1c8;
}
.sidebar dl ul{
	display: none;
}
.sidebar dl li{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background-color: #333848;
}
.sidebar dl li:hover{
	background-color:#434960;
}
.sidebar dl li a{
	display: block;
	color: #fff;
}
.sidebar dl span{
	display: inline-block;
	padding-right: 10px;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
.sidebar .menu_t {
	-moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
	width: 200px;
	height: 50px;
	line-height:50px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
}
.sidebar .menu_t:hover{
	background-color:#4a5f7c !important;
}
.sidebar .menu_t i{
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 50px;
	color: #6cc1c8;
	vertical-align:middle;
	margin: 0 5px 0 30px;
}
.sidebar .menu_t span{
	color: #6cc1c8;
	margin-left: 10px;
}
.pro_parent{
	position: relative;
	font-weight: normal;
}
.pro_parent .pro{
	position: absolute;
	display: block;
	top:-11px;
	right: -28px;
	color:#6cc1c8;
	font-size: 12px;
	font-style: italic;
	width: 24px;
	height: 13px;
	line-height: 9px;
}
.quchu{
	font-weight: normal;
}
