body{
    margin-top:81px;
    font-family: 微软雅黑;
    margin-left: 10px;
}
/*input样式修改*/
.conpany_msg input{
    background-color: #dfdfdf;
    color: #939393;
}
/*a标签样式*/
a, a:link,a:hover,a:visited,a:active{
    color: #434960;
}
/*终止活动*/
#stop{
    background-color: #bdbdbd;
    float: left;
    margin-left: 20px;
}
/*通知相关人、关闭*/
.corpadd_oper_btn  li{
    float: right;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 12px;
}
/*活动内容区*/
.main{
    margin-top: 21px;
    width: 100%;
}
.left{
    float: left;
    width: 39%;
    background-color: #fcfcfc;
    margin-right: 10px;
    height: 222px;
    padding: 20px 61px 23px 61px;
}
.left_top{margin-right: 80px;margin-left: 80px;height: 120px;text-align:center;}
.left_bottom{margin-top: 18px;}
#TheTarget,#TheCover{
    font-size: 22px;
    color: #52a5ac;;
}
.the_target{
    float: left;
}
.the_tover{
    float: right;
}
.the_target_content{
    clear: both;
    float: left;
    font-size: 12px;
    margin-left: 7px;
}
.the_tover_content{
    float: right;
    font-size: 12px;
    margin-right: 3px;
}
.right{
    float: left;
    width: 58%;
    background-color: #fcfcfc;
    height: 222px;
    padding-top: 28px;
    padding-left: 40px;
    position: relative;
}
#rightMore{
    position: absolute;
    top: 9px;
    right: 9px;
    width: 60px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;;
    background-color: #fcfcfc;
    color: #888888;
    text-align: center;
}
.right li{
    margin-bottom: 34px;
}
.right li span:first-child {
    margin-left: 30px;
}
/*二级按钮*/
.do{
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
    width: 100px;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    background-color:#6dc1c8 ;
    color: white;
    border-radius: 5px;
    text-align: center;
}
#choose {
    float: right;
    width: 80px;
    height: 30px;
    background-color: white;
    color: black;
    margin-right: 28px;
}
/*筛选区域*/
#screening {
    width: 98%;
    clear: both;
    display: none;
}
#sxk{
    display: block;
}

/*人员区*/
.people{
    clear: both;
    background-color: white;
    width: 98%;
    height: 319px;
    overflow-y:auto;
    overflow-x:hidden;
    padding: 0 20px 20px 20px;
}
.people::-webkit-scrollbar{
    width: 9px;
    background-color: white;
    border-radius: 5px;
}
.people::-webkit-scrollbar-thumb{
    width: 10px;
    height: 200px;
    border-radius: 10px;
    background-color: #dfdfdf;
}
.people div{line-height: 50px; color: #434960;font-size: 14px;float: left;}
/*标题*/
.people_title{ float:left;border-bottom: 1px solid #d7d7d7;width: 100%}
.people_title_order{width: 31px;margin-right:4%}
.people_title_name{width:58px;margin-right: 4%;text-align: center;}
.people_title_num{width: 58px;margin-right: 5%;text-align: center;}
.people_title_area{width:58px;margin-right: 7%;text-align: center;}
.people_title_shop{width: 126px;height:50px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-right:7%;text-align: center;}
.people_title_plan{width: 330px;margin-right:1%;;text-align: center;line-height: 50px;position: relative;}
.undone{position: absolute;left:20px;line-height: 50px;clear:both;height: 8px;width: 270px;background-color: #c1c1c1;margin-right: 27px;border-radius: 50px;position: absolute;top:21px}
.done{height: 8px;width: 50%;background-color: #7bc7cd;border-radius: 50px;}
.people_title_plan span{position: absolute;left:316px}
#peopleError{margin: 120px auto;display: none;}
#peopleError div{width: 100%;text-align: center;}