*{
    box-sizing: border-box;
}
#page-wrapper{
    /*padding-left: 20px;*/
    padding-right: 20px;
    position: relative;
}
.pre_title{
    padding-left: 0px;
}
#header{
    width: 100%;
    height: 110px;
    color:#fff;
    background: #637ea4;
}
.header_l{
    float: left;
    width:41%;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
}
.header_r{
    float: left;
    width:13%;
    height: 100%;
    position: relative;
}
.header_sm{
    float: left;
    width:13%;
    height: 100%;
}
.header_m{
    float: left;
    width:20%;
    height: 100%;
}
.title_l{
    font-size: 20px;
    display: inline-block;
    /* max-width: 262px; */
    max-width: 80%;
    /* height: 40px; */
    /* line-height: 39px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.title_action{
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}
.action_tip{
    display:none;
    position: absolute;
    top:100%;
    left: 0;
    width: 110px;
    background: #fff;
    z-index:99;
    -webkit-box-shadow: 0 0 10px #999;
    -moz-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}
.action_tip>p{
    padding: 9px 10px;
    color:#4a5f7c;
    font-size: 12px;
    margin: 0;
}
.action_tip>p:hover{
    background: #e0e6ef;
}
.time{
    padding: 10px 0 10px 0;
    color:#dee2e8;
}
.active_name{
    color:#dee2e8;
}
.name_m{
    display: inline-block;
    height: 14px;
    position: relative;
    top:2px;
    border-right: 1px solid #dee2e8;
    margin-left: 5px;
    margin-right: 5px;
}
.header_sm,.header_m{
    position: relative;
}
.header_sm_c,.header_m_c{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.p_3{
    text-align: center;
    color: #dee2e8;
}
.p_2{
    text-align: center;
    font-size: 18px;
    margin-top:10px;
    white-space:nowrap;
    color:#41c7db;
}
#header .btn{
    color:#fff;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    width: 140px;
    height: 30px;
    background: #41c7db;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-35%,-50%);
    -webkit-transform:  translate(-35%,-50%);
    -moz-transform:  translate(-35%,-50%);
    -ms-transform:  translate(-35%,-50%);
    -o-transform: translate(-35%,-50%);
}
/*导航*/
#nav{
    height: 50px;
    background: #587297;
    padding: 10px;
}
.nav_btn{
    float: left;
    /*width: 15.6%;*/
    width: 14%;
    height:30px;
    color:#fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #dee2e8;
}
.nav_action{
    background: #4a5f7c;
    color: #41c7db;
}
/*进度分析*/
.progress_nav{
    height: 50px ;
    padding:10px  0px ;
    border-bottom: 1px dotted #aaa ;
}
/*.progress_nav div:first-child{*/
    /*background: #41c7db;*/
    /*color:#fff;*/
/*}*/
.progress_nav_btn{
    cursor: pointer;
    float: left;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.progress_nav_btn_action{
    background: #41c7db;
    color:#fff;
}
/*任务详细*/
.task_detail{
    padding: 10px 0;
}
.task_block {
    float: left;
    width: 32.7%;
    height: 260px;
    background: #fff;
    position: relative;
}
.task_block_lg{
    float: left;
    width: 66.35%;
    position: relative;
    height: 260px;
    background: #fff;
}
.task_blank{
    float: left;
    width:0.95% ;
    height:260px ;
}
.task_detail_l {
    padding: 15px 20px;
}
.task_detail_l>div{
    overflow: hidden;
    margin-top: 10px;
}
.task_title{
    width:60px ;
    float: left;
}
.task_title_describe{
    margin-left:70px;
}
.doing{color:#41c7db}
.count{
    color:#41c7db;
    margin-right: 5px;
}
.task_list{
    color:#41c7db;
    margin-left: 5px;
    cursor: pointer;
}
#page-wrapper .chart_title{
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
}
.chart_count{
    overflow: hidden;
}
.chart_count>div{float: left;height: 65px}
.blank_2{
    width: 8%;
}
.blank_3{
    width: 5%;
}
.chart_count_l{
    width: 21.7%;
    position: relative;
}
.chart_count_l>div,.chart_count_m>div,.chart_count_r>div{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.chart_count_l>div>p,.chart_count_m>div>p,.chart_count_r>div>p{
    white-space: nowrap;
    text-align: center;
}
.chart_count_r{
    width: 21.7%;
    position: relative;
}
.chart_count_m{
    width: 30.6%;
    position: relative;
}
#chart_pie,#customer_pie,.chart_h{
    height: 165px;
}
.shoppers{
    color:#5f8bc8;
}
.covers{
    color:#41c7db;
}
#chart_bar{
    width:100%;
    height: 231px;
}
.task_box p {
    margin-bottom: 0 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.task_box {
    overflow: hidden;
    margin-bottom: 10px;
}
.list_box{
    position: relative;
    background: #fff;
    padding: 15px 20px;
}
.listLoading_box{
    display: none;
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.2);
}
.listLoading_box div{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    z-index: 101;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
}
#analyze_wrap .sxk{
    background: #fff;
}
#analyze_wrap  .sxk input{
    border: 1px solid #d7d7d7;
}
#analyze_wrap .sxk input::-webkit-input-placeholder{ font-size: 13px;color:#aaa}
#analyze_wrap .sxk input:-moz-placeholder{ font-size: 13px;color:#aaa}
#analyze_wrap .sxk input::-moz-placeholder{ font-size: 13px;color:#aaa}
#analyze_wrap .sxk input:-ms-input-placeholder{ font-size: 13px;color:#aaa}
.add_store_box,.join_store_box,.action_over_box,.modify_time_box,.detailBox{
    display: none;
    position: fixed;
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:-10px;
    bottom: 0;
    right: 0;
    z-index: 1000;
}
.modify{
    width: 360px;
    height: 180px;
    position: fixed;
    background: #fff;
    border-radius: 5px;
    top:50%;
    left: 50%;
    padding: 20px 20px 15px 20px;
    margin-top: -90px;
    margin-left: -180px;
    /*transform: translate(-50%,-50%);*/
    /*-webkit-transform:  translate(-50%,-50%);*/
    /*-moz-transform:  translate(-50%,-50%);*/
    /*-ms-transform:  translate(-50%,-50%);*/
    /*-o-transform: translate(-50%,-50%);*/
}
.action_over{
    width: 300px;
    height: 170px;
    position: fixed;
    background: #fff;
    border-radius: 5px;
    top:50%;
    left: 50%;
    padding: 20px 20px 15px 20px;
    margin-left: -150px;
    margin-top: -85px;
    /*transform: translate(-50%,-50%);*/
    /*-webkit-transform:  translate(-50%,-50%);*/
    /*-moz-transform:  translate(-50%,-50%);*/
    /*-ms-transform:  translate(-50%,-50%);*/
    /*-o-transform: translate(-50%,-50%);*/
}
.action_over>p:first-child{
    margin-bottom: 25px;
}
.action_footer{
    margin-top: 25px;
    overflow: hidden;
}
.action_footer_l{
    float: left;
    width: 90px;
    height: 25px;
    background: #ccc;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.action_footer_r{
    cursor: pointer;
    float: right;
    width: 90px;
    height: 25px;
    background: #df7444;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
}
.action_over>p{
    text-align: center;
    margin: 0;
}
.add_store,.join_store,.vip_status_store{
    width: 820px;
    height: 440px;
    position: fixed;
    background: #fff;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    top:50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -410px;
    /*transform: translate(-50%,-50%);*/
    /*-webkit-transform:  translate(-50%,-50%);*/
    /*-moz-transform:  translate(-50%,-50%);*/
    /*-ms-transform:  translate(-50%,-50%);*/
    /*-o-transform: translate(-50%,-50%);*/
}
.add_bar,.join_bar{
    color:#5f8bc8;
    margin-right: 5px;
}
.add_header,.join_header{
    position: relative;
}
.add_header_l{
    margin-right: 95px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d4d8e1;
}
.join_header_l{
    padding-bottom: 5px;
    border-bottom: 1px solid #d4d8e1;
}
.modify_l{
    padding-bottom: 5px;
    border-bottom: 1px solid #d4d8e1;
}
.modify_ipt{
    margin-top: 10px;
    padding-left: 20px;
    overflow: hidden;
}
.modify_ipt>label{
    float: left;
    height: 30px;
    width: 60px;
    line-height: 30px;
}
.modify_ipt>input{
   float: right;
    width: 230px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    color: #888;
}
.modify_footer{
    clear: both;
    margin-top: 20px;
}
.modify_footer_l{
    float: left;
    width: 90px;
    height: 25px;
    background: #c4c8d4;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.modify_footer_r{
    float: right;
    width: 90px;
    height: 25px;
    background: #41c7db;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.add_header_r{
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 25px;
    background: #637ea4;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
#add_store_tb,#join_store_tb，#vip_status_tb{
    margin-top:10px;
}
#add_store_tb,#join_store_tb,#showList,#showList2，#vip_status_tb{
    /*margin-top: 10px;*/
    text-align: center;
    width: 100%;
    max-height:330px;
    border-spacing: 0;
    border-collapse: collapse;
}
#add_store_tb thead,#join_store_tb thead,#vip_status_tb thead{
    background: #efefef;
}
#add_store_tb th,#join_store_tb th,#vip_status_tb th{
    height: 30px;
    font-weight: normal;
    text-align: center;
}
#showList2,#showList3,#vip_status_tb{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
#join_store_tb,#vip_status_tb{
    margin-top: 10px;
}
.customerDetails_tableBox{
    width: 100%;
    max-height: 330px;
    overflow-y: auto;
}
.customerDetails_thead{
    width: 100%;
    background: #efefef;
    text-align: center;
}
.customerDetails_thead tr{height: 30px;line-height: 30px}
.customerDetails_thead tbody tr:nth-child(odd){background: #ffffff}
.customerDetails_thead thead th{ font-weight: normal;text-align: center}
.customerDetails_thead thead th:nth-child(1){width:10%}
.customerDetails_thead thead th:nth-child(2){width:15%}
.customerDetails_thead thead th:nth-child(3){width:25%}
.customerDetails_thead thead th:nth-child(4){width:25%}
.vip_status_btn{cursor: pointer}
#add_store_tb thead th:nth-child(1),#showList tbody td:nth-child(1),#showList2 tbody td:nth-child(1){width: 20%;text-align: center;}
#add_store_tb thead th:nth-child(2),#showList tbody td:nth-child(2),#showList2 tbody td:nth-child(2){width: 40%;text-align: center;}
#add_store_tb thead th:nth-child(3),#showList tbody td:nth-child(3),#showList2 tbody td:nth-child(3){width: 40%;text-align: center;}
#vip_status_tb thead th:nth-child(1),#showList3 tbody td:nth-child(1){width: 14%;text-align: center;}
#vip_status_tb thead th:nth-child(2),#showList3 tbody td:nth-child(2){width: 24%;text-align: center;}
#vip_status_tb thead th:nth-child(3),#showList3 tbody td:nth-child(3){width: 24%;text-align: center;}
#vip_status_tb thead th:nth-child(4),#showList3 tbody td:nth-child(4){width: 38%;text-align: center;}
#showList_box,#showList_box2,#showList_box3{
    max-height: 300px;
    overflow-y: auto;
}
#add_store_tb td,#join_store_tb td,#showList td,#showList2 td,#showList3 td{
    height: 30px;
}
#add_store_tb tbody tr:nth-child(even),#join_store_tb tbody tr:nth-child(even),#showList tbody tr:nth-child(even),#showList2 tbody tr:nth-child(even),#showList3 tbody tr:nth-child(even){
    background: #efefef;
}
.detailBox .s4{
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
}
.add_footer,.join_footer{
    margin-top: 20px;
    overflow: hidden;
    height: 25px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 10px;
}
.add_footer_l{
    float: left;
    width: 90px ;
    height: 25px;
    background: #c4c8d4;
    text-align: center;
    line-height: 25px;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}
.add_footer_r{
    float: right;
    width: 90px ;
    cursor: pointer;
    height: 25px;
    background: #41c7db;
    text-align: center;
    line-height: 25px;
    color:#fff;
    border-radius: 5px;
}
.join_footer_btn,.vip_status_btn{
    width: 90px ;
    height: 25px;
    position: absolute;
    top:50%;
    left:50%;
    background: #c4c8d4;
    text-align: center;
    line-height: 25px;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#customer{
    display:none;
    overflow: hidden;
    min-height: 370px;
}
/*#customer>div{*/
    /*float: left;*/
    /*width: 32.7%;*/
    /*height:260px;*/
    /*background: #fff;*/
    /*margin-right: 0.95%;*/
    /*margin-bottom: 0.95%;*/
/*}*/
#customer>div:nth-child(3n){
    margin-right: 0 !important;
}
.peopleContent li:nth-child(even){
    background: #efefef;
}
.action_detail_box{
    margin-top: 10px;
    color:#637ea4;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
}
.action_detail_box span{
    display: inline-block;
    margin-right: 10px;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.action_detail_box .s7{
    float: right;
}
.action_detail_box .s5{
    float: right;
    width: 200px;
    margin-top: 5px;
    margin-right: 10px;
    height: 10px;
    background: #c1c1c1;
    position: relative;
}
.action_detail_box .s6{
  position: absolute;
    left: 0;
    top:0;
    height: 10px;
    background: #62cddd;
    width: 50%;
}
#customer .count1{
   float: left;
    width: 50%;
    height: 65px;
}
#customer .count1 p{
    text-align: right;
    padding-right:15px;
    margin-bottom: 10px;
}
#customer .count1 ._p{color:#41c7db}
#customer .count2{
    float: left;
    width: 50%;
    height: 65px;
}
#customer .count2 p{
    text-align: left;
    padding-left:15px;
    margin-bottom: 10px;
}
/*活动设置*/
#activitySet{
    width: 660px;
    height: 560px
}
.activitySet{
    max-height: 470px;
    overflow-y: auto;
    padding-right: 20px;
}
.activitySet_header{
 margin-bottom: 35px;
    text-align: center;
}
.activitySet_content{
    border-bottom: 1px dashed #ddd;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.activitySet_content>div{
    margin-bottom: 5px;
}
.left5px{
    margin-left: 5px;
}
#activitySet .activitySet_header p{
    text-align: center;
}
.activitySet_header h3{
    font-weight: normal;
    color: #4a5f7c;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.colorAaa{
    color: #AAAAAA;
}
.width230{
    width: 230px;
}
.width52{
    width: 52px;
    margin-right: 20px;
}
.width65{
    width: 65px;
    margin-right: 6px;
}
.activitySet span{
    font-size: 13px;
    display: inline-block;
}
.color6cc1c8{
    color: #6cc1c8;
    cursor: pointer;
}
.activitySet_content p{
    word-break: break-all;
    width: 548px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#activitySet .modify_footer_l{
    clear: both;
    float: right;
    margin-top: 30px;

}
.activitySet_detail{
    padding-bottom: 10px;
}
.activitySet .icon-ishop_8-03{
    vertical-align: text-top;
}
.detailsWrap{
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 10px 0;
}
.wrapperContent{
    border-top: 1px dashed #ddd;
    overflow: hidden;
    padding-top: 10px;
    margin-top: 10px;
    display:  none;
}
.activitySet .ellipsis-4{
    width: 210px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.floot-l{
    float: left;
}
.wrapperContent>div{
    width: 50%;
    padding-bottom: 10px;
    float: left;
}
.ContentRight>div{
    padding-left: 5px;
    border-left:1px dashed #ddd;
}
.marginBottom10px{
    margin-bottom: 10px;
}
.activitySet_footer{
    width: 620px;
    border-top: 1px solid #ddd;
    text-align: center;
}
.activitySet_footer span{
    margin-top: 10px;
    display: inline-block;
    width: 90px;
    height: 25px;
    background: #c4c8d4;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
/*参与会员列表*/
#activityVipList{
    width: 820px;
    height: 440px;
}
.vip_list{
    height: 339px;
}
.vip_list_title{
    background-color: rgb(239, 239, 239);
    height: 30px;
    line-height: 30px;
    color: #4a5f7c;
}
.vip_list_title .per-5,.vip_list li .per-5{
    width: 5%;
}
.vip_list_title .per-10,.vip_list li .per-10{
    width: 10%;
}
.vip_list_title .per-15,.vip_list li .per-15{
    width: 15%;
}
.vip_list_title span{
    display: block;
    float: left;
    width: 19%;
    text-align: center;
}
.goodsListWrap .vip_list li{
    height: 50px;
    line-height: 50px;
}
.goodsListWrap .vip_list li span{
    height: 50px;
}
.vip_list_ul{
    height: 300px;
    overflow-y:scroll;
}
.vip_list li{
    height: 30px;
    line-height: 30px;
    color: #4a5f7c;
}
.vip_list li span{
    display: block;
    float: left;
    width: 19%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.vip_list li:nth-child(even){
    background-color: #efefef;
}
/*报名会员*/
#page_signUp .people_area li,#online_apply .people_area li{
    height: 40px;
    line-height: 40px;
}
#page_signUp .people_area li:nth-child(even),#online_apply .people_area li:nth-child(even){
    background-color: #efefef;
}
#page_signUp .people_area span,#online_apply .people_area span{
    display:block;
    float: left;
    text-align: center;
}
#page_signUp .people_area li span,#online_apply .people_area li span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
#page_signUp .people_area li span:nth-child(1){
    width: 5%;
}
#page_signUp .people_area li span:nth-child(3),#page_signUp .people_area li span:nth-child(4){
    width: 14%;
}
#page_signUp .people_area li span:nth-child(2),#page_signUp .people_area li span:nth-child(5),#page_signUp  .people_area li span:nth-child(6){
    width: 10%;
}
#page_signUp .people_area li span:nth-child(7){
    width: 33%;
}
.online_store_class .people_area li span:nth-child(1),.online_vip_class .people_area li span:nth-child(1){
    width: 5%;
}
.online_vip_class .people_area li span:nth-child(n+2){
    width: 9%;
}
.online_store_class .people_area li span:nth-child(n+3):nth-child(-n+4){
    width: 14%;
}
.online_store_class .people_area li span:nth-child(2),.online_store_class .people_area li span:nth-child(5),.online_store_class .people_area li span:nth-child(6){
    width: 10%;
}
.online_store_class .people_area li span:nth-child(7){
    width: 33%;
}
#online_apply .screen_select{
    top: 30px;
    right: 0;
    width: 180px;
    left: auto;
}
#online_apply .screen_select li{
    margin: 0;
}
#online_apply .inputs li{
    position: relative;
}
#online_apply .inputs li input{
    width: 180px;
}
#online_apply .inputs li .select_input{
    background-image: url('../img/icon_list_down.png');
    background-position: 97% center;
    background-repeat: no-repeat;
    padding-right: 25px;
}
.people_area .sign_percent{
    width:70%;
    background-color: #e4e4e4;
    height: 10px;
    border-radius: 5px;
    margin-top: 14px;
    margin-right: 5%;
}
.people_area .sign_percent div{
        background-color: #61ccdc;
        height: 10px;
        border-radius: 5px;
    }
.btn_page_signUp{
    color: #5f8bc8;
    cursor: pointer;
}
/*店铺报名会员列表*/
#table_signUp .modify{
   width: 850px;
    left: 35%;
    top:35%;
    height: 450px;
}
#table_signUp li{
    height: 30px;
    line-height: 30px;
    color: #637ea4;
}
#table_signUp li:nth-child(even){
    background-color: #efefef;
}
#table_signUp li:nth-child(odd){
    background-color: white;
}
#table_signUp li span{
    display: block;
    float: left;
    width: 23%;
    text-align: center;
    vertical-align: middle;
}
.coupon_percent{
    position: absolute;
    width: 50px;
    line-height: 20px;
    left: 44%;
    font-size: 12px;
    text-align: center;
}
.couponUseper{
    color: #4a5f7c;
    top:28%;
}
.couponReceiveper{
    color: #6cc1c8;
    top:47%;
}
.coupon_inputs_box{
    width: 150px;
    float: left;
    margin-right: 20px;
    position: relative;
}
.coupon_inputs_box input{
    width: 150px;
    height: 30px;
    line-height: 30px;
    color: #888;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    padding-right: 25px;
    border: 1px solid #ddd;
}
.coupon_inputs_box i{
    position: absolute;
    top: 25px;
    right: 7px;
    color: #6cc1c8;
}
.screen_select{
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    background: #f4f4f4;
    top: 46px;
    left: 0;
    width: 150px;
}
.screen_select li{
    width: 100%;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
}
.screen_select li:hover{
    background: #4a5f7c;
    color: #fff;
}
.screen_select ul{
    max-height: 150px;
    overflow-y: scroll;
}
/*会销占比*/
.people_title_temp{
    background-color: #efefef;
}
.people li:nth-child(even){
    background-color: #efefef;!important;
}
/*span宽度*/
#page_achievement .people_title_temp li span,#vip_effect_content .people_head li span{
    background-color: #efefef;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    display:block;
    float: left;
    text-align: center;
    width: 10%;!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
#page_achievement .people li span,#vip_effect_content .people li span{
    height: 40px;
    line-height: 40px;
    display:block;
    float: left;
    text-align: center;
    width: 10%;!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
#vip_effect_content .people li span,#vip_effect_content .people_head li span{
    width: 13.5%;!important;
}
#table_achievement_area .modify{
    width: 500px;!important;
    height: 370px;!important;
    top:40%;
}
#table_achievement_area .modify li{
    display: block;
    float: left;
    width: 22%;
    margin-left: 2%;
    text-align: center;
    margin-top: 15px;
    color: #4a5f7c;
    margin-bottom: 10px;
    font-size: 12px;
}
#table_achievement_area .modify li p {
    margin-bottom: 5px;
}
#table_achievement_area .modify li span:nth-child(1),#table_achievement_area .modify li span:nth-child(2),#table_achievement_area .modify li span:nth-child(3),#table_achievement_area .modify li span:nth-child(4){
    font-size: 15px;
    color: #5f8bc8;
}
#table_achievement_area .modify li span:nth-child(5),#table_achievement_area .modify li span:nth-child(6),#table_achievement_area .modify li span:nth-child(7),#table_achievement_area .modify li span:nth-child(8){
    font-size: 15px;
    color: #41c7db;
}
#achievement_shopName{
    display: inline-block;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -4px;
}
#achievement_area{
    display: inline-block;
    margin-top: -2px;
    margin-left: 25px;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.people_title_temp{
    width: 100%;
}
/*会员影响力分析--详情*/
.vip_consume_detail{
    font-size: 13px;
    width: 820px;
    height: 460px;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -410px;
    margin-top: -230px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 20px;
}
.vip_consume_detail_title{
    margin-bottom: 15px;
}
.vip_consume_detail_title span{
    vertical-align: middle;
}
.vip_consume_detail_title span:first-child{
    height: 13px;display: inline-block;width: 5px;background-color: #5f8bc8
}
.vip_consume_detail_info{
    border-bottom: 1px solid #d4d8e1;
    overflow: hidden;
    height: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    color: #637ea4;
}
.vip_consume_detail_info>div{
    float: left;
}
.vip_consume_detail_info>div:first-child{
    margin-right: 40px;
}
#vip_consume_detail_list{
    max-height: 290px;
    height: 290px;
    overflow: hidden;
    overflow-y: auto;
}
.vip_consume_detail_list .head,#vip_consume_detail_list div{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 0 10px;
}
.vip_consume_detail_list>div:nth-child(odd){
    background-color: #efefef;
}
#vip_consume_detail_list>div:nth-child(even){
    background-color: #efefef;
}
.vip_consume_detail_list li{
    float: left;
    width: 13.5%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 5px;
    color: #4a5f7c;
}
.vip_consume_detail_list li:first-child{
    width: 5%;
}
.vip_consume_detail_foot{
    text-align: center;
}
.vip_consume_detail_foot span{
    display: inline-block;
    width: 90px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 15px;
    line-height: 25px;
    height: 25px;
    background-color: #c4c8d4;
    border-radius: 3px;
}
.not_data{
    height: 290px!important;
    line-height: 200px!important;
    text-align: center;
}
.file_list_wrap{
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    margin-top: 10px;
}
.file_list_left{
    width: 42%;
    height: 200px;
    float: left;
    margin-right: 15.7%;
    background: url('../img/bjs.png');
    overflow-y: auto;
    overflow-x: hidden;
}
.file_list_right{
    width: 42%;
    height: 200px;
    float: left;
    background: url('../img/bjs.png');
    overflow-y: auto;
    overflow-x: hidden;
}
.file_list_zhong{
    width: 15.7%;
    height: 202px;
    position: absolute;
    left: 236px;
    top: 25px;
}
.file_list_left li:nth-child(odd) {
    background: #ededed;
}
.file_list_left li:nth-child(even) {
    background: #fff;
}
#online_vip_detail_wrap .modify {
    width: 850px;
    left: 35%;
    top: 35%;
    height: 450px;
}
#online_vip_detail_wrap li span {
    display: block;
    float: left;
    width: 23%;
    text-align: center;
    vertical-align: middle;
}
#online_vip_detail_wrap li {
    height: 30px;
    line-height: 30px;
    color: #637ea4;
}
.modify_content{
    min-height: 200px;
    max-height: 400px;
    padding: 0 20px 20px 20px;
    overflow-y: auto;
}
.modify_content>div{
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    overflow: hidden;
}
.detailsWrap .itemBox span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.detailsWrap .itemBox img{
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
.detailsWrap .itemBox li{
    height: 50px;
    line-height: 50px;
}
.detailsWrap .itemBox{
    border: 1px solid #ddd;
}
.detailsWrap .itemBox span:nth-child(1){
    width: 10%;
}
.detailsWrap .itemBox span:nth-child(n+2):nth-child(-n+3){
    width: 20%;
}
.detailsWrap .itemBox span:nth-child(4){
    width: 30%;
}
.detailsWrap .itemBox span:nth-child(5){
    width: 20%;
    border-right: none;
}
.text_overflow_line{
    width: calc(100% - 72px);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
#left,#right{
    display: none!important;
}