*{
    box-sizing: border-box;
}
#page-wrapper{
    /*padding-left: 20px;*/
    padding-right: 20px;
    position: relative;
}
.pre_title{
    padding-left: 0px;
}
#header{
    width: 100%;
    height: 110px;
    color:#fff;
    background: #637ea4;
}
.header_l{
    float: left;
    width:41%;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
}
.header_r{
    float: left;
    width:20%;
    height: 100%;
    position: relative;
}
.header_sm{
    float: left;
    width:13%;
    height: 100%;
}
.header_m{
    float: left;
    width:26%;
    height: 100%;
}
.title_l{
    font-size: 20px;
}
.title_action{
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}
.action_tip{
    display:none;
    position: absolute;
    top:100%;
    left: 0;
    width: 110px;
    height: 90px;
    background: #fff;
}
.action_tip>p{
    padding: 9px 10px;
    color:#4a5f7c;
    font-size: 12px;
    margin: 0;
}
.action_tip>p:hover{
    background: #e0e6ef;
}
.time{
    padding: 10px 0 10px 0;
}
.name_m{
    display: inline-block;
    height: 14px;
    position: relative;
    top:2px;
    border-right: 1px solid #fff;
    margin-left: 5px;
    margin-right: 5px;
}
.header_sm,.header_m{
    position: relative;
}
.header_sm_c,.header_m_c{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.p_3{
    text-align: center;
}
.p_2{
    text-align: center;
    font-size: 18px;
    margin-top:10px;
    white-space:nowrap;
}
#header .btn{
    color:#fff;
    font-size: 14px;
    padding: 0;
    width: 140px;
    height: 30px;
    background: #41c7db;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/*导航*/
#nav{
    height: 50px;
    background: #587297;
    padding: 10px;
}
.nav_btn{
    float: left;
    width: 15.6%;
    height:30px;
    color:#fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.nav_action{
    background: #4a5f7c;
}
/*进度分析*/
.progress_nav{
    height: 50px ;
    padding:10px  0px ;
    border-bottom: 1px dotted #aaa ;
}
.progress_nav div:first-child{
    background: #41c7db;
    color:#fff;
}
.progress_nav_btn{
    cursor: pointer;
    float: left;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.progress_nav_btn_action{
    background: #41c7db;
    color:#fff;
}
/*任务详细*/
.task_detail{
    padding: 10px 0;
}
.task_block{
    float: left;
   width: 32.7%;
   height:260px;
    background: #fff;
}
.task_blank{
    float: left;
    width:0.95% ;
    height:260px ;
}
.task_detail_l {
    padding: 15px 20px;
}
.task_detail_l>div{
    overflow: hidden;
    margin-top: 10px;
}
.task_title{
    width:60px ;
    float: left;
}
.task_title_describe{
    margin-left:70px;
}
.doing{color:#41c7db}
.count{
    color:#41c7db;
    margin-right: 5px;
}
.task_list{
    color:#41c7db;
    margin-left: 5px;
    cursor: pointer;
}
.chart_title{
    padding-top: 10px;
    text-align: center;
}
.chart_count{
    overflow: hidden;
}
.chart_count>div{float: left;height: 65px}
.blank_2{
    width: 8%;
}
.blank_3{
    width: 5%;
}
.chart_count_l{
    width: 21.7%;
    position: relative;
}
.chart_count_l>div,.chart_count_m>div,.chart_count_r>div{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.chart_count_l>div>p,.chart_count_m>div>p,.chart_count_r>div>p{
    white-space: nowrap;
    text-align: center;
}
.chart_count_r{
    width: 21.7%;
    position: relative;
}
.chart_count_m{
    width: 30.6%;
    position: relative;
}
#chart_pie{
    height: 165px;
}
.shoppers{
    color:#5f8bc8;
}
.covers{
    color:#41c7db;
}
#chart_bar{
    width:100%;
    height: 231px;
}
.task_box p {
    margin-bottom: 0 !important;
}
.task_box {
    overflow: hidden;
    margin-bottom: 10px;
}
.list_box{
    background: #fff;
    padding: 15px 20px;
}
#sxk{
    background: #fff;
}
#sxk input{
    border: 1px solid #d7d7d7;
}
#sxk input::-webkit-input-placeholder{ font-size: 13px;color:#aaa}
#sxk input:-moz-placeholder{ font-size: 13px;color:#aaa}
#sxk input::-moz-placeholder{ font-size: 13px;color:#aaa}
#sxk input:-ms-input-placeholder{ font-size: 13px;color:#aaa}
.add_store_box,.join_store_box,.action_over_box,.modify_time_box,#detail{
    display: none;
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:-10px;
    bottom: 0;
    right: 0;
}
.modify{
    width: 360px;
    height: 180px;
    position: fixed;
    background: #fff;
    border-radius: 5px;
    top:50%;
    left: 50%;
    padding: 20px 20px 15px 20px;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.action_over{
    width: 300px;
    height: 170px;
    position: fixed;
    background: #fff;
    border-radius: 5px;
    top:50%;
    left: 50%;
    padding: 20px 20px 15px 20px;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.action_over>p:first-child{
    margin-bottom: 25px;
}
.action_footer{
    margin-top: 25px;
    overflow: hidden;
}
.action_footer_l{
    float: left;
    width: 90px;
    height: 25px;
    background: #637ea4;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.action_footer_r{
    cursor: pointer;
    float: right;
    width: 90px;
    height: 25px;
    background: #df7444;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
}
.action_over>p{
    text-align: center;
    margin: 0;
}
.add_store,.join_store,.vip_status_store{
    width: 820px;
    height: 440px;
    position: fixed;
    background: #fff;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.add_bar,.join_bar{
    color:#5f8bc8;
    margin-right: 5px;
}
.add_header,.join_header{
    position: relative;
}
.add_header_l{
    margin-right: 95px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d4d8e1;
}
.join_header_l{
    padding-bottom: 5px;
    border-bottom: 1px solid #d4d8e1;
}
.modify_l{
    padding-bottom: 5px;
    border-bottom: 1px solid #d4d8e1;
}
.modify_ipt{
    margin-top: 10px;
    padding-left: 20px;
    overflow: hidden;
}
.modify_ipt>label{
    float: left;
    height: 30px;
    width: 60px;
    line-height: 30px;
}
.modify_ipt>input{
   float: right;
    width: 230px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    padding-left: 5px;
}
.modify_footer{
    clear: both;
    margin-top: 20px;
}
.modify_footer_l{
    float: left;
    width: 90px;
    height: 25px;
    background: #c4c8d4;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.modify_footer_r{
    float: right;
    width: 90px;
    height: 25px;
    background: #41c7db;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.add_header_r{
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 25px;
    background: #637ea4;
    color:#fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
#add_store_tb,#join_store_tb，#vip_status_tb{
    margin-top:10px;
}
#add_store_tb,#join_store_tb,#showList,#showList2，#vip_status_tb{
    /*margin-top: 10px;*/
    text-align: center;
    width: 100%;
    max-height:330px;
}
#add_store_tb thead,#join_store_tb thead,#vip_status_tb thead{
    background: #efefef;
}
#add_store_tb th,#join_store_tb th,#vip_status_tb th{
    height: 30px;
    font-weight: normal;
    text-align: center;
}
#showList2,#showList3,#vip_status_tb{
    width: 100%;
}
#join_store_tb,#vip_status_tb{
    margin-top: 10px;
}.
 .vip_status_btn{cursor: pointer}
#add_store_tb thead th:nth-child(1),#showList tbody td:nth-child(1),#showList2 tbody td:nth-child(1){width: 20%;text-align: center;}
#add_store_tb thead th:nth-child(2),#showList tbody td:nth-child(2),#showList2 tbody td:nth-child(2){width: 40%;text-align: center;}
#add_store_tb thead th:nth-child(3),#showList tbody td:nth-child(3),#showList2 tbody td:nth-child(3){width: 40%;text-align: center;}
#vip_status_tb thead th:nth-child(1),#showList3 tbody td:nth-child(1){width: 14%;text-align: center;}
#vip_status_tb thead th:nth-child(2),#showList3 tbody td:nth-child(2){width: 24%;text-align: center;}
#vip_status_tb thead th:nth-child(3),#showList3 tbody td:nth-child(3){width: 24%;text-align: center;}
#vip_status_tb thead th:nth-child(4),#showList3 tbody td:nth-child(4){width: 38%;text-align: center;}
#showList_box,#showList_box2,#showList_box3{
    max-height: 300px;
    overflow-y: auto;
}
#add_store_tb td,#join_store_tb td,#showList td,#showList2 td,#showList3 td{
    height: 30px;
}
#add_store_tb tbody tr:nth-child(even),#join_store_tb tbody tr:nth-child(even),#showList tbody tr:nth-child(even),#showList2 tbody tr:nth-child(even),#showList3 tbody tr:nth-child(even){
    background: #efefef;
}
.add_footer,.join_footer{
    margin-top: 20px;
    overflow: hidden;
    height: 25px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 10px;
}
.add_footer_l{
    float: left;
    width: 90px ;
    height: 25px;
    background: #c4c8d4;
    text-align: center;
    line-height: 25px;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}
.add_footer_r{
    float: right;
    width: 90px ;
    cursor: pointer;
    height: 25px;
    background: #41c7db;
    text-align: center;
    line-height: 25px;
    color:#fff;
    border-radius: 5px;
}
.join_footer_btn,.vip_status_btn{
    width: 90px ;
    height: 25px;
    position: absolute;
    top:50%;
    left:50%;
    background: #c4c8d4;
    text-align: center;
    line-height: 25px;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#customer{
    display:none;
    margin-top: 10px;
}
#customer>div{
    float: left;
    width: 32.7%;
    height:260px;
    background: #fff;
    margin-right: 0.95%;
}
#customer>div:nth-child(3n){
    margin-right: 0 !important;
}
#peopleContent li:nth-child(even){
    background: #efefef;
}
.action_detail_box{
    margin-top: 10px;
    color:#637ea4;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
}
.action_detail_box span{
    display: inline-block;
    margin-right: 10px;
}
.action_detail_box .s7{
    float: right;
}
.action_detail_box .s5{
    float: right;
    width: 200px;
    margin-top: 5px;
    margin-right: 10px;
    height: 10px;
    background: #c1c1c1;
    position: relative;
}
.action_detail_box .s6{
  position: absolute;
    left: 0;
    top:0;
    height: 10px;
    background: #62cddd;
    width: 50%;
}