body{
    margin-top:81px;
    font-family: ΢���ź�;
    margin-left: 10px;
}
/*input��ʽ�޸�*/
.conpany_msg input{
    background-color: #dfdfdf;
    color: #939393;
}
/*a��ǩ��ʽ*/
a, a:link,a:hover,a:visited,a:active{
    color: #434960;
}
/*��ֹ�*/
#stop{
    background-color: #bdbdbd;
    float: left;
    margin-left: 0px;
}
/*֪ͨ����ˡ��ر�*/
.corpadd_oper_btn  li{
    float: right;
    /*margin-right: 30px;*/
    margin-left: 20px;
    margin-top: 12px;
}
/*�������*/
.main{
    margin-top: 21px;
    width: 100%;
}
.left{
    float: left;
    width: 39.6%;
    background-color: #fcfcfc;
    margin-right: 1%;
    height: 222px;
    padding: 20px 61px 23px 61px;
}
.left_top{
    /*margin-right: 80px;*/
    /*margin-left: 80px;*/
    height: 120px;
    /*text-align:center;*/
}
.left_bottom{margin-top: 18px;}
#TheTarget,#TheCover{
    font-size: 22px;
    color: #52a5ac;;
}
.the_target{
    float: left;
}
.the_tover{
    float: right;
}
.the_target_content{
    clear: both;
    float: left;
    font-size: 12px;
    margin-left: 7px;
}
.the_tover_content{
    float: right;
    font-size: 12px;
    margin-right: 3px;
}
.right{
    float: left;
    width: 59.4%;
    background-color: #fcfcfc;
    height: 222px;
    padding-top: 28px;
    padding-left: 40px;
    position: relative;
}
#rightMore{
    position: absolute;
    top: 9px;
    right: 9px;
    width: 60px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;;
    background-color: #fcfcfc;
    color: #888888;
    text-align: center;
}
.right li{
    margin-bottom: 34px;
}
.right li span:first-child {
    margin-left: 30px;
}
/*������ť*/
.do{
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
    width: 100px;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    background-color:#6dc1c8 ;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.btnSecond{
    width: 100%;
    overflow: hidden;
    line-height: 60px;
    border-bottom: 1px dotted #aaa;
    margin-bottom: 10px;
}
#showDone{
    margin-left: 0px;
}
#choose,#empty {
    float: right;
    width: 80px;
    height: 30px;
    margin-top: 15px;
    background-color: white;
    color: black;
    line-height: 30px;
}
/*ɸѡ����*/
#screening {
    width: 100%;
    clear: both;
    display: none;
}
#sxk{
    display: block;
}

/*��Ա��*/
.people{
    clear: both;
    background-color: white;
    width: 100%;
    min-height: 319px;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding: 0 20px 20px 0px; */
    /*padding-left: 5px;*/
    /*padding-right: 9px;*/
}
.people_head{
    clear: both;
    background-color: #efefef;
    width: 100%;
    overflow-x: hidden;
    padding-left: 5px;
    padding-right: 9px;
}
/*.people::-webkit-scrollbar{*/
    /*width: 9px;*/
    /*background-color: white;*/
    /*border-radius: 5px;*/
/*}*/
/*.people::-webkit-scrollbar-thumb{*/
    /*width: 10px;*/
    /*height: 200px;*/
    /*border-radius: 10px;*/
    /*background-color: #dfdfdf;*/
/*}*/
.people div,.people_head div{line-height: 40px; color: #434960;font-size: 14px;float: left;}
/*����*/
.people_title{ float:left;width: 100%}
.people_title_order{    width: 34px;margin-right: 4%;padding-left: 5px;}
.people_title_name{width:58px;margin-right: 4%;text-align: center;}
.people_title_num{width: 58px;margin-right: 5%;text-align: center;}
.people_title_area{width:58px;margin-right: 7%;text-align: center;}
.people_title_shop{width: 126px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-right:7%;text-align: center;}
.people_title_plan{width: 330px;margin-right:1%;;text-align: center;line-height: 50px;position: relative;}
.undone{position: absolute;left:20px;line-height: 50px;clear:both;height: 8px;width: 270px;background-color: #c1c1c1;margin-right: 27px;border-radius: 50px;position: absolute;top:21px}
.done{height: 8px;width: 50%;background-color: #7bc7cd;border-radius: 50px;}
.people_title_plan span{position: absolute;left:316px}
#peopleError{margin: 120px auto;display: none;}
#peopleError div{width: 100%;text-align: center;}
/*更多详情*/
#get_more{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-45%);
    width: 570px;
    background: #fff;
    border-radius: 5px;
    z-index: 99999;
}
#rightMore:hover,#showDone:hover,#showDoing:hover,#choose:hover{
    cursor: pointer;
}
#get_more .head_span_l{
    padding-left: 5px;
    padding-top: 5px;
}
#get_more .head_span_r{
    float:right;
    padding-right: 2px;
    padding-top: 5px;
    cursor: pointer;
}
#content{
    margin-top:10px;
    padding-top: 10px;
    padding-right: 20px;
    overflow-y: auto;
    height: 430px;
}
#content .content_l{
    float:left;
    color:#434960;
    width: 120px;
    height: 50px;
    text-align: right;
    line-height: 50px;
}
#content .content_r{
    margin-left: 120px;
    padding-left: 25px;
    padding-left: 25px;
    height: 50px;
    color:#888;
    text-align:left;
    line-height: 50px;
}
#fab_describe img{
    max-width: 100%;
    max-height:100%;
}
#fab_describe {
    min-height: 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    outline: none;
    background: #dfdfdf;
    position: relative;
    top: 18px;
    margin-left: 145px;
    padding:5px;
    color:#888;
    overflow: hidden;
}
/*#content::-webkit-scrollbar{*/
    /*width: 9px;*/
    /*background-color: white;*/
    /*border-radius: 5px;*/
/*}*/
/*#content::-webkit-scrollbar-thumb{*/
    /*width: 10px;*/
    /*height: 200px;*/
    /*border-radius: 10px;*/
    /*background-color: #dfdfdf;*/
/*}*/
.ellipsis{
    height: 40px;
    line-height: 39px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.btnSecond .check:checked + b{
    background: url(../img/radio_chicked.png) no-repeat center center;
    background-size: 15px 15px;
}
.radio_b{
    border: 1px solid #e0e0e0;
    display:inline-block;
    width: 15px;
    height:15px;
    background:#fff;
    border-radius: 50%;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.btnSecond label{
    cursor: pointer;
}
.tk {
    width: 280px;
    height: 180px;
    background-color: #fff;
    position: absolute;
    z-index:10001;
    text-align: center;
    color: #888;
    display: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}
.tk span {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    cursor: pointer;
}
.tk p {
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 14px;
    margin:0px;
}
.tk p i {
    color: #cd706e;
    font-size: 17px;
    vertical-align: middle;
    line-height: 140px;
    margin-right: 10px;
}
.tk .btn {
    height: 30px;
    line-height: 30px;
}
.tk .btn em {
    display: inline-block;
    font-style: normal;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.tk .btn .cancel {
    background-color: #e8e8e8;
    color: #888;
    font-size: 14px;
    border-radius: 5px;
}
.tk .btn .delete {
    background-color: #cd706e;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 20px;
}
.gotop:hover{
    cursor: pointer;
}
.gobottom:hover{
    cursor: pointer;
}
