*{
	margin:0;
	padding:0;
}
html{
	// background: url(../img/img_404_bg.png) no-repeat; 
}
img{
	border:none;
	display: block;
}
.bg{
	position: relative;
	margin: 0 auto;
}
.top{
	position: absolute;
	top:17.5%;
	width: 92%;
	left: 4%;
}
.return{
	width:28%;
	margin: 0 auto;
}