*{
	margin:0;
	padding:0;
}
body,html{
}
img{
	border:none;
	display: block;
}
.bg{
	position: relative;
	margin: 0 auto;
}
.top{
	position: absolute;
	top:17.5%;
	width: 92%;
	left: 4%;
}
.return{
	width:28%;
	margin: 0 auto;
}
.f500{
	width: 100%;
	background-color: #434960;
}
.f500_img{
	width: 87.5%;
	margin: 0 auto;
}