@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?adxujm');
  src:  url('../fonts/icomoon.eot?adxujm#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?adxujm&t=20180105') format('truetype'),
  url('../fonts/icomoon.woff?adxujm&t=20180105') format('woff'),
  url('../fonts/icomoon.svg?adxujm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ishop_6-36:before {
  content: "\e956";
}
.icon-ishop_9-09:before {
  content: "\e954";
}
.icon-ishop_9-08:before {
  content: "\e955";
}
.icon-ishop_2-21:before {
  content: "\e953";
}
.icon-ishop_9-07:before {
  content: "\e950";
}
.icon-ishop_9-06:before {
  content: "\e951";
}
.icon-ishop_2-20:before {
  content: "\e94f";
}
.icon-ishop_2-14:before {
  content: "\e923";
}
.icon-ishop_2-15:before {
  content: "\e925";
}
.icon-ishop_2-16:before {
  content: "\e927";
}
.icon-ishop_2-17:before {
  content: "\e92f";
}
.icon-ishop_2-18:before {
  content: "\e94d";
}
.icon-ishop_2-19:before {
  content: "\e94e";
}
.icon-ishop_6-34:before {
  content: "\e920";
}
.icon-ishop_6-35:before {
  content: "\e921";
}
.icon-ishop_6-32:before {
  content: "\e94b";
  color: #000;
}
.icon-ishop_6-33:before {
  content: "\e94c";
  color: #000;
}
.icon-ishop_6-31:before {
  content: "\e948";
}
.icon-ishop_6-30:before {
  content: "\e947";
}
.icon-ishop_6-29:before {
  content: "\e945";
}
.icon-ishop_6-28:before {
  content: "\e946";
}
.icon-ishop_6-27:before {
  content: "\e944";
}
.icon-ishop_6-25:before {
  content: "\e942";
}
.icon-ishop_6-26:before {
  content: "\e943";
}
.icon-ishop_9-04:before {
  content: "\e940";
}
.icon-ishop_9-05:before {
  content: "\e941";
}
.icon-ishopwebicon_6-23:before {
  content: "\e93e";
}
.icon-ishopwebicon_6-24:before {
  content: "\e93f";
}
.icon-ishop_6-22:before {
  content: "\e93d";
}
.icon-ishop_2-11:before {
  content: "\e933";
}
.icon-ishop_2-12:before {
  content: "\e934";
}
.icon-ishop_2-13:before {
  content: "\e94a";
}
.icon-ishop_2-10:before {
  content: "\e932";
}
.icon-ishop_1-01:before {
  content: "\e900";
}
.icon-ishop_1-02:before {
  content: "\e901";
}
.icon-ishop_1-03:before {
  content: "\e902";
}
.icon-ishop_2-01:before {
  content: "\e903";
}
.icon-ishop_2-02:before {
  content: "\e904";
}
.icon-ishop_2-03:before {
  content: "\e905";
}
.icon-ishop_2-04:before {
  content: "\e906";
}
.icon-ishop_2-05:before {
  content: "\e907";
}
.icon-ishop_2-06:before {
  content: "\e908";
}
.icon-ishop_2-07:before {
  content: "\e909";
}
.icon-ishop_2-08:before {
  content: "\e90a";
}
.icon-ishop_2-09:before {
  content: "\e90b";
}
.icon-ishop_3-01:before {
  content: "\e90c";
}
.icon-ishop_3-02:before {
  content: "\e90d";
}
.icon-ishop_3-03:before {
  content: "\e90e";
}
.icon-ishop_3-04:before {
  content: "\e90f";
}
.icon-ishop_3-05:before {
  content: "\e910";
}
.icon-ishop_3-06:before {
  content: "\e911";
}
.icon-ishop_3-09:before {
  content: "\e922";
}
.icon-ishop_3-07:before {
  content: "\e912";
}
.icon-ishop_3-08:before {
  content: "\e913";
}
.icon-ishop_4-01:before {
  content: "\e914";
}
.icon-ishop_4-02:before {
  content: "\e915";
}
.icon-ishop_4-03:before {
  content: "\e916";
}
.icon-ishop_4-04:before {
  content: "\e917";
}
.icon-ishop_5-01:before {
  content: "\e918";
}
.icon-ishop_6-01:before {
  content: "\e919";
}
.icon-ishop_6-02:before {
  content: "\e91a";
}
.icon-ishop_6-03:before {
  content: "\e91b";
}
.icon-ishop_6-04:before {
  content: "\e91c";
}
.icon-ishop_6-05:before {
  content: "\e91d";
}
.icon-ishop_6-06:before {
  content: "\e91e";
}
.icon-ishop_6-07:before {
  content: "\e91f";
}
.icon-ishop_6-08:before {
  content: "\e95d";
}
.icon-ishop_6-09:before {
  content: "\e95e";
}
.icon-ishop_6-10:before {
  content: "\e95f";
}
.icon-ishop_6-11:before {
  content: "\e960";
}
.icon-ishop_6-12:before {
  content: "\e924";
}
.icon-ishop_6-20:before {
  content: "\e936";
}
.icon-ishop_6-21:before {
  content: "\e93b";
}
.icon-ishop_6-13:before {
  content: "\e95c";
}
.icon-ishop_6-14:before {
  content: "\e926";
}
.icon-ishop_6-15:before {
  content: "\e961";
}
.icon-ishop_6-16:before {
  content: "\e928";
}
.icon-ishop_6-18:before {
  content: "\e929";
}
.icon-ishop_6-19:before {
  content: "\e92a";
}
.icon-ishopwebicon_6-20:before {
  content: "\e93c";
}
.icon-ishop_8-05:before {
  content: "\e949";
}
.icon-ishop_7-01:before {
  content: "\e92b";
}
.icon-ishop_7-02:before {
  content: "\e92c";
}
.icon-ishop_7-05:before {
  content: "\e952";
}
.icon-ishop_7-03:before {
  content: "\e92d";
}
.icon-ishop_7-04:before {
  content: "\e92e";
}
.icon-ishop_8-01:before {
  content: "\e930";
}
.icon-ishop_8-02:before {
  content: "\e931";
}
.icon-ishop_8-03:before {
  content: "\e935";
}
.icon-ishop_8-04:before {
  content: "\e937";
}
.icon-ishop_9-01:before {
  content: "\e938";
}
.icon-ishop_9-03:before {
  content: "\e939";
}
.icon-ishop_9-02:before {
  content: "\e93a";
}