.main {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-width: 800px;
}

.main .bg {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:100%;
    height:100%;
    z-index:-1;
}
.logo{
    width: 180px;
    height: 180px;
    background: url("../img/img_logo.png") no-repeat center center;
    margin: 10px auto 0;
    background-size: contain;
}
.step{
    text-align: center;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    color:#fff;
}
.forms{
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding-right: 55px;
}
.forms>div{
    width: 800px;
    position: relative;
    margin: 0 auto;
}
.forms .input_title{
    font-size: 14px;
    color: #85dde5;
    margin-right: 20px;
}
.forms input{
    border:1px solid transparent;
    padding: 5px 10px;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    background-color: rgba(255,255,255,0.12);
}
.forms input:hover{
    background-color: rgba(133,221,229,0.2);
}
.forms input:focus{
    border:1px solid #FFFFFF;
}
input-placeholder{
    color:#a7afbb;
    font-size: 14px;
}
input::-ms-input-placeholder{
    color:#a7afbb;
    font-size: 14px;
}
input::-webkit-input-placeholder{
    color:#a7afbb;
    font-size: 14px;
}
.get_code{
    width: 130px;
    display: inline-block;
    background-color: #85dde5;
    height:40px;
    color:#4a5d7b;
    font-size: 14px;
    vertical-align: bottom;
    line-height: 40px;
    cursor: pointer;
}
.get_code:hover{
    background-color: #95e6ed;
}
.get_code:active{
    background-color: #6bc9d1;
}
.next{
    font-size: 16px;
    color: #41536d;
    margin-left:60px;
    height: 40px;
    line-height: 40px;
    background-color: #85dde5;
    width: 300px;
    display: inline-block;
    cursor: pointer
}
.next:hover{
    background-color: #95e6ed;
}
.next:active{
    background-color: #6bc9d1;
}
.now_doing{
    color:#85dde5;margin-right: 10px;
}
.back_index{
    font-size: 14px;
    color: #85dde5;
    margin-left: -155px;
    height: 40px;
    line-height: 40px;
    display: inline-block
}
.tip_img{
    position: absolute;left:590px;width: 40px;height: 40px;
}
.tip_text{
    position: absolute;
    left:625px;
    vertical-align: bottom;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #e66255
}
#tel_tip,#yzm_tip,#pwd_tip,#pwdd_tip{
    display: none;
}
.frame{
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    height: 50px;
    background:rgba(0,0,0,0.5);
    position: absolute;
    z-index: 10003;
    border-radius: 5px;
    color:#fff;
    text-align: center;
    line-height: 50px;
    margin-left:-65px;
}