.error_tips{
	padding-left:20px;
	/*display:none;*/
	color: #c26555;
	margin-top:10px;
	background: url(../img/pwd_sprite.png) 0 -350px no-repeat;
}
#week_p .week{
	width: 100px;
}
.power{
	display: inline-block;
	width: 50px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: #6dc1c8;
	text-align: center;
	cursor: pointer;
}
.state{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: #6dc1c8;
	text-align: center;
	cursor: pointer;
}