.error_tips{
	padding-left:20px;
	/*display:none;*/
	color: #c26555;
	margin-top:10px;
	background: url(../img/pwd_sprite.png) 0 -350px no-repeat;
}
#week_p .week{
	width: 100px;
}
/*[title]{*/
	/*max-width:150px;*/
/*}*/
#week_p{
	position: relative;
}
.power{
	display: inline-block;
	width: 60px;
	height: 30px;
	margin-left: -3px;
	line-height: 30px;
	border-radius: 7px;
	color: #FFFFFF;
	background-color: #6dc1c8;
	text-align: center;
	cursor: pointer;
}
.power_d{
	display: inline-block;
	width: 120px;
	height: 30px;
	margin-left: 0px;
	line-height: 30px;
	border-radius: 7px;
	color: #FFFFFF;
	background-color: #6dc1c8;
	text-align: center;
	cursor: pointer;
}
.remove_app_id{
	background: #c26555;
}
.power_d a{
	display: block;
	color: #fff;
}
.state{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: #6dc1c8;
	text-align: center;
	cursor: pointer;
}
.year li,.month li{
	/*width: 97px;*/
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
}
.year li:hover,.month li:hover{
	background: #4a5f7c;
    color: #ffffff;
}
#week_p .year{
	position:absolute;
	left: 123px;
	top:32px;
	background: #e8f5fe;
	border: 1px solid #a9c9e2;
	display: none;
	width: 97px;
	height: 150px;
	overflow-y: auto;
	background: #f5f5f5;
}
#week_p .month{
	position:absolute;
	left: 253px;
	top:32px;
	background: #e8f5fe;
	border: 1px solid #a9c9e2;
	display: none;
	width: 97px;
	height: 150px;
	overflow-y: auto;
	background: #f5f5f5;
}
.er_code{
	position: relative;
	margin-top:-45px ;
}
.kuang{
	width: 100px;
	height: 100px;
	margin:10px 0 10px 0;
	display: none;
}
.kuang img{
	width: 100%;
}
.kuang p{
	width: inherit;
	text-overflow: ellipsis;
	white-space:nowrap;
	text-align: center;
	overflow: hidden;
}

#add_power{
	background-color: #ccc!important;
}
/*********日期后面下来样式**************/
#year,#month{
	background: #ffffff url(../img/btn_dropmenu.png) no-repeat 100% 50%;
    background-size: 30px 30px;
}
.per_type .input_select{
	width: 310px;
    height: 30px;
    line-height: 30px;
}
.select_ownshop{
	margin-left: 50px;
}
.select_ownshop label{
	width: 73px;
	line-height: 30px;
}
.text_color{
	margin-left: 125px;
	color:#999;
	width: 420px;
}
.add_apple{
	width: 50px;
	height: 30px;
	padding-left: 10px;
	margin-top: 15px;
	background: #6cc1c8;
	display: inline-block;
	border-radius: 4px;
	line-height: 30px;
	margin-left: 10px;
	color: #ffffff
}
.wx_app{
	width: 420px;
}
.wx_app input{
	width: 110px;
	margin: 10px 10px 10px 0px;
}
#WXID{
	margin-left: 0;
}
#AppName{
	margin-left: 4px;
}
/*.wx_app input:nth-child(odd){*/
	/*margin-left: 0px;*/
/*}*/
/*.wx_app input:nth-child(even){*/
	/*margin-left: 97px;*/
/*}*/
.remove_input{
	width: 50px;
	height: 30px;
	padding-left: 10px;
	margin-top: 15px;
	background: #c26555;
	display: inline-block;
	border-radius:4px;
	line-height: 30px;
	margin-left:10px;
	color:#ffffff;
}
/******分配任务弹框样式*********/
.distribution_frame{
	position: absolute;
	width:1100px; 
	z-index: 3;
	display:none;
}
.group_frame{
	position: absolute;
	z-index: 3;
	display:none;
}
.drop-down{
	float: left;
	width:  300px;
	height: 300px;
	background-color:#fff;
	box-shadow: 0 4px 12px rgba(0,0,0,.5);
	margin-bottom: 10px;
	position: relative;
}
.drop-down .input{
	width: 290px;
	height: 30px;
	outline: none;
	border:1px solid #ddd;
	line-height: 30px;
	margin-left: 5px;
	border-radius: 5px;
	padding-left: 5px;
}
.drop-down .search{
	position: relative;
}
.drop-down .search i{
	position: absolute;
	top: 3px;
	right: 5px;
	font-size: 30px;
}
.search_c{
	text-align:center;
}
.area_more{
	width: 70px;
	height: 30px;
	position: absolute;
	bottom: 10px;
	right: 115px;
	border-radius: 5px;
	background-color: #6cc1c8;
	color: #fff;
	text-align: center;
	line-height: 30px;
	display: none;
}
.drop-down .drop_down_ul{
	height: 200px;
	overflow-y:auto;
}
.drop-down .drop_down_ul ul{
	height: 170px;
	padding-bottom: 5px;
	overflow-y:auto;
}
.drop-down .search input{
	width: 290px;
	height: 30px;
	outline: none;
	border:1px solid #ddd;
	line-height: 30px;
	margin-left: 5px;
	border-radius: 5px;
	padding-left: 5px;
	margin-top: 3px;
}
.drop-down ul li{
	height:25px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.drop-down h5{
	text-align: left;
	margin-left: 10px;
	font-weight: normal;
}
.p16{
	margin-left:16px;
}
.drop_q{
	width: 50px;
	height: 30px;
	background-color: #6dc1c8;
	border-radius: 5px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	right: 5px;
	z-index: 20;
	cursor: pointer;
}
.q_list{
	width: 50px;
	height: 30px;
	background-color: #6dc1c8;
	border-radius: 5px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	right: 60px;
	z-index: 20;
	cursor: pointer;
}
.xingming{
	margin: 0 !important;
	max-height:200px;
    overflow-y: auto;
}
.xingming>p{
	margin-bottom: 20px;
	position: relative;
}
.good_imgs{
	margin-bottom: 0!important;
}
.delectxing{
	position: absolute;
	top: 0;
	right:0;
	background: url(../img/x_alt.png) no-repeat;
	height: 20px;
	width: 20px;
	display: none;
	cursor: pointer;
}
.sendee{
	overflow: hidden;
}
.sendee_r{
	background-color: #fff;
	min-height: 30px;
	line-height: 30px;
	width: 390px;
	overflow: hidden;
}
.sendee_r p{
	min-width: 50px;
	margin:0 !important;
	text-align: center;
	float: left;
}
.sendee li{
	float: left;
}
.add_sendee{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	background-color: #6cc1c8;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}
.store_list_kuang{
	position: absolute;
	margin-top:2px;
	height: 300px;
	width: 310px;
	background-color: #e8f5fe;
	border:1px solid #a9c9e2;
	z-index:103;
	display: none;
}
.store_list_kuang ul{
	width: 308px !important;
	height: 262px !important;
	overflow-y: auto;
	border:none !important;
	display: block !important;
}
.store_list_kuang .search{
	border: 1px solid #ccc;
	width: 300px !important;
	border-radius: 5px !important;
	margin-left:4px; !important;
	margin-top:4px; !important;

}
.store_list_kuang_hide{
	display:none !important;
}
.shop_list .input_select{
	width: 310px!important;
	background: #ffffff url(../img/btn_dropmenu.png) no-repeat 100% 50%;
	background-size: 30px;
}
#set_Time_ul li:hover{
	padding:0;
	margin:0;
	background-color: #4a5f7c;
	color: #ffffff;
}
/*首页input框样式的变化*/
/*******首页input框样式的变化******/
.icon-text{
	width:95px;
	background-color: #434960 !important;
	border:none !important;
	margin-left: 12px;
	padding-left: 5px;
	border-radius: 6px;
	outline: none;
	height: 26px;
	line-height: 26px;
	background-image: url(../img/img_arrow_down.png);
	background-repeat: no-repeat;
	background-position:95% center;
	background-size: 8px 4px;
}
.c_a_shoppe ul{
	text-align: center;
	position: absolute;
	top: 24px;
	right: 17px;
	width:134px;
	max-height: 150px;
	overflow-y: auto;
	background-color: #4a5f7c;
	z-index: 278;
	padding: 5px;
	display: none;
	border-radius: 5px;
}
.c_a_shoppe ul li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.c_a_shoppe ul li:hover{
	background-color:#434960;
	color:#6cc1c8;
}
.select_Date li:hover{
	background-color:#434960;
	color:#6cc1c8;
}
.area_name{
	display: inline-block;
	width:113px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align:middle;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.mask{
	position: relative;
}
.zhezhaocen{
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background:rgba(0,0,0,0.4);
	display: none;
	overflow: hidden;
}
.zhe_img{
	width: 100px;
	height: 40px;
	margin: 0 auto;
	border-radius: 10px;
	margin-top: 122px;
	background:rgba(0,0,0,0.4);
	text-align: center;
	line-height: 40px;
}
/*公众号授权*/
div.wx_app_new{
	/*display:inline-flex;*/
	background:#E8E8E8;
	margin-bottom: 0px;
	margin-top: 0px;
	color:#888888
}
div.wx_app_new input:nth-child(4){
	width: 40px;
	text-indent: 0px;
	padding:0;
	background:#E8E8E8;
	margin: 0;
	margin-top: 14px;
	font-size: 12px;
}
div.wx_app_new p{
	width: 29px;
	height:30px;
	cursor: pointer;
	margin:14px 0 10px 0;
	font-size:20px;
	color:#c26555 ;
	line-height: 30px;
}
/*兼容360显示input效果*/
 .wx_span input{
	line-height: 30px;
}
.hint{
    padding-left: 120px !important;
}
#return a{
	display: block;
}
/**********首页业绩样式*************/
.performance{
	height: 140px;
}
.performance ul{
	padding: 0;
	margin: 0;
}
.performance ul li{
	float: left;
}
.total_num{
	width: 60%;
	margin-top: 40px;
}
.total_num .t_num{
	font-size: 32px;
	color: #6cc1c8;
    color: #6cc1c8;
    text-align: left;
    margin-left: 10%;
}
.total_num .ranking{
	font-size: 14px;
    color: #97a4b6;
    text-align: left;
    margin-left: 10%;
}
.yield_rate{
	width: 40%;
	position: relative;
	text-align: center;
	margin-top: 35px;
}
.percent{
	font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 40%;
    top: 30px;
}
.item_list_1{
	height: 90px;
    margin-top: 10px;
}
.item_list_1 ul li{
	width: 25%;
	float: left;
	text-align: center;
	height: 55px;
	font-size: 12px;
    color: #97a4b6;
}
.item_list_1 .item_1 {
    font-size: 12px;
    color: #ffffff;
    margin-top:10px;
}
.dropdown{
	position: relative;
}
.aixiu_code{
	z-index: 100002;
	width: 150px;
	position: absolute;
	top: 66px;
	left: -56px;
	display: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	border-radius: 7px;
}
#aixiu_code:hover .aixiu_code{
	display: block;
}
.aixiu_code i{
	position: absolute;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    top: -14px;
    right: 66px;
}
.aixiu_code img{
	width: 100%;
	border: 2px solid #ccc;
}
#search_match_goods ul p{
	text-align: center;
}
/******多选下拉框样式******/
.Acc_dropdown li{
	width: 100%;
	height: 70px !important;
	line-height: 70px !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	position: relative;
}
.Acc_dropdown li div{
	width: 170px;
	position: absolute;
	right: 0;
	top:10px;
	z-index: 6;
}
.Acc_dropdown li div img{
	width:50px;
	height: 50px;
	vertical-align: top;
	z-index: 5;
	border: 1px solid #dddddd;
}
.Acc_dropdown li div input{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 80px;
	height: 30px;
	background-image: none;
	opacity: 0;
	z-index: 4;
	cursor: pointer;
}
.Acc_dropdown li div span{
	position: absolute;
	width: 80px;
	height: 26px;
	line-height: 26px;
	right: 10px;
	top: 12px;
	background-color: #6cc1c8;
	z-index: 3;
	text-align: center;
	color: #fff;
	text-indent: 0;
	border-radius: 5px;
}
.Acc_dropdown li:hover{
	background-color: #f5f5f5 !important;
	color: #888 !important;
}
.Acc_dropdown p{
	margin: 0 !important;
}
.p{
	position: absolute;
	top: 0px;
	/*left:-82px;*/
	color: #434960!important;
}
.more{
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: #6cc1c8;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	margin: 0 auto;
	cursor: pointer;
	display: none;
}
.add_app_id{
	height: 50px;
    line-height: 50px;
    margin-top: 20px;
    margin-left: 123px;
    text-align: center;
    width: 420px;
    background: #f4f4f4;
    border-radius: 5px;
    color: #6dc1c8!important;
    font-size: 14px;
    cursor: pointer;
}
.add_app_id span{
	font-size: 20px;
}
.bm_search_shop{
	width: 100%;
	height: 30px;
	text-indent: 5px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ddd;
}