.error_tips{
	padding-left:20px;
	/*display:none;*/
	color: #c26555;
	margin-top:10px;
	background: url(../img/pwd_sprite.png) 0 -350px no-repeat;
}
#week_p .week{
	width: 100px;
}
#week_p{
	position: relative;
}
.power{
	display: inline-block;
	width: 50px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: #6dc1c8;
	text-align: center;
	cursor: pointer;
}
.state{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: #6dc1c8;
	text-align: center;
	cursor: pointer;
}
.year li,.month li{
	width: 97px;
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
}
.year li:hover,.month li:hover{
	background: #6cc1c8;
    color: #ffffff;
}
#week_p .year{
	position:absolute;
	left: 128px;
	background: #e8f5fe;
	border: 1px solid #a9c9e2;
	display: none;
}
#week_p .month{
	position:absolute;
	left: 232px;
	background: #e8f5fe;
	border: 1px solid #a9c9e2;
	display: none;
}
.er_code{
	position: relative;
}
.kuang{
	width: 200px;
	border:1px solid #ddd;
	top:2px;
	position: absolute;
	left: 180px;
	display: none;
}
.kuang img{
	width: 100%;
}
#k_close{
	position: absolute;
	right: 0;
	top:0;
	font-size: 20px;
	cursor: pointer;
}
#add_power{
	background-color: #ddd;
}
/*********日期后面下来样式**************/
#year,#month{
	background: #ffffff url(../img/btn_dropmenu.png) no-repeat 100% 50%;
    background-size: 30px 30px;
}
.per_type .input_select{
	width: 310px;
    height: 30px;
    line-height: 30px;
}
.select_ownshop{
	margin-left: 50px;
}
.select_ownshop label{
	width: 73px;
	line-height: 30px;
}
.text_color{
	margin-left: 125px;
	color:#ccc;
	width: 420px;
}