body{
    margin-top: 81px;
}
#VIP_LIST{
    cursor: pointer;
}
.header .left,.header .center,.header .right{
    height:390px;
    width: 33%;
    /*min-width: 348px;*/
    float: left;
    background-color:#fff ;
}
.header .left,.header .center {
    margin-right: 0.5%;
}
.header .left .left-class{
    width:50%;
    float:left;
    background-color: #6CC1C8;
    height: 130px;
    position: relative
}
.header .left .left-bottom{
  width:100%;
    float:left;
    background-color: #3a4054;
    height: 130px;
    position: relative;
}

.header .left .left-color-1{
    background-color: #58B4BC;
}.header .left .left-color-2{
    background-color: #4A5F7C;
}.header .left .left-color-3{
      background-color: #434960;
  }.header .left .left-color-1{
    background-color: #58B4BC;
}
.header .left .left-class .content1,.header .left .left-bottom .content1{
    color:#fff;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width: 80%;!important;
    text-align: center
}
.header .left .left-class .content1 .Fsize-28{
    display: block;
    font-size: 28px;
    margin-bottom: 10px;
    padding:0;
    height:28px;
    line-height: 28px;

}
.header .left .left-bottom .content1 .Fsize-12{
    display: block;
    font-size: 12px;
    padding:0;
    height: 12px;
    line-height: 12px;
}
.header .left .left-bottom .content1 .Fsize-28{
    display: block;
    font-size: 28px;
    margin:10px 0;
    padding:0;
    height:28px;
    line-height: 28px;
}
.header .left .left-class .content1 .Fsize-12{
    display: block;
    font-size: 12px;
    padding:0;
    height: 12px;
    line-height: 12px;
}
.header .center .message-class ul{
    text-align: center;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #DDDDDD;
}
.header .center .message-class ul li{
    padding:0 10px;
    cursor: pointer;
    float: left;
    font-family:'Microsoft YaHei';
    width:25%;
    color:#888;
    box-sizing: border-box;
    height: 30px;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none; /* you could also put this in a class */
    -webkit-user-select:none;/* and add the CSS class here instead */
    -ms-user-select:none;
    user-select:none;/**禁止选中文字*/
}
.header .center .message-class ul li a{
    text-decoration: none;
    font-size: 14px;
    color:#888;
    display: inline-block;
    height:30px;
    line-height: 30px;
    width:100%;
}
.header .center .message-class ul .active{
    border-bottom:3px solid #6dc1c8;
    color:#6dc1c8;
}
.header .center .message-class .tabs-parent .table{
    padding:0 10px;
    margin-bottom: 0;
}
.header .center .message-class .tabs-parent table .TR{
    background-color: #efefef;
    height: 30px;
    line-height: 30px;
    color: #888;
    font-size: 14px;
}

.header .center .message-class .tabs-parent table .TR th{
    font-weight: normal;
    text-align: center;
}
.header .center .message-class .tabs-parent table tbody tr{
    text-align: center;
    height: 29px;
    line-height: 29px;
    background-color: #fff;
    border-bottom:1px solid #e8e8e8;
    color:#888888
}

.icon-ishop_8-03.style{
    float: right;
    height: 29px;
    line-height: 29px;
    color: #888888;
    margin-right: 3px;"
}
.header .center .message-class .tabs-parent .images .img-parent{
    width: 100%;
    padding:20px 10px 0 10px;
    height: 330px;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}
.header .center .message-class .tabs-parent .images .mask{
    display: none;
    background-color:#000000;
    opacity:0.8;
    position: absolute;
    left:200px;
    top:80px;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header .center .message-class .tabs-parent .images .lg_img img{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
    z-index: 3;
    display: inline-block;
    max-width: 800px;
    max-height: 600px;
}
.header .center .message-class .tabs-parent .vip-label .label-parent{
    width: 100%;
    padding:20px 10px 0 10px;
    height: 330px;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}
.header .center .message-class .tabs-parent .vip-label .label-parent #labels{
    height:310px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E8E8E8;
    padding-left: 10px;
}
.header .center .message-class .tabs-parent .images .img-parent #images{
    height:310px;
    padding-bottom: 5px;
    padding-left:10px;
    border-bottom: 1px solid #E8E8E8;
    overflow: hidden;
}
.header .center .message-class .tabs-parent .images .img-parent #images span{
    width: 25%;
    height: 25%;
    box-sizing: border-box;
    padding-right: 10px;
    z-index: 2;
    display: inline-block;
}
.header .center .message-class .tabs-parent .images .img-parent img{
 width: 100%;
}
.header .center .message-class .tabs-parent .vip-label .label-parent #labels span{
    margin-bottom:10px;
    margin-right:10px;
    background-color: #6cc1c8;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    padding:0 10px;
    line-height: 30px;
    font-family:'Microsoft YaHei';
    color:#fff;font-size: 14px;
    float: left;
}
.right .person{
    height: 110px;
}
.right .person .person-left{
width: 30%;float: left;
padding:25px 0 0 15px;
}
.right .person .person-left .person-img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-image: url(../img/vipImg.png);
    background-size:contain ;
    background-repeat:no-repeat
}
.right .person  .person-right{
    position: relative;
}
.right .person  .person-right .edit{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color:#E8E8E8;
    color:#c1c1c1;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
}
.right .person  .person-right .person-message{
    width: 70%;
    display: inline-block;
    margin-top: 20px;
    height:30px;
    line-height: 30px;
}
.right .person  .person-right .person-message .person-name{
    font-style:normal;
    font-size: 18px;
    color:#4a5f7c;
    font-family:'Microsoft YaHei';
}
.right .person  .person-right .person-message .icon-ishop_9-02{
   color:#f3a5a5;
}
.right .person  .person-right .vip{
    width: 70%;
    display: inline-block;
    font-size: 14px;
    height:30px;
    line-height: 30px;
    color:#4a5f7c;
    font-family:'Microsoft YaHei'
}
.right .person  .person-right .vip .margin-right10{
    margin-right: 10px;
}
.right .person  .person-right .vip .vipClass{
    color: #c26555;
}
.right .person-detail{
    padding: 10px;
}
.right .person-detail .datail-first{
    height: 30px;
    box-sizing: border-box;
    border-top:1px solid #E8E8E8;
    line-height: 30px;
}.right .person-detail .datail-last{
     height: 30px;
     line-height: 30px;
     box-sizing: border-box;
     border-bottom:1px solid #E8E8E8;
     line-height: 30px; "
}
.right .person-detail .detail-left{
    text-align: right;
    width: 20%;
    min-width: 80px;
    display: inline-block;
    color: #4a5f7c;
    font-size: 14px;
    margin-right: 10px;
    font-family:'Microsoft YaHei';
}
.right .person-detail .detail-right{
    text-align: center;
    display: inline-block;
    color: #888888;
    font-size: 14px;
}
.right .person-detail .detail-right.jifen{
    color:#c26555;
}
.person-more {
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #888;
    font-size: 14px;
}
.person-more i{
    vertical-align: middle;
    margin-top: -2px;
    color: #888
}

