body{
    min-width: 1200px;
    overflow-x: auto!important;
    margin-top: 0;
    padding-top: 81px;
    background-color: #e8e8e8;
}
html{
    height:100%;
}
#VIP_LIST,#VIP_message_back,#VIP_LIST_info{
    cursor: pointer;
}
.header .left,.header .center,.header .right{
    height:390px;
    width: 32.833%;
    /*min-width: 348px;*/
    margin-right: 0.5%;
    float: left;
    background-color:#fff ;
}
.header .left .left-class{
    width:50%;
    float:left;
    background-color: #6CC1C8;
    height: 130px;
    position: relative
}
.header .left .left-bottom{
  width:100%;
    float:left;
    background-color: #3a4054;
    height: 130px;
    position: relative;
}

.header .left .left-color-1{
    background-color: #58B4BC;
}.header .left .left-color-2{
    background-color: #4A5F7C;
}.header .left .left-color-3{
      background-color: #434960;
  }.header .left .left-color-1{
    background-color: #58B4BC;
}
.header .left .left-class .content1,.header .left .left-bottom .content1{
    color:#fff;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width: 80%;!important;
    text-align: center
}
.header .left .left-class .content1 .Fsize-28{
    display: block;
    font-size: 28px;
    margin-bottom: 10px;
    padding:0;
    height:28px;
    line-height: 28px;

}
.header .left .left-bottom .content1 .Fsize-12{
    display: block;
    font-size: 12px;
    padding:0;
    height: 12px;
    line-height: 12px;
}
.header .left .left-bottom .content1 .Fsize-28{
    display: block;
    font-size: 28px;
    margin:10px 0;
    padding:0;
    height:28px;
    line-height: 28px;
}
.header .left .left-class .content1 .Fsize-12{
    display: block;
    font-size: 12px;
    padding:0;
    height: 12px;
    line-height: 12px;
}
.header .center .message-class ul{
    text-align: center;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #DDDDDD;
}
.header .center .message-class ul li{
    padding:0 10px;
    cursor: pointer;
    float: left;
    font-family:'Microsoft YaHei';
    width:33.33333%;
    color:#888;
    box-sizing: border-box;
    height: 30px;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none; /* you could also put this in a class */
    -webkit-user-select:none;/* and add the CSS class here instead */
    -ms-user-select:none;
    user-select:none;/**禁止选中文字*/
}
.header .center .message-class ul li a{
    text-decoration: none;
    font-size: 14px;
    color:#888;
    display: inline-block;
    height:30px;
    line-height: 30px;
    width:100%;
}
.header .center .message-class ul .active{
    border-bottom:3px solid #6dc1c8;
    color:#6dc1c8;
}
.header .center .message-class .tabs-parent{
    height: 320px;
    position: relative;
}
.header .center .message-class .tabs-parent table span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    font-size: 14px;
    color:#888888;
}
.header .center .message-class .tabs-parent .table{
    cursor: pointer;
    padding:0 10px;
    margin-bottom: 0;
}
.header .center .message-class .tabs-parent .table tbody tr:nth-child(10){
    border-bottom: none;
}
.header .center .message-class .tabs-parent table .TR{
    background-color: #efefef;
    height: 30px;
    line-height: 30px;
    color: #888;
    font-size: 14px;
}

.header .center .message-class .tabs-parent table .TR th{
    font-weight: normal;
    text-align: center;
}
.header .center .message-class .tabs-parent table tbody tr{
    text-align: center;
    height: 29px;
    line-height: 29px;
    background-color: #fff;
    border-bottom:1px solid #e8e8e8;
    color:#888888
}
.icon-ishop_8-03.style{
    float: right;
    height: 29px;
    line-height: 29px;
    color: #888888;
    margin-right: 3px;"
}
.header .center .message-class .tabs-parent .images .img-parent{
    width: 100%;
    padding:20px 10px 0 10px;
    height: 330px;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}
.header .center .message-class .tabs-parent .vip-label .label-parent{
    width: 100%;
    padding:20px 10px 0 10px;
    height: 330px;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}
.header .center .message-class .tabs-parent .vip-label .label-parent #labels{
    height:310px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #E8E8E8;*/
    padding-left: 10px;
}
.header .center .message-class .tabs-parent .images .img-parent #images{
    height:310px;
    padding-top: 5px;
    padding-left:10px;
    /*border-bottom: 1px solid #E8E8E8;*/
    overflow: hidden;
}
.header .center .message-class .tabs-parent .images .img-parent #images span{
    width: 25%;
    height: 77px;
    box-sizing: border-box;
    padding:0  10px 10px 0;
    z-index: 2;
    display: inline-block;
}
.header .center .message-class .tabs-parent .images .img-parent img{
    cursor: pointer;
     width: 100%;
    height: 100%;
}
.header .center .message-class .tabs-parent .vip-label .label-parent #labels span{
    margin-bottom:10px;
    margin-right:10px;
    background-color: #6cc1c8;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    padding:0 10px;
    line-height: 30px;
    font-family:'Microsoft YaHei';
    color:#fff;font-size: 14px;
    float: left;
}
.right .person{
    height: 110px;
}
.right .person .person-left{
float: left;
padding:25px 15px 0 15px;
}
.right .person .person-left .person-img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.right .person  .person-right{
    position: relative;
}
.right .person  .person-right .edit{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color:#E8E8E8;
    color:#6cc1c8;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
}
.right .person  .person-right .person-message{
    width: 70%;
    display: inline-block;
    margin-top: 20px;
    height:30px;
    line-height: 30px;
}
.right .person  .person-right .person-message .person-name{
    font-style:normal;
    font-size: 18px;
    color:#4a5f7c;
    font-family:'Microsoft YaHei';
}
.right .person  .person-right .person-message .icon-ishop_9-02{
   color:#f3a5a5;
}
.right .person  .person-right .vip{
    width: 70%;
    display: inline-block;
    font-size: 14px;
    height:30px;
    line-height: 30px;
    color:#4a5f7c;
    font-family:'Microsoft YaHei'
}
.right .person  .person-right .vip .margin-right10{
    margin-right: 10px;
}
.right .person  .person-right .vip .vipClass{
    color: #c26555;
}
.right .person-detail{
    padding: 0 10px 10px 10px;
}
.right .person-detail .datail-first{
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border-top:1px solid #E8E8E8;
    line-height: 30px;
}.right .person-detail .datail-last{
     height: 30px;
     line-height: 30px;
     box-sizing: border-box;
     /*border-bottom:1px solid #E8E8E8;*/
     line-height: 30px;
}
.right .person-detail .detail-left{
    text-align: right;
    width: 65px;
    padding-left: 5px;
    display: inline-block;
    color: #4a5f7c;
    font-size: 14px;
    margin-right: 10px;
    font-family:'Microsoft YaHei';
}
.right .person-detail .detail-right{
    text-align: center;
    display: inline-block;
    color: #888888;
    font-size: 14px;
}
.right .person-detail .functional_btn{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    background-color: #fcfcfc;
    color: #888888;
    text-align: center;
}
.right .functional_btn input{
    outline: none;
    width:105px;
    height: 25px;
    line-height: 25px;
}
.right .functional_btn a{
    text-decoration: none;
    color: #888;
    display: inline-block;
    width: 45px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    border-left: 1px solid #ddd;
    text-align: center;
}
.right .functional_btn i{
    position: absolute;
    top: 8px;
    right: 55px;
    cursor: pointer;
}
.right .functional_btn ul{
    display: none;
    width: 110px;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 29px;
    padding-left: 5px;
    text-align: left;
    background: #fdfdfd;
    border: 1px solid #ddd;
}
.right .person-detail .detail-right.jifen{
    color:#c26555;
}
.person-more {
    border-top: 1px solid #e8e8e8;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #888;
    font-size: 14px;
}
.person-more label{
    cursor: pointer;
}
.person-more i{
    vertical-align: middle;
    margin-top: -2px;
    color: #888
}
/*导航头部*/
.nav_bar li{
    width:14.28%;
    height:30px;
    line-height: 30px;
    float: left;
    font-size: 14px;
    color: #888888;
    text-align: center;
    cursor: pointer;
}
.nav_bar .active1{
    color: #6dc1c8;
}
.nav_bar{
    height: 35px;
    border-bottom: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

/*基本信息*/
#basic_message{
    overflow: hidden;
    display: block;
}
#basic_message .editor_detail_em{
    margin-top: 20px;
    margin-left: -19px;
}
#basic_message .msg_detail{
    margin-top: 10px;
}
#basic_message .msg_detail div{
    float:right;
}
#basic_message .btn_margin{
    marrgin-top:30px;
}
/*备注*/
.remark{
    display: none;
}
.remark span{
    display: inline-flex;
    margin-top: 20px;
    margin-left:20px;
}
.remark label{
    width: 170px;
    text-align: right;
    font-size: 14px;
    color: #434960;
}
.remark textarea{
    width: 380px;
    height:400px;
    margin-left: 20px;
    padding: 10px;
    resize: none;
    border: none;
    outline: none;
    border-radius: 4px;
}
.remark_save{
    width: 160px;
    height: 30px;
    margin-left: 210px;
    margin-top: 20px;
    margin-bottom: 30px;
    background: #6dc1c8;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 10px;
}

/*消费记录*/
@media screen and (max-width: 1250px){
    .record_input input{
        width: 55%;
    }
}
@media screen and (min-width: 1250px){
    .record_input input{
        width: 60%;
    }
}
.record{
    display: none;
    font-size: 14px;
    color: #888888;
}
.record>div{
    background: #fff;
}
.record_head{
    height: 50px;
    margin-top: 10px ;
    padding: 10px;
}
.record em{
    font-size: 16px;
    color: #c26555;
    text-decoration: none;
}
.record_head em{
    margin-left: 10px;
}
.record_head .consume_total{
    margin-right: 10px;
}
.record .consume_total{
    font-size: 20px;
    color: #c26555;
}
.record_head .amount{
    font-size: 20px;
    color: #58b4bc;
}
.record_head ul{
    float: right;
    line-height: 30px;
}
.record ul li{
    float: left;
    margin-left: 10px;
    color: #434960;
}
.record_head ul li:first-child span{
    font-size: 16px;
    color: #c26555;
}
.record_head ul li:nth-child(2) span{
    color: #888888;
}
.all_list hr{
    margin: 0 10px;
    color: #d7d7d7;
}
.record ul{
    margin-bottom: 0;
}
.record_head_down{
    height: 50px;
    padding: 10px;
}
.record_head_down .record_date input{
    width: 130px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    outline: none;
}
.record_input li {
    width: 20%;
}
.record_date span{
    margin: 0 10px 0 0;
}
/*.record_input{*/
    /*float: right;*/
/*}*/
.record_search{
    display: block;
    font-size: 13px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background: #6dc1c8;
    line-height: 28px;
    float: right;
    cursor: pointer;
}
.record_input input{
    height: 30px;
    text-indent: 10px;
    margin: 0 10px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    outline: none;
}
.order_list{
    font-size: 14px;
    color: #888888;
    background: #fff;
    margin-top: 10px;
    padding: 0 20px;
}
.black_font{
    color: #434960;
}
.order_list ul{
    float: right;
    height: 30px;
    line-height: 30px;
}
.order_list ul li{
    color: #888888;
}
.list_head{
    height: 30px;
    line-height: 30px;
}
.list_table{
    width: 100%;
    background: #fff;
    font-size: 14px;
}
.list_table thead tr{
    height: 50px;
    line-height: 50px;
    color: #434960;
    font-size: 14px;
    text-align: center;
}
.list_table thead tr th{
    font-weight: normal;
    text-align: center;
}
.list_table tbody tr{
    height: 60px;
}
.list_table tbody tr td{
    font-weight: normal;
    text-align: center;
}
.list_table tbody tr:nth-child(odd){
    background: #f4f4f4;
}
.list_table img{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
}
.list_table .money{
    color: #c26555;
}
.list_table .product_name{
    width: 30%;
    text-align: center;
}
.list_table .product_name span{
    display: block;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.record_list{
    margin-top: 10px;
}
.more_list{
    display: none;
    text-align: center;
    cursor: pointer;
}

/*积分*/
.points{
    display: none;
    font-size: 14px;
}
.point_head{
    height: 50px;
    margin-top: 10px ;
    padding: 10px;
}
.points .consume_total{
    font-size: 20px;
    color: #c26555;
    margin-left: 10px;
}
.point_head{
    background: #fff;
}
.point_head ul{
    float: right;
    line-height: 30px;
}
.point_head ul li{
    float: left;
    margin-left: 10px;
    color: #434960;
}
.point_head ul li:first-child span{
    font-size: 16px;
    color: #c26555;
}
.point_head ul li:nth-child(2) span{
    color: #888888;
}
.point_head_down{
    height: 50px;
    padding: 10px;
    background: #fff;
}
.point_head_down .record_date input{
    width: 130px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    outline: none;
}
.point_head_down .record_date li{
    float: left;
}

.point_table{
    width:100%;
    margin-top: 10px;
    color: #888888;
    background: #fff;
}
.point_table thead tr{
    height: 50px;
    line-height: 50px;
    color: #434960;
    font-size: 14px;
}
.point_table tbody tr{
    height: 50px;
}
.point_table tbody tr:nth-child(odd){
    background: #f4f4f4;
}
.point_table tr th:nth-child(1){
    padding-left: 20px;
}
.point_table tr td:nth-child(1){
    padding-left: 20px;
}
.point_table thead tr th{
    font-weight: normal;
    text-align: left;
}

/*相册*/
.album{
    display: none;
    width:100%;
    overflow: hidden;
    background: #e8e8e8;
}
.album ul li{
    width:120px;
    height: 170px;
    margin-right: 20px;
    float: left;
    text-align: center;
    position: relative;
}
.album ul li img{
    width: 120px;
    height: 120px;
    border: 1px solid #d7d7d7;
    margin-top: 20px;
    cursor: pointer;
}
.album .cancel_img{
    display: none;
    width: 16px;
    height: 16px;
    background: url('../img/x_alt.png') no-repeat right;
    position: absolute;
    top:10px;
    right:-5px;
    z-index: 100;
}
.album_date{
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    display: block;
    color: #888888;
}
.add_new_album{
    width: 120px;
    height: 120px;
    margin-top: 20px;
    line-height: 100px;
    color: #888888;
    font-size: 80px;
    border: 2px #c3c3c3 dashed;
    display: inline-block;
    text-align: center;
}
.add_new_album em{
    width: 120px;
    line-height: 15px;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 7px;
}
.add_new_album input{
    position: absolute;
    top: 0;
    opacity: 0;
    filter:alpha(opacity=0);
    width: 120px;
    height: 110px;
}

/*标签*/
.viplabel{
    font-size: 14px;
    color: #888888;
    display: none;
    overflow: hidden;
}
.labeladd_box{
    width: 100%;
    position: relative;
    padding: 10px;
    margin-top: 20px;
    background: #fff;
    display: inline-flex;
}
.label_left_box{
    float:left;
}
.labeladd_box input{
    width: 400px;
    height: 30px;
    border: 1px solid #e8e8e8;
    outline: none;
    border-radius: 5px;
    text-indent: 10px;
}
.labeladd_btn{
    display: block;
    width:80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #6cc1c8;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left:10px;
}
.own_label{
    width: 100%;
    min-height:375px;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
}
.own_label label{
    display: block;
    width: 490px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e8e8e8;
}
.label_box span:first-child{
    margin-right:20px;
}
.label_box span{
    display: inline-block;
    height:30px;
    line-height: 30px;
    padding: 0px 8px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.label_box span + span{
    margin-right: 20px;
}
.label_box span i{
    margin-left: 5px;
}
.label_box{
    /*width: 470px;*/
    height: 285px;
    margin: 20px 10px;
}
.label_u_active{
    color: #fff;
    background:#9b9b9b;
}
.label_u{
    color:  #9d9d9d;
    border: 1px dashed #9d9d9d;
}
.label_g{
    color:  #6dc1c8;
    border: 1px dashed #6dc1c8;
}
.label_g_active{
    background: #6cc1c8;
    color: #fff;
}
.all_label{
    /*min-height:435px;*/
    height: 435px;
    margin-bottom: 20px;
    float: right;
    padding: 0 20px;
    margin-top: 20px;
    background: #fff;
}
.label_nav{
    width: 100%;
    height:30px;
    border-bottom: 1px solid #e8e8e8;
}
.label_nav li{
    width:33.3333333%;
    height:29px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    float: left;
}
.label_li_active{
    border-bottom: 1px solid #6dc1c8;
}
.search_list{
    padding: 5px 0;
    width: 400px;
    max-height: 200px;
    overflow-y: scroll;
}
.search_box{
    display: none;
    position: absolute;
    top: 40px;
    left:10px;
    width: 400px;
    max-height: 300px;
    border: 1px solid #ddd;
    background: #f7f7f7;
}
.search_list li{
    text-indent: 5px;
    height: 25px;
    line-height: 25px;
    border: none;
    color:#9d9d9d;
}
.search_list li:hover{
    background: #4a5f7c;
    color: #fff;
}
.span_total{
    margin: 0 3px;
}
#more_search{
    display: block;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
#label_org{
    max-height: 350px;
    overflow-y: scroll;
}
#label_user{
    max-height: 350px;
    overflow-y: scroll;
}
.more_label{
    border: 1px solid;
    float: right;
    background: #6dc1c8;
    color: #fff;
}


/*扩展模块*/
.all_list{
    /*overflow: hidden;*/
}
.expand{
    padding:20px 30px 0 30px;
}
.expand_btn button{
    width: 160px;
    cursor: pointer;
    height: 30px;
    display: inline-block;
    list-style: none;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 10px;
    background: #6dc1c8;
    margin-right: 10px;
}
/*.expand:after{*/
    /*content: ",";*/
    /*height: 0;*/
    /*visibility: hidden;*/
    /*display: block;*/
    /*clear: both;*/
/*}*/
.expand ul{
    width: 100%;
    padding-right: 20px;
}
.expand ul:after{
    content: ",";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.expand ul li{
    float: left;
    margin-bottom: 20px;
    width: 33.3%;
}
.expand ul li ul{
    padding:0;
}
.expand ul li ul li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    width:100%;
    margin:0;padding: 0;
}
.expand ul li b{
    padding-top: 3px;
    float: left;
    width: 140px;
    padding-right: 10px;
    text-align: right;
    font-weight: normal;
}
.expand ul li div{
    margin-left: 140px;
}
.expand ul li div input{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    height: 30px;
    border-radius: 3px;
    padding:5px 30px 5px 2px;
    text-indent:10px;
}
/*配合定位*/
.expand .position{
    position: relative;
}
.expand .expand_selection{
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    left:-124px;
    top:26px;
    width:100%;
    border-radius: 3px;
    /*padding-top: 10px;*/
}
.expand .expand_selection:after{
    content: none;
}
.expand .input_select:hover{
    cursor: pointer;
}
/*.expand ul:last-child{*/
    /*clear: both;*/
    /*width: 100%;*/
/*}*/
#expand_send{
    letter-spacing: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    width: 160px;
    background-color: #6dc1c8;
    color: #fff;
    margin-left: 140px;
    margin-bottom: 30px;
}
#expand_send i{
    vertical-align: middle;
}
.rule{
    border-top:1px dashed #999;
    width:100%!important;
}
#vip_birthday_edit{
    cursor: pointer;
}
.collection{
    display: none;
}