.tabs{
    width: 100%;
}
.tabs>div{
    position: relative;
    float: left;
    width: 25%;
    height: 70px;
    background-color: #ededed;
    cursor: pointer;
}
.active{
    background-color: #FFFFFF!important;
}
.tabs .tab{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.tabs .tab span:first-child{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #e2e7ec;
    text-align: center;
    margin-right: 20px;
    font-size: 20px;
}
.tabs-content>div{
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    display: none;
}
.tabs_title{
    width: 100%;
    border-bottom: 1px solid #d4d8e1;
    padding-bottom: 8px;
}
.title_icon{
    display: inline-block;
    width: 5px;
    height: 10px;
    background: #5f8bc8;
    margin-right: 5px;
}