body{
    margin-right: 200px
}
.marTop{
    padding-top: 50px;
}
.the_listTitle{
    margin-top: 20px;
    margin-left: 60px
}
.the_listTitle label{
    font-size:14px;
    float: left;
    width: 105px;
    height: 30px;
    text-align: right;
    margin-right: 18px;
    line-height: 30px;
    font-size: 14px;
    text-indent: 10px;
}
.red{
    color:#c26555;
}
.the_listTitle input{
    margin-bottom:15px;
    float: left;
    width: 480px;
    height: 30px;
    border-radius: 4px;
    border: none;
    text-indent: 10px;
    outline: none;
    color: #888888;
}
.the_listTitle input{
    margin-bottom:15px;
    float: left;
    width: 480px;
    height: 30px;
    border-radius: 4px;
    border: none;
    text-indent: 10px;
    outline: none;
    color: #888888;
}
.the_listTitle textarea{
    margin-bottom:15px;
    padding: 10px;
    float: left;
    width: 480px;
    height:120px;
    border-radius: 4px;
    border: none;
    /*text-indent: 10px;*/
    outline: none;
    color: #888888;
}
/*搭配效果图*/
.list_content{
    float: left;
    margin-top: 5px;
    width: 495px;
}
.item_box{
    width: 150px;
    /*height: 190px;*/
    margin-bottom: 20px;
    margin-right:20px;
    float: left;
}
.item_area{
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 4px;
}
.item_text{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
/*新增按钮*/
#add_all,#add_one{
    border: 2px dashed #c3c3c3;
    width: 150px;
    height: 150px;
    line-height: 130px;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    float: left;
    margin-right: 15px;
}
.addAdd{
    color: #c3c3c3;
    font-size:40px;
    position: absolute;
    top:0px;
}
.addText{
    position: absolute;
    top:40px;
    font-size:14px;
    color: #c3c3c3;
}
/*空提示*/
.hint{
    display: none;
}
/*列表弹窗*/
#search_match_goods{
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -200px;
    margin-left: -225px;
    z-index: 1000;
    display: none;
}
.showBoxImg{
    width: 100%;
    height: 100%;
}
#search_match_goods .li{margin-bottom: 0;height:100px;}
#search_match_goods ul{ width:425px;height:350px;overflow-y:auto;overflow-x: hidden;margin-left:20px; margin-bottom: 20px}
#search_match_goods ul li{width:400px;height:50px;background:#ededed;padding-top:5px;display: inline-block; }
#search_match_goods ul li:nth-child(even){background: #FFFFFF;}
#search_match_goods ul li span:nth-child(3){margin-left: 20px;width:150px;display:inline-flex;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
#search_match_goods ul li i{position:relative;right:5px;top:8px;color: #c26555;display: none;cursor: pointer;}